# Testing Results For AFSK S-Net 
$H_{0}$: There is not a difference in collection success against AFSK S-Net 
$H_{A}$: There is a difference in collection success against AFSK S-Net
Out of 15 tests, there were 4 rejections from 15 independent-t test.
Out of 15 tests, there were 4 rejections from 15 Man Whitney u-tests.
## Testing Results for AFSK S-Net against DUV 
AFSK S-Net has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between AFSK S-Net and DUV
$H_{A}$: There is a difference between AFSK S-Net and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.3603241822813992 and a p-value of 0.7186748482645378, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60187.5 and a p-value of 0.7206539977941493, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against AFSK 
AFSK S-Net has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between AFSK S-Net and AFSK
$H_{A}$: There is a difference between AFSK S-Net and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 3.180553731837416 and a p-value of 0.001479771949965975, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 298687.5 and a p-value of 0.0014864807343278003, _we **reject** the null hypothssis_
## Testing Results for AFSK S-Net against FSK AX.100 Mode 5 
AFSK S-Net has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and FSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK S-Net and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against GFSK Rktr 
AFSK S-Net has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and GFSK Rktr
$H_{A}$: There is a difference between AFSK S-Net and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against GMSK 
AFSK S-Net has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between AFSK S-Net and GMSK
$H_{A}$: There is a difference between AFSK S-Net and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.663252921032368 and a p-value of 3.1912961463822076e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 360187.5 and a p-value of 3.2583197989458434e-06, _we **reject** the null hypothssis_
## Testing Results for AFSK S-Net against FSK AX.25 G3RUH 
AFSK S-Net has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between AFSK S-Net and FSK AX.25 G3RUH
$H_{A}$: There is a difference between AFSK S-Net and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.5498233823709706 and a p-value of 0.12147797085715652, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60687.5 and a p-value of 0.12159165392755054, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against AFSK SALSAT 
AFSK S-Net has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and AFSK SALSAT
$H_{A}$: There is a difference between AFSK S-Net and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against BPSK 
AFSK S-Net has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between AFSK S-Net and BPSK
$H_{A}$: There is a difference between AFSK S-Net and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.918769672871595 and a p-value of 0.0035339536273682718, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 255187.5 and a p-value of 0.0035465424032096182, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against MSK AX.100 Mode 5 
AFSK S-Net has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between AFSK S-Net and MSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK S-Net and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.6703127072202507 and a p-value of 0.5027834849676908, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69937.5 and a p-value of 0.5034184253671695, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against PSK31 
AFSK S-Net has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and PSK31
$H_{A}$: There is a difference between AFSK S-Net and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against BPSK PMT-A3 
AFSK S-Net has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and BPSK PMT-A3
$H_{A}$: There is a difference between AFSK S-Net and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against FSK 
AFSK S-Net has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between AFSK S-Net and FSK
$H_{A}$: There is a difference between AFSK S-Net and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 3.325533921575514 and a p-value of 0.0008884796128442628, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 350750.0 and a p-value of 0.0008926973634648031, _we **reject** the null hypothssis_
## Testing Results for AFSK S-Net against MSK 
AFSK S-Net has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and MSK
$H_{A}$: There is a difference between AFSK S-Net and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK S-Net against GFSK 
AFSK S-Net has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between AFSK S-Net and GFSK
$H_{A}$: There is a difference between AFSK S-Net and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.956704338859009 and a p-value of 0.003137793435490695, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 162875.0 and a p-value of 0.003156071641294347, _we **reject** the null hypothssis_
## Testing Results for AFSK S-Net against MSK AX.100 Mode 6 
AFSK S-Net has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK S-Net and MSK AX.100 Mode 6
$H_{A}$: There is a difference between AFSK S-Net and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
