# Testing Results For BPSK PMT-A3 
$H_{0}$: There is not a difference in collection success against BPSK PMT-A3 
$H_{A}$: There is a difference in collection success against BPSK PMT-A3
Out of 15 tests, there were 6 rejections from 15 independent-t test.
Out of 15 tests, there were 6 rejections from 15 Man Whitney u-tests.
## Testing Results for BPSK PMT-A3 against DUV 
BPSK PMT-A3 has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between BPSK PMT-A3 and DUV
$H_{A}$: There is a difference between BPSK PMT-A3 and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.9338519109935975 and a p-value of 0.3505056087564896, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 403978.5 and a p-value of 0.35093769957360876, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against AFSK 
BPSK PMT-A3 has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between BPSK PMT-A3 and AFSK
$H_{A}$: There is a difference between BPSK PMT-A3 and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 8.240272086137969 and a p-value of 2.1467412445606612e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2004790.5 and a p-value of 2.643550393590077e-16, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against FSK AX.100 Mode 5 
BPSK PMT-A3 has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and FSK AX.100 Mode 5
$H_{A}$: There is a difference between BPSK PMT-A3 and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against GFSK Rktr 
BPSK PMT-A3 has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and GFSK Rktr
$H_{A}$: There is a difference between BPSK PMT-A3 and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against GMSK 
BPSK PMT-A3 has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between BPSK PMT-A3 and GMSK
$H_{A}$: There is a difference between BPSK PMT-A3 and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 12.081621868010933 and a p-value of 3.271702025933952e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2417578.5 and a p-value of 7.793933975180232e-33, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against FSK AX.25 G3RUH 
BPSK PMT-A3 has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between BPSK PMT-A3 and FSK AX.25 G3RUH
$H_{A}$: There is a difference between BPSK PMT-A3 and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.016695783262501 and a p-value of 6.14611708554354e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 407334.5 and a p-value of 6.345839945237064e-05, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against AFSK SALSAT 
BPSK PMT-A3 has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and AFSK SALSAT
$H_{A}$: There is a difference between BPSK PMT-A3 and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against BPSK 
BPSK PMT-A3 has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between BPSK PMT-A3 and BPSK
$H_{A}$: There is a difference between BPSK PMT-A3 and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 7.562102098872807 and a p-value of 4.7458457130313335e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1712818.5 and a p-value of 5.6030733206873575e-14, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against MSK AX.100 Mode 5 
BPSK PMT-A3 has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between BPSK PMT-A3 and MSK AX.100 Mode 5
$H_{A}$: There is a difference between BPSK PMT-A3 and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.7371270121726166 and a p-value of 0.082522491977204, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 469420.5 and a p-value of 0.08261458348130078, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against PSK31 
BPSK PMT-A3 has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and PSK31
$H_{A}$: There is a difference between BPSK PMT-A3 and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against AFSK S-Net 
BPSK PMT-A3 has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and AFSK S-Net
$H_{A}$: There is a difference between BPSK PMT-A3 and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against FSK 
BPSK PMT-A3 has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between BPSK PMT-A3 and FSK
$H_{A}$: There is a difference between BPSK PMT-A3 and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 8.615828315173928 and a p-value of 8.76391858184144e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2354234.0 and a p-value of 1.0907408885281519e-17, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against MSK 
BPSK PMT-A3 has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and MSK
$H_{A}$: There is a difference between BPSK PMT-A3 and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BPSK PMT-A3 against GFSK 
BPSK PMT-A3 has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between BPSK PMT-A3 and GFSK
$H_{A}$: There is a difference between BPSK PMT-A3 and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 7.660738062859481 and a p-value of 2.4168114624962353e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1093217.0 and a p-value of 3.095307305252921e-14, _we **reject** the null hypothssis_
## Testing Results for BPSK PMT-A3 against MSK AX.100 Mode 6 
BPSK PMT-A3 has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between BPSK PMT-A3 and MSK AX.100 Mode 6
$H_{A}$: There is a difference between BPSK PMT-A3 and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
