# Testing Results For FSK AX.100 Mode 5 
$H_{0}$: There is not a difference in collection success against FSK AX.100 Mode 5 
$H_{A}$: There is a difference in collection success against FSK AX.100 Mode 5
Out of 15 tests, there were 6 rejections from 15 independent-t test.
Out of 15 tests, there were 6 rejections from 15 Man Whitney u-tests.
## Testing Results for FSK AX.100 Mode 5 against DUV 
FSK AX.100 Mode 5 has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and DUV
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.2103488338650938 and a p-value of 0.22626581304925591, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 678433.5 and a p-value of 0.22652026786559598, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against AFSK 
FSK AX.100 Mode 5 has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and AFSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 10.678839786990945 and a p-value of 2.2338488486466937e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3366805.5 and a p-value of 3.802084160325505e-26, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against GFSK Rktr 
FSK AX.100 Mode 5 has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and GFSK Rktr
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against GMSK 
FSK AX.100 Mode 5 has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and GMSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 15.656919957867148 and a p-value of 2.968476281511281e-54, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4060033.5 and a p-value of 2.6939453889343597e-53, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against FSK AX.25 G3RUH 
FSK AX.100 Mode 5 has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and FSK AX.25 G3RUH
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 5.205974044572335 and a p-value of 2.0965056387989217e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 684069.5 and a p-value of 2.2520587778682425e-07, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against AFSK SALSAT 
FSK AX.100 Mode 5 has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and AFSK SALSAT
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against BPSK 
FSK AX.100 Mode 5 has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and BPSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 9.80002411352022 and a p-value of 1.7536260746009838e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2876473.5 and a p-value of 2.6694416869218933e-22, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against MSK AX.100 Mode 5 
FSK AX.100 Mode 5 has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and MSK AX.100 Mode 5
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.2514190090619897 and a p-value of 0.024444758678557492, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 788335.5 and a p-value of 0.02449935472554739, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against PSK31 
FSK AX.100 Mode 5 has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and PSK31
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against AFSK S-Net 
FSK AX.100 Mode 5 has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and AFSK S-Net
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against BPSK PMT-A3 
FSK AX.100 Mode 5 has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and BPSK PMT-A3
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against FSK 
FSK AX.100 Mode 5 has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and FSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 11.165489732452915 and a p-value of 1.0863358757930126e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3953654.0 and a p-value of 1.9117397996576832e-28, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against MSK 
FSK AX.100 Mode 5 has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and MSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against GFSK 
FSK AX.100 Mode 5 has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and GFSK
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 9.928066744192025 and a p-value of 5.915303139726807e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1835927.0 and a p-value of 1.074740527625176e-22, _we **reject** the null hypothssis_
## Testing Results for FSK AX.100 Mode 5 against MSK AX.100 Mode 6 
FSK AX.100 Mode 5 has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.100 Mode 5 and MSK AX.100 Mode 6
$H_{A}$: There is a difference between FSK AX.100 Mode 5 and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
