# Testing Results For FSK 
$H_{0}$: There is not a difference in collection success against FSK 
$H_{A}$: There is a difference in collection success against FSK
Out of 15 tests, there were 11 rejections from 15 independent-t test.
Out of 15 tests, there were 11 rejections from 15 Man Whitney u-tests.
## Testing Results for FSK against DUV 
FSK has a success rate of 0.9186897880539499
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between FSK and DUV
$H_{A}$: There is a difference between FSK and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -20.404465297969526 and a p-value of 1.9312825100018106e-89, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2296003.0 and a p-value of 1.620685483324106e-19, _we **reject** the null hypothssis_
## Testing Results for FSK against AFSK 
FSK has a success rate of 0.9186897880539499
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between FSK and AFSK
$H_{A}$: There is a difference between FSK and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -1.1674887588802758 and a p-value of 0.24304193913990807, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11463399.0 and a p-value of 0.2430251074996499, _we failed to reject the null hypothssis_
## Testing Results for FSK against FSK AX.100 Mode 5 
FSK has a success rate of 0.9186897880539499
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and FSK AX.100 Mode 5
$H_{A}$: There is a difference between FSK and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3359056.0 and a p-value of 1.9117397996576832e-28, _we **reject** the null hypothssis_
## Testing Results for FSK against GFSK Rktr 
FSK has a success rate of 0.9186897880539499
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and GFSK Rktr
$H_{A}$: There is a difference between FSK and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 569776.0 and a p-value of 4.435686448376225e-06, _we **reject** the null hypothssis_
## Testing Results for FSK against GMSK 
FSK has a success rate of 0.9186897880539499
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between FSK and GMSK
$H_{A}$: There is a difference between FSK and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 10.686858541734104 and a p-value of 1.619338453076005e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13895976.0 and a p-value of 2.206048682627997e-26, _we **reject** the null hypothssis_
## Testing Results for FSK against FSK AX.25 G3RUH 
FSK has a success rate of 0.9186897880539499
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between FSK and FSK AX.25 G3RUH
$H_{A}$: There is a difference between FSK and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -10.7273300197371 and a p-value of 2.644204016919244e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2318662.0 and a p-value of 6.498999210734891e-12, _we **reject** the null hypothssis_
## Testing Results for FSK against AFSK SALSAT 
FSK has a success rate of 0.9186897880539499
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and AFSK SALSAT
$H_{A}$: There is a difference between FSK and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 643680.0 and a p-value of 1.0755629379478255e-06, _we **reject** the null hypothssis_
## Testing Results for FSK against BPSK 
FSK has a success rate of 0.9186897880539499
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between FSK and BPSK
$H_{A}$: There is a difference between FSK and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -3.1393736309468094 and a p-value of 0.0016985536585924748, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9785567.0 and a p-value of 0.0017020596801169804, _we **reject** the null hypothssis_
## Testing Results for FSK against MSK AX.100 Mode 5 
FSK has a success rate of 0.9186897880539499
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between FSK and MSK AX.100 Mode 5
$H_{A}$: There is a difference between FSK and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.52412680706007 and a p-value of 1.2296190646087432e-74, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2668540.0 and a p-value of 6.5741488952351656e-21, _we **reject** the null hypothssis_
## Testing Results for FSK against PSK31 
FSK has a success rate of 0.9186897880539499
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and PSK31
$H_{A}$: There is a difference between FSK and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2384.0 and a p-value of 0.7666461737224419, _we failed to reject the null hypothssis_
## Testing Results for FSK against AFSK S-Net 
FSK has a success rate of 0.9186897880539499
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and AFSK S-Net
$H_{A}$: There is a difference between FSK and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 298000.0 and a p-value of 0.0008926973634648031, _we **reject** the null hypothssis_
## Testing Results for FSK against BPSK PMT-A3 
FSK has a success rate of 0.9186897880539499
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and BPSK PMT-A3
$H_{A}$: There is a difference between FSK and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2000176.0 and a p-value of 1.0907408885281519e-17, _we **reject** the null hypothssis_
## Testing Results for FSK against MSK 
FSK has a success rate of 0.9186897880539499
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and MSK
$H_{A}$: There is a difference between FSK and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2384.0 and a p-value of 0.7666461737224419, _we failed to reject the null hypothssis_
## Testing Results for FSK against GFSK 
FSK has a success rate of 0.9186897880539499
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between FSK and GFSK
$H_{A}$: There is a difference between FSK and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.443440112091683 and a p-value of 0.014570477166635704, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6246464.0 and a p-value of 0.014580553843219945, _we failed to reject the null hypothssis_
## Testing Results for FSK against MSK AX.100 Mode 6 
FSK has a success rate of 0.9186897880539499
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK and MSK AX.100 Mode 6
$H_{A}$: There is a difference between FSK and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -21.43038323276922 and a p-value of 1.07163472739626e-97, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 741424.0 and a p-value of 1.668793549859139e-07, _we **reject** the null hypothssis_
