# Testing Results For MSK AX.100 Mode 6 
$H_{0}$: There is not a difference in collection success against MSK AX.100 Mode 6 
$H_{A}$: There is a difference in collection success against MSK AX.100 Mode 6
Out of 15 tests, there were 5 rejections from 15 independent-t test.
Out of 15 tests, there were 5 rejections from 15 Man Whitney u-tests.
## Testing Results for MSK AX.100 Mode 6 against DUV 
MSK AX.100 Mode 6 has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and DUV
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.5684301093317673 and a p-value of 0.5698433631543296, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 149746.5 and a p-value of 0.5708818864582856, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against AFSK 
MSK AX.100 Mode 6 has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and AFSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 5.016856068027752 and a p-value of 5.44376675276927e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 743134.5 and a p-value of 5.612102584659889e-07, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against FSK AX.100 Mode 5 
MSK AX.100 Mode 6 has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and FSK AX.100 Mode 5
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against GFSK Rktr 
MSK AX.100 Mode 6 has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and GFSK Rktr
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against GMSK 
MSK AX.100 Mode 6 has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and GMSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 7.355583100280818 and a p-value of 2.1897757034378143e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 896146.5 and a p-value of 2.4950346222108315e-13, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against FSK AX.25 G3RUH 
MSK AX.100 Mode 6 has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and FSK AX.25 G3RUH
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.444931985113772 and a p-value of 0.014623931802207762, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 150990.5 and a p-value of 0.014699774818534454, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against AFSK SALSAT 
MSK AX.100 Mode 6 has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and AFSK SALSAT
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against BPSK 
MSK AX.100 Mode 6 has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and BPSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.6039428964925095 and a p-value of 4.269774030692021e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 634906.5 and a p-value of 4.375158318581116e-06, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against MSK AX.100 Mode 5 
MSK AX.100 Mode 6 has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and MSK AX.100 Mode 5
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.0574221236928631 and a p-value of 0.29049832559700994, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 174004.5 and a p-value of 0.2907269137491255, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against PSK31 
MSK AX.100 Mode 6 has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and PSK31
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against AFSK S-Net 
MSK AX.100 Mode 6 has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and AFSK S-Net
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against BPSK PMT-A3 
MSK AX.100 Mode 6 has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and BPSK PMT-A3
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against FSK 
MSK AX.100 Mode 6 has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and FSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 5.245529502672818 and a p-value of 1.616701994510281e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 872666.0 and a p-value of 1.668793549859139e-07, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against MSK 
MSK AX.100 Mode 6 has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and MSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 6 against GFSK 
MSK AX.100 Mode 6 has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between MSK AX.100 Mode 6 and GFSK
$H_{A}$: There is a difference between MSK AX.100 Mode 6 and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.663849111605432 and a p-value of 3.2514538306879747e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 405233.0 and a p-value of 3.379481835285922e-06, _we **reject** the null hypothssis_
