# Testing Results For MSK AX.100 Mode 5 
$H_{0}$: There is not a difference in collection success against MSK AX.100 Mode 5 
$H_{A}$: There is a difference in collection success against MSK AX.100 Mode 5
Out of 15 tests, there were 6 rejections from 15 independent-t test.
Out of 15 tests, there were 6 rejections from 15 Man Whitney u-tests.
## Testing Results for MSK AX.100 Mode 5 against DUV 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and DUV
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -1.181380615495045 and a p-value of 0.2375869358896933, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 534948.5 and a p-value of 0.23766794758575716, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against AFSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and AFSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 8.986581010328893 and a p-value of 3.4346663171701917e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2655400.5 and a p-value of 4.547091622192063e-19, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against FSK AX.100 Mode 5 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and FSK AX.100 Mode 5
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 782699.5 and a p-value of 0.02449935472554739, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against GFSK Rktr 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and GFSK Rktr
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132764.5 and a p-value of 0.3544370944682034, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against GMSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and GMSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 13.54827652775156 and a p-value of 3.165162860179405e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3202834.5 and a p-value of 1.1684945267986013e-40, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against FSK AX.25 G3RUH 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and FSK AX.25 G3RUH
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 3.388344799335148 and a p-value of 0.0007163538042746876, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 539426.5 and a p-value of 0.0007259693576385153, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against AFSK SALSAT 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and AFSK SALSAT
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 149985.0 and a p-value of 0.3249503676114801, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against BPSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and BPSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 8.157251696369219 and a p-value of 4.3059813707695946e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2268596.5 and a p-value of 5.328231765527235e-16, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against PSK31 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and PSK31
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 555.5 and a p-value of 0.9641216477468345, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against AFSK S-Net 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and AFSK S-Net
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69437.5 and a p-value of 0.5034184253671696, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against BPSK PMT-A3 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and BPSK PMT-A3
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 466064.5 and a p-value of 0.08261458348130078, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against FSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and FSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 9.445801314393194 and a p-value of 4.8560761143769454e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3118310.0 and a p-value of 6.5741488952351656e-21, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against MSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and MSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 555.5 and a p-value of 0.9641216477468345, _we failed to reject the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against GFSK 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and GFSK
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 8.238141331984126 and a p-value of 2.43014013735036e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1447953.0 and a p-value of 3.300735487443892e-16, _we **reject** the null hypothssis_
## Testing Results for MSK AX.100 Mode 5 against MSK AX.100 Mode 6 
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK AX.100 Mode 5 and MSK AX.100 Mode 6
$H_{A}$: There is a difference between MSK AX.100 Mode 5 and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -2.002698449619434 and a p-value of 0.04545164018420024, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 172760.5 and a p-value of 0.2907269137491255, _we failed to reject the null hypothssis_
