# Testing Results For MSK 
$H_{0}$: There is not a difference in collection success against MSK 
$H_{A}$: There is a difference in collection success against MSK
Out of 15 tests, there were 0 rejections from 15 independent-t test.
Out of 15 tests, there were 0 rejections from 15 Man Whitney u-tests.
## Testing Results for MSK against DUV 
MSK has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between MSK and DUV
$H_{A}$: There is a difference between MSK and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 481.5 and a p-value of 1.0, _we failed to reject the null hypothssis_
## Testing Results for MSK against AFSK 
MSK has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between MSK and AFSK
$H_{A}$: There is a difference between MSK and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2389.5 and a p-value of 0.776678097368718, _we failed to reject the null hypothssis_
## Testing Results for MSK against FSK AX.100 Mode 5 
MSK has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and FSK AX.100 Mode 5
$H_{A}$: There is a difference between MSK and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against GFSK Rktr 
MSK has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and GFSK Rktr
$H_{A}$: There is a difference between MSK and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against GMSK 
MSK has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between MSK and GMSK
$H_{A}$: There is a difference between MSK and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2881.5 and a p-value of 0.6769961089287977, _we failed to reject the null hypothssis_
## Testing Results for MSK against FSK AX.25 G3RUH 
MSK has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between MSK and FSK AX.25 G3RUH
$H_{A}$: There is a difference between MSK and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 485.5 and a p-value of 0.8957983436029622, _we failed to reject the null hypothssis_
## Testing Results for MSK against AFSK SALSAT 
MSK has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and AFSK SALSAT
$H_{A}$: There is a difference between MSK and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against BPSK 
MSK has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between MSK and BPSK
$H_{A}$: There is a difference between MSK and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2041.5 and a p-value of 0.794843268980047, _we failed to reject the null hypothssis_
## Testing Results for MSK against MSK AX.100 Mode 5 
MSK has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between MSK and MSK AX.100 Mode 5
$H_{A}$: There is a difference between MSK and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 559.5 and a p-value of 0.9641216477468345, _we failed to reject the null hypothssis_
## Testing Results for MSK against PSK31 
MSK has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and PSK31
$H_{A}$: There is a difference between MSK and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against AFSK S-Net 
MSK has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and AFSK S-Net
$H_{A}$: There is a difference between MSK and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against BPSK PMT-A3 
MSK has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and BPSK PMT-A3
$H_{A}$: There is a difference between MSK and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MSK against FSK 
MSK has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between MSK and FSK
$H_{A}$: There is a difference between MSK and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2806.0 and a p-value of 0.7666461737224419, _we failed to reject the null hypothssis_
## Testing Results for MSK against GFSK 
MSK has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between MSK and GFSK
$H_{A}$: There is a difference between MSK and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1303.0 and a p-value of 0.7926680293579293, _we failed to reject the null hypothssis_
## Testing Results for MSK against MSK AX.100 Mode 6 
MSK has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between MSK and MSK AX.100 Mode 6
$H_{A}$: There is a difference between MSK and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
