# Testing Results For PSK31 
$H_{0}$: There is not a difference in collection success against PSK31 
$H_{A}$: There is a difference in collection success against PSK31
Out of 15 tests, there were 0 rejections from 15 independent-t test.
Out of 15 tests, there were 0 rejections from 15 Man Whitney u-tests.
## Testing Results for PSK31 against DUV 
PSK31 has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between PSK31 and DUV
$H_{A}$: There is a difference between PSK31 and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 481.5 and a p-value of 1.0, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against AFSK 
PSK31 has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between PSK31 and AFSK
$H_{A}$: There is a difference between PSK31 and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2389.5 and a p-value of 0.776678097368718, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against FSK AX.100 Mode 5 
PSK31 has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and FSK AX.100 Mode 5
$H_{A}$: There is a difference between PSK31 and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against GFSK Rktr 
PSK31 has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and GFSK Rktr
$H_{A}$: There is a difference between PSK31 and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against GMSK 
PSK31 has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between PSK31 and GMSK
$H_{A}$: There is a difference between PSK31 and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2881.5 and a p-value of 0.6769961089287977, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against FSK AX.25 G3RUH 
PSK31 has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between PSK31 and FSK AX.25 G3RUH
$H_{A}$: There is a difference between PSK31 and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 485.5 and a p-value of 0.8957983436029622, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against AFSK SALSAT 
PSK31 has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and AFSK SALSAT
$H_{A}$: There is a difference between PSK31 and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against BPSK 
PSK31 has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between PSK31 and BPSK
$H_{A}$: There is a difference between PSK31 and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2041.5 and a p-value of 0.794843268980047, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against MSK AX.100 Mode 5 
PSK31 has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between PSK31 and MSK AX.100 Mode 5
$H_{A}$: There is a difference between PSK31 and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 559.5 and a p-value of 0.9641216477468345, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against AFSK S-Net 
PSK31 has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and AFSK S-Net
$H_{A}$: There is a difference between PSK31 and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against BPSK PMT-A3 
PSK31 has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and BPSK PMT-A3
$H_{A}$: There is a difference between PSK31 and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against FSK 
PSK31 has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between PSK31 and FSK
$H_{A}$: There is a difference between PSK31 and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2806.0 and a p-value of 0.7666461737224419, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against MSK 
PSK31 has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and MSK
$H_{A}$: There is a difference between PSK31 and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against GFSK 
PSK31 has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between PSK31 and GFSK
$H_{A}$: There is a difference between PSK31 and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1303.0 and a p-value of 0.7926680293579293, _we failed to reject the null hypothssis_
## Testing Results for PSK31 against MSK AX.100 Mode 6 
PSK31 has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between PSK31 and MSK AX.100 Mode 6
$H_{A}$: There is a difference between PSK31 and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
