# Testing Results For ALG 
$H_{0}$: There is not a difference in collection success against ALG 
$H_{A}$: There is a difference in collection success against ALG
Out of 54 tests, there were 7 rejections from 54 independent-t test.
Out of 54 tests, there were 7 rejections from 54 Man Whitney u-tests.
## Testing Results for ALG against ARGN 
ALG has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and ARGN
$H_{A}$: There is a difference between ALG and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against ASRA 
ALG has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and ASRA
$H_{A}$: There is a difference between ALG and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against AUS 
ALG has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ALG and AUS
$H_{A}$: There is a difference between ALG and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.989605736976527 and a p-value of 5.007516913235181e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16829.5 and a p-value of 1.038220868336284e-08, _we **reject** the null hypothssis_
## Testing Results for ALG against BEL 
ALG has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ALG and BEL
$H_{A}$: There is a difference between ALG and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4800555295116924 and a p-value of 0.0005754229808703389, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11106.5 and a p-value of 0.0006349675594917357, _we **reject** the null hypothssis_
## Testing Results for ALG against BRAZ 
ALG has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and BRAZ
$H_{A}$: There is a difference between ALG and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against CA 
ALG has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and CA
$H_{A}$: There is a difference between ALG and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against CIS 
ALG has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ALG and CIS
$H_{A}$: There is a difference between ALG and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.33436987096616 and a p-value of 1.6603232851247195e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37102.5 and a p-value of 1.8379371776099745e-05, _we **reject** the null hypothssis_
## Testing Results for ALG against COL 
ALG has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and COL
$H_{A}$: There is a difference between ALG and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against DEN 
ALG has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and DEN
$H_{A}$: There is a difference between ALG and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against ESA 
ALG has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ALG and ESA
$H_{A}$: There is a difference between ALG and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3590461514731678 and a p-value of 0.1756549263369569, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5238.0 and a p-value of 0.1772679115818987, _we failed to reject the null hypothssis_
## Testing Results for ALG against EST 
ALG has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ALG and EST
$H_{A}$: There is a difference between ALG and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5655255659316556 and a p-value of 0.11980081980929772, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1988.5 and a p-value of 0.12327125185597841, _we failed to reject the null hypothssis_
## Testing Results for ALG against EUME 
ALG has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and EUME
$H_{A}$: There is a difference between ALG and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against FIN 
ALG has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and FIN
$H_{A}$: There is a difference between ALG and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against FR 
ALG has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ALG and FR
$H_{A}$: There is a difference between ALG and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.126306996335116 and a p-value of 0.0018563666462340857, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26529.5 and a p-value of 0.0019164166991078252, _we failed to reject the null hypothssis_
## Testing Results for ALG against GER 
ALG has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ALG and GER
$H_{A}$: There is a difference between ALG and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5231149979846008 and a p-value of 0.12786140852066918, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 114654.0 and a p-value of 0.1279072086220193, _we failed to reject the null hypothssis_
## Testing Results for ALG against GUAT 
ALG has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ALG and GUAT
$H_{A}$: There is a difference between ALG and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7040436971940425 and a p-value of 0.09027845291034513, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3395.0 and a p-value of 0.09189113282998924, _we failed to reject the null hypothssis_
## Testing Results for ALG against HUN 
ALG has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and HUN
$H_{A}$: There is a difference between ALG and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against IND 
ALG has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ALG and IND
$H_{A}$: There is a difference between ALG and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.715391483772206 and a p-value of 0.08689177108503368, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20273.0 and a p-value of 0.08715290342694194, _we failed to reject the null hypothssis_
## Testing Results for ALG against INDO 
ALG has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and INDO
$H_{A}$: There is a difference between ALG and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against IRAN 
ALG has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and IRAN
$H_{A}$: There is a difference between ALG and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against IRAQ 
ALG has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and IRAQ
$H_{A}$: There is a difference between ALG and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against ISRA 
ALG has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and ISRA
$H_{A}$: There is a difference between ALG and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against ISS 
ALG has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and ISS
$H_{A}$: There is a difference between ALG and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against IT 
ALG has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ALG and IT
$H_{A}$: There is a difference between ALG and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8669936687426514 and a p-value of 0.004229595974228004, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48112.0 and a p-value of 0.004284044892610983, _we failed to reject the null hypothssis_
## Testing Results for ALG against JPN 
ALG has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ALG and JPN
$H_{A}$: There is a difference between ALG and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.004498366471466 and a p-value of 4.047069847860669e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49712.5 and a p-value of 1.1997243016048388e-14, _we **reject** the null hypothssis_
## Testing Results for ALG against KAZ 
ALG has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ALG and KAZ
$H_{A}$: There is a difference between ALG and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0344330680146987 and a p-value of 0.30183599651876436, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8924.0 and a p-value of 0.30349315944118427, _we failed to reject the null hypothssis_
## Testing Results for ALG against KWT 
ALG has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and KWT
$H_{A}$: There is a difference between ALG and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against LKA 
ALG has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and LKA
$H_{A}$: There is a difference between ALG and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against LTU 
ALG has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ALG and LTU
$H_{A}$: There is a difference between ALG and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2378602389393125 and a p-value of 0.21646773480150033, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15762.5 and a p-value of 0.2170098018613401, _we failed to reject the null hypothssis_
## Testing Results for ALG against MALA 
ALG has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and MALA
$H_{A}$: There is a difference between ALG and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against MEX 
ALG has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and MEX
$H_{A}$: There is a difference between ALG and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against MUS 
ALG has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and MUS
$H_{A}$: There is a difference between ALG and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against MX 
ALG has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ALG and MX
$H_{A}$: There is a difference between ALG and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26675.0 and a p-value of 1.1495297348769757e-82, _we **reject** the null hypothssis_
## Testing Results for ALG against NETH 
ALG has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and NETH
$H_{A}$: There is a difference between ALG and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against NPL 
ALG has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and NPL
$H_{A}$: There is a difference between ALG and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against POL 
ALG has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ALG and POL
$H_{A}$: There is a difference between ALG and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4265650070355196 and a p-value of 0.15424337269508104, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24007.5 and a p-value of 0.154496682859654, _we failed to reject the null hypothssis_
## Testing Results for ALG against PRC 
ALG has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ALG and PRC
$H_{A}$: There is a difference between ALG and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0496854535297426 and a p-value of 0.29396808928844437, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 113441.5 and a p-value of 0.2940644226800321, _we failed to reject the null hypothssis_
## Testing Results for ALG against PRY 
ALG has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and PRY
$H_{A}$: There is a difference between ALG and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against ROC 
ALG has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between ALG and ROC
$H_{A}$: There is a difference between ALG and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 21.119993734334912 and a p-value of 1.1802206760020698e-58, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14938.0 and a p-value of 4.4166321343441875e-38, _we **reject** the null hypothssis_
## Testing Results for ALG against RP 
ALG has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ALG and RP
$H_{A}$: There is a difference between ALG and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.849669649389381 and a p-value of 1.351391859161894e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53204.5 and a p-value of 2.3070686194280992e-11, _we **reject** the null hypothssis_
## Testing Results for ALG against SAFR 
ALG has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ALG and SAFR
$H_{A}$: There is a difference between ALG and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.631260623262633 and a p-value of 0.009084730145628479, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6935.5 and a p-value of 0.009457935501113353, _we failed to reject the null hypothssis_
## Testing Results for ALG against SAUD 
ALG has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and SAUD
$H_{A}$: There is a difference between ALG and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against SING 
ALG has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and SING
$H_{A}$: There is a difference between ALG and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against SKOR 
ALG has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ALG and SKOR
$H_{A}$: There is a difference between ALG and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.950567452514102 and a p-value of 0.00366453255544031, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3152.5 and a p-value of 0.004048623836885399, _we failed to reject the null hypothssis_
## Testing Results for ALG against SPN 
ALG has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and SPN
$H_{A}$: There is a difference between ALG and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against SVN 
ALG has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ALG and SVN
$H_{A}$: There is a difference between ALG and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5025128142659023 and a p-value of 0.1346978207754874, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4316.5 and a p-value of 0.13631409722740626, _we failed to reject the null hypothssis_
## Testing Results for ALG against SWTZ 
ALG has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and SWTZ
$H_{A}$: There is a difference between ALG and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against TBD 
ALG has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ALG and TBD
$H_{A}$: There is a difference between ALG and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9941295260924062 and a p-value of 0.3206504732269601, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19351.5 and a p-value of 0.3214028607450571, _we failed to reject the null hypothssis_
## Testing Results for ALG against THAI 
ALG has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ALG and THAI
$H_{A}$: There is a difference between ALG and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0769654183812827 and a p-value of 0.2824825849547475, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8245.0 and a p-value of 0.28412904427754004, _we failed to reject the null hypothssis_
## Testing Results for ALG against TURK 
ALG has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ALG and TURK
$H_{A}$: There is a difference between ALG and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6044785142865321 and a p-value of 0.5459063216938251, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12901.0 and a p-value of 0.549324067140911, _we failed to reject the null hypothssis_
## Testing Results for ALG against UAE 
ALG has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ALG and UAE
$H_{A}$: There is a difference between ALG and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ALG against UK 
ALG has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ALG and UK
$H_{A}$: There is a difference between ALG and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0760233450876269 and a p-value of 0.2821926127569083, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41516.0 and a p-value of 0.2824535303281621, _we failed to reject the null hypothssis_
## Testing Results for ALG against UKR 
ALG has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ALG and UKR
$H_{A}$: There is a difference between ALG and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.346625035634241 and a p-value of 0.17893432397574374, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13386.0 and a p-value of 0.1794787326708568, _we failed to reject the null hypothssis_
## Testing Results for ALG against US 
ALG has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ALG and US
$H_{A}$: There is a difference between ALG and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9256932492983547 and a p-value of 0.0034502199525580546, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 299293.5 and a p-value of 0.003458705413433992, _we failed to reject the null hypothssis_
