# Testing Results For ARGN 
$H_{0}$: There is not a difference in collection success against ARGN 
$H_{A}$: There is a difference in collection success against ARGN
Out of 54 tests, there were 14 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for ARGN against ALG 
ARGN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and ALG
$H_{A}$: There is a difference between ARGN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against ASRA 
ARGN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and ASRA
$H_{A}$: There is a difference between ARGN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against AUS 
ARGN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ARGN and AUS
$H_{A}$: There is a difference between ARGN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.523756665865832 and a p-value of 1.3781529973804886e-32, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73390.5 and a p-value of 1.0630065047656987e-29, _we **reject** the null hypothssis_
## Testing Results for ARGN against BEL 
ARGN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ARGN and BEL
$H_{A}$: There is a difference between ARGN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.279759041991218 and a p-value of 1.005319577302583e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48433.5 and a p-value of 2.6490441377962815e-12, _we **reject** the null hypothssis_
## Testing Results for ARGN against BRAZ 
ARGN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and BRAZ
$H_{A}$: There is a difference between ARGN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against CA 
ARGN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and CA
$H_{A}$: There is a difference between ARGN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against CIS 
ARGN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ARGN and CIS
$H_{A}$: There is a difference between ARGN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.054910216966453 and a p-value of 6.245200183351322e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161797.5 and a p-value of 2.4763179216224826e-18, _we **reject** the null hypothssis_
## Testing Results for ARGN against COL 
ARGN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and COL
$H_{A}$: There is a difference between ARGN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against DEN 
ARGN has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and DEN
$H_{A}$: There is a difference between ARGN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against ESA 
ARGN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ARGN and ESA
$H_{A}$: There is a difference between ARGN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8467280683392517 and a p-value of 0.004589296907383531, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22842.0 and a p-value of 0.004736533841233315, _we failed to reject the null hypothssis_
## Testing Results for ARGN against EST 
ARGN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ARGN and EST
$H_{A}$: There is a difference between ARGN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.286229177898188 and a p-value of 0.001092879682390996, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8671.5 and a p-value of 0.001177666460247468, _we failed to reject the null hypothssis_
## Testing Results for ARGN against EUME 
ARGN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and EUME
$H_{A}$: There is a difference between ARGN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against FIN 
ARGN has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and FIN
$H_{A}$: There is a difference between ARGN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against FR 
ARGN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ARGN and FR
$H_{A}$: There is a difference between ARGN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.532401594096638 and a p-value of 1.0686146020692498e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115690.5 and a p-value of 1.6651496842845296e-10, _we **reject** the null hypothssis_
## Testing Results for ARGN against GER 
ARGN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ARGN and GER
$H_{A}$: There is a difference between ARGN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.180816021058807 and a p-value of 0.001485070977296491, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 499986.0 and a p-value of 0.0014963909506386238, _we failed to reject the null hypothssis_
## Testing Results for ARGN against GUAT 
ARGN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ARGN and GUAT
$H_{A}$: There is a difference between ARGN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5729496588884295 and a p-value of 0.0003879559302362328, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14805.0 and a p-value of 0.0004208743678704955, _we **reject** the null hypothssis_
## Testing Results for ARGN against HUN 
ARGN has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and HUN
$H_{A}$: There is a difference between ARGN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against IND 
ARGN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ARGN and IND
$H_{A}$: There is a difference between ARGN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5849919540529447 and a p-value of 0.0003568427265310588, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88407.0 and a p-value of 0.00037240456646041076, _we **reject** the null hypothssis_
## Testing Results for ARGN against INDO 
ARGN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and INDO
$H_{A}$: There is a difference between ARGN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against IRAN 
ARGN has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and IRAN
$H_{A}$: There is a difference between ARGN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against IRAQ 
ARGN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and IRAQ
$H_{A}$: There is a difference between ARGN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against ISRA 
ARGN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and ISRA
$H_{A}$: There is a difference between ARGN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against ISS 
ARGN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and ISS
$H_{A}$: There is a difference between ARGN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against IT 
ARGN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ARGN and IT
$H_{A}$: There is a difference between ARGN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.98845635063539 and a p-value of 2.7163252192380997e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 209808.0 and a p-value of 3.380535496896552e-09, _we **reject** the null hypothssis_
## Testing Results for ARGN against JPN 
ARGN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ARGN and JPN
$H_{A}$: There is a difference between ARGN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.721156130912526 and a p-value of 2.2827949806892127e-56, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 216787.5 and a p-value of 6.449316611335896e-51, _we **reject** the null hypothssis_
## Testing Results for ARGN against KAZ 
ARGN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ARGN and KAZ
$H_{A}$: There is a difference between ARGN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1643619868028825 and a p-value of 0.030828354760489698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38916.0 and a p-value of 0.03114305518059303, _we failed to reject the null hypothssis_
## Testing Results for ARGN against KWT 
ARGN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and KWT
$H_{A}$: There is a difference between ARGN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against LKA 
ARGN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and LKA
$H_{A}$: There is a difference between ARGN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against LTU 
ARGN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ARGN and LTU
$H_{A}$: There is a difference between ARGN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.587704053185324 and a p-value of 0.009850998085003873, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68737.5 and a p-value of 0.009977463892448383, _we failed to reject the null hypothssis_
## Testing Results for ARGN against MALA 
ARGN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and MALA
$H_{A}$: There is a difference between ARGN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against MEX 
ARGN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and MEX
$H_{A}$: There is a difference between ARGN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against MUS 
ARGN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and MUS
$H_{A}$: There is a difference between ARGN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against MX 
ARGN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ARGN and MX
$H_{A}$: There is a difference between ARGN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116325.0 and a p-value of 1.351082252028207e-153, _we **reject** the null hypothssis_
## Testing Results for ARGN against NETH 
ARGN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and NETH
$H_{A}$: There is a difference between ARGN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against NPL 
ARGN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and NPL
$H_{A}$: There is a difference between ARGN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against POL 
ARGN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ARGN and POL
$H_{A}$: There is a difference between ARGN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.980880413704463 and a p-value of 0.0029510585505066337, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 104692.5 and a p-value of 0.0030042332117394275, _we failed to reject the null hypothssis_
## Testing Results for ARGN against PRC 
ARGN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ARGN and PRC
$H_{A}$: There is a difference between ARGN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1921233291320377 and a p-value of 0.028454638177424593, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 494698.5 and a p-value of 0.028495188827328256, _we failed to reject the null hypothssis_
## Testing Results for ARGN against PRY 
ARGN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and PRY
$H_{A}$: There is a difference between ARGN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against ROC 
ARGN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between ARGN and ROC
$H_{A}$: There is a difference between ARGN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 44.195912890404436 and a p-value of 2.418520448016672e-189, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65142.0 and a p-value of 1.031076387049639e-100, _we **reject** the null hypothssis_
## Testing Results for ARGN against RP 
ARGN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ARGN and RP
$H_{A}$: There is a difference between ARGN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.307928273867104 and a p-value of 4.1128923397260214e-43, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 232015.5 and a p-value of 3.6102221368131947e-40, _we **reject** the null hypothssis_
## Testing Results for ARGN against SAFR 
ARGN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ARGN and SAFR
$H_{A}$: There is a difference between ARGN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.508778696671778 and a p-value of 5.5355430373995956e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30244.5 and a p-value of 7.983545471383473e-08, _we **reject** the null hypothssis_
## Testing Results for ARGN against SAUD 
ARGN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and SAUD
$H_{A}$: There is a difference between ARGN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against SING 
ARGN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and SING
$H_{A}$: There is a difference between ARGN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against SKOR 
ARGN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ARGN and SKOR
$H_{A}$: There is a difference between ARGN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.188320723933911 and a p-value of 1.302749769284583e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13747.5 and a p-value of 2.535655178747295e-09, _we **reject** the null hypothssis_
## Testing Results for ARGN against SPN 
ARGN has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and SPN
$H_{A}$: There is a difference between ARGN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against SVN 
ARGN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ARGN and SVN
$H_{A}$: There is a difference between ARGN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1486362182065504 and a p-value of 0.0017368170173425684, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18823.5 and a p-value of 0.001822477536550159, _we failed to reject the null hypothssis_
## Testing Results for ARGN against SWTZ 
ARGN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and SWTZ
$H_{A}$: There is a difference between ARGN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against TBD 
ARGN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ARGN and TBD
$H_{A}$: There is a difference between ARGN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.077687506001546 and a p-value of 0.03805032661885466, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 84388.5 and a p-value of 0.038241439785719436, _we failed to reject the null hypothssis_
## Testing Results for ARGN against THAI 
ARGN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ARGN and THAI
$H_{A}$: There is a difference between ARGN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2536944980603955 and a p-value of 0.02458225859751688, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35955.0 and a p-value of 0.02487817818864767, _we failed to reject the null hypothssis_
## Testing Results for ARGN against TURK 
ARGN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ARGN and TURK
$H_{A}$: There is a difference between ARGN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2639679417282312 and a p-value of 0.206670852872769, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56259.0 and a p-value of 0.20751365841282077, _we failed to reject the null hypothssis_
## Testing Results for ARGN against UAE 
ARGN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ARGN and UAE
$H_{A}$: There is a difference between ARGN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ARGN against UK 
ARGN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ARGN and UK
$H_{A}$: There is a difference between ARGN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.24762855712004 and a p-value of 0.02477133862512833, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 181044.0 and a p-value of 0.024863589036124824, _we failed to reject the null hypothssis_
## Testing Results for ARGN against UKR 
ARGN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ARGN and UKR
$H_{A}$: There is a difference between ARGN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8157084200115983 and a p-value of 0.005005493358747514, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58374.0 and a p-value of 0.005103718836087747, _we failed to reject the null hypothssis_
## Testing Results for ARGN against US 
ARGN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ARGN and US
$H_{A}$: There is a difference between ARGN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.10966060399232 and a p-value of 1.0597565495203812e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1305166.5 and a p-value of 1.1178362608782324e-09, _we **reject** the null hypothssis_
