# Testing Results For ASRA 
$H_{0}$: There is not a difference in collection success against ASRA 
$H_{A}$: There is a difference in collection success against ASRA
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for ASRA against ALG 
ASRA has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and ALG
$H_{A}$: There is a difference between ASRA and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against ARGN 
ASRA has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and ARGN
$H_{A}$: There is a difference between ASRA and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against AUS 
ASRA has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ASRA and AUS
$H_{A}$: There is a difference between ASRA and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.057123278712265 and a p-value of 6.138896036731094e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47365.5 and a p-value of 2.3926833177633182e-20, _we **reject** the null hypothssis_
## Testing Results for ASRA against BEL 
ASRA has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ASRA and BEL
$H_{A}$: There is a difference between ASRA and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.845358198133991 and a p-value of 9.380647517853487e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31258.5 and a p-value of 1.5893022952248434e-08, _we **reject** the null hypothssis_
## Testing Results for ASRA against BRAZ 
ASRA has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and BRAZ
$H_{A}$: There is a difference between ASRA and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against CA 
ASRA has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and CA
$H_{A}$: There is a difference between ASRA and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against CIS 
ASRA has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ASRA and CIS
$H_{A}$: There is a difference between ASRA and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.27328205126675 and a p-value of 7.450878353457854e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 104422.5 and a p-value of 1.4603136799284705e-12, _we **reject** the null hypothssis_
## Testing Results for ASRA against COL 
ASRA has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and COL
$H_{A}$: There is a difference between ASRA and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against DEN 
ASRA has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and DEN
$H_{A}$: There is a difference between ASRA and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against ESA 
ASRA has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ASRA and ESA
$H_{A}$: There is a difference between ASRA and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2852342362462266 and a p-value of 0.02285371967273377, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14742.0 and a p-value of 0.02330393624210058, _we failed to reject the null hypothssis_
## Testing Results for ASRA against EST 
ASRA has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ASRA and EST
$H_{A}$: There is a difference between ASRA and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6372848851603465 and a p-value of 0.008777206610430575, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5596.5 and a p-value of 0.00924387480326419, _we failed to reject the null hypothssis_
## Testing Results for ASRA against EUME 
ASRA has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and EUME
$H_{A}$: There is a difference between ASRA and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against FIN 
ASRA has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and FIN
$H_{A}$: There is a difference between ASRA and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against FR 
ASRA has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ASRA and FR
$H_{A}$: There is a difference between ASRA and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.246778265806802 and a p-value of 2.001395194842847e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74665.5 and a p-value of 2.488190655797998e-07, _we **reject** the null hypothssis_
## Testing Results for ASRA against GER 
ASRA has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ASRA and GER
$H_{A}$: There is a difference between ASRA and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.555291527366056 and a p-value of 0.01066676163569748, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 322686.0 and a p-value of 0.01069877287748901, _we failed to reject the null hypothssis_
## Testing Results for ASRA against GUAT 
ASRA has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ASRA and GUAT
$H_{A}$: There is a difference between ASRA and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8677878021509593 and a p-value of 0.004392279172644179, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9555.0 and a p-value of 0.004617104361489463, _we failed to reject the null hypothssis_
## Testing Results for ASRA against HUN 
ASRA has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and HUN
$H_{A}$: There is a difference between ASRA and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against IND 
ASRA has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ASRA and IND
$H_{A}$: There is a difference between ASRA and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.879275904577395 and a p-value of 0.0041117258137691, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57057.0 and a p-value of 0.0041959012150513545, _we failed to reject the null hypothssis_
## Testing Results for ASRA against INDO 
ASRA has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and INDO
$H_{A}$: There is a difference between ASRA and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against IRAN 
ASRA has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and IRAN
$H_{A}$: There is a difference between ASRA and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against IRAQ 
ASRA has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and IRAQ
$H_{A}$: There is a difference between ASRA and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against ISRA 
ASRA has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and ISRA
$H_{A}$: There is a difference between ASRA and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against ISS 
ASRA has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and ISS
$H_{A}$: There is a difference between ASRA and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against IT 
ASRA has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ASRA and IT
$H_{A}$: There is a difference between ASRA and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.810445564757656 and a p-value of 1.6986787436541038e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 135408.0 and a p-value of 1.877878882971624e-06, _we **reject** the null hypothssis_
## Testing Results for ASRA against JPN 
ASRA has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ASRA and JPN
$H_{A}$: There is a difference between ASRA and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.43140116138314 and a p-value of 6.037870104872823e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 139912.5 and a p-value of 3.6925622831513345e-35, _we **reject** the null hypothssis_
## Testing Results for ASRA against KAZ 
ASRA has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ASRA and KAZ
$H_{A}$: There is a difference between ASRA and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7378147196982705 and a p-value of 0.08292303303482484, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25116.0 and a p-value of 0.08348998335245643, _we failed to reject the null hypothssis_
## Testing Results for ASRA against KWT 
ASRA has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and KWT
$H_{A}$: There is a difference between ASRA and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against LKA 
ASRA has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and LKA
$H_{A}$: There is a difference between ASRA and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against LTU 
ASRA has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ASRA and LTU
$H_{A}$: There is a difference between ASRA and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0781526366253718 and a p-value of 0.038126299839429424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44362.5 and a p-value of 0.03837432997843654, _we failed to reject the null hypothssis_
## Testing Results for ASRA against MALA 
ASRA has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and MALA
$H_{A}$: There is a difference between ASRA and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against MEX 
ASRA has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and MEX
$H_{A}$: There is a difference between ASRA and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against MUS 
ASRA has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and MUS
$H_{A}$: There is a difference between ASRA and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against MX 
ASRA has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ASRA and MX
$H_{A}$: There is a difference between ASRA and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75075.0 and a p-value of 5.698824334350421e-121, _we **reject** the null hypothssis_
## Testing Results for ASRA against NETH 
ASRA has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and NETH
$H_{A}$: There is a difference between ASRA and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against NPL 
ASRA has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and NPL
$H_{A}$: There is a difference between ASRA and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against POL 
ASRA has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ASRA and POL
$H_{A}$: There is a difference between ASRA and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.394202134443735 and a p-value of 0.01689923754004997, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67567.5 and a p-value of 0.017038338412770793, _we failed to reject the null hypothssis_
## Testing Results for ASRA against PRC 
ASRA has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ASRA and PRC
$H_{A}$: There is a difference between ASRA and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7610306290982867 and a p-value of 0.07835148270151511, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 319273.5 and a p-value of 0.07839639080691063, _we failed to reject the null hypothssis_
## Testing Results for ASRA against PRY 
ASRA has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and PRY
$H_{A}$: There is a difference between ASRA and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against ROC 
ASRA has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between ASRA and ROC
$H_{A}$: There is a difference between ASRA and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 35.48487664609017 and a p-value of 3.563052710122533e-131, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42042.0 and a p-value of 4.81670692773698e-73, _we **reject** the null hypothssis_
## Testing Results for ASRA against RP 
ASRA has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ASRA and RP
$H_{A}$: There is a difference between ASRA and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.493186008618004 and a p-value of 5.991496664152084e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 149740.5 and a p-value of 1.7228204724148085e-27, _we **reject** the null hypothssis_
## Testing Results for ASRA against SAFR 
ASRA has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ASRA and SAFR
$H_{A}$: There is a difference between ASRA and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.4226022113016565 and a p-value of 1.254632186523432e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19519.5 and a p-value of 1.5385484151750865e-05, _we **reject** the null hypothssis_
## Testing Results for ASRA against SAUD 
ASRA has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and SAUD
$H_{A}$: There is a difference between ASRA and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against SING 
ASRA has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and SING
$H_{A}$: There is a difference between ASRA and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against SKOR 
ASRA has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ASRA and SKOR
$H_{A}$: There is a difference between ASRA and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.96680215723595 and a p-value of 1.0927402125369337e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8872.5 and a p-value of 1.62532180194312e-06, _we **reject** the null hypothssis_
## Testing Results for ASRA against SPN 
ASRA has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and SPN
$H_{A}$: There is a difference between ASRA and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against SVN 
ASRA has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ASRA and SVN
$H_{A}$: There is a difference between ASRA and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.527418275089203 and a p-value of 0.011920206990234647, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12148.5 and a p-value of 0.012277414044983923, _we failed to reject the null hypothssis_
## Testing Results for ASRA against SWTZ 
ASRA has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and SWTZ
$H_{A}$: There is a difference between ASRA and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against TBD 
ASRA has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ASRA and TBD
$H_{A}$: There is a difference between ASRA and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6686752475069473 and a p-value of 0.09565175456084701, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54463.5 and a p-value of 0.09592841875218683, _we failed to reject the null hypothssis_
## Testing Results for ASRA against THAI 
ASRA has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ASRA and THAI
$H_{A}$: There is a difference between ASRA and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8094860641653112 and a p-value of 0.07105934135116915, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23205.0 and a p-value of 0.07162061149163733, _we failed to reject the null hypothssis_
## Testing Results for ASRA against TURK 
ASRA has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ASRA and TURK
$H_{A}$: There is a difference between ASRA and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0150106920460957 and a p-value of 0.31055867741013415, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36309.0 and a p-value of 0.3118899839206971, _we failed to reject the null hypothssis_
## Testing Results for ASRA against UAE 
ASRA has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ASRA and UAE
$H_{A}$: There is a difference between ASRA and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ASRA against UK 
ASRA has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ASRA and UK
$H_{A}$: There is a difference between ASRA and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8054677200978593 and a p-value of 0.07127067450768856, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116844.0 and a p-value of 0.07139054063640968, _we failed to reject the null hypothssis_
## Testing Results for ASRA against UKR 
ASRA has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ASRA and UKR
$H_{A}$: There is a difference between ASRA and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2611308781884336 and a p-value of 0.024146754566329587, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37674.0 and a p-value of 0.024387692151611396, _we failed to reject the null hypothssis_
## Testing Results for ASRA against US 
ASRA has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ASRA and US
$H_{A}$: There is a difference between ASRA and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.908247434663808 and a p-value of 9.43315540260293e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 842341.5 and a p-value of 9.644345953668947e-07, _we **reject** the null hypothssis_
