# Testing Results For CA 
$H_{0}$: There is not a difference in collection success against CA 
$H_{A}$: There is a difference in collection success against CA
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for CA against ALG 
CA has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between CA and ALG
$H_{A}$: There is a difference between CA and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ARGN 
CA has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and ARGN
$H_{A}$: There is a difference between CA and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ASRA 
CA has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between CA and ASRA
$H_{A}$: There is a difference between CA and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against AUS 
CA has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between CA and AUS
$H_{A}$: There is a difference between CA and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.289819846247635 and a p-value of 4.625694728636036e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40425.5 and a p-value of 8.55146919910614e-18, _we **reject** the null hypothssis_
## Testing Results for CA against BEL 
CA has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between CA and BEL
$H_{A}$: There is a difference between CA and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.3991425252272665 and a p-value of 1.1011019637942431e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26678.5 and a p-value of 1.6714137338488918e-07, _we **reject** the null hypothssis_
## Testing Results for CA against BRAZ 
CA has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between CA and BRAZ
$H_{A}$: There is a difference between CA and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against CIS 
CA has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between CA and CIS
$H_{A}$: There is a difference between CA and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.7190222367075965 and a p-value of 3.2641826944559e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89122.5 and a p-value of 5.450638057090712e-11, _we **reject** the null hypothssis_
## Testing Results for CA against COL 
CA has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between CA and COL
$H_{A}$: There is a difference between CA and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against DEN 
CA has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and DEN
$H_{A}$: There is a difference between CA and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ESA 
CA has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between CA and ESA
$H_{A}$: There is a difference between CA and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.110529320826538 and a p-value of 0.03554920035666678, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12582.0 and a p-value of 0.03614251149727568, _we failed to reject the null hypothssis_
## Testing Results for CA against EST 
CA has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between CA and EST
$H_{A}$: There is a difference between CA and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.43528043082201 and a p-value of 0.015525491023761863, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4776.5 and a p-value of 0.01625472776569501, _we failed to reject the null hypothssis_
## Testing Results for CA against EUME 
CA has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between CA and EUME
$H_{A}$: There is a difference between CA and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against FIN 
CA has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and FIN
$H_{A}$: There is a difference between CA and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against FR 
CA has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between CA and FR
$H_{A}$: There is a difference between CA and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.846840058240954 and a p-value of 1.5322956397283739e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63725.5 and a p-value of 1.8087039971218206e-06, _we **reject** the null hypothssis_
## Testing Results for CA against GER 
CA has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between CA and GER
$H_{A}$: There is a difference between CA and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3606654572583343 and a p-value of 0.018317314000199977, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275406.0 and a p-value of 0.018356001214453514, _we failed to reject the null hypothssis_
## Testing Results for CA against GUAT 
CA has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between CA and GUAT
$H_{A}$: There is a difference between CA and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6483375416706174 and a p-value of 0.008518293026824934, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8155.0 and a p-value of 0.008882095096317166, _we failed to reject the null hypothssis_
## Testing Results for CA against HUN 
CA has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and HUN
$H_{A}$: There is a difference between CA and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against IND 
CA has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between CA and IND
$H_{A}$: There is a difference between CA and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6597435214177203 and a p-value of 0.008016755223252845, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48697.0 and a p-value of 0.008139563798574338, _we failed to reject the null hypothssis_
## Testing Results for CA against INDO 
CA has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between CA and INDO
$H_{A}$: There is a difference between CA and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against IRAN 
CA has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and IRAN
$H_{A}$: There is a difference between CA and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against IRAQ 
CA has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between CA and IRAQ
$H_{A}$: There is a difference between CA and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ISRA 
CA has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between CA and ISRA
$H_{A}$: There is a difference between CA and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ISS 
CA has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between CA and ISS
$H_{A}$: There is a difference between CA and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against IT 
CA has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between CA and IT
$H_{A}$: There is a difference between CA and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.443951297777402 and a p-value of 9.684309742532688e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115568.0 and a p-value of 1.0434805659516491e-05, _we **reject** the null hypothssis_
## Testing Results for CA against JPN 
CA has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between CA and JPN
$H_{A}$: There is a difference between CA and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.407950300083154 and a p-value of 6.633148121840609e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119412.5 and a p-value of 9.560471348153887e-31, _we **reject** the null hypothssis_
## Testing Results for CA against KAZ 
CA has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between CA and KAZ
$H_{A}$: There is a difference between CA and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6051206546332804 and a p-value of 0.10923159767212738, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21436.0 and a p-value of 0.10990162314531382, _we failed to reject the null hypothssis_
## Testing Results for CA against KWT 
CA has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between CA and KWT
$H_{A}$: There is a difference between CA and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against LKA 
CA has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between CA and LKA
$H_{A}$: There is a difference between CA and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against LTU 
CA has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between CA and LTU
$H_{A}$: There is a difference between CA and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9196449890414353 and a p-value of 0.055418817820723096, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37862.5 and a p-value of 0.05570333551494831, _we failed to reject the null hypothssis_
## Testing Results for CA against MALA 
CA has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between CA and MALA
$H_{A}$: There is a difference between CA and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against MEX 
CA has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between CA and MEX
$H_{A}$: There is a difference between CA and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against MUS 
CA has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between CA and MUS
$H_{A}$: There is a difference between CA and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against MX 
CA has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between CA and MX
$H_{A}$: There is a difference between CA and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64075.0 and a p-value of 2.8732646536845675e-112, _we **reject** the null hypothssis_
## Testing Results for CA against NETH 
CA has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between CA and NETH
$H_{A}$: There is a difference between CA and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against NPL 
CA has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between CA and NPL
$H_{A}$: There is a difference between CA and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against POL 
CA has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between CA and POL
$H_{A}$: There is a difference between CA and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2116960623508297 and a p-value of 0.02730273419429771, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57667.5 and a p-value of 0.02747012529530819, _we failed to reject the null hypothssis_
## Testing Results for CA against PRC 
CA has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between CA and PRC
$H_{A}$: There is a difference between CA and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.626900175575936 and a p-value of 0.10388214363474446, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 272493.5 and a p-value of 0.10392719272932932, _we failed to reject the null hypothssis_
## Testing Results for CA against PRY 
CA has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between CA and PRY
$H_{A}$: There is a difference between CA and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against ROC 
CA has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between CA and ROC
$H_{A}$: There is a difference between CA and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 32.77492468680194 and a p-value of 2.343926958542958e-115, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35882.0 and a p-value of 1.6681828981108392e-65, _we **reject** the null hypothssis_
## Testing Results for CA against RP 
CA has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between CA and RP
$H_{A}$: There is a difference between CA and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.617496982179617 and a p-value of 4.296278480437364e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 127800.5 and a p-value of 5.6390264058107185e-24, _we **reject** the null hypothssis_
## Testing Results for CA against SAFR 
CA has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between CA and SAFR
$H_{A}$: There is a difference between CA and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.084675954916832 and a p-value of 5.428614244705307e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16659.5 and a p-value of 6.389012683600443e-05, _we **reject** the null hypothssis_
## Testing Results for CA against SAUD 
CA has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between CA and SAUD
$H_{A}$: There is a difference between CA and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against SING 
CA has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between CA and SING
$H_{A}$: There is a difference between CA and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against SKOR 
CA has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between CA and SKOR
$H_{A}$: There is a difference between CA and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.586636282961754 and a p-value of 6.700418995998373e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7572.5 and a p-value of 9.287875407173167e-06, _we **reject** the null hypothssis_
## Testing Results for CA against SPN 
CA has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between CA and SPN
$H_{A}$: There is a difference between CA and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against SVN 
CA has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between CA and SVN
$H_{A}$: There is a difference between CA and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3341140150588404 and a p-value of 0.02021223483081417, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10368.5 and a p-value of 0.020720730897049074, _we failed to reject the null hypothssis_
## Testing Results for CA against SWTZ 
CA has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between CA and SWTZ
$H_{A}$: There is a difference between CA and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against TBD 
CA has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between CA and TBD
$H_{A}$: There is a difference between CA and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5414410562048368 and a p-value of 0.12371480022750153, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46483.5 and a p-value of 0.1240240963965678, _we failed to reject the null hypothssis_
## Testing Results for CA against THAI 
CA has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between CA and THAI
$H_{A}$: There is a difference between CA and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6712952384120012 and a p-value of 0.09544744161959681, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19805.0 and a p-value of 0.09611581410246733, _we failed to reject the null hypothssis_
## Testing Results for CA against TURK 
CA has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between CA and TURK
$H_{A}$: There is a difference between CA and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9375666784936622 and a p-value of 0.34892343771230017, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30989.0 and a p-value of 0.35048115232462107, _we failed to reject the null hypothssis_
## Testing Results for CA against UAE 
CA has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between CA and UAE
$H_{A}$: There is a difference between CA and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for CA against UK 
CA has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between CA and UK
$H_{A}$: There is a difference between CA and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6679074598423052 and a p-value of 0.0956247910960995, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99724.0 and a p-value of 0.09575018662987127, _we failed to reject the null hypothssis_
## Testing Results for CA against UKR 
CA has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between CA and UKR
$H_{A}$: There is a difference between CA and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0886166448630954 and a p-value of 0.03724543300725932, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32154.0 and a p-value of 0.03753618363613807, _we failed to reject the null hypothssis_
## Testing Results for CA against US 
CA has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between CA and US
$H_{A}$: There is a difference between CA and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.534428896583587 and a p-value of 5.889413606352231e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 718921.5 and a p-value of 5.984416376277889e-06, _we **reject** the null hypothssis_
