# Testing Results For DEN 
$H_{0}$: There is not a difference in collection success against DEN 
$H_{A}$: There is a difference in collection success against DEN
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for DEN against ALG 
DEN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and ALG
$H_{A}$: There is a difference between DEN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ARGN 
DEN has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and ARGN
$H_{A}$: There is a difference between DEN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ASRA 
DEN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and ASRA
$H_{A}$: There is a difference between DEN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against AUS 
DEN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between DEN and AUS
$H_{A}$: There is a difference between DEN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.002698014972818 and a p-value of 1.0722384906336448e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30015.5 and a p-value of 6.932409428420249e-14, _we **reject** the null hypothssis_
## Testing Results for DEN against BEL 
DEN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between DEN and BEL
$H_{A}$: There is a difference between DEN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.650637560453596 and a p-value of 4.5855803505873494e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19808.5 and a p-value of 5.966605584947761e-06, _we **reject** the null hypothssis_
## Testing Results for DEN against BRAZ 
DEN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and BRAZ
$H_{A}$: There is a difference between DEN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against CA 
DEN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and CA
$H_{A}$: There is a difference between DEN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against CIS 
DEN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between DEN and CIS
$H_{A}$: There is a difference between DEN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.789164554353662 and a p-value of 1.0032471896844207e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66172.5 and a p-value of 1.3572882592696254e-08, _we **reject** the null hypothssis_
## Testing Results for DEN against COL 
DEN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and COL
$H_{A}$: There is a difference between DEN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ESA 
DEN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between DEN and ESA
$H_{A}$: There is a difference between DEN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8174361518296571 and a p-value of 0.07023070860110152, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9342.0 and a p-value of 0.0711179911441845, _we failed to reject the null hypothssis_
## Testing Results for DEN against EST 
DEN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between DEN and EST
$H_{A}$: There is a difference between DEN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0962456480052705 and a p-value of 0.03725232940698288, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3546.5 and a p-value of 0.03867367526737248, _we failed to reject the null hypothssis_
## Testing Results for DEN against EUME 
DEN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and EUME
$H_{A}$: There is a difference between DEN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against FIN 
DEN has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and FIN
$H_{A}$: There is a difference between DEN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against FR 
DEN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between DEN and FR
$H_{A}$: There is a difference between DEN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.175908338820932 and a p-value of 3.359029222145453e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47315.5 and a p-value of 3.702410979645072e-05, _we **reject** the null hypothssis_
## Testing Results for DEN against GER 
DEN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between DEN and GER
$H_{A}$: There is a difference between DEN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0341145493338093 and a p-value of 0.04204622069636248, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 204486.0 and a p-value of 0.04209169245523452, _we failed to reject the null hypothssis_
## Testing Results for DEN against GUAT 
DEN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between DEN and GUAT
$H_{A}$: There is a difference between DEN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2801137355516787 and a p-value of 0.02348254794617346, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6055.0 and a p-value of 0.024202911609018708, _we failed to reject the null hypothssis_
## Testing Results for DEN against HUN 
DEN has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and HUN
$H_{A}$: There is a difference between DEN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against IND 
DEN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between DEN and IND
$H_{A}$: There is a difference between DEN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2914700663182535 and a p-value of 0.02229566765385306, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36157.0 and a p-value of 0.022489911269149742, _we failed to reject the null hypothssis_
## Testing Results for DEN against INDO 
DEN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and INDO
$H_{A}$: There is a difference between DEN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against IRAN 
DEN has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and IRAN
$H_{A}$: There is a difference between DEN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against IRAQ 
DEN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and IRAQ
$H_{A}$: There is a difference between DEN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ISRA 
DEN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and ISRA
$H_{A}$: There is a difference between DEN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ISS 
DEN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and ISS
$H_{A}$: There is a difference between DEN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against IT 
DEN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between DEN and IT
$H_{A}$: There is a difference between DEN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8290731927776545 and a p-value of 0.00013594710433158114, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85808.0 and a p-value of 0.00014178258159469674, _we **reject** the null hypothssis_
## Testing Results for DEN against JPN 
DEN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between DEN and JPN
$H_{A}$: There is a difference between DEN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.690925396354496 and a p-value of 3.3422026293767578e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88662.5 and a p-value of 6.879880323617913e-24, _we **reject** the null hypothssis_
## Testing Results for DEN against KAZ 
DEN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between DEN and KAZ
$H_{A}$: There is a difference between DEN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3825313020875667 and a p-value of 0.16768265252048672, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15916.0 and a p-value of 0.16858509834055557, _we failed to reject the null hypothssis_
## Testing Results for DEN against KWT 
DEN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and KWT
$H_{A}$: There is a difference between DEN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against LKA 
DEN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and LKA
$H_{A}$: There is a difference between DEN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against LTU 
DEN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between DEN and LTU
$H_{A}$: There is a difference between DEN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6537507846748103 and a p-value of 0.09881729950508167, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28112.5 and a p-value of 0.09916110459259957, _we failed to reject the null hypothssis_
## Testing Results for DEN against MALA 
DEN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and MALA
$H_{A}$: There is a difference between DEN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against MEX 
DEN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and MEX
$H_{A}$: There is a difference between DEN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against MUS 
DEN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and MUS
$H_{A}$: There is a difference between DEN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against MX 
DEN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between DEN and MX
$H_{A}$: There is a difference between DEN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47575.0 and a p-value of 3.274107506789952e-99, _we **reject** the null hypothssis_
## Testing Results for DEN against NETH 
DEN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and NETH
$H_{A}$: There is a difference between DEN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against NPL 
DEN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and NPL
$H_{A}$: There is a difference between DEN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against POL 
DEN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between DEN and POL
$H_{A}$: There is a difference between DEN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9055274950507823 and a p-value of 0.05714843352386204, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42817.5 and a p-value of 0.057351253658836074, _we failed to reject the null hypothssis_
## Testing Results for DEN against PRC 
DEN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between DEN and PRC
$H_{A}$: There is a difference between DEN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.401851068021277 and a p-value of 0.16108466612900735, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 202323.5 and a p-value of 0.1611341546412587, _we failed to reject the null hypothssis_
## Testing Results for DEN against PRY 
DEN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and PRY
$H_{A}$: There is a difference between DEN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against ROC 
DEN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between DEN and ROC
$H_{A}$: There is a difference between DEN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 28.229047846149452 and a p-value of 3.9127955150186804e-91, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26642.0 and a p-value of 6.500247466398836e-54, _we **reject** the null hypothssis_
## Testing Results for DEN against RP 
DEN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between DEN and RP
$H_{A}$: There is a difference between DEN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.148346526294821 and a p-value of 3.1719626036222627e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 94890.5 and a p-value of 1.4754392353284446e-18, _we **reject** the null hypothssis_
## Testing Results for DEN against SAFR 
DEN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between DEN and SAFR
$H_{A}$: There is a difference between DEN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.517790985859653 and a p-value of 0.00050136113198677, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12369.5 and a p-value of 0.0005565349161933652, _we **reject** the null hypothssis_
## Testing Results for DEN against SAUD 
DEN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and SAUD
$H_{A}$: There is a difference between DEN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against SING 
DEN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and SING
$H_{A}$: There is a difference between DEN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against SKOR 
DEN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between DEN and SKOR
$H_{A}$: There is a difference between DEN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.9487054433208355 and a p-value of 0.00010436024125227185, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5622.5 and a p-value of 0.00013042096906065156, _we **reject** the null hypothssis_
## Testing Results for DEN against SPN 
DEN has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and SPN
$H_{A}$: There is a difference between DEN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against SVN 
DEN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between DEN and SVN
$H_{A}$: There is a difference between DEN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.009795018925944 and a p-value of 0.04549398157185294, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7698.5 and a p-value of 0.046334774688780916, _we failed to reject the null hypothssis_
## Testing Results for DEN against SWTZ 
DEN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and SWTZ
$H_{A}$: There is a difference between DEN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against TBD 
DEN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between DEN and TBD
$H_{A}$: There is a difference between DEN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3280019607973401 and a p-value of 0.18471273663904733, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34513.5 and a p-value of 0.18510785816577213, _we failed to reject the null hypothssis_
## Testing Results for DEN against THAI 
DEN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between DEN and THAI
$H_{A}$: There is a difference between DEN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4394834132106005 and a p-value of 0.1509363464153426, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14705.0 and a p-value of 0.15183914472230442, _we failed to reject the null hypothssis_
## Testing Results for DEN against TURK 
DEN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between DEN and TURK
$H_{A}$: There is a difference between DEN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8076575877332596 and a p-value of 0.41972813183107605, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23009.0 and a p-value of 0.42179634360430085, _we failed to reject the null hypothssis_
## Testing Results for DEN against UAE 
DEN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between DEN and UAE
$H_{A}$: There is a difference between DEN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for DEN against UK 
DEN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between DEN and UK
$H_{A}$: There is a difference between DEN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4371208733370033 and a p-value of 0.15099122729351275, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74044.0 and a p-value of 0.15113349690268932, _we failed to reject the null hypothssis_
## Testing Results for DEN against UKR 
DEN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between DEN and UKR
$H_{A}$: There is a difference between DEN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7992308335771539 and a p-value of 0.07266413303209875, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23874.0 and a p-value of 0.07303211530173775, _we failed to reject the null hypothssis_
## Testing Results for DEN against US 
DEN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between DEN and US
$H_{A}$: There is a difference between DEN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.907211686115519 and a p-value of 9.44154229786235e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 533791.5 and a p-value of 9.523113345630399e-05, _we **reject** the null hypothssis_
