# Testing Results For EST 
$H_{0}$: There is not a difference in collection success against EST 
$H_{A}$: There is a difference in collection success against EST
Out of 54 tests, there were 5 rejections from 54 independent-t test.
Out of 54 tests, there were 10 rejections from 54 Man Whitney u-tests.
## Testing Results for EST against ALG 
EST has a success rate of 0.975
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between EST and ALG
$H_{A}$: There is a difference between EST and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1891.5 and a p-value of 0.12327125185597841, _we failed to reject the null hypothssis_
## Testing Results for EST against ARGN 
EST has a success rate of 0.975
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and ARGN
$H_{A}$: There is a difference between EST and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8248.5 and a p-value of 0.001177666460247468, _we failed to reject the null hypothssis_
## Testing Results for EST against ASRA 
EST has a success rate of 0.975
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between EST and ASRA
$H_{A}$: There is a difference between EST and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5323.5 and a p-value of 0.00924387480326419, _we failed to reject the null hypothssis_
## Testing Results for EST against AUS 
EST has a success rate of 0.975
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between EST and AUS
$H_{A}$: There is a difference between EST and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.45870383155704 and a p-value of 0.0006184863912158881, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6803.5 and a p-value of 0.0006782316733652426, _we **reject** the null hypothssis_
## Testing Results for EST against BEL 
EST has a success rate of 0.975
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between EST and BEL
$H_{A}$: There is a difference between EST and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6931041221659573 and a p-value of 0.09171192585141437, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4477.0 and a p-value of 0.09211815484820027, _we failed to reject the null hypothssis_
## Testing Results for EST against BRAZ 
EST has a success rate of 0.975
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between EST and BRAZ
$H_{A}$: There is a difference between EST and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8463.0 and a p-value of 0.0010149693642547352, _we failed to reject the null hypothssis_
## Testing Results for EST against CA 
EST has a success rate of 0.975
CA has a success rate of 1.0
$H_{0}$: There is not a difference between EST and CA
$H_{A}$: There is a difference between EST and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4543.5 and a p-value of 0.01625472776569501, _we failed to reject the null hypothssis_
## Testing Results for EST against CIS 
EST has a success rate of 0.975
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between EST and CIS
$H_{A}$: There is a difference between EST and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.342488739846852 and a p-value of 0.01943646703684612, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14971.0 and a p-value of 0.0195779325963827, _we failed to reject the null hypothssis_
## Testing Results for EST against COL 
EST has a success rate of 0.975
COL has a success rate of 1.0
$H_{0}$: There is not a difference between EST and COL
$H_{A}$: There is a difference between EST and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1189.5 and a p-value of 0.224494079318468, _we failed to reject the null hypothssis_
## Testing Results for EST against DEN 
EST has a success rate of 0.975
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and DEN
$H_{A}$: There is a difference between EST and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3373.5 and a p-value of 0.03867367526737248, _we failed to reject the null hypothssis_
## Testing Results for EST against ESA 
EST has a success rate of 0.975
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between EST and ESA
$H_{A}$: There is a difference between EST and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.2313788911418916 and a p-value of 0.8173489133451068, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2107.0 and a p-value of 0.8233725542108876, _we failed to reject the null hypothssis_
## Testing Results for EST against EUME 
EST has a success rate of 0.975
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between EST and EUME
$H_{A}$: There is a difference between EST and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10725.0 and a p-value of 0.00021444929596204347, _we **reject** the null hypothssis_
## Testing Results for EST against FIN 
EST has a success rate of 0.975
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and FIN
$H_{A}$: There is a difference between EST and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8638.5 and a p-value of 0.0008988854226993628, _we **reject** the null hypothssis_
## Testing Results for EST against FR 
EST has a success rate of 0.975
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between EST and FR
$H_{A}$: There is a difference between EST and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4439496789692936 and a p-value of 0.14933411681242784, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10689.5 and a p-value of 0.14946495045778957, _we failed to reject the null hypothssis_
## Testing Results for EST against GER 
EST has a success rate of 0.975
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between EST and GER
$H_{A}$: There is a difference between EST and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.06730263207353025 and a p-value of 0.9463465117530654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46125.0 and a p-value of 0.9466866941974, _we failed to reject the null hypothssis_
## Testing Results for EST against GUAT 
EST has a success rate of 0.975
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between EST and GUAT
$H_{A}$: There is a difference between EST and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.13348453353311476 and a p-value of 0.8940632890175448, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1366.0 and a p-value of 0.9021654512782956, _we failed to reject the null hypothssis_
## Testing Results for EST against HUN 
EST has a success rate of 0.975
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and HUN
$H_{A}$: There is a difference between EST and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5421.0 and a p-value of 0.00861914139622507, _we failed to reject the null hypothssis_
## Testing Results for EST against IND 
EST has a success rate of 0.975
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between EST and IND
$H_{A}$: There is a difference between EST and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.16309009139156075 and a p-value of 0.8705217047985694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8157.0 and a p-value of 0.8720442357268718, _we failed to reject the null hypothssis_
## Testing Results for EST against INDO 
EST has a success rate of 0.975
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between EST and INDO
$H_{A}$: There is a difference between EST and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5362.5 and a p-value of 0.00898859807023177, _we failed to reject the null hypothssis_
## Testing Results for EST against IRAN 
EST has a success rate of 0.975
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and IRAN
$H_{A}$: There is a difference between EST and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4719.0 and a p-value of 0.014305040785508172, _we failed to reject the null hypothssis_
## Testing Results for EST against IRAQ 
EST has a success rate of 0.975
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between EST and IRAQ
$H_{A}$: There is a difference between EST and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2067.0 and a p-value of 0.10684781345090104, _we failed to reject the null hypothssis_
## Testing Results for EST against ISRA 
EST has a success rate of 0.975
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between EST and ISRA
$H_{A}$: There is a difference between EST and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7800.0 and a p-value of 0.0016084393679035663, _we failed to reject the null hypothssis_
## Testing Results for EST against ISS 
EST has a success rate of 0.975
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between EST and ISS
$H_{A}$: There is a difference between EST and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4036.5 and a p-value of 0.023581929559473913, _we failed to reject the null hypothssis_
## Testing Results for EST against IT 
EST has a success rate of 0.975
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between EST and IT
$H_{A}$: There is a difference between EST and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2437756294914366 and a p-value of 0.2138864075265589, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19380.0 and a p-value of 0.2139464518255837, _we failed to reject the null hypothssis_
## Testing Results for EST against JPN 
EST has a success rate of 0.975
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between EST and JPN
$H_{A}$: There is a difference between EST and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.80385649119685 and a p-value of 1.8704570065824478e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20133.5 and a p-value of 2.177902363420497e-06, _we **reject** the null hypothssis_
## Testing Results for EST against KAZ 
EST has a success rate of 0.975
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between EST and KAZ
$H_{A}$: There is a difference between EST and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.6925258606339366 and a p-value of 0.4893374845361429, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3589.0 and a p-value of 0.49236937051319984, _we failed to reject the null hypothssis_
## Testing Results for EST against KWT 
EST has a success rate of 0.975
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between EST and KWT
$H_{A}$: There is a difference between EST and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2749.5 and a p-value of 0.06229604572097749, _we failed to reject the null hypothssis_
## Testing Results for EST against LKA 
EST has a success rate of 0.975
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between EST and LKA
$H_{A}$: There is a difference between EST and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4485.0 and a p-value of 0.016963862367450868, _we failed to reject the null hypothssis_
## Testing Results for EST against LTU 
EST has a success rate of 0.975
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between EST and LTU
$H_{A}$: There is a difference between EST and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.43556759624150465 and a p-value of 0.6634129808439229, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6340.0 and a p-value of 0.6654317188691032, _we failed to reject the null hypothssis_
## Testing Results for EST against MALA 
EST has a success rate of 0.975
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between EST and MALA
$H_{A}$: There is a difference between EST and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4777.5 and a p-value of 0.013710038072158972, _we failed to reject the null hypothssis_
## Testing Results for EST against MEX 
EST has a success rate of 0.975
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between EST and MEX
$H_{A}$: There is a difference between EST and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5050.5 and a p-value of 0.011251879683600856, _we failed to reject the null hypothssis_
## Testing Results for EST against MUS 
EST has a success rate of 0.975
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between EST and MUS
$H_{A}$: There is a difference between EST and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 643.5 and a p-value of 0.3784417724583138, _we failed to reject the null hypothssis_
## Testing Results for EST against MX 
EST has a success rate of 0.975
MX has a success rate of 0.0
$H_{0}$: There is not a difference between EST and MX
$H_{A}$: There is a difference between EST and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 39.0 and a p-value of 7.390618436886587e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10862.5 and a p-value of 2.703841039648997e-68, _we **reject** the null hypothssis_
## Testing Results for EST against NETH 
EST has a success rate of 0.975
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between EST and NETH
$H_{A}$: There is a difference between EST and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5460.0 and a p-value of 0.008381504991182955, _we failed to reject the null hypothssis_
## Testing Results for EST against NPL 
EST has a success rate of 0.975
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between EST and NPL
$H_{A}$: There is a difference between EST and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4270.5 and a p-value of 0.019849137724043796, _we failed to reject the null hypothssis_
## Testing Results for EST against POL 
EST has a success rate of 0.975
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between EST and POL
$H_{A}$: There is a difference between EST and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.18561168222243243 and a p-value of 0.8528212541688028, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9657.5 and a p-value of 0.8543294237330854, _we failed to reject the null hypothssis_
## Testing Results for EST against PRC 
EST has a success rate of 0.975
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between EST and PRC
$H_{A}$: There is a difference between EST and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.809861473998982 and a p-value of 0.41810175692350104, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45623.5 and a p-value of 0.4183515217816224, _we failed to reject the null hypothssis_
## Testing Results for EST against PRY 
EST has a success rate of 0.975
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between EST and PRY
$H_{A}$: There is a difference between EST and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1248.0 and a p-value of 0.21307778331415028, _we failed to reject the null hypothssis_
## Testing Results for EST against ROC 
EST has a success rate of 0.975
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between EST and ROC
$H_{A}$: There is a difference between EST and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.884515308452725 and a p-value of 2.7953882772447433e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6075.5 and a p-value of 6.606620248745293e-22, _we **reject** the null hypothssis_
## Testing Results for EST against RP 
EST has a success rate of 0.975
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between EST and RP
$H_{A}$: There is a difference between EST and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.050640594054892 and a p-value of 5.566692983081408e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21526.5 and a p-value of 5.952707109104407e-05, _we **reject** the null hypothssis_
## Testing Results for EST against SAFR 
EST has a success rate of 0.975
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between EST and SAFR
$H_{A}$: There is a difference between EST and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.002613948549382 and a p-value of 0.3174555865306647, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2793.0 and a p-value of 0.318200566160343, _we failed to reject the null hypothssis_
## Testing Results for EST against SAUD 
EST has a success rate of 0.975
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between EST and SAUD
$H_{A}$: There is a difference between EST and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2320.5 and a p-value of 0.08720587351981877, _we failed to reject the null hypothssis_
## Testing Results for EST against SING 
EST has a success rate of 0.975
SING has a success rate of 1.0
$H_{0}$: There is not a difference between EST and SING
$H_{A}$: There is a difference between EST and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14196.0 and a p-value of 2.0416574665578028e-05, _we **reject** the null hypothssis_
## Testing Results for EST against SKOR 
EST has a success rate of 0.975
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between EST and SKOR
$H_{A}$: There is a difference between EST and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1999500239468373 and a p-value of 0.2330515900649629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1270.0 and a p-value of 0.23454161992784184, _we failed to reject the null hypothssis_
## Testing Results for EST against SPN 
EST has a success rate of 0.975
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between EST and SPN
$H_{A}$: There is a difference between EST and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13123.5 and a p-value of 4.2083287904161635e-05, _we **reject** the null hypothssis_
## Testing Results for EST against SVN 
EST has a success rate of 0.975
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between EST and SVN
$H_{A}$: There is a difference between EST and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.06878601877957705 and a p-value of 0.9452698610196946, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1736.5 and a p-value of 0.9527978336059696, _we failed to reject the null hypothssis_
## Testing Results for EST against SWTZ 
EST has a success rate of 0.975
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between EST and SWTZ
$H_{A}$: There is a difference between EST and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7546.5 and a p-value of 0.0019193969860025416, _we failed to reject the null hypothssis_
## Testing Results for EST against TBD 
EST has a success rate of 0.975
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between EST and TBD
$H_{A}$: There is a difference between EST and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8396868276321698 and a p-value of 0.4015473717861068, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7782.5 and a p-value of 0.40293107736362654, _we failed to reject the null hypothssis_
## Testing Results for EST against THAI 
EST has a success rate of 0.975
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between EST and THAI
$H_{A}$: There is a difference between EST and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.6218725082974537 and a p-value of 0.5347133405297371, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3316.0 and a p-value of 0.5380802987396827, _we failed to reject the null hypothssis_
## Testing Results for EST against TURK 
EST has a success rate of 0.975
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between EST and TURK
$H_{A}$: There is a difference between EST and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8395463943565382 and a p-value of 0.40605605873756156, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5187.5 and a p-value of 0.12332289441548841, _we failed to reject the null hypothssis_
## Testing Results for EST against UAE 
EST has a success rate of 0.975
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between EST and UAE
$H_{A}$: There is a difference between EST and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0000000000000009 and a p-value of 0.323474945171383, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9340.5 and a p-value of 0.0005538407571024223, _we **reject** the null hypothssis_
## Testing Results for EST against UK 
EST has a success rate of 0.975
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between EST and UK
$H_{A}$: There is a difference between EST and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.7349843648625919 and a p-value of 0.46254394846209135, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16697.0 and a p-value of 0.46323707058715524, _we failed to reject the null hypothssis_
## Testing Results for EST against UKR 
EST has a success rate of 0.975
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between EST and UKR
$H_{A}$: There is a difference between EST and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.28025449735208 and a p-value of 0.7794697875123416, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5384.5 and a p-value of 0.7819960177914748, _we failed to reject the null hypothssis_
## Testing Results for EST against US 
EST has a success rate of 0.975
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between EST and US
$H_{A}$: There is a difference between EST and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2982282391861661 and a p-value of 0.19426102148931226, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 120566.0 and a p-value of 0.19427032291701984, _we failed to reject the null hypothssis_
