# Testing Results For EUME 
$H_{0}$: There is not a difference in collection success against EUME 
$H_{A}$: There is a difference in collection success against EUME
Out of 54 tests, there were 18 rejections from 54 independent-t test.
Out of 54 tests, there were 18 rejections from 54 Man Whitney u-tests.
## Testing Results for EUME against ALG 
EUME has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and ALG
$H_{A}$: There is a difference between EUME and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ARGN 
EUME has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and ARGN
$H_{A}$: There is a difference between EUME and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ASRA 
EUME has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and ASRA
$H_{A}$: There is a difference between EUME and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against AUS 
EUME has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between EUME and AUS
$H_{A}$: There is a difference between EUME and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.283752860492484 and a p-value of 1.6762181386659417e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95425.0 and a p-value of 1.843892401500219e-37, _we **reject** the null hypothssis_
## Testing Results for EUME against BEL 
EUME has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between EUME and BEL
$H_{A}$: There is a difference between EUME and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.303180769000608 and a p-value of 4.678613299311335e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 62975.0 and a p-value of 1.8291648424050135e-15, _we **reject** the null hypothssis_
## Testing Results for EUME against BRAZ 
EUME has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and BRAZ
$H_{A}$: There is a difference between EUME and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against CA 
EUME has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and CA
$H_{A}$: There is a difference between EUME and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against CIS 
EUME has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between EUME and CIS
$H_{A}$: There is a difference between EUME and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.326130776587258 and a p-value of 5.189705624031575e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 210375.0 and a p-value of 4.0896734674722557e-23, _we **reject** the null hypothssis_
## Testing Results for EUME against COL 
EUME has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and COL
$H_{A}$: There is a difference between EUME and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against DEN 
EUME has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and DEN
$H_{A}$: There is a difference between EUME and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ESA 
EUME has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between EUME and ESA
$H_{A}$: There is a difference between EUME and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.247256743810865 and a p-value of 0.001224777534097758, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29700.0 and a p-value of 0.0012777896812711494, _we failed to reject the null hypothssis_
## Testing Results for EUME against EST 
EUME has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between EUME and EST
$H_{A}$: There is a difference between EUME and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.748967697983211 and a p-value of 0.00019510665507556593, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11275.0 and a p-value of 0.00021444929596204347, _we **reject** the null hypothssis_
## Testing Results for EUME against FIN 
EUME has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and FIN
$H_{A}$: There is a difference between EUME and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against FR 
EUME has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between EUME and FR
$H_{A}$: There is a difference between EUME and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.449737125804373 and a p-value of 1.9499268867278504e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 150425.0 and a p-value of 3.7767156199033637e-13, _we **reject** the null hypothssis_
## Testing Results for EUME against GER 
EUME has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between EUME and GER
$H_{A}$: There is a difference between EUME and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.627076977086189 and a p-value of 0.00029166046486215003, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 650100.0 and a p-value of 0.00029543647056561403, _we **reject** the null hypothssis_
## Testing Results for EUME against GUAT 
EUME has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between EUME and GUAT
$H_{A}$: There is a difference between EUME and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.0758715919528745 and a p-value of 5.18458105961458e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19250.0 and a p-value of 5.780359641397463e-05, _we **reject** the null hypothssis_
## Testing Results for EUME against HUN 
EUME has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and HUN
$H_{A}$: There is a difference between EUME and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against IND 
EUME has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between EUME and IND
$H_{A}$: There is a difference between EUME and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.088547974482227 and a p-value of 4.706547991816778e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 114950.0 and a p-value of 5.0198474034079394e-05, _we **reject** the null hypothssis_
## Testing Results for EUME against INDO 
EUME has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and INDO
$H_{A}$: There is a difference between EUME and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against IRAN 
EUME has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and IRAN
$H_{A}$: There is a difference between EUME and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against IRAQ 
EUME has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and IRAQ
$H_{A}$: There is a difference between EUME and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ISRA 
EUME has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and ISRA
$H_{A}$: There is a difference between EUME and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ISS 
EUME has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and ISS
$H_{A}$: There is a difference between EUME and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against IT 
EUME has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between EUME and IT
$H_{A}$: There is a difference between EUME and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.82895148318142 and a p-value of 1.2485459698430581e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 272800.0 and a p-value of 1.7544804705399434e-11, _we **reject** the null hypothssis_
## Testing Results for EUME against JPN 
EUME has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between EUME and JPN
$H_{A}$: There is a difference between EUME and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 19.068420145545556 and a p-value of 1.487410358878374e-71, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 281875.0 and a p-value of 1.3411754001471755e-63, _we **reject** the null hypothssis_
## Testing Results for EUME against KAZ 
EUME has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between EUME and KAZ
$H_{A}$: There is a difference between EUME and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.468686712853075 and a p-value of 0.013788967995921064, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50600.0 and a p-value of 0.013975493496632106, _we failed to reject the null hypothssis_
## Testing Results for EUME against KWT 
EUME has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and KWT
$H_{A}$: There is a difference between EUME and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against LKA 
EUME has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and LKA
$H_{A}$: There is a difference between EUME and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against LTU 
EUME has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between EUME and LTU
$H_{A}$: There is a difference between EUME and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9512860586098006 and a p-value of 0.003249695076695272, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89375.0 and a p-value of 0.003311780224453193, _we failed to reject the null hypothssis_
## Testing Results for EUME against MALA 
EUME has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and MALA
$H_{A}$: There is a difference between EUME and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against MEX 
EUME has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and MEX
$H_{A}$: There is a difference between EUME and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against MUS 
EUME has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and MUS
$H_{A}$: There is a difference between EUME and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against MX 
EUME has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between EUME and MX
$H_{A}$: There is a difference between EUME and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 151250.0 and a p-value of 3.284681836316045e-181, _we **reject** the null hypothssis_
## Testing Results for EUME against NETH 
EUME has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and NETH
$H_{A}$: There is a difference between EUME and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against NPL 
EUME has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and NPL
$H_{A}$: There is a difference between EUME and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against POL 
EUME has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between EUME and POL
$H_{A}$: There is a difference between EUME and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.399495931884251 and a p-value of 0.0007009030159728542, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 136125.0 and a p-value of 0.0007204946093371943, _we **reject** the null hypothssis_
## Testing Results for EUME against PRC 
EUME has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between EUME and PRC
$H_{A}$: There is a difference between EUME and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4996729544297462 and a p-value of 0.012486396001564322, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 643225.0 and a p-value of 0.012517498106912448, _we failed to reject the null hypothssis_
## Testing Results for EUME against PRY 
EUME has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and PRY
$H_{A}$: There is a difference between EUME and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against ROC 
EUME has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between EUME and ROC
$H_{A}$: There is a difference between EUME and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 50.41076060151056 and a p-value of 6.710967360484762e-238, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 84700.0 and a p-value of 8.472816709949002e-124, _we **reject** the null hypothssis_
## Testing Results for EUME against RP 
EUME has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between EUME and RP
$H_{A}$: There is a difference between EUME and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.316237120184937 and a p-value of 7.621887422176937e-55, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 301675.0 and a p-value of 1.8169071922062793e-50, _we **reject** the null hypothssis_
## Testing Results for EUME against SAFR 
EUME has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between EUME and SAFR
$H_{A}$: There is a difference between EUME and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.283646276352271 and a p-value of 5.896071288828219e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39325.0 and a p-value of 9.806458357899245e-10, _we **reject** the null hypothssis_
## Testing Results for EUME against SAUD 
EUME has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and SAUD
$H_{A}$: There is a difference between EUME and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against SING 
EUME has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and SING
$H_{A}$: There is a difference between EUME and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against SKOR 
EUME has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between EUME and SKOR
$H_{A}$: There is a difference between EUME and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.0594663802422435 and a p-value of 4.57846108959354e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17875.0 and a p-value of 1.1220705776417032e-11, _we **reject** the null hypothssis_
## Testing Results for EUME against SPN 
EUME has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and SPN
$H_{A}$: There is a difference between EUME and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against SVN 
EUME has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between EUME and SVN
$H_{A}$: There is a difference between EUME and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5917328454825124 and a p-value of 0.0003538809161352696, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24475.0 and a p-value of 0.000377463816240295, _we **reject** the null hypothssis_
## Testing Results for EUME against SWTZ 
EUME has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and SWTZ
$H_{A}$: There is a difference between EUME and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against TBD 
EUME has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between EUME and TBD
$H_{A}$: There is a difference between EUME and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.36953377704829 and a p-value of 0.01801103704655962, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109725.0 and a p-value of 0.01814289641538962, _we failed to reject the null hypothssis_
## Testing Results for EUME against THAI 
EUME has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between EUME and THAI
$H_{A}$: There is a difference between EUME and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.570612337565883 and a p-value of 0.010352840372467934, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46750.0 and a p-value of 0.010518832654519701, _we failed to reject the null hypothssis_
## Testing Results for EUME against TURK 
EUME has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between EUME and TURK
$H_{A}$: There is a difference between EUME and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4416035720320983 and a p-value of 0.14979930549495066, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73150.0 and a p-value of 0.15042543291690957, _we failed to reject the null hypothssis_
## Testing Results for EUME against UAE 
EUME has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between EUME and UAE
$H_{A}$: There is a difference between EUME and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for EUME against UK 
EUME has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between EUME and UK
$H_{A}$: There is a difference between EUME and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.563107867880674 and a p-value of 0.010478159280137105, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 235400.0 and a p-value of 0.010541499225188686, _we failed to reject the null hypothssis_
## Testing Results for EUME against UKR 
EUME has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between EUME and UKR
$H_{A}$: There is a difference between EUME and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2114110761580315 and a p-value of 0.001372400418808841, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75900.0 and a p-value of 0.001412096972263614, _we failed to reject the null hypothssis_
## Testing Results for EUME against US 
EUME has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between EUME and US
$H_{A}$: There is a difference between EUME and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.9667413109754275 and a p-value of 3.5757909945579273e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1697025.0 and a p-value of 3.909908772432724e-12, _we **reject** the null hypothssis_
