# Testing Results For FIN 
$H_{0}$: There is not a difference in collection success against FIN 
$H_{A}$: There is a difference in collection success against FIN
Out of 54 tests, there were 15 rejections from 54 independent-t test.
Out of 54 tests, there were 15 rejections from 54 Man Whitney u-tests.
## Testing Results for FIN against ALG 
FIN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and ALG
$H_{A}$: There is a difference between FIN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ARGN 
FIN has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and ARGN
$H_{A}$: There is a difference between FIN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ASRA 
FIN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and ASRA
$H_{A}$: There is a difference between FIN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against AUS 
FIN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between FIN and AUS
$H_{A}$: There is a difference between FIN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.816923126481628 and a p-value of 5.380214966246806e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76860.5 and a p-value of 6.270651312472866e-31, _we **reject** the null hypothssis_
## Testing Results for FIN against BEL 
FIN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between FIN and BEL
$H_{A}$: There is a difference between FIN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.450235968133497 and a p-value of 2.9939249439274486e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50723.5 and a p-value of 8.3871685594109e-13, _we **reject** the null hypothssis_
## Testing Results for FIN against BRAZ 
FIN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and BRAZ
$H_{A}$: There is a difference between FIN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against CA 
FIN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and CA
$H_{A}$: There is a difference between FIN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against CIS 
FIN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between FIN and CIS
$H_{A}$: There is a difference between FIN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.266658090269193 and a p-value of 9.825025842610567e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 169447.5 and a p-value of 4.3212165130344805e-19, _we **reject** the null hypothssis_
## Testing Results for FIN against COL 
FIN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and COL
$H_{A}$: There is a difference between FIN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against DEN 
FIN has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and DEN
$H_{A}$: There is a difference between FIN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ESA 
FIN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between FIN and ESA
$H_{A}$: There is a difference between FIN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.91345075814961 and a p-value of 0.0037207144376065794, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23922.0 and a p-value of 0.0038465299224543763, _we failed to reject the null hypothssis_
## Testing Results for FIN against EST 
FIN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between FIN and EST
$H_{A}$: There is a difference between FIN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3633226530413385 and a p-value of 0.0008315841162615844, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9081.5 and a p-value of 0.0008988854226993628, _we **reject** the null hypothssis_
## Testing Results for FIN against EUME 
FIN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and EUME
$H_{A}$: There is a difference between FIN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against FR 
FIN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between FIN and FR
$H_{A}$: There is a difference between FIN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.685202006726455 and a p-value of 3.9447630453427136e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121160.5 and a p-value of 6.352843612576757e-11, _we **reject** the null hypothssis_
## Testing Results for FIN against GER 
FIN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between FIN and GER
$H_{A}$: There is a difference between FIN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2551528395944263 and a p-value of 0.0011470514075582717, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 523626.0 and a p-value of 0.0011566639453206194, _we failed to reject the null hypothssis_
## Testing Results for FIN against GUAT 
FIN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between FIN and GUAT
$H_{A}$: There is a difference between FIN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.656733700722919 and a p-value of 0.00028202630399184325, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15505.0 and a p-value of 0.0003072686888752197, _we **reject** the null hypothssis_
## Testing Results for FIN against HUN 
FIN has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and HUN
$H_{A}$: There is a difference between FIN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against IND 
FIN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between FIN and IND
$H_{A}$: There is a difference between FIN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.6688692540834222 and a p-value of 0.00025885126594139206, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92587.0 and a p-value of 0.0002710307381996207, _we **reject** the null hypothssis_
## Testing Results for FIN against INDO 
FIN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and INDO
$H_{A}$: There is a difference between FIN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against IRAN 
FIN has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and IRAN
$H_{A}$: There is a difference between FIN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against IRAQ 
FIN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and IRAQ
$H_{A}$: There is a difference between FIN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ISRA 
FIN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and ISRA
$H_{A}$: There is a difference between FIN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ISS 
FIN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and ISS
$H_{A}$: There is a difference between FIN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against IT 
FIN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between FIN and IT
$H_{A}$: There is a difference between FIN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.12845949266726 and a p-value of 1.1599468724515169e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 219728.0 and a p-value of 1.4698187174187387e-09, _we **reject** the null hypothssis_
## Testing Results for FIN against JPN 
FIN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between FIN and JPN
$H_{A}$: There is a difference between FIN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 17.112142246109 and a p-value of 8.840307190075178e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 227037.5 and a p-value of 6.026100572256813e-53, _we **reject** the null hypothssis_
## Testing Results for FIN against KAZ 
FIN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between FIN and KAZ
$H_{A}$: There is a difference between FIN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.215055554858856 and a p-value of 0.027117205989179795, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40756.0 and a p-value of 0.027407665135988482, _we failed to reject the null hypothssis_
## Testing Results for FIN against KWT 
FIN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and KWT
$H_{A}$: There is a difference between FIN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against LKA 
FIN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and LKA
$H_{A}$: There is a difference between FIN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against LTU 
FIN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between FIN and LTU
$H_{A}$: There is a difference between FIN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6482662619493533 and a p-value of 0.0082581778742943, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71987.5 and a p-value of 0.008371994088620984, _we failed to reject the null hypothssis_
## Testing Results for FIN against MALA 
FIN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and MALA
$H_{A}$: There is a difference between FIN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against MEX 
FIN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and MEX
$H_{A}$: There is a difference between FIN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against MUS 
FIN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and MUS
$H_{A}$: There is a difference between FIN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against MX 
FIN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between FIN and MX
$H_{A}$: There is a difference between FIN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121825.0 and a p-value of 6.047344214976185e-158, _we **reject** the null hypothssis_
## Testing Results for FIN against NETH 
FIN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and NETH
$H_{A}$: There is a difference between FIN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against NPL 
FIN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and NPL
$H_{A}$: There is a difference between FIN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against POL 
FIN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between FIN and POL
$H_{A}$: There is a difference between FIN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.05060911474445 and a p-value of 0.0023488292588944933, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109642.5 and a p-value of 0.0023946320390020818, _we failed to reject the null hypothssis_
## Testing Results for FIN against PRC 
FIN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between FIN and PRC
$H_{A}$: There is a difference between FIN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2433540295492835 and a p-value of 0.02495318746352062, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 518088.5 and a p-value of 0.02499245384299327, _we failed to reject the null hypothssis_
## Testing Results for FIN against PRY 
FIN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and PRY
$H_{A}$: There is a difference between FIN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against ROC 
FIN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between FIN and ROC
$H_{A}$: There is a difference between FIN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 45.231172132301346 and a p-value of 5.1123914008404735e-197, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68222.0 and a p-value of 2.314139923593551e-104, _we **reject** the null hypothssis_
## Testing Results for FIN against RP 
FIN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between FIN and RP
$H_{A}$: There is a difference between FIN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.642455535899094 and a p-value of 5.667925653586391e-45, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 242985.5 and a p-value of 8.200920563600366e-42, _we **reject** the null hypothssis_
## Testing Results for FIN against SAFR 
FIN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between FIN and SAFR
$H_{A}$: There is a difference between FIN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.637857921327434 and a p-value of 2.7010453648239136e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31674.5 and a p-value of 3.983099779105414e-08, _we **reject** the null hypothssis_
## Testing Results for FIN against SAUD 
FIN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and SAUD
$H_{A}$: There is a difference between FIN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against SING 
FIN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and SING
$H_{A}$: There is a difference between FIN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against SKOR 
FIN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between FIN and SKOR
$H_{A}$: There is a difference between FIN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.333450650664796 and a p-value of 5.338465899492197e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14397.5 and a p-value of 1.0773534936029724e-09, _we **reject** the null hypothssis_
## Testing Results for FIN against SPN 
FIN has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and SPN
$H_{A}$: There is a difference between FIN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against SVN 
FIN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between FIN and SVN
$H_{A}$: There is a difference between FIN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2224517589116415 and a p-value of 0.0013494109522991823, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19713.5 and a p-value of 0.0014195857614919761, _we failed to reject the null hypothssis_
## Testing Results for FIN against SWTZ 
FIN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and SWTZ
$H_{A}$: There is a difference between FIN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against TBD 
FIN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between FIN and TBD
$H_{A}$: There is a difference between FIN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.126300344164278 and a p-value of 0.03377067203567966, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88378.5 and a p-value of 0.03395173532070491, _we failed to reject the null hypothssis_
## Testing Results for FIN against THAI 
FIN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between FIN and THAI
$H_{A}$: There is a difference between FIN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.306486187283974 and a p-value of 0.021418271261555828, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37655.0 and a p-value of 0.02168913733213741, _we failed to reject the null hypothssis_
## Testing Results for FIN against TURK 
FIN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between FIN and TURK
$H_{A}$: There is a difference between FIN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2935571515917539 and a p-value of 0.196241483795696, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58919.0 and a p-value of 0.1970426562159303, _we failed to reject the null hypothssis_
## Testing Results for FIN against UAE 
FIN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between FIN and UAE
$H_{A}$: There is a difference between FIN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for FIN against UK 
FIN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between FIN and UK
$H_{A}$: There is a difference between FIN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.300178496978379 and a p-value of 0.021597466561937607, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 189604.0 and a p-value of 0.021685129178076412, _we failed to reject the null hypothssis_
## Testing Results for FIN against UKR 
FIN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between FIN and UKR
$H_{A}$: There is a difference between FIN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.881621513948599 and a p-value of 0.004075414676046275, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61134.0 and a p-value of 0.00416114110273761, _we failed to reject the null hypothssis_
## Testing Results for FIN against US 
FIN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between FIN and US
$H_{A}$: There is a difference between FIN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.252432262366309 and a p-value of 4.312517283944785e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1366876.5 and a p-value of 4.572132191210788e-10, _we **reject** the null hypothssis_
