# Testing Results For GER 
$H_{0}$: There is not a difference in collection success against GER 
$H_{A}$: There is a difference in collection success against GER
Out of 54 tests, there were 39 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for GER against ALG 
GER has a success rate of 0.9766233766233766
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between GER and ALG
$H_{A}$: There is a difference between GER and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109416.0 and a p-value of 0.12790720862201913, _we failed to reject the null hypothssis_
## Testing Results for GER against ARGN 
GER has a success rate of 0.9766233766233766
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and ARGN
$H_{A}$: There is a difference between GER and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 477144.0 and a p-value of 0.0014963909506386238, _we failed to reject the null hypothssis_
## Testing Results for GER against ASRA 
GER has a success rate of 0.9766233766233766
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between GER and ASRA
$H_{A}$: There is a difference between GER and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 307944.0 and a p-value of 0.01069877287748901, _we failed to reject the null hypothssis_
## Testing Results for GER against AUS 
GER has a success rate of 0.9766233766233766
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between GER and AUS
$H_{A}$: There is a difference between GER and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 19.036205128970767 and a p-value of 1.0385643250967792e-75, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 393414.0 and a p-value of 4.191007269931049e-71, _we **reject** the null hypothssis_
## Testing Results for GER against BEL 
GER has a success rate of 0.9766233766233766
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between GER and BEL
$H_{A}$: There is a difference between GER and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.115958481660033 and a p-value of 1.4435330787166053e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 258933.0 and a p-value of 1.8335303413518335e-12, _we **reject** the null hypothssis_
## Testing Results for GER against BRAZ 
GER has a success rate of 0.9766233766233766
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between GER and BRAZ
$H_{A}$: There is a difference between GER and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 489552.0 and a p-value of 0.0012986360129028608, _we failed to reject the null hypothssis_
## Testing Results for GER against CA 
GER has a success rate of 0.9766233766233766
CA has a success rate of 1.0
$H_{0}$: There is not a difference between GER and CA
$H_{A}$: There is a difference between GER and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 262824.0 and a p-value of 0.018356001214453514, _we failed to reject the null hypothssis_
## Testing Results for GER against CIS 
GER has a success rate of 0.9766233766233766
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between GER and CIS
$H_{A}$: There is a difference between GER and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.38361198221987 and a p-value of 2.132910189085647e-45, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 865809.0 and a p-value of 5.582036356526708e-44, _we **reject** the null hypothssis_
## Testing Results for GER against COL 
GER has a success rate of 0.9766233766233766
COL has a success rate of 1.0
$H_{0}$: There is not a difference between GER and COL
$H_{A}$: There is a difference between GER and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68808.0 and a p-value of 0.22729533528290646, _we failed to reject the null hypothssis_
## Testing Results for GER against DEN 
GER has a success rate of 0.9766233766233766
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and DEN
$H_{A}$: There is a difference between GER and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 195144.0 and a p-value of 0.04209169245523452, _we failed to reject the null hypothssis_
## Testing Results for GER against ESA 
GER has a success rate of 0.9766233766233766
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between GER and ESA
$H_{A}$: There is a difference between GER and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.30153445720083405 and a p-value of 0.7630329509193734, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121878.0 and a p-value of 0.7631719812981018, _we failed to reject the null hypothssis_
## Testing Results for GER against EST 
GER has a success rate of 0.9766233766233766
EST has a success rate of 0.975
$H_{0}$: There is not a difference between GER and EST
$H_{A}$: There is a difference between GER and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.06730263207353025 and a p-value of 0.9463465117530654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46275.0 and a p-value of 0.9466866941974, _we failed to reject the null hypothssis_
## Testing Results for GER against EUME 
GER has a success rate of 0.9766233766233766
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between GER and EUME
$H_{A}$: There is a difference between GER and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 620400.0 and a p-value of 0.00029543647056561403, _we **reject** the null hypothssis_
## Testing Results for GER against FIN 
GER has a success rate of 0.9766233766233766
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and FIN
$H_{A}$: There is a difference between GER and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 499704.0 and a p-value of 0.0011566639453206194, _we failed to reject the null hypothssis_
## Testing Results for GER against FR 
GER has a success rate of 0.9766233766233766
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between GER and FR
$H_{A}$: There is a difference between GER and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.570600900476318 and a p-value of 5.007025620725156e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 618258.0 and a p-value of 6.591119446245568e-14, _we **reject** the null hypothssis_
## Testing Results for GER against GUAT 
GER has a success rate of 0.9766233766233766
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between GER and GUAT
$H_{A}$: There is a difference between GER and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.32333710275238536 and a p-value of 0.7464684120589732, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 79014.0 and a p-value of 0.7466521610582137, _we failed to reject the null hypothssis_
## Testing Results for GER against HUN 
GER has a success rate of 0.9766233766233766
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and HUN
$H_{A}$: There is a difference between GER and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 313584.0 and a p-value of 0.010006487465963537, _we failed to reject the null hypothssis_
## Testing Results for GER against IND 
GER has a success rate of 0.9766233766233766
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between GER and IND
$H_{A}$: There is a difference between GER and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7456136725152911 and a p-value of 0.4559653902325812, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 471828.0 and a p-value of 0.45594171223895896, _we failed to reject the null hypothssis_
## Testing Results for GER against INDO 
GER has a success rate of 0.9766233766233766
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between GER and INDO
$H_{A}$: There is a difference between GER and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 310200.0 and a p-value of 0.010416141843067946, _we failed to reject the null hypothssis_
## Testing Results for GER against IRAN 
GER has a success rate of 0.9766233766233766
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and IRAN
$H_{A}$: There is a difference between GER and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 272976.0 and a p-value of 0.016243828456624535, _we failed to reject the null hypothssis_
## Testing Results for GER against IRAQ 
GER has a success rate of 0.9766233766233766
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between GER and IRAQ
$H_{A}$: There is a difference between GER and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119568.0 and a p-value of 0.11151364190837022, _we failed to reject the null hypothssis_
## Testing Results for GER against ISRA 
GER has a success rate of 0.9766233766233766
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between GER and ISRA
$H_{A}$: There is a difference between GER and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 451200.0 and a p-value of 0.002014412003040835, _we failed to reject the null hypothssis_
## Testing Results for GER against ISS 
GER has a success rate of 0.9766233766233766
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between GER and ISS
$H_{A}$: There is a difference between GER and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233496.0 and a p-value of 0.02620860140160637, _we failed to reject the null hypothssis_
## Testing Results for GER against IT 
GER has a success rate of 0.9766233766233766
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between GER and IT
$H_{A}$: There is a difference between GER and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.329122457833136 and a p-value of 2.913409429833487e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1120920.0 and a p-value of 3.596048234049376e-13, _we **reject** the null hypothssis_
## Testing Results for GER against JPN 
GER has a success rate of 0.9766233766233766
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between GER and JPN
$H_{A}$: There is a difference between GER and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 32.27510045059419 and a p-value of 8.71605424426982e-197, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1164084.0 and a p-value of 8.257934092399759e-171, _we **reject** the null hypothssis_
## Testing Results for GER against KAZ 
GER has a success rate of 0.9766233766233766
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between GER and KAZ
$H_{A}$: There is a difference between GER and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.085423021435501 and a p-value of 0.2778394133866279, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 207606.0 and a p-value of 0.2778437982788988, _we failed to reject the null hypothssis_
## Testing Results for GER against KWT 
GER has a success rate of 0.9766233766233766
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between GER and KWT
$H_{A}$: There is a difference between GER and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 159048.0 and a p-value of 0.06647041064921476, _we failed to reject the null hypothssis_
## Testing Results for GER against LKA 
GER has a success rate of 0.9766233766233766
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between GER and LKA
$H_{A}$: There is a difference between GER and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 259440.0 and a p-value of 0.019121545455635425, _we failed to reject the null hypothssis_
## Testing Results for GER against LTU 
GER has a success rate of 0.9766233766233766
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between GER and LTU
$H_{A}$: There is a difference between GER and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8773499838508461 and a p-value of 0.38037676688460376, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 366735.0 and a p-value of 0.38035885433813954, _we failed to reject the null hypothssis_
## Testing Results for GER against MALA 
GER has a success rate of 0.9766233766233766
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between GER and MALA
$H_{A}$: There is a difference between GER and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 276360.0 and a p-value of 0.015596907303766205, _we failed to reject the null hypothssis_
## Testing Results for GER against MEX 
GER has a success rate of 0.9766233766233766
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between GER and MEX
$H_{A}$: There is a difference between GER and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 292152.0 and a p-value of 0.01291108693221625, _we failed to reject the null hypothssis_
## Testing Results for GER against MUS 
GER has a success rate of 0.9766233766233766
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between GER and MUS
$H_{A}$: There is a difference between GER and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37224.0 and a p-value of 0.3745829164518397, _we failed to reject the null hypothssis_
## Testing Results for GER against MX 
GER has a success rate of 0.9766233766233766
MX has a success rate of 0.0
$H_{0}$: There is not a difference between GER and MX
$H_{A}$: There is a difference between GER and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 310.5879728658032 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 627825.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for GER against NETH 
GER has a success rate of 0.9766233766233766
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between GER and NETH
$H_{A}$: There is a difference between GER and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 315840.0 and a p-value of 0.009742601806193383, _we failed to reject the null hypothssis_
## Testing Results for GER against NPL 
GER has a success rate of 0.9766233766233766
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between GER and NPL
$H_{A}$: There is a difference between GER and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 247032.0 and a p-value of 0.02222319376119173, _we failed to reject the null hypothssis_
## Testing Results for GER against POL 
GER has a success rate of 0.9766233766233766
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between GER and POL
$H_{A}$: There is a difference between GER and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.3690428871693021 and a p-value of 0.712123731346761, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 558630.0 and a p-value of 0.712142260940974, _we failed to reject the null hypothssis_
## Testing Results for GER against PRC 
GER has a success rate of 0.9766233766233766
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between GER and PRC
$H_{A}$: There is a difference between GER and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.166539346385634 and a p-value of 0.001552683061506122, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2639094.0 and a p-value of 0.0015593636818869547, _we failed to reject the null hypothssis_
## Testing Results for GER against PRY 
GER has a success rate of 0.9766233766233766
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between GER and PRY
$H_{A}$: There is a difference between GER and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72192.0 and a p-value of 0.21620301492114102, _we failed to reject the null hypothssis_
## Testing Results for GER against ROC 
GER has a success rate of 0.9766233766233766
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between GER and ROC
$H_{A}$: There is a difference between GER and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 56.72508049772952 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 351177.0 and a p-value of 1.9469177084204907e-306, _we **reject** the null hypothssis_
## Testing Results for GER against RP 
GER has a success rate of 0.9766233766233766
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between GER and RP
$H_{A}$: There is a difference between GER and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 27.34388347108726 and a p-value of 7.908408884002371e-148, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1244706.0 and a p-value of 2.3784914483553723e-133, _we **reject** the null hypothssis_
## Testing Results for GER against SAFR 
GER has a success rate of 0.9766233766233766
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between GER and SAFR
$H_{A}$: There is a difference between GER and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1145320960316645 and a p-value of 0.0018637453042995333, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161547.0 and a p-value of 0.0018786691158890363, _we failed to reject the null hypothssis_
## Testing Results for GER against SAUD 
GER has a success rate of 0.9766233766233766
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between GER and SAUD
$H_{A}$: There is a difference between GER and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 134232.0 and a p-value of 0.09177206362080521, _we failed to reject the null hypothssis_
## Testing Results for GER against SING 
GER has a success rate of 0.9766233766233766
SING has a success rate of 1.0
$H_{0}$: There is not a difference between GER and SING
$H_{A}$: There is a difference between GER and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 821184.0 and a p-value of 3.159170233937865e-05, _we **reject** the null hypothssis_
## Testing Results for GER against SKOR 
GER has a success rate of 0.9766233766233766
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between GER and SKOR
$H_{A}$: There is a difference between GER and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.946993798223825 and a p-value of 0.0032401428359085088, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73455.0 and a p-value of 0.0032623529410540394, _we failed to reject the null hypothssis_
## Testing Results for GER against SPN 
GER has a success rate of 0.9766233766233766
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between GER and SPN
$H_{A}$: There is a difference between GER and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 759144.0 and a p-value of 6.280068368120276e-05, _we **reject** the null hypothssis_
## Testing Results for GER against SVN 
GER has a success rate of 0.9766233766233766
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between GER and SVN
$H_{A}$: There is a difference between GER and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.023517279195087684 and a p-value of 0.9812396146027021, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100446.0 and a p-value of 0.9814742913409801, _we failed to reject the null hypothssis_
## Testing Results for GER against SWTZ 
GER has a success rate of 0.9766233766233766
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between GER and SWTZ
$H_{A}$: There is a difference between GER and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 436536.0 and a p-value of 0.002384350228332428, _we failed to reject the null hypothssis_
## Testing Results for GER against TBD 
GER has a success rate of 0.9766233766233766
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between GER and TBD
$H_{A}$: There is a difference between GER and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.6802755728975687 and a p-value of 0.09301926115350621, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 450180.0 and a p-value of 0.09304092795628642, _we failed to reject the null hypothssis_
## Testing Results for GER against THAI 
GER has a success rate of 0.9766233766233766
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between GER and THAI
$H_{A}$: There is a difference between GER and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9657629605886184 and a p-value of 0.33425712319488965, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 191814.0 and a p-value of 0.33426482439395244, _we failed to reject the null hypothssis_
## Testing Results for GER against TURK 
GER has a success rate of 0.9766233766233766
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between GER and TURK
$H_{A}$: There is a difference between GER and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.9908743731048473 and a p-value of 7.258944555289058e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 300075.0 and a p-value of 0.03662104355050508, _we failed to reject the null hypothssis_
## Testing Results for GER against UAE 
GER has a success rate of 0.9766233766233766
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between GER and UAE
$H_{A}$: There is a difference between GER and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.434286584553803 and a p-value of 1.473059396824036e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 540312.0 and a p-value of 0.0007291202356935473, _we **reject** the null hypothssis_
## Testing Results for GER against UK 
GER has a success rate of 0.9766233766233766
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between GER and UK
$H_{A}$: There is a difference between GER and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.0408796026662377 and a p-value of 0.041345884416928526, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 965838.0 and a p-value of 0.04137360647234404, _we failed to reject the null hypothssis_
## Testing Results for GER against UKR 
GER has a success rate of 0.9766233766233766
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between GER and UKR
$H_{A}$: There is a difference between GER and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.5131839098688111 and a p-value of 0.6078666356656524, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 311463.0 and a p-value of 0.6078878333167198, _we failed to reject the null hypothssis_
## Testing Results for GER against US 
GER has a success rate of 0.9766233766233766
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between GER and US
$H_{A}$: There is a difference between GER and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.58641078094583 and a p-value of 1.1912251403037153e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6973389.0 and a p-value of 1.5352669604841345e-21, _we **reject** the null hypothssis_
