# Testing Results For GUAT 
$H_{0}$: There is not a difference in collection success against GUAT 
$H_{A}$: There is a difference in collection success against GUAT
Out of 54 tests, there were 5 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for GUAT against ALG 
GUAT has a success rate of 0.9705882352941176
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and ALG
$H_{A}$: There is a difference between GUAT and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3201.0 and a p-value of 0.09189113282998924, _we failed to reject the null hypothssis_
## Testing Results for GUAT against ARGN 
GUAT has a success rate of 0.9705882352941176
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and ARGN
$H_{A}$: There is a difference between GUAT and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13959.0 and a p-value of 0.0004208743678704955, _we **reject** the null hypothssis_
## Testing Results for GUAT against ASRA 
GUAT has a success rate of 0.9705882352941176
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and ASRA
$H_{A}$: There is a difference between GUAT and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9009.0 and a p-value of 0.004617104361489472, _we failed to reject the null hypothssis_
## Testing Results for GUAT against AUS 
GUAT has a success rate of 0.9705882352941176
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between GUAT and AUS
$H_{A}$: There is a difference between GUAT and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.391450277131548 and a p-value of 1.5069395261968075e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11525.0 and a p-value of 1.89452739573089e-05, _we **reject** the null hypothssis_
## Testing Results for GUAT against BEL 
GUAT has a success rate of 0.9705882352941176
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between GUAT and BEL
$H_{A}$: There is a difference between GUAT and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0502620929087434 and a p-value of 0.041297324735355266, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7580.0 and a p-value of 0.041693358300242206, _we failed to reject the null hypothssis_
## Testing Results for GUAT against BRAZ 
GUAT has a success rate of 0.9705882352941176
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and BRAZ
$H_{A}$: There is a difference between GUAT and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14322.0 and a p-value of 0.00035396294291143517, _we **reject** the null hypothssis_
## Testing Results for GUAT against CA 
GUAT has a success rate of 0.9705882352941176
CA has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and CA
$H_{A}$: There is a difference between GUAT and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7689.0 and a p-value of 0.008882095096317166, _we failed to reject the null hypothssis_
## Testing Results for GUAT against CIS 
GUAT has a success rate of 0.9705882352941176
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between GUAT and CIS
$H_{A}$: There is a difference between GUAT and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9408363886845708 and a p-value of 0.00337765063474148, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25352.0 and a p-value of 0.003445062932132153, _we failed to reject the null hypothssis_
## Testing Results for GUAT against COL 
GUAT has a success rate of 0.9705882352941176
COL has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and COL
$H_{A}$: There is a difference between GUAT and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2013.0 and a p-value of 0.18230625057737215, _we failed to reject the null hypothssis_
## Testing Results for GUAT against DEN 
GUAT has a success rate of 0.9705882352941176
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and DEN
$H_{A}$: There is a difference between GUAT and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5709.0 and a p-value of 0.024202911609018704, _we failed to reject the null hypothssis_
## Testing Results for GUAT against ESA 
GUAT has a success rate of 0.9705882352941176
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between GUAT and ESA
$H_{A}$: There is a difference between GUAT and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.4504763691659502 and a p-value of 0.6529343014784484, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3566.0 and a p-value of 0.6559030466618794, _we failed to reject the null hypothssis_
## Testing Results for GUAT against EST 
GUAT has a success rate of 0.9705882352941176
EST has a success rate of 0.975
$H_{0}$: There is not a difference between GUAT and EST
$H_{A}$: There is a difference between GUAT and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.13348453353311476 and a p-value of 0.8940632890175448, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1354.0 and a p-value of 0.9021654512782956, _we failed to reject the null hypothssis_
## Testing Results for GUAT against EUME 
GUAT has a success rate of 0.9705882352941176
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and EUME
$H_{A}$: There is a difference between GUAT and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18150.0 and a p-value of 5.780359641397463e-05, _we **reject** the null hypothssis_
## Testing Results for GUAT against FIN 
GUAT has a success rate of 0.9705882352941176
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and FIN
$H_{A}$: There is a difference between GUAT and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14619.0 and a p-value of 0.0003072686888752197, _we **reject** the null hypothssis_
## Testing Results for GUAT against FR 
GUAT has a success rate of 0.9705882352941176
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between GUAT and FR
$H_{A}$: There is a difference between GUAT and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7389899173902927 and a p-value of 0.08257928056410906, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18097.0 and a p-value of 0.08272607103686486, _we failed to reject the null hypothssis_
## Testing Results for GUAT against GER 
GUAT has a success rate of 0.9705882352941176
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between GUAT and GER
$H_{A}$: There is a difference between GUAT and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.32333710275238536 and a p-value of 0.7464684120589732, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78066.0 and a p-value of 0.7466521610582137, _we failed to reject the null hypothssis_
## Testing Results for GUAT against HUN 
GUAT has a success rate of 0.9705882352941176
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and HUN
$H_{A}$: There is a difference between GUAT and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9174.0 and a p-value of 0.004257086227696559, _we failed to reject the null hypothssis_
## Testing Results for GUAT against IND 
GUAT has a success rate of 0.9705882352941176
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between GUAT and IND
$H_{A}$: There is a difference between GUAT and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.006517343380663062 and a p-value of 0.9948027027626605, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13806.0 and a p-value of 0.9960958207701575, _we failed to reject the null hypothssis_
## Testing Results for GUAT against INDO 
GUAT has a success rate of 0.9705882352941176
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and INDO
$H_{A}$: There is a difference between GUAT and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9075.0 and a p-value of 0.004469515791984769, _we failed to reject the null hypothssis_
## Testing Results for GUAT against IRAN 
GUAT has a success rate of 0.9705882352941176
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and IRAN
$H_{A}$: There is a difference between GUAT and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7986.0 and a p-value of 0.0076600414420063, _we failed to reject the null hypothssis_
## Testing Results for GUAT against IRAQ 
GUAT has a success rate of 0.9705882352941176
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and IRAQ
$H_{A}$: There is a difference between GUAT and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3498.0 and a p-value of 0.0779918642252742, _we failed to reject the null hypothssis_
## Testing Results for GUAT against ISRA 
GUAT has a success rate of 0.9705882352941176
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and ISRA
$H_{A}$: There is a difference between GUAT and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13200.0 and a p-value of 0.0006050111590236255, _we **reject** the null hypothssis_
## Testing Results for GUAT against ISS 
GUAT has a success rate of 0.9705882352941176
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and ISS
$H_{A}$: There is a difference between GUAT and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6831.0 and a p-value of 0.013663932585102715, _we failed to reject the null hypothssis_
## Testing Results for GUAT against IT 
GUAT has a success rate of 0.9705882352941176
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between GUAT and IT
$H_{A}$: There is a difference between GUAT and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4768428544810634 and a p-value of 0.1400370705197277, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32808.0 and a p-value of 0.14008432990175126, _we failed to reject the null hypothssis_
## Testing Results for GUAT against JPN 
GUAT has a success rate of 0.9705882352941176
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between GUAT and JPN
$H_{A}$: There is a difference between GUAT and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.172874504049621 and a p-value of 1.0658781160817916e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34117.0 and a p-value of 1.5976149543690298e-09, _we **reject** the null hypothssis_
## Testing Results for GUAT against KAZ 
GUAT has a success rate of 0.9705882352941176
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between GUAT and KAZ
$H_{A}$: There is a difference between GUAT and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0311026557955925 and a p-value of 0.30349719178573387, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6074.0 and a p-value of 0.3046794844513593, _we failed to reject the null hypothssis_
## Testing Results for GUAT against KWT 
GUAT has a success rate of 0.9705882352941176
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and KWT
$H_{A}$: There is a difference between GUAT and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4653.0 and a p-value of 0.0419408037322433, _we failed to reject the null hypothssis_
## Testing Results for GUAT against LKA 
GUAT has a success rate of 0.9705882352941176
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and LKA
$H_{A}$: There is a difference between GUAT and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7590.0 and a p-value of 0.009332409111464712, _we failed to reject the null hypothssis_
## Testing Results for GUAT against LTU 
GUAT has a success rate of 0.9705882352941176
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between GUAT and LTU
$H_{A}$: There is a difference between GUAT and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.7743030514228872 and a p-value of 0.43922560118707565, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10730.0 and a p-value of 0.4400423938346175, _we failed to reject the null hypothssis_
## Testing Results for GUAT against MALA 
GUAT has a success rate of 0.9705882352941176
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and MALA
$H_{A}$: There is a difference between GUAT and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8085.0 and a p-value of 0.007292080091119757, _we failed to reject the null hypothssis_
## Testing Results for GUAT against MEX 
GUAT has a success rate of 0.9705882352941176
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and MEX
$H_{A}$: There is a difference between GUAT and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8547.0 and a p-value of 0.005799361050561858, _we failed to reject the null hypothssis_
## Testing Results for GUAT against MUS 
GUAT has a success rate of 0.9705882352941176
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and MUS
$H_{A}$: There is a difference between GUAT and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1089.0 and a p-value of 0.32948818711618977, _we failed to reject the null hypothssis_
## Testing Results for GUAT against MX 
GUAT has a success rate of 0.9705882352941176
MX has a success rate of 0.0
$H_{0}$: There is not a difference between GUAT and MX
$H_{A}$: There is a difference between GUAT and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 47.021271782034994 and a p-value of 4.886866297387934e-53, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18425.0 and a p-value of 1.2300063059262821e-73, _we **reject** the null hypothssis_
## Testing Results for GUAT against NETH 
GUAT has a success rate of 0.9705882352941176
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and NETH
$H_{A}$: There is a difference between GUAT and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9240.0 and a p-value of 0.004121204184989138, _we failed to reject the null hypothssis_
## Testing Results for GUAT against NPL 
GUAT has a success rate of 0.9705882352941176
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and NPL
$H_{A}$: There is a difference between GUAT and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7227.0 and a p-value of 0.011193752528234424, _we failed to reject the null hypothssis_
## Testing Results for GUAT against POL 
GUAT has a success rate of 0.9705882352941176
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between GUAT and POL
$H_{A}$: There is a difference between GUAT and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.46531229422398923 and a p-value of 0.6418916788332989, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16345.0 and a p-value of 0.6426210915838659, _we failed to reject the null hypothssis_
## Testing Results for GUAT against PRC 
GUAT has a success rate of 0.9705882352941176
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between GUAT and PRC
$H_{A}$: There is a difference between GUAT and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.3699301556159544 and a p-value of 0.1708379796047041, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77213.0 and a p-value of 0.17093718332486996, _we failed to reject the null hypothssis_
## Testing Results for GUAT against PRY 
GUAT has a success rate of 0.9705882352941176
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and PRY
$H_{A}$: There is a difference between GUAT and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2112.0 and a p-value of 0.17178344733896145, _we failed to reject the null hypothssis_
## Testing Results for GUAT against ROC 
GUAT has a success rate of 0.9705882352941176
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between GUAT and ROC
$H_{A}$: There is a difference between GUAT and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.409742292286996 and a p-value of 7.712111467832538e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10303.0 and a p-value of 3.0846319496288884e-29, _we **reject** the null hypothssis_
## Testing Results for GUAT against RP 
GUAT has a success rate of 0.9705882352941176
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between GUAT and RP
$H_{A}$: There is a difference between GUAT and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.190594203626756 and a p-value of 2.596101163929337e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36471.0 and a p-value of 3.111295533468898e-07, _we **reject** the null hypothssis_
## Testing Results for GUAT against SAFR 
GUAT has a success rate of 0.9705882352941176
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between GUAT and SAFR
$H_{A}$: There is a difference between GUAT and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1153212276746267 and a p-value of 0.2660511329420984, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4728.0 and a p-value of 0.26639414836436326, _we failed to reject the null hypothssis_
## Testing Results for GUAT against SAUD 
GUAT has a success rate of 0.9705882352941176
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and SAUD
$H_{A}$: There is a difference between GUAT and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3927.0 and a p-value of 0.06176258224724425, _we failed to reject the null hypothssis_
## Testing Results for GUAT against SING 
GUAT has a success rate of 0.9705882352941176
SING has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and SING
$H_{A}$: There is a difference between GUAT and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24024.0 and a p-value of 3.709687877474718e-06, _we **reject** the null hypothssis_
## Testing Results for GUAT against SKOR 
GUAT has a success rate of 0.9705882352941176
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between GUAT and SKOR
$H_{A}$: There is a difference between GUAT and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3378238775237676 and a p-value of 0.18336346539587134, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2150.0 and a p-value of 0.18430326745302528, _we failed to reject the null hypothssis_
## Testing Results for GUAT against SPN 
GUAT has a success rate of 0.9705882352941176
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and SPN
$H_{A}$: There is a difference between GUAT and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22209.0 and a p-value of 8.63676148876706e-06, _we **reject** the null hypothssis_
## Testing Results for GUAT against SVN 
GUAT has a success rate of 0.9705882352941176
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between GUAT and SVN
$H_{A}$: There is a difference between GUAT and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.24870500755269678 and a p-value of 0.8039225029666714, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2939.0 and a p-value of 0.8080819913303539, _we failed to reject the null hypothssis_
## Testing Results for GUAT against SWTZ 
GUAT has a success rate of 0.9705882352941176
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and SWTZ
$H_{A}$: There is a difference between GUAT and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12771.0 and a p-value of 0.0007431821891728391, _we **reject** the null hypothssis_
## Testing Results for GUAT against TBD 
GUAT has a success rate of 0.9705882352941176
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between GUAT and TBD
$H_{A}$: There is a difference between GUAT and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2983328752039256 and a p-value of 0.1948221038659381, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13171.0 and a p-value of 0.1953664859757792, _we failed to reject the null hypothssis_
## Testing Results for GUAT against THAI 
GUAT has a success rate of 0.9705882352941176
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between GUAT and THAI
$H_{A}$: There is a difference between GUAT and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.941403261023071 and a p-value of 0.3474690820502212, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5612.0 and a p-value of 0.3487981429968733, _we failed to reject the null hypothssis_
## Testing Results for GUAT against TURK 
GUAT has a success rate of 0.9705882352941176
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between GUAT and TURK
$H_{A}$: There is a difference between GUAT and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2218215328587174 and a p-value of 0.22578629765306163, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8779.0 and a p-value of 0.04673144190719242, _we failed to reject the null hypothssis_
## Testing Results for GUAT against UAE 
GUAT has a success rate of 0.9705882352941176
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between GUAT and UAE
$H_{A}$: There is a difference between GUAT and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4248870236980304 and a p-value of 0.15883157061429698, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15807.0 and a p-value of 0.00017476561066261478, _we **reject** the null hypothssis_
## Testing Results for GUAT against UK 
GUAT has a success rate of 0.9705882352941176
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between GUAT and UK
$H_{A}$: There is a difference between GUAT and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2257498367494246 and a p-value of 0.22060925479118543, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28258.0 and a p-value of 0.22087610930682167, _we failed to reject the null hypothssis_
## Testing Results for GUAT against UKR 
GUAT has a success rate of 0.9705882352941176
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between GUAT and UKR
$H_{A}$: There is a difference between GUAT and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.566912648061645 and a p-value of 0.5711509248403434, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9113.0 and a p-value of 0.572296006235326, _we failed to reject the null hypothssis_
## Testing Results for GUAT against US 
GUAT has a success rate of 0.9705882352941176
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between GUAT and US
$H_{A}$: There is a difference between GUAT and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5578393374420147 and a p-value of 0.1193261438090073, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 204106.0 and a p-value of 0.11933538036340394, _we failed to reject the null hypothssis_
