# Testing Results For HUN 
$H_{0}$: There is not a difference in collection success against HUN 
$H_{A}$: There is a difference in collection success against HUN
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for HUN against ALG 
HUN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and ALG
$H_{A}$: There is a difference between HUN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ARGN 
HUN has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and ARGN
$H_{A}$: There is a difference between HUN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ASRA 
HUN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and ASRA
$H_{A}$: There is a difference between HUN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against AUS 
HUN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between HUN and AUS
$H_{A}$: There is a difference between HUN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.148972889994774 and a p-value of 2.690888280215691e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48233.0 and a p-value of 1.1535455648633781e-20, _we **reject** the null hypothssis_
## Testing Results for HUN against BEL 
HUN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between HUN and BEL
$H_{A}$: There is a difference between HUN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.898771990567462 and a p-value of 6.901796031771104e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31831.0 and a p-value of 1.185863097728025e-08, _we **reject** the null hypothssis_
## Testing Results for HUN against BRAZ 
HUN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and BRAZ
$H_{A}$: There is a difference between HUN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against CA 
HUN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and CA
$H_{A}$: There is a difference between HUN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against CIS 
HUN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between HUN and CIS
$H_{A}$: There is a difference between HUN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.339627194345675 and a p-value of 4.653537275417948e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 106335.0 and a p-value of 9.314057848087993e-13, _we **reject** the null hypothssis_
## Testing Results for HUN against COL 
HUN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and COL
$H_{A}$: There is a difference between HUN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against DEN 
HUN has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and DEN
$H_{A}$: There is a difference between HUN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ESA 
HUN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between HUN and ESA
$H_{A}$: There is a difference between HUN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3061459829923594 and a p-value of 0.02163717752997162, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15012.0 and a p-value of 0.022071829857478666, _we failed to reject the null hypothssis_
## Testing Results for HUN against EST 
HUN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between HUN and EST
$H_{A}$: There is a difference between HUN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6614608111733298 and a p-value of 0.008177899614971477, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5699.0 and a p-value of 0.00861914139622507, _we failed to reject the null hypothssis_
## Testing Results for HUN against EUME 
HUN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and EUME
$H_{A}$: There is a difference between HUN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against FIN 
HUN has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and FIN
$H_{A}$: There is a difference between HUN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against FR 
HUN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between HUN and FR
$H_{A}$: There is a difference between HUN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.294651700052064 and a p-value of 1.5533293161552362e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76033.0 and a p-value of 1.944281826158632e-07, _we **reject** the null hypothssis_
## Testing Results for HUN against GER 
HUN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between HUN and GER
$H_{A}$: There is a difference between HUN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5785873898501013 and a p-value of 0.00997533511851073, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 328596.0 and a p-value of 0.010006487465963537, _we failed to reject the null hypothssis_
## Testing Results for HUN against GUAT 
HUN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between HUN and GUAT
$H_{A}$: There is a difference between HUN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.894053797241463 and a p-value of 0.004045640153424706, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9730.0 and a p-value of 0.004257086227696559, _we failed to reject the null hypothssis_
## Testing Results for HUN against IND 
HUN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between HUN and IND
$H_{A}$: There is a difference between HUN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9055546374759618 and a p-value of 0.0037848003642675138, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58102.0 and a p-value of 0.0038648563870042666, _we failed to reject the null hypothssis_
## Testing Results for HUN against INDO 
HUN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and INDO
$H_{A}$: There is a difference between HUN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against IRAN 
HUN has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and IRAN
$H_{A}$: There is a difference between HUN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against IRAQ 
HUN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and IRAQ
$H_{A}$: There is a difference between HUN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ISRA 
HUN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and ISRA
$H_{A}$: There is a difference between HUN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ISS 
HUN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and ISS
$H_{A}$: There is a difference between HUN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against IT 
HUN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between HUN and IT
$H_{A}$: There is a difference between HUN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.85431439925014 and a p-value of 1.367749463299078e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 137888.0 and a p-value of 1.51719660897843e-06, _we **reject** the null hypothssis_
## Testing Results for HUN against JPN 
HUN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between HUN and JPN
$H_{A}$: There is a difference between HUN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.553908025696565 and a p-value of 1.4299051829754643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 142475.0 and a p-value of 1.054943601413668e-35, _we **reject** the null hypothssis_
## Testing Results for HUN against KAZ 
HUN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between HUN and KAZ
$H_{A}$: There is a difference between HUN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7536986449210838 and a p-value of 0.08015103019228081, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25576.0 and a p-value of 0.08070671839737402, _we failed to reject the null hypothssis_
## Testing Results for HUN against KWT 
HUN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and KWT
$H_{A}$: There is a difference between HUN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against LKA 
HUN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and LKA
$H_{A}$: There is a difference between HUN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against LTU 
HUN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between HUN and LTU
$H_{A}$: There is a difference between HUN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.097126659033064 and a p-value of 0.03640310686359242, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45175.0 and a p-value of 0.03664660271127176, _we failed to reject the null hypothssis_
## Testing Results for HUN against MALA 
HUN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and MALA
$H_{A}$: There is a difference between HUN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against MEX 
HUN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and MEX
$H_{A}$: There is a difference between HUN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against MUS 
HUN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and MUS
$H_{A}$: There is a difference between HUN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against MX 
HUN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between HUN and MX
$H_{A}$: There is a difference between HUN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76450.0 and a p-value of 4.6564152824144847e-122, _we **reject** the null hypothssis_
## Testing Results for HUN against NETH 
HUN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and NETH
$H_{A}$: There is a difference between HUN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against NPL 
HUN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and NPL
$H_{A}$: There is a difference between HUN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against POL 
HUN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between HUN and POL
$H_{A}$: There is a difference between HUN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4160485247385175 and a p-value of 0.015924426794458633, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68805.0 and a p-value of 0.016059972217756173, _we failed to reject the null hypothssis_
## Testing Results for HUN against PRC 
HUN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between HUN and PRC
$H_{A}$: There is a difference between HUN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7770854389111226 and a p-value of 0.07567156405149902, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 325121.0 and a p-value of 0.0757164703271888, _we failed to reject the null hypothssis_
## Testing Results for HUN against PRY 
HUN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and PRY
$H_{A}$: There is a difference between HUN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against ROC 
HUN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between HUN and ROC
$H_{A}$: There is a difference between HUN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 35.80926562842541 and a p-value of 3.867633718823197e-133, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42812.0 and a p-value of 5.588508194619879e-74, _we **reject** the null hypothssis_
## Testing Results for HUN against RP 
HUN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between HUN and RP
$H_{A}$: There is a difference between HUN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.598005214200317 and a p-value of 1.9876371779531585e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 152483.0 and a p-value of 6.332388842748868e-28, _we **reject** the null hypothssis_
## Testing Results for HUN against SAFR 
HUN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between HUN and SAFR
$H_{A}$: There is a difference between HUN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.46305220129188 and a p-value of 1.0454677464949709e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19877.0 and a p-value of 1.2887670110820653e-05, _we **reject** the null hypothssis_
## Testing Results for HUN against SAUD 
HUN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and SAUD
$H_{A}$: There is a difference between HUN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against SING 
HUN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and SING
$H_{A}$: There is a difference between HUN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against SKOR 
HUN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between HUN and SKOR
$H_{A}$: There is a difference between HUN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.01230331362737 and a p-value of 8.717253628783393e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9035.0 and a p-value of 1.3081310112189967e-06, _we **reject** the null hypothssis_
## Testing Results for HUN against SPN 
HUN has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and SPN
$H_{A}$: There is a difference between HUN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against SVN 
HUN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between HUN and SVN
$H_{A}$: There is a difference between HUN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5505557056719375 and a p-value of 0.011164973747307063, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12371.0 and a p-value of 0.011506418856332516, _we failed to reject the null hypothssis_
## Testing Results for HUN against SWTZ 
HUN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and SWTZ
$H_{A}$: There is a difference between HUN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against TBD 
HUN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between HUN and TBD
$H_{A}$: There is a difference between HUN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6839056064566114 and a p-value of 0.0926650018496762, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55461.0 and a p-value of 0.09293818952953976, _we failed to reject the null hypothssis_
## Testing Results for HUN against THAI 
HUN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between HUN and THAI
$H_{A}$: There is a difference between HUN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8260278941531185 and a p-value of 0.06851750031168123, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23630.0 and a p-value of 0.0690669556440797, _we failed to reject the null hypothssis_
## Testing Results for HUN against TURK 
HUN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between HUN and TURK
$H_{A}$: There is a difference between HUN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0242810836768674 and a p-value of 0.30616030468622196, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36974.0 and a p-value of 0.3074675249269039, _we failed to reject the null hypothssis_
## Testing Results for HUN against UAE 
HUN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between HUN and UAE
$H_{A}$: There is a difference between HUN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for HUN against UK 
HUN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between HUN and UK
$H_{A}$: There is a difference between HUN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.82193354517715 and a p-value of 0.0687311960460118, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118984.0 and a p-value of 0.06885038863401502, _we failed to reject the null hypothssis_
## Testing Results for HUN against UKR 
HUN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between HUN and UKR
$H_{A}$: There is a difference between HUN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2817815949558864 and a p-value of 0.022885518292453215, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38364.0 and a p-value of 0.023120431143061487, _we failed to reject the null hypothssis_
## Testing Results for HUN against US 
HUN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between HUN and US
$H_{A}$: There is a difference between HUN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.952991508029198 and a p-value of 7.508790639452848e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 857769.0 and a p-value of 7.683301983763165e-07, _we **reject** the null hypothssis_
