# Testing Results For IND 
$H_{0}$: There is not a difference in collection success against IND 
$H_{A}$: There is a difference in collection success against IND
Out of 54 tests, there were 38 rejections from 54 independent-t test.
Out of 54 tests, there were 19 rejections from 54 Man Whitney u-tests.
## Testing Results for IND against ALG 
IND has a success rate of 0.9704433497536946
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between IND and ALG
$H_{A}$: There is a difference between IND and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19109.0 and a p-value of 0.08715290342694194, _we failed to reject the null hypothssis_
## Testing Results for IND against ARGN 
IND has a success rate of 0.9704433497536946
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and ARGN
$H_{A}$: There is a difference between IND and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 83331.0 and a p-value of 0.00037240456646041076, _we **reject** the null hypothssis_
## Testing Results for IND against ASRA 
IND has a success rate of 0.9704433497536946
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between IND and ASRA
$H_{A}$: There is a difference between IND and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53781.0 and a p-value of 0.0041959012150513545, _we failed to reject the null hypothssis_
## Testing Results for IND against AUS 
IND has a success rate of 0.9704433497536946
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between IND and AUS
$H_{A}$: There is a difference between IND and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.913410735580943 and a p-value of 1.009341775300236e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68803.0 and a p-value of 1.8562886525074305e-20, _we **reject** the null hypothssis_
## Testing Results for IND against BEL 
IND has a success rate of 0.9704433497536946
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between IND and BEL
$H_{A}$: There is a difference between IND and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.185015549910467 and a p-value of 3.270917802599457e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45251.0 and a p-value of 3.643789298932476e-05, _we **reject** the null hypothssis_
## Testing Results for IND against BRAZ 
IND has a success rate of 0.9704433497536946
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between IND and BRAZ
$H_{A}$: There is a difference between IND and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85498.0 and a p-value of 0.0003126559704234077, _we **reject** the null hypothssis_
## Testing Results for IND against CA 
IND has a success rate of 0.9704433497536946
CA has a success rate of 1.0
$H_{0}$: There is not a difference between IND and CA
$H_{A}$: There is a difference between IND and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45901.0 and a p-value of 0.008139563798574338, _we failed to reject the null hypothssis_
## Testing Results for IND against CIS 
IND has a success rate of 0.9704433497536946
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between IND and CIS
$H_{A}$: There is a difference between IND and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.828386363011794 and a p-value of 1.4423713078711526e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 151347.0 and a p-value of 2.2902938671209096e-11, _we **reject** the null hypothssis_
## Testing Results for IND against COL 
IND has a success rate of 0.9704433497536946
COL has a success rate of 1.0
$H_{0}$: There is not a difference between IND and COL
$H_{A}$: There is a difference between IND and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12017.0 and a p-value of 0.1747750233092885, _we failed to reject the null hypothssis_
## Testing Results for IND against DEN 
IND has a success rate of 0.9704433497536946
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and DEN
$H_{A}$: There is a difference between IND and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34081.0 and a p-value of 0.022489911269149742, _we failed to reject the null hypothssis_
## Testing Results for IND against ESA 
IND has a success rate of 0.9704433497536946
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between IND and ESA
$H_{A}$: There is a difference between IND and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.5999312329960799 and a p-value of 0.5488185208611764, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21288.0 and a p-value of 0.5491713443765249, _we failed to reject the null hypothssis_
## Testing Results for IND against EST 
IND has a success rate of 0.9704433497536946
EST has a success rate of 0.975
$H_{0}$: There is not a difference between IND and EST
$H_{A}$: There is a difference between IND and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.16309009139156075 and a p-value of 0.8705217047985694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8083.0 and a p-value of 0.8720442357268718, _we failed to reject the null hypothssis_
## Testing Results for IND against EUME 
IND has a success rate of 0.9704433497536946
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between IND and EUME
$H_{A}$: There is a difference between IND and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 108350.0 and a p-value of 5.0198474034079394e-05, _we **reject** the null hypothssis_
## Testing Results for IND against FIN 
IND has a success rate of 0.9704433497536946
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and FIN
$H_{A}$: There is a difference between IND and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 87271.0 and a p-value of 0.00027103073819961993, _we **reject** the null hypothssis_
## Testing Results for IND against FR 
IND has a success rate of 0.9704433497536946
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between IND and FR
$H_{A}$: There is a difference between IND and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.837519033837509 and a p-value of 0.00013291733443387773, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 108035.0 and a p-value of 0.00013982709974137412, _we **reject** the null hypothssis_
## Testing Results for IND against GER 
IND has a success rate of 0.9704433497536946
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between IND and GER
$H_{A}$: There is a difference between IND and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.7456136725152911 and a p-value of 0.4559653902325812, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 466032.0 and a p-value of 0.45594171223895896, _we failed to reject the null hypothssis_
## Testing Results for IND against GUAT 
IND has a success rate of 0.9704433497536946
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between IND and GUAT
$H_{A}$: There is a difference between IND and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.006517343380663062 and a p-value of 0.9948027027626605, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13802.0 and a p-value of 0.9960958207701575, _we failed to reject the null hypothssis_
## Testing Results for IND against HUN 
IND has a success rate of 0.9704433497536946
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and HUN
$H_{A}$: There is a difference between IND and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54766.0 and a p-value of 0.0038648563870042666, _we failed to reject the null hypothssis_
## Testing Results for IND against INDO 
IND has a success rate of 0.9704433497536946
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between IND and INDO
$H_{A}$: There is a difference between IND and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54175.0 and a p-value of 0.004060146449414157, _we failed to reject the null hypothssis_
## Testing Results for IND against IRAN 
IND has a success rate of 0.9704433497536946
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and IRAN
$H_{A}$: There is a difference between IND and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47674.0 and a p-value of 0.0070060809969781125, _we failed to reject the null hypothssis_
## Testing Results for IND against IRAQ 
IND has a success rate of 0.9704433497536946
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between IND and IRAQ
$H_{A}$: There is a difference between IND and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20882.0 and a p-value of 0.07377805927261266, _we failed to reject the null hypothssis_
## Testing Results for IND against ISRA 
IND has a success rate of 0.9704433497536946
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between IND and ISRA
$H_{A}$: There is a difference between IND and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78800.0 and a p-value of 0.0005373257643820987, _we **reject** the null hypothssis_
## Testing Results for IND against ISS 
IND has a success rate of 0.9704433497536946
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between IND and ISS
$H_{A}$: There is a difference between IND and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40779.0 and a p-value of 0.012594523718329717, _we failed to reject the null hypothssis_
## Testing Results for IND against IT 
IND has a success rate of 0.9704433497536946
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between IND and IT
$H_{A}$: There is a difference between IND and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3675892308919653 and a p-value of 0.000780053359199639, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 195856.0 and a p-value of 0.0007955441172665066, _we **reject** the null hypothssis_
## Testing Results for IND against JPN 
IND has a success rate of 0.9704433497536946
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between IND and JPN
$H_{A}$: There is a difference between IND and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.6870871772865 and a p-value of 7.59450034665302e-45, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 203677.0 and a p-value of 2.316504428107598e-41, _we **reject** the null hypothssis_
## Testing Results for IND against KAZ 
IND has a success rate of 0.9704433497536946
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between IND and KAZ
$H_{A}$: There is a difference between IND and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.365129064377848 and a p-value of 0.17273634058977458, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36260.0 and a p-value of 0.17284099490812344, _we failed to reject the null hypothssis_
## Testing Results for IND against KWT 
IND has a success rate of 0.9704433497536946
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between IND and KWT
$H_{A}$: There is a difference between IND and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27777.0 and a p-value of 0.039293148423844224, _we failed to reject the null hypothssis_
## Testing Results for IND against LKA 
IND has a success rate of 0.9704433497536946
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between IND and LKA
$H_{A}$: There is a difference between IND and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45310.0 and a p-value of 0.008557825875118902, _we failed to reject the null hypothssis_
## Testing Results for IND against LTU 
IND has a success rate of 0.9704433497536946
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between IND and LTU
$H_{A}$: There is a difference between IND and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2320179832008489 and a p-value of 0.21834233851208235, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64055.0 and a p-value of 0.21836110066867198, _we failed to reject the null hypothssis_
## Testing Results for IND against MALA 
IND has a success rate of 0.9704433497536946
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between IND and MALA
$H_{A}$: There is a difference between IND and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48265.0 and a p-value of 0.006665277581584836, _we failed to reject the null hypothssis_
## Testing Results for IND against MEX 
IND has a success rate of 0.9704433497536946
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between IND and MEX
$H_{A}$: There is a difference between IND and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51023.0 and a p-value of 0.005285359476123948, _we failed to reject the null hypothssis_
## Testing Results for IND against MUS 
IND has a success rate of 0.9704433497536946
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between IND and MUS
$H_{A}$: There is a difference between IND and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6501.0 and a p-value of 0.3184141208534228, _we failed to reject the null hypothssis_
## Testing Results for IND against MX 
IND has a success rate of 0.9704433497536946
MX has a success rate of 0.0
$H_{0}$: There is not a difference between IND and MX
$H_{A}$: There is a difference between IND and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 115.31478656269543 and a p-value of 8.16784344528e-312, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110000.0 and a p-value of 1.5812684411899826e-139, _we **reject** the null hypothssis_
## Testing Results for IND against NETH 
IND has a success rate of 0.9704433497536946
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between IND and NETH
$H_{A}$: There is a difference between IND and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55160.0 and a p-value of 0.003740006016485126, _we failed to reject the null hypothssis_
## Testing Results for IND against NPL 
IND has a success rate of 0.9704433497536946
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between IND and NPL
$H_{A}$: There is a difference between IND and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43143.0 and a p-value of 0.010289673714972943, _we failed to reject the null hypothssis_
## Testing Results for IND against POL 
IND has a success rate of 0.9704433497536946
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between IND and POL
$H_{A}$: There is a difference between IND and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.855632326946844 and a p-value of 0.39243172850347363, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97575.0 and a p-value of 0.3923989783086115, _we failed to reject the null hypothssis_
## Testing Results for IND against PRC 
IND has a success rate of 0.9704433497536946
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between IND and PRC
$H_{A}$: There is a difference between IND and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.903051510700778 and a p-value of 0.0037252355694146638, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 460939.0 and a p-value of 0.0037444521143469613, _we failed to reject the null hypothssis_
## Testing Results for IND against PRY 
IND has a success rate of 0.9704433497536946
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between IND and PRY
$H_{A}$: There is a difference between IND and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12608.0 and a p-value of 0.1645379945762656, _we failed to reject the null hypothssis_
## Testing Results for IND against ROC 
IND has a success rate of 0.9704433497536946
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between IND and ROC
$H_{A}$: There is a difference between IND and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 34.40421362977151 and a p-value of 1.648250744971649e-141, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61510.0 and a p-value of 4.2140982732280854e-86, _we **reject** the null hypothssis_
## Testing Results for IND against RP 
IND has a success rate of 0.9704433497536946
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between IND and RP
$H_{A}$: There is a difference between IND and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.358738691102793 and a p-value of 3.694675594217836e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 217729.0 and a p-value of 2.008758626461116e-31, _we **reject** the null hypothssis_
## Testing Results for IND against SAFR 
IND has a success rate of 0.9704433497536946
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between IND and SAFR
$H_{A}$: There is a difference between IND and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9558091920705956 and a p-value of 0.05100477693517752, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28225.0 and a p-value of 0.05120591099307711, _we failed to reject the null hypothssis_
## Testing Results for IND against SAUD 
IND has a success rate of 0.9704433497536946
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between IND and SAUD
$H_{A}$: There is a difference between IND and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23443.0 and a p-value of 0.05821121135835331, _we failed to reject the null hypothssis_
## Testing Results for IND against SING 
IND has a success rate of 0.9704433497536946
SING has a success rate of 1.0
$H_{0}$: There is not a difference between IND and SING
$H_{A}$: There is a difference between IND and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 143416.0 and a p-value of 3.149557638276735e-06, _we **reject** the null hypothssis_
## Testing Results for IND against SKOR 
IND has a success rate of 0.9704433497536946
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between IND and SKOR
$H_{A}$: There is a difference between IND and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0790141316412853 and a p-value of 0.03816480224211275, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12835.0 and a p-value of 0.03844810236875582, _we failed to reject the null hypothssis_
## Testing Results for IND against SPN 
IND has a success rate of 0.9704433497536946
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between IND and SPN
$H_{A}$: There is a difference between IND and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132581.0 and a p-value of 7.381565831443907e-06, _we **reject** the null hypothssis_
## Testing Results for IND against SVN 
IND has a success rate of 0.9704433497536946
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between IND and SVN
$H_{A}$: There is a difference between IND and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.3340593728485691 and a p-value of 0.7384773879302273, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17545.0 and a p-value of 0.7391945402365299, _we failed to reject the null hypothssis_
## Testing Results for IND against SWTZ 
IND has a success rate of 0.9704433497536946
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between IND and SWTZ
$H_{A}$: There is a difference between IND and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76239.0 and a p-value of 0.0006614597369043463, _we **reject** the null hypothssis_
## Testing Results for IND against TBD 
IND has a success rate of 0.9704433497536946
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between IND and TBD
$H_{A}$: There is a difference between IND and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9672688693414135 and a p-value of 0.04949781381052486, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78627.0 and a p-value of 0.04963233056045495, _we failed to reject the null hypothssis_
## Testing Results for IND against THAI 
IND has a success rate of 0.9704433497536946
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between IND and THAI
$H_{A}$: There is a difference between IND and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2469190498962157 and a p-value of 0.21293751545639833, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33502.0 and a p-value of 0.2130285958055248, _we failed to reject the null hypothssis_
## Testing Results for IND against TURK 
IND has a success rate of 0.9704433497536946
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between IND and TURK
$H_{A}$: There is a difference between IND and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.7955417837544245 and a p-value of 0.005362274914257556, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52408.0 and a p-value of 0.017980927412723773, _we failed to reject the null hypothssis_
## Testing Results for IND against UAE 
IND has a success rate of 0.9704433497536946
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between IND and UAE
$H_{A}$: There is a difference between IND and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5121254790668615 and a p-value of 0.0004945888111044684, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 94363.0 and a p-value of 0.0001533161808109417, _we **reject** the null hypothssis_
## Testing Results for IND against UK 
IND has a success rate of 0.9704433497536946
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between IND and UK
$H_{A}$: There is a difference between IND and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2385747660975093 and a p-value of 0.025359045989603212, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 168692.0 and a p-value of 0.02544180682820218, _we failed to reject the null hypothssis_
## Testing Results for IND against UKR 
IND has a success rate of 0.9704433497536946
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between IND and UKR
$H_{A}$: There is a difference between IND and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9041527956185024 and a p-value of 0.36623695731918204, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54402.0 and a p-value of 0.3662420865443414, _we failed to reject the null hypothssis_
## Testing Results for IND against US 
IND has a success rate of 0.9704433497536946
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between IND and US
$H_{A}$: There is a difference between IND and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.753542056211576 and a p-value of 0.000175970430155051, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1218465.0 and a p-value of 0.00017718848724318227, _we **reject** the null hypothssis_
