# Testing Results For INDO 
$H_{0}$: There is not a difference in collection success against INDO 
$H_{A}$: There is a difference in collection success against INDO
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for INDO against ALG 
INDO has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and ALG
$H_{A}$: There is a difference between INDO and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ARGN 
INDO has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and ARGN
$H_{A}$: There is a difference between INDO and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ASRA 
INDO has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and ASRA
$H_{A}$: There is a difference between INDO and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against AUS 
INDO has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between INDO and AUS
$H_{A}$: There is a difference between INDO and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.09396305152064 and a p-value of 4.41344188456884e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47712.5 and a p-value of 1.7868553830600717e-20, _we **reject** the null hypothssis_
## Testing Results for INDO against BEL 
INDO has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between INDO and BEL
$H_{A}$: There is a difference between INDO and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.866781834298955 and a p-value of 8.296868600600099e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31487.5 and a p-value of 1.413592262350266e-08, _we **reject** the null hypothssis_
## Testing Results for INDO against BRAZ 
INDO has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and BRAZ
$H_{A}$: There is a difference between INDO and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against CA 
INDO has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and CA
$H_{A}$: There is a difference between INDO and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against CIS 
INDO has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between INDO and CIS
$H_{A}$: There is a difference between INDO and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.299892337096507 and a p-value of 6.171896701810092e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 105187.5 and a p-value of 1.219813708243518e-12, _we **reject** the null hypothssis_
## Testing Results for INDO against COL 
INDO has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and COL
$H_{A}$: There is a difference between INDO and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against DEN 
INDO has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and DEN
$H_{A}$: There is a difference between INDO and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ESA 
INDO has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between INDO and ESA
$H_{A}$: There is a difference between INDO and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.293621718048496 and a p-value of 0.022358818223792907, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14850.0 and a p-value of 0.022802751648306505, _we failed to reject the null hypothssis_
## Testing Results for INDO against EST 
INDO has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between INDO and EST
$H_{A}$: There is a difference between INDO and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.646981678537277 and a p-value of 0.008532268649912102, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5637.5 and a p-value of 0.00898859807023177, _we failed to reject the null hypothssis_
## Testing Results for INDO against EUME 
INDO has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and EUME
$H_{A}$: There is a difference between INDO and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against FIN 
INDO has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and FIN
$H_{A}$: There is a difference between INDO and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against FR 
INDO has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between INDO and FR
$H_{A}$: There is a difference between INDO and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.265979742956011 and a p-value of 1.8084004579058853e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75212.5 and a p-value of 2.254343645546804e-07, _we **reject** the null hypothssis_
## Testing Results for INDO against GER 
INDO has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between INDO and GER
$H_{A}$: There is a difference between INDO and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5646352579534026 and a p-value of 0.010384474295454615, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 325050.0 and a p-value of 0.010416141843067946, _we failed to reject the null hypothssis_
## Testing Results for INDO against GUAT 
INDO has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between INDO and GUAT
$H_{A}$: There is a difference between INDO and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.878322856876195 and a p-value of 0.004250134546664224, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9625.0 and a p-value of 0.004469515791984769, _we failed to reject the null hypothssis_
## Testing Results for INDO against HUN 
INDO has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and HUN
$H_{A}$: There is a difference between INDO and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against IND 
INDO has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between INDO and IND
$H_{A}$: There is a difference between INDO and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8898159927914113 and a p-value of 0.003977637853200793, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57475.0 and a p-value of 0.004060146449414157, _we failed to reject the null hypothssis_
## Testing Results for INDO against IRAN 
INDO has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and IRAN
$H_{A}$: There is a difference between INDO and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against IRAQ 
INDO has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and IRAQ
$H_{A}$: There is a difference between INDO and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ISRA 
INDO has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and ISRA
$H_{A}$: There is a difference between INDO and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ISS 
INDO has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and ISS
$H_{A}$: There is a difference between INDO and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against IT 
INDO has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between INDO and IT
$H_{A}$: There is a difference between INDO and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.828040874389056 and a p-value of 1.5576140402650474e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 136400.0 and a p-value of 1.724271131601435e-06, _we **reject** the null hypothssis_
## Testing Results for INDO against JPN 
INDO has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between INDO and JPN
$H_{A}$: There is a difference between INDO and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.480537293501486 and a p-value of 3.392651695921426e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 140937.5 and a p-value of 2.2361421130396143e-35, _we **reject** the null hypothssis_
## Testing Results for INDO against KAZ 
INDO has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between INDO and KAZ
$H_{A}$: There is a difference between INDO and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7441855753264142 and a p-value of 0.08180202331717394, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25300.0 and a p-value of 0.0823644331202429, _we failed to reject the null hypothssis_
## Testing Results for INDO against KWT 
INDO has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and KWT
$H_{A}$: There is a difference between INDO and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against LKA 
INDO has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and LKA
$H_{A}$: There is a difference between INDO and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against LTU 
INDO has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between INDO and LTU
$H_{A}$: There is a difference between INDO and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0857628890644366 and a p-value of 0.03742698799937986, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44687.5 and a p-value of 0.03767320329656236, _we failed to reject the null hypothssis_
## Testing Results for INDO against MALA 
INDO has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and MALA
$H_{A}$: There is a difference between INDO and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against MEX 
INDO has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and MEX
$H_{A}$: There is a difference between INDO and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against MUS 
INDO has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and MUS
$H_{A}$: There is a difference between INDO and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against MX 
INDO has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between INDO and MX
$H_{A}$: There is a difference between INDO and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75625.0 and a p-value of 2.0926161673468197e-121, _we **reject** the null hypothssis_
## Testing Results for INDO against NETH 
INDO has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and NETH
$H_{A}$: There is a difference between INDO and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against NPL 
INDO has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and NPL
$H_{A}$: There is a difference between INDO and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against POL 
INDO has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between INDO and POL
$H_{A}$: There is a difference between INDO and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4029644664761136 and a p-value of 0.016502129234645488, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68062.5 and a p-value of 0.01663980615601802, _we failed to reject the null hypothssis_
## Testing Results for INDO against PRC 
INDO has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between INDO and PRC
$H_{A}$: There is a difference between INDO and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7674700480212358 and a p-value of 0.07726745541904483, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 321612.5 and a p-value of 0.07731236315554882, _we failed to reject the null hypothssis_
## Testing Results for INDO against PRY 
INDO has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and PRY
$H_{A}$: There is a difference between INDO and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against ROC 
INDO has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between INDO and ROC
$H_{A}$: There is a difference between INDO and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 35.61498528958249 and a p-value of 5.831363311615903e-132, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42350.0 and a p-value of 2.0342657535555088e-73, _we **reject** the null hypothssis_
## Testing Results for INDO against RP 
INDO has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between INDO and RP
$H_{A}$: There is a difference between INDO and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.53522783326381 and a p-value of 3.852890908607446e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 150837.5 and a p-value of 1.1541242496326458e-27, _we **reject** the null hypothssis_
## Testing Results for INDO against SAFR 
INDO has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between INDO and SAFR
$H_{A}$: There is a difference between INDO and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.438826250722995 and a p-value of 1.1663435797005575e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19662.5 and a p-value of 1.4332698242200762e-05, _we **reject** the null hypothssis_
## Testing Results for INDO against SAUD 
INDO has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and SAUD
$H_{A}$: There is a difference between INDO and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against SING 
INDO has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and SING
$H_{A}$: There is a difference between INDO and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against SKOR 
INDO has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between INDO and SKOR
$H_{A}$: There is a difference between INDO and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.985052283442646 and a p-value of 9.982849946747977e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8937.5 and a p-value of 1.4901023240919542e-06, _we **reject** the null hypothssis_
## Testing Results for INDO against SPN 
INDO has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and SPN
$H_{A}$: There is a difference between INDO and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against SVN 
INDO has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between INDO and SVN
$H_{A}$: There is a difference between INDO and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5366984702604594 and a p-value of 0.011612013453309906, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12237.5 and a p-value of 0.011962839048210572, _we failed to reject the null hypothssis_
## Testing Results for INDO against SWTZ 
INDO has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and SWTZ
$H_{A}$: There is a difference between INDO and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against TBD 
INDO has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between INDO and TBD
$H_{A}$: There is a difference between INDO and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6747839635544584 and a p-value of 0.09444467050787198, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54862.5 and a p-value of 0.0947199325629321, _we failed to reject the null hypothssis_
## Testing Results for INDO against THAI 
INDO has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between INDO and THAI
$H_{A}$: There is a difference between INDO and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8161207997190347 and a p-value of 0.07003070239328194, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23375.0 and a p-value of 0.07058721143656412, _we failed to reject the null hypothssis_
## Testing Results for INDO against TURK 
INDO has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between INDO and TURK
$H_{A}$: There is a difference between INDO and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0187289344940138 and a p-value of 0.3087895588855338, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36575.0 and a p-value of 0.31011113415449376, _we failed to reject the null hypothssis_
## Testing Results for INDO against UAE 
INDO has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between INDO and UAE
$H_{A}$: There is a difference between INDO and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for INDO against UK 
INDO has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between INDO and UK
$H_{A}$: There is a difference between INDO and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8120719809318102 and a p-value of 0.07024302370552832, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117700.0 and a p-value of 0.07036262142319152, _we failed to reject the null hypothssis_
## Testing Results for INDO against UKR 
INDO has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between INDO and UKR
$H_{A}$: There is a difference between INDO and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.26941363196421 and a p-value of 0.023633824405519567, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37950.0 and a p-value of 0.023872344961611235, _we failed to reject the null hypothssis_
## Testing Results for INDO against US 
INDO has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between INDO and US
$H_{A}$: There is a difference between INDO and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.926193830042281 and a p-value of 8.610213898779628e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 848512.5 and a p-value of 8.805901331216861e-07, _we **reject** the null hypothssis_
