# Testing Results For IRAQ 
$H_{0}$: There is not a difference in collection success against IRAQ 
$H_{A}$: There is a difference in collection success against IRAQ
Out of 54 tests, there were 7 rejections from 54 independent-t test.
Out of 54 tests, there were 7 rejections from 54 Man Whitney u-tests.
## Testing Results for IRAQ against ALG 
IRAQ has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and ALG
$H_{A}$: There is a difference between IRAQ and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ARGN 
IRAQ has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and ARGN
$H_{A}$: There is a difference between IRAQ and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ASRA 
IRAQ has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and ASRA
$H_{A}$: There is a difference between IRAQ and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against AUS 
IRAQ has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between IRAQ and AUS
$H_{A}$: There is a difference between IRAQ and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.261715395902949 and a p-value of 1.0379209380894627e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18391.0 and a p-value of 2.4222473951661687e-09, _we **reject** the null hypothssis_
## Testing Results for IRAQ against BEL 
IRAQ has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between IRAQ and BEL
$H_{A}$: There is a difference between IRAQ and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.638269416022089 and a p-value of 0.00032139919556630056, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12137.0 and a p-value of 0.00036071568451650257, _we **reject** the null hypothssis_
## Testing Results for IRAQ against BRAZ 
IRAQ has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and BRAZ
$H_{A}$: There is a difference between IRAQ and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against CA 
IRAQ has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and CA
$H_{A}$: There is a difference between IRAQ and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against CIS 
IRAQ has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between IRAQ and CIS
$H_{A}$: There is a difference between IRAQ and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.531060159780393 and a p-value of 6.811204770886482e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40545.0 and a p-value of 7.685420959665347e-06, _we **reject** the null hypothssis_
## Testing Results for IRAQ against COL 
IRAQ has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and COL
$H_{A}$: There is a difference between IRAQ and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against DEN 
IRAQ has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and DEN
$H_{A}$: There is a difference between IRAQ and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ESA 
IRAQ has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between IRAQ and ESA
$H_{A}$: There is a difference between IRAQ and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.420996400147013 and a p-value of 0.1568009896870165, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5724.0 and a p-value of 0.15827703478094124, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against EST 
IRAQ has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between IRAQ and EST
$H_{A}$: There is a difference between IRAQ and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.63728938912162 and a p-value of 0.10375351368614465, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2173.0 and a p-value of 0.10684781345090104, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against EUME 
IRAQ has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and EUME
$H_{A}$: There is a difference between IRAQ and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against FIN 
IRAQ has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and FIN
$H_{A}$: There is a difference between IRAQ and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against FR 
IRAQ has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between IRAQ and FR
$H_{A}$: There is a difference between IRAQ and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2682065190040905 and a p-value of 0.001143641755817194, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28991.0 and a p-value of 0.0011880045558226918, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against GER 
IRAQ has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between IRAQ and GER
$H_{A}$: There is a difference between IRAQ and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5922103137608563 and a p-value of 0.11146838284483909, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 125292.0 and a p-value of 0.11151364190837022, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against GUAT 
IRAQ has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between IRAQ and GUAT
$H_{A}$: There is a difference between IRAQ and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7819091667783058 and a p-value of 0.0765283891253961, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3710.0 and a p-value of 0.0779918642252742, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against HUN 
IRAQ has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and HUN
$H_{A}$: There is a difference between IRAQ and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against IND 
IRAQ has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between IRAQ and IND
$H_{A}$: There is a difference between IRAQ and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7932694597661396 and a p-value of 0.07352222784835873, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22154.0 and a p-value of 0.07377805927261266, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against INDO 
IRAQ has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and INDO
$H_{A}$: There is a difference between IRAQ and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against IRAN 
IRAQ has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and IRAN
$H_{A}$: There is a difference between IRAQ and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ISRA 
IRAQ has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and ISRA
$H_{A}$: There is a difference between IRAQ and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ISS 
IRAQ has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and ISS
$H_{A}$: There is a difference between IRAQ and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against IT 
IRAQ has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between IRAQ and IT
$H_{A}$: There is a difference between IRAQ and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9970745970614194 and a p-value of 0.0027915685612655856, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52576.0 and a p-value of 0.0028350334146001127, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against JPN 
IRAQ has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between IRAQ and JPN
$H_{A}$: There is a difference between IRAQ and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.367713695077677 and a p-value of 2.4484304243847787e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54325.0 and a p-value of 8.781632541285163e-16, _we **reject** the null hypothssis_
## Testing Results for IRAQ against KAZ 
IRAQ has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between IRAQ and KAZ
$H_{A}$: There is a difference between IRAQ and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0814798959907164 and a p-value of 0.28039474224761085, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9752.0 and a p-value of 0.28190011887255373, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against KWT 
IRAQ has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and KWT
$H_{A}$: There is a difference between IRAQ and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against LKA 
IRAQ has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and LKA
$H_{A}$: There is a difference between IRAQ and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against LTU 
IRAQ has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between IRAQ and LTU
$H_{A}$: There is a difference between IRAQ and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2940789910990038 and a p-value of 0.19634254954073943, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17225.0 and a p-value of 0.1968377720074186, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against MALA 
IRAQ has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and MALA
$H_{A}$: There is a difference between IRAQ and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against MEX 
IRAQ has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and MEX
$H_{A}$: There is a difference between IRAQ and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against MUS 
IRAQ has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and MUS
$H_{A}$: There is a difference between IRAQ and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against MX 
IRAQ has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between IRAQ and MX
$H_{A}$: There is a difference between IRAQ and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29150.0 and a p-value of 1.260774570507856e-84, _we **reject** the null hypothssis_
## Testing Results for IRAQ against NETH 
IRAQ has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and NETH
$H_{A}$: There is a difference between IRAQ and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against NPL 
IRAQ has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and NPL
$H_{A}$: There is a difference between IRAQ and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against POL 
IRAQ has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between IRAQ and POL
$H_{A}$: There is a difference between IRAQ and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.491317227406042 and a p-value of 0.1364135830995301, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26235.0 and a p-value of 0.1366540752645157, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against PRC 
IRAQ has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between IRAQ and PRC
$H_{A}$: There is a difference between IRAQ and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0973038812529692 and a p-value of 0.27261788175917434, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 123967.0 and a p-value of 0.272702839575229, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against PRY 
IRAQ has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and PRY
$H_{A}$: There is a difference between IRAQ and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against ROC 
IRAQ has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between IRAQ and ROC
$H_{A}$: There is a difference between IRAQ and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 22.08079379337289 and a p-value of 1.0977449817435292e-62, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16324.0 and a p-value of 4.3721536939377305e-40, _we **reject** the null hypothssis_
## Testing Results for IRAQ against RP 
IRAQ has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between IRAQ and RP
$H_{A}$: There is a difference between IRAQ and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.160465156159626 and a p-value of 1.631484908486402e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58141.0 and a p-value of 3.0678533588889273e-12, _we **reject** the null hypothssis_
## Testing Results for IRAQ against SAFR 
IRAQ has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between IRAQ and SAFR
$H_{A}$: There is a difference between IRAQ and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.751072518128156 and a p-value of 0.006396881629644801, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7579.0 and a p-value of 0.006704305527526759, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SAUD 
IRAQ has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and SAUD
$H_{A}$: There is a difference between IRAQ and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SING 
IRAQ has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and SING
$H_{A}$: There is a difference between IRAQ and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SKOR 
IRAQ has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between IRAQ and SKOR
$H_{A}$: There is a difference between IRAQ and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.0854923220874277 and a p-value of 0.0023858328605250163, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3445.0 and a p-value of 0.002672363914783404, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SPN 
IRAQ has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and SPN
$H_{A}$: There is a difference between IRAQ and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SVN 
IRAQ has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between IRAQ and SVN
$H_{A}$: There is a difference between IRAQ and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5710734764271268 and a p-value of 0.11782067717859233, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4717.0 and a p-value of 0.11930011938388994, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against SWTZ 
IRAQ has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and SWTZ
$H_{A}$: There is a difference between IRAQ and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against TBD 
IRAQ has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between IRAQ and TBD
$H_{A}$: There is a difference between IRAQ and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0392641815006638 and a p-value of 0.2991851874632064, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21147.0 and a p-value of 0.2998616697296971, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against THAI 
IRAQ has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between IRAQ and THAI
$H_{A}$: There is a difference between IRAQ and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1259602454636677 and a p-value of 0.26117481139121945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9010.0 and a p-value of 0.26267119653266346, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against TURK 
IRAQ has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between IRAQ and TURK
$H_{A}$: There is a difference between IRAQ and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6319419667585381 and a p-value of 0.5278161188338434, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14098.0 and a p-value of 0.5309942690877645, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against UAE 
IRAQ has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between IRAQ and UAE
$H_{A}$: There is a difference between IRAQ and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against UK 
IRAQ has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between IRAQ and UK
$H_{A}$: There is a difference between IRAQ and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1248461400601657 and a p-value of 0.26093835599107496, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45368.0 and a p-value of 0.2611707626568881, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against UKR 
IRAQ has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between IRAQ and UKR
$H_{A}$: There is a difference between IRAQ and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4078036123512105 and a p-value of 0.16001763548970876, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14628.0 and a p-value of 0.16052256414241317, _we failed to reject the null hypothssis_
## Testing Results for IRAQ against US 
IRAQ has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between IRAQ and US
$H_{A}$: There is a difference between IRAQ and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.0584118729445944 and a p-value of 0.002235263132597476, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 327063.0 and a p-value of 0.0022419581890027835, _we failed to reject the null hypothssis_
