# Testing Results For ISRA 
$H_{0}$: There is not a difference in collection success against ISRA 
$H_{A}$: There is a difference in collection success against ISRA
Out of 54 tests, there were 14 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for ISRA against ALG 
ISRA has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and ALG
$H_{A}$: There is a difference between ISRA and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against ARGN 
ISRA has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and ARGN
$H_{A}$: There is a difference between ISRA and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against ASRA 
ISRA has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and ASRA
$H_{A}$: There is a difference between ISRA and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against AUS 
ISRA has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ISRA and AUS
$H_{A}$: There is a difference between ISRA and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.177917996923414 and a p-value of 5.7768045078766785e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69400.0 and a p-value of 2.781064378955746e-28, _we **reject** the null hypothssis_
## Testing Results for ISRA against BEL 
ISRA has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ISRA and BEL
$H_{A}$: There is a difference between ISRA and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.078651411995679 and a p-value of 4.055326562543033e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45800.0 and a p-value of 9.96467451234798e-12, _we **reject** the null hypothssis_
## Testing Results for ISRA against BRAZ 
ISRA has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and BRAZ
$H_{A}$: There is a difference between ISRA and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against CA 
ISRA has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and CA
$H_{A}$: There is a difference between ISRA and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against CIS 
ISRA has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ISRA and CIS
$H_{A}$: There is a difference between ISRA and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.80511860577157 and a p-value of 5.259647701116925e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 153000.0 and a p-value of 1.8556990956248243e-17, _we **reject** the null hypothssis_
## Testing Results for ISRA against COL 
ISRA has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and COL
$H_{A}$: There is a difference between ISRA and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against DEN 
ISRA has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and DEN
$H_{A}$: There is a difference between ISRA and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against ESA 
ISRA has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ISRA and ESA
$H_{A}$: There is a difference between ISRA and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.76801432692774 and a p-value of 0.00584746679470624, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21600.0 and a p-value of 0.0060235268464260425, _we failed to reject the null hypothssis_
## Testing Results for ISRA against EST 
ISRA has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ISRA and EST
$H_{A}$: There is a difference between ISRA and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.195276233722247 and a p-value of 0.001497962628168664, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8200.0 and a p-value of 0.0016084393679035663, _we failed to reject the null hypothssis_
## Testing Results for ISRA against EUME 
ISRA has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and EUME
$H_{A}$: There is a difference between ISRA and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against FIN 
ISRA has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and FIN
$H_{A}$: There is a difference between ISRA and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against FR 
ISRA has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ISRA and FR
$H_{A}$: There is a difference between ISRA and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.3521488088393445 and a p-value of 3.368033953359897e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109400.0 and a p-value of 5.056521949455779e-10, _we **reject** the null hypothssis_
## Testing Results for ISRA against GER 
ISRA has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ISRA and GER
$H_{A}$: There is a difference between ISRA and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.0931217332978185 and a p-value of 0.0020008255844838818, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 472800.0 and a p-value of 0.002014412003040835, _we failed to reject the null hypothssis_
## Testing Results for ISRA against GUAT 
ISRA has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ISRA and GUAT
$H_{A}$: There is a difference between ISRA and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4741059381389157 and a p-value of 0.0005604332728935101, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14000.0 and a p-value of 0.0006050111590236255, _we **reject** the null hypothssis_
## Testing Results for ISRA against HUN 
ISRA has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and HUN
$H_{A}$: There is a difference between ISRA and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against IND 
ISRA has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ISRA and IND
$H_{A}$: There is a difference between ISRA and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4860451789830065 and a p-value of 0.0005167876298650685, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 83600.0 and a p-value of 0.0005373257643820987, _we **reject** the null hypothssis_
## Testing Results for ISRA against INDO 
ISRA has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and INDO
$H_{A}$: There is a difference between ISRA and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against IRAN 
ISRA has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and IRAN
$H_{A}$: There is a difference between ISRA and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against IRAQ 
ISRA has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and IRAQ
$H_{A}$: There is a difference between ISRA and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against ISS 
ISRA has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and ISS
$H_{A}$: There is a difference between ISRA and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against IT 
ISRA has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ISRA and IT
$H_{A}$: There is a difference between ISRA and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.8232985648133395 and a p-value of 7.2400396339774644e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 198400.0 and a p-value of 8.830805486217651e-09, _we **reject** the null hypothssis_
## Testing Results for ISRA against JPN 
ISRA has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ISRA and JPN
$H_{A}$: There is a difference between ISRA and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.25992260891097 and a p-value of 1.390976588799937e-53, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 205000.0 and a p-value of 1.448894155776023e-48, _we **reject** the null hypothssis_
## Testing Results for ISRA against KAZ 
ISRA has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ISRA and KAZ
$H_{A}$: There is a difference between ISRA and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.104559678289187 and a p-value of 0.035759315161370084, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36800.0 and a p-value of 0.03610407989772933, _we failed to reject the null hypothssis_
## Testing Results for ISRA against KWT 
ISRA has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and KWT
$H_{A}$: There is a difference between ISRA and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against LKA 
ISRA has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and LKA
$H_{A}$: There is a difference between ISRA and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against LTU 
ISRA has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ISRA and LTU
$H_{A}$: There is a difference between ISRA and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.516261048640025 and a p-value of 0.012077675861954868, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65000.0 and a p-value of 0.012219897549932156, _we failed to reject the null hypothssis_
## Testing Results for ISRA against MALA 
ISRA has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and MALA
$H_{A}$: There is a difference between ISRA and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against MEX 
ISRA has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and MEX
$H_{A}$: There is a difference between ISRA and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against MUS 
ISRA has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and MUS
$H_{A}$: There is a difference between ISRA and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against MX 
ISRA has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ISRA and MX
$H_{A}$: There is a difference between ISRA and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110000.0 and a p-value of 1.3564153500241632e-148, _we **reject** the null hypothssis_
## Testing Results for ISRA against NETH 
ISRA has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and NETH
$H_{A}$: There is a difference between ISRA and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against NPL 
ISRA has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and NPL
$H_{A}$: There is a difference between ISRA and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against POL 
ISRA has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ISRA and POL
$H_{A}$: There is a difference between ISRA and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8986241571067777 and a p-value of 0.0038408390171013455, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99000.0 and a p-value of 0.0039036729050380336, _we failed to reject the null hypothssis_
## Testing Results for ISRA against PRC 
ISRA has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ISRA and PRC
$H_{A}$: There is a difference between ISRA and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1316870617206334 and a p-value of 0.033122262361603864, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 467800.0 and a p-value of 0.033164123833724704, _we failed to reject the null hypothssis_
## Testing Results for ISRA against PRY 
ISRA has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and PRY
$H_{A}$: There is a difference between ISRA and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against ROC 
ISRA has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between ISRA and ROC
$H_{A}$: There is a difference between ISRA and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 42.97463182701905 and a p-value of 1.6860813794140915e-180, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61600.0 and a p-value of 1.6513950337465021e-96, _we **reject** the null hypothssis_
## Testing Results for ISRA against RP 
ISRA has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ISRA and RP
$H_{A}$: There is a difference between ISRA and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.913296591643181 and a p-value of 5.767448706411368e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 219400.0 and a p-value of 2.8807577407260265e-38, _we **reject** the null hypothssis_
## Testing Results for ISRA against SAFR 
ISRA has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ISRA and SAFR
$H_{A}$: There is a difference between ISRA and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.356503974745156 and a p-value of 1.2650030664853183e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28600.0 and a p-value of 1.778618587027755e-07, _we **reject** the null hypothssis_
## Testing Results for ISRA against SAUD 
ISRA has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and SAUD
$H_{A}$: There is a difference between ISRA and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against SING 
ISRA has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and SING
$H_{A}$: There is a difference between ISRA and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against SKOR 
ISRA has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ISRA and SKOR
$H_{A}$: There is a difference between ISRA and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.0171034224814495 and a p-value of 3.638906625765475e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13000.0 and a p-value of 6.794530928712477e-09, _we **reject** the null hypothssis_
## Testing Results for ISRA against SPN 
ISRA has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and SPN
$H_{A}$: There is a difference between ISRA and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against SVN 
ISRA has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ISRA and SVN
$H_{A}$: There is a difference between ISRA and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.061553967312984 and a p-value of 0.0023241179170735357, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17800.0 and a p-value of 0.0024316276015543203, _we failed to reject the null hypothssis_
## Testing Results for ISRA against SWTZ 
ISRA has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and SWTZ
$H_{A}$: There is a difference between ISRA and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against TBD 
ISRA has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ISRA and TBD
$H_{A}$: There is a difference between ISRA and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0203408354721994 and a p-value of 0.04368377295156064, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 79800.0 and a p-value of 0.043886720700552787, _we failed to reject the null hypothssis_
## Testing Results for ISRA against THAI 
ISRA has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ISRA and THAI
$H_{A}$: There is a difference between ISRA and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1914168528239046 and a p-value of 0.028828429659575147, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34000.0 and a p-value of 0.0291556439380447, _we failed to reject the null hypothssis_
## Testing Results for ISRA against TURK 
ISRA has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ISRA and TURK
$H_{A}$: There is a difference between ISRA and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2290625161029871 and a p-value of 0.21948440093801913, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53200.0 and a p-value of 0.22037982689616742, _we failed to reject the null hypothssis_
## Testing Results for ISRA against UAE 
ISRA has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ISRA and UAE
$H_{A}$: There is a difference between ISRA and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISRA against UK 
ISRA has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ISRA and UK
$H_{A}$: There is a difference between ISRA and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1856369590056164 and a p-value of 0.029028119060614043, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 171200.0 and a p-value of 0.02912550960262014, _we failed to reject the null hypothssis_
## Testing Results for ISRA against UKR 
ISRA has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ISRA and UKR
$H_{A}$: There is a difference between ISRA and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.737952934436988 and a p-value of 0.0063467003081384326, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55200.0 and a p-value of 0.006461131471843832, _we failed to reject the null hypothssis_
## Testing Results for ISRA against US 
ISRA has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ISRA and US
$H_{A}$: There is a difference between ISRA and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.941233630179469 and a p-value of 2.984814924336087e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1234200.0 and a p-value of 3.1308141921487875e-09, _we **reject** the null hypothssis_
