# Testing Results For ISS 
$H_{0}$: There is not a difference in collection success against ISS 
$H_{A}$: There is a difference in collection success against ISS
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for ISS against ALG 
ISS has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and ALG
$H_{A}$: There is a difference between ISS and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against ARGN 
ISS has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and ARGN
$H_{A}$: There is a difference between ISS and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against ASRA 
ISS has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and ASRA
$H_{A}$: There is a difference between ISS and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against AUS 
ISS has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ISS and AUS
$H_{A}$: There is a difference between ISS and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.75523533256778 and a p-value of 3.5336072791043757e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35914.5 and a p-value of 4.094907623025972e-16, _we **reject** the null hypothssis_
## Testing Results for ISS against BEL 
ISS has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ISS and BEL
$H_{A}$: There is a difference between ISS and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.088261595592036 and a p-value of 5.507813623451131e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23701.5 and a p-value of 7.806058059407016e-07, _we **reject** the null hypothssis_
## Testing Results for ISS against BRAZ 
ISS has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and BRAZ
$H_{A}$: There is a difference between ISS and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against CA 
ISS has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and CA
$H_{A}$: There is a difference between ISS and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against CIS 
ISS has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ISS and CIS
$H_{A}$: There is a difference between ISS and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.332841321254864 and a p-value of 3.86816923186086e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 79177.5 and a p-value of 5.86797359632946e-10, _we **reject** the null hypothssis_
## Testing Results for ISS against COL 
ISS has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and COL
$H_{A}$: There is a difference between ISS and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against DEN 
ISS has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and DEN
$H_{A}$: There is a difference between ISS and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against ESA 
ISS has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ISS and ESA
$H_{A}$: There is a difference between ISS and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9888019020637766 and a p-value of 0.047599090663099704, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11178.0 and a p-value of 0.04830585597652235, _we failed to reject the null hypothssis_
## Testing Results for ISS against EST 
ISS has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ISS and EST
$H_{A}$: There is a difference between ISS and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.294496685995207 and a p-value of 0.02260839101708851, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4243.5 and a p-value of 0.023581929559473913, _we failed to reject the null hypothssis_
## Testing Results for ISS against EUME 
ISS has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and EUME
$H_{A}$: There is a difference between ISS and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against FIN 
ISS has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and FIN
$H_{A}$: There is a difference between ISS and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against FR 
ISS has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ISS and FR
$H_{A}$: There is a difference between ISS and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.568189507172411 and a p-value of 5.805261243223808e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56614.5 and a p-value of 6.641987079403874e-06, _we **reject** the null hypothssis_
## Testing Results for ISS against GER 
ISS has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ISS and GER
$H_{A}$: There is a difference between ISS and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2250506008287374 and a p-value of 0.02616623007054168, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 244674.0 and a p-value of 0.02620860140160637, _we failed to reject the null hypothssis_
## Testing Results for ISS against GUAT 
ISS has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ISS and GUAT
$H_{A}$: There is a difference between ISS and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4954172873522644 and a p-value of 0.013171681099865546, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7245.0 and a p-value of 0.013663932585102703, _we failed to reject the null hypothssis_
## Testing Results for ISS against HUN 
ISS has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and HUN
$H_{A}$: There is a difference between ISS and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against IND 
ISS has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ISS and IND
$H_{A}$: There is a difference between ISS and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5067905722613553 and a p-value of 0.01244182695792081, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43263.0 and a p-value of 0.012594523718329717, _we failed to reject the null hypothssis_
## Testing Results for ISS against INDO 
ISS has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and INDO
$H_{A}$: There is a difference between ISS and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against IRAN 
ISS has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and IRAN
$H_{A}$: There is a difference between ISS and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against IRAQ 
ISS has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and IRAQ
$H_{A}$: There is a difference between ISS and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against ISRA 
ISS has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and ISRA
$H_{A}$: There is a difference between ISS and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against IT 
ISS has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ISS and IT
$H_{A}$: There is a difference between ISS and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.188589483786739 and a p-value of 3.0264101127500203e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 102672.0 and a p-value of 3.2122299907882764e-05, _we **reject** the null hypothssis_
## Testing Results for ISS against JPN 
ISS has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ISS and JPN
$H_{A}$: There is a difference between ISS and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.694853776906402 and a p-value of 1.3692816545363808e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 106087.5 and a p-value of 8.18762196962782e-28, _we **reject** the null hypothssis_
## Testing Results for ISS against KAZ 
ISS has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ISS and KAZ
$H_{A}$: There is a difference between ISS and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.512671414153757 and a p-value of 0.13117931619511844, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19044.0 and a p-value of 0.13193403423967098, _we failed to reject the null hypothssis_
## Testing Results for ISS against KWT 
ISS has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and KWT
$H_{A}$: There is a difference between ISS and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against LKA 
ISS has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and LKA
$H_{A}$: There is a difference between ISS and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against LTU 
ISS has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ISS and LTU
$H_{A}$: There is a difference between ISS and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8092110937598413 and a p-value of 0.07099005911037319, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33637.5 and a p-value of 0.07129874748401742, _we failed to reject the null hypothssis_
## Testing Results for ISS against MALA 
ISS has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and MALA
$H_{A}$: There is a difference between ISS and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against MEX 
ISS has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and MEX
$H_{A}$: There is a difference between ISS and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against MUS 
ISS has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and MUS
$H_{A}$: There is a difference between ISS and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against MX 
ISS has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ISS and MX
$H_{A}$: There is a difference between ISS and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56925.0 and a p-value of 1.3056404663005997e-106, _we **reject** the null hypothssis_
## Testing Results for ISS against NETH 
ISS has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and NETH
$H_{A}$: There is a difference between ISS and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against NPL 
ISS has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and NPL
$H_{A}$: There is a difference between ISS and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against POL 
ISS has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ISS and POL
$H_{A}$: There is a difference between ISS and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0845382379194572 and a p-value of 0.03747841551625604, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51232.5 and a p-value of 0.037662777760486106, _we failed to reject the null hypothssis_
## Testing Results for ISS against PRC 
ISS has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ISS and PRC
$H_{A}$: There is a difference between ISS and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5334384789151587 and a p-value of 0.12529348098765883, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 242086.5 and a p-value of 0.12533932318420388, _we failed to reject the null hypothssis_
## Testing Results for ISS against PRY 
ISS has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and PRY
$H_{A}$: There is a difference between ISS and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against ROC 
ISS has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between ISS and ROC
$H_{A}$: There is a difference between ISS and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 30.886864590879394 and a p-value of 5.965329387374028e-105, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31878.0 and a p-value of 1.555794405325079e-60, _we **reject** the null hypothssis_
## Testing Results for ISS against RP 
ISS has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ISS and RP
$H_{A}$: There is a difference between ISS and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.007348785517772 and a p-value of 1.4529966773118354e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 113539.5 and a p-value of 1.1896195634320963e-21, _we **reject** the null hypothssis_
## Testing Results for ISS against SAFR 
ISS has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ISS and SAFR
$H_{A}$: There is a difference between ISS and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8492319377070436 and a p-value of 0.0001416080164111802, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14800.5 and a p-value of 0.00016239824145596206, _we **reject** the null hypothssis_
## Testing Results for ISS against SAUD 
ISS has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and SAUD
$H_{A}$: There is a difference between ISS and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against SING 
ISS has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and SING
$H_{A}$: There is a difference between ISS and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against SKOR 
ISS has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ISS and SKOR
$H_{A}$: There is a difference between ISS and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.321715128829035 and a p-value of 2.1921887487861286e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6727.5 and a p-value of 2.9041741104314864e-05, _we **reject** the null hypothssis_
## Testing Results for ISS against SPN 
ISS has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and SPN
$H_{A}$: There is a difference between ISS and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against SVN 
ISS has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ISS and SVN
$H_{A}$: There is a difference between ISS and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1994215107597683 and a p-value of 0.02863166281755916, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9211.5 and a p-value of 0.029266338308593758, _we failed to reject the null hypothssis_
## Testing Results for ISS against SWTZ 
ISS has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and SWTZ
$H_{A}$: There is a difference between ISS and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against TBD 
ISS has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ISS and TBD
$H_{A}$: There is a difference between ISS and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4527944405644946 and a p-value of 0.14680359898505035, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41296.5 and a p-value of 0.14714191782536196, _we failed to reject the null hypothssis_
## Testing Results for ISS against THAI 
ISS has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ISS and THAI
$H_{A}$: There is a difference between ISS and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5750157773162665 and a p-value of 0.11610055756125225, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17595.0 and a p-value of 0.11685537803026243, _we failed to reject the null hypothssis_
## Testing Results for ISS against TURK 
ISS has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ISS and TURK
$H_{A}$: There is a difference between ISS and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8836110513028861 and a p-value of 0.37735796135743815, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27531.0 and a p-value of 0.37910469642488653, _we failed to reject the null hypothssis_
## Testing Results for ISS against UAE 
ISS has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ISS and UAE
$H_{A}$: There is a difference between ISS and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for ISS against UK 
ISS has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ISS and UK
$H_{A}$: There is a difference between ISS and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5720603218656048 and a p-value of 0.11623753856321736, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88596.0 and a p-value of 0.11636785037264741, _we failed to reject the null hypothssis_
## Testing Results for ISS against UKR 
ISS has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ISS and UKR
$H_{A}$: There is a difference between ISS and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9684250565513493 and a p-value of 0.04959901189079406, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28566.0 and a p-value of 0.049922888441777044, _we failed to reject the null hypothssis_
## Testing Results for ISS against US 
ISS has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ISS and US
$H_{A}$: There is a difference between ISS and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.273950490560614 and a p-value of 1.9505736598626916e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 638698.5 and a p-value of 1.975160046138741e-05, _we **reject** the null hypothssis_
