# Testing Results For IT 
$H_{0}$: There is not a difference in collection success against IT 
$H_{A}$: There is a difference in collection success against IT
Out of 54 tests, there were 45 rejections from 54 independent-t test.
Out of 54 tests, there were 37 rejections from 54 Man Whitney u-tests.
## Testing Results for IT against ALG 
IT has a success rate of 0.9217391304347826
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between IT and ALG
$H_{A}$: There is a difference between IT and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41128.0 and a p-value of 0.004284044892610983, _we failed to reject the null hypothssis_
## Testing Results for IT against ARGN 
IT has a success rate of 0.9217391304347826
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and ARGN
$H_{A}$: There is a difference between IT and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 179352.0 and a p-value of 3.380535496896552e-09, _we **reject** the null hypothssis_
## Testing Results for IT against ASRA 
IT has a success rate of 0.9217391304347826
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between IT and ASRA
$H_{A}$: There is a difference between IT and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115752.0 and a p-value of 1.877878882971624e-06, _we **reject** the null hypothssis_
## Testing Results for IT against AUS 
IT has a success rate of 0.9217391304347826
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between IT and AUS
$H_{A}$: There is a difference between IT and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.801898154855223 and a p-value of 4.6444004881701635e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 149792.0 and a p-value of 1.434981957093269e-17, _we **reject** the null hypothssis_
## Testing Results for IT against BEL 
IT has a success rate of 0.9217391304347826
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between IT and BEL
$H_{A}$: There is a difference between IT and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.558834139638132 and a p-value of 0.11931714273234562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97924.0 and a p-value of 0.11932852573913061, _we failed to reject the null hypothssis_
## Testing Results for IT against BRAZ 
IT has a success rate of 0.9217391304347826
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between IT and BRAZ
$H_{A}$: There is a difference between IT and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 184016.0 and a p-value of 2.137661910381321e-09, _we **reject** the null hypothssis_
## Testing Results for IT against CA 
IT has a success rate of 0.9217391304347826
CA has a success rate of 1.0
$H_{0}$: There is not a difference between IT and CA
$H_{A}$: There is a difference between IT and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 98792.0 and a p-value of 1.0434805659516491e-05, _we **reject** the null hypothssis_
## Testing Results for IT against CIS 
IT has a success rate of 0.9217391304347826
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between IT and CIS
$H_{A}$: There is a difference between IT and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.2519221208930364 and a p-value of 1.710481894096418e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 328212.0 and a p-value of 1.907763939569969e-07, _we **reject** the null hypothssis_
## Testing Results for IT against COL 
IT has a success rate of 0.9217391304347826
COL has a success rate of 1.0
$H_{0}$: There is not a difference between IT and COL
$H_{A}$: There is a difference between IT and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25864.0 and a p-value of 0.023320803526717667, _we failed to reject the null hypothssis_
## Testing Results for IT against DEN 
IT has a success rate of 0.9217391304347826
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and DEN
$H_{A}$: There is a difference between IT and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73352.0 and a p-value of 0.00014178258159469674, _we **reject** the null hypothssis_
## Testing Results for IT against ESA 
IT has a success rate of 0.9217391304347826
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between IT and ESA
$H_{A}$: There is a difference between IT and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2416112526442147 and a p-value of 0.025200044696326477, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45864.0 and a p-value of 0.025297002274015476, _we failed to reject the null hypothssis_
## Testing Results for IT against EST 
IT has a success rate of 0.9217391304347826
EST has a success rate of 0.975
$H_{0}$: There is not a difference between IT and EST
$H_{A}$: There is a difference between IT and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2437756294914366 and a p-value of 0.2138864075265589, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17420.0 and a p-value of 0.2139464518255837, _we failed to reject the null hypothssis_
## Testing Results for IT against EUME 
IT has a success rate of 0.9217391304347826
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between IT and EUME
$H_{A}$: There is a difference between IT and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233200.0 and a p-value of 1.7544804705399618e-11, _we **reject** the null hypothssis_
## Testing Results for IT against FIN 
IT has a success rate of 0.9217391304347826
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and FIN
$H_{A}$: There is a difference between IT and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 187832.0 and a p-value of 1.4698187174187387e-09, _we **reject** the null hypothssis_
## Testing Results for IT against FR 
IT has a success rate of 0.9217391304347826
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between IT and FR
$H_{A}$: There is a difference between IT and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8843534574985947 and a p-value of 0.37665525388370624, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233584.0 and a p-value of 0.3765452055927193, _we failed to reject the null hypothssis_
## Testing Results for IT against GER 
IT has a success rate of 0.9217391304347826
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between IT and GER
$H_{A}$: There is a difference between IT and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.329122457833136 and a p-value of 2.913409429833487e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1004280.0 and a p-value of 3.596048234049376e-13, _we **reject** the null hypothssis_
## Testing Results for IT against GUAT 
IT has a success rate of 0.9217391304347826
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between IT and GUAT
$H_{A}$: There is a difference between IT and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4768428544810634 and a p-value of 0.1400370705197277, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29752.0 and a p-value of 0.14008432990175126, _we failed to reject the null hypothssis_
## Testing Results for IT against HUN 
IT has a success rate of 0.9217391304347826
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and HUN
$H_{A}$: There is a difference between IT and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117872.0 and a p-value of 1.51719660897843e-06, _we **reject** the null hypothssis_
## Testing Results for IT against IND 
IT has a success rate of 0.9217391304347826
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between IT and IND
$H_{A}$: There is a difference between IT and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.3675892308919653 and a p-value of 0.000780053359199639, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 177664.0 and a p-value of 0.0007955441172665066, _we **reject** the null hypothssis_
## Testing Results for IT against INDO 
IT has a success rate of 0.9217391304347826
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between IT and INDO
$H_{A}$: There is a difference between IT and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116600.0 and a p-value of 1.724271131601422e-06, _we **reject** the null hypothssis_
## Testing Results for IT against IRAN 
IT has a success rate of 0.9217391304347826
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and IRAN
$H_{A}$: There is a difference between IT and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 102608.0 and a p-value of 7.083828725965619e-06, _we **reject** the null hypothssis_
## Testing Results for IT against IRAQ 
IT has a success rate of 0.9217391304347826
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between IT and IRAQ
$H_{A}$: There is a difference between IT and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44944.0 and a p-value of 0.0028350334146001062, _we failed to reject the null hypothssis_
## Testing Results for IT against ISRA 
IT has a success rate of 0.9217391304347826
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between IT and ISRA
$H_{A}$: There is a difference between IT and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 169600.0 and a p-value of 8.830805486217651e-09, _we **reject** the null hypothssis_
## Testing Results for IT against ISS 
IT has a success rate of 0.9217391304347826
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between IT and ISS
$H_{A}$: There is a difference between IT and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 87768.0 and a p-value of 3.2122299907882886e-05, _we **reject** the null hypothssis_
## Testing Results for IT against JPN 
IT has a success rate of 0.9217391304347826
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between IT and JPN
$H_{A}$: There is a difference between IT and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.885928218841443 and a p-value of 3.9116162344302803e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 445112.0 and a p-value of 7.548055792778575e-55, _we **reject** the null hypothssis_
## Testing Results for IT against KAZ 
IT has a success rate of 0.9217391304347826
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between IT and KAZ
$H_{A}$: There is a difference between IT and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.715395200450954 and a p-value of 1.602239784038974e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78088.0 and a p-value of 0.0009284540295501307, _we failed to reject the null hypothssis_
## Testing Results for IT against KWT 
IT has a success rate of 0.9217391304347826
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between IT and KWT
$H_{A}$: There is a difference between IT and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59784.0 and a p-value of 0.0005845212988050307, _we **reject** the null hypothssis_
## Testing Results for IT against LKA 
IT has a success rate of 0.9217391304347826
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between IT and LKA
$H_{A}$: There is a difference between IT and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97520.0 and a p-value of 1.187532091470236e-05, _we **reject** the null hypothssis_
## Testing Results for IT against LTU 
IT has a success rate of 0.9217391304347826
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between IT and LTU
$H_{A}$: There is a difference between IT and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.564391542114744 and a p-value of 3.272550301469427e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 137980.0 and a p-value of 6.406372571518661e-05, _we **reject** the null hypothssis_
## Testing Results for IT against MALA 
IT has a success rate of 0.9217391304347826
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between IT and MALA
$H_{A}$: There is a difference between IT and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103880.0 and a p-value of 6.227046578864426e-06, _we **reject** the null hypothssis_
## Testing Results for IT against MEX 
IT has a success rate of 0.9217391304347826
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between IT and MEX
$H_{A}$: There is a difference between IT and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109816.0 and a p-value of 3.416293457913825e-06, _we **reject** the null hypothssis_
## Testing Results for IT against MUS 
IT has a success rate of 0.9217391304347826
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between IT and MUS
$H_{A}$: There is a difference between IT and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13992.0 and a p-value of 0.09494939406769393, _we failed to reject the null hypothssis_
## Testing Results for IT against MX 
IT has a success rate of 0.9217391304347826
MX has a success rate of 0.0
$H_{0}$: There is not a difference between IT and MX
$H_{A}$: There is a difference between IT and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 104.03738644246008 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 243100.0 and a p-value of 1.0893350718612484e-191, _we **reject** the null hypothssis_
## Testing Results for IT against NETH 
IT has a success rate of 0.9217391304347826
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between IT and NETH
$H_{A}$: There is a difference between IT and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118720.0 and a p-value of 1.3932168529581639e-06, _we **reject** the null hypothssis_
## Testing Results for IT against NPL 
IT has a success rate of 0.9217391304347826
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between IT and NPL
$H_{A}$: There is a difference between IT and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92856.0 and a p-value of 1.9097141411319686e-05, _we **reject** the null hypothssis_
## Testing Results for IT against POL 
IT has a success rate of 0.9217391304347826
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between IT and POL
$H_{A}$: There is a difference between IT and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.40895988554487 and a p-value of 1.117870137348658e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 210240.0 and a p-value of 1.1861401311215056e-05, _we **reject** the null hypothssis_
## Testing Results for IT against PRC 
IT has a success rate of 0.9217391304347826
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between IT and PRC
$H_{A}$: There is a difference between IT and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.343085502767647 and a p-value of 4.2242678133806586e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 992672.0 and a p-value of 1.1554534137978756e-23, _we **reject** the null hypothssis_
## Testing Results for IT against PRY 
IT has a success rate of 0.9217391304347826
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between IT and PRY
$H_{A}$: There is a difference between IT and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27136.0 and a p-value of 0.020179671586761382, _we failed to reject the null hypothssis_
## Testing Results for IT against ROC 
IT has a success rate of 0.9217391304347826
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between IT and ROC
$H_{A}$: There is a difference between IT and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 30.727440174049867 and a p-value of 9.54166172308629e-150, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 135596.0 and a p-value of 5.3608406254551e-112, _we **reject** the null hypothssis_
## Testing Results for IT against RP 
IT has a success rate of 0.9217391304347826
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between IT and RP
$H_{A}$: There is a difference between IT and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.734761649236921 and a p-value of 7.71153270543527e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 474848.0 and a p-value of 6.24980689033007e-39, _we **reject** the null hypothssis_
## Testing Results for IT against SAFR 
IT has a success rate of 0.9217391304347826
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between IT and SAFR
$H_{A}$: There is a difference between IT and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.4501845164606476 and a p-value of 0.6526701532927088, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60956.0 and a p-value of 0.6526918037805368, _we failed to reject the null hypothssis_
## Testing Results for IT against SAUD 
IT has a success rate of 0.9217391304347826
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between IT and SAUD
$H_{A}$: There is a difference between IT and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50456.0 and a p-value of 0.0015700834444781896, _we failed to reject the null hypothssis_
## Testing Results for IT against SING 
IT has a success rate of 0.9217391304347826
SING has a success rate of 1.0
$H_{0}$: There is not a difference between IT and SING
$H_{A}$: There is a difference between IT and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 308672.0 and a p-value of 1.199334578070181e-14, _we **reject** the null hypothssis_
## Testing Results for IT against SKOR 
IT has a success rate of 0.9217391304347826
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between IT and SKOR
$H_{A}$: There is a difference between IT and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.14134261362683975 and a p-value of 0.8876283945757788, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27740.0 and a p-value of 0.8879423345714593, _we failed to reject the null hypothssis_
## Testing Results for IT against SPN 
IT has a success rate of 0.9217391304347826
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between IT and SPN
$H_{A}$: There is a difference between IT and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 285352.0 and a p-value of 1.1305161685789625e-13, _we **reject** the null hypothssis_
## Testing Results for IT against SVN 
IT has a success rate of 0.9217391304347826
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between IT and SVN
$H_{A}$: There is a difference between IT and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.8899850090351122 and a p-value of 0.059047524329393766, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37808.0 and a p-value of 0.05914057003010387, _we failed to reject the null hypothssis_
## Testing Results for IT against SWTZ 
IT has a success rate of 0.9217391304347826
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between IT and SWTZ
$H_{A}$: There is a difference between IT and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 164088.0 and a p-value of 1.521345443153324e-08, _we **reject** the null hypothssis_
## Testing Results for IT against TBD 
IT has a success rate of 0.9217391304347826
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between IT and TBD
$H_{A}$: There is a difference between IT and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.683178283434494 and a p-value of 3.465623250371886e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 169320.0 and a p-value of 1.2239435697904865e-06, _we **reject** the null hypothssis_
## Testing Results for IT against THAI 
IT has a success rate of 0.9217391304347826
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between IT and THAI
$H_{A}$: There is a difference between IT and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.4373543942161975 and a p-value of 7.836147737241871e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72152.0 and a p-value of 0.0016920903548474915, _we failed to reject the null hypothssis_
## Testing Results for IT against TURK 
IT has a success rate of 0.9217391304347826
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between IT and TURK
$H_{A}$: There is a difference between IT and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.735038404715729 and a p-value of 2.2479173548906293e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112820.0 and a p-value of 8.9302361563212e-06, _we **reject** the null hypothssis_
## Testing Results for IT against UAE 
IT has a success rate of 0.9217391304347826
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between IT and UAE
$H_{A}$: There is a difference between IT and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.833362999831515 and a p-value of 5.074489791641403e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 203096.0 and a p-value of 3.296805553676038e-10, _we **reject** the null hypothssis_
## Testing Results for IT against UK 
IT has a success rate of 0.9217391304347826
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between IT and UK
$H_{A}$: There is a difference between IT and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.914989212372925 and a p-value of 7.501585319501089e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 363304.0 and a p-value of 3.432417769601214e-11, _we **reject** the null hypothssis_
## Testing Results for IT against UKR 
IT has a success rate of 0.9217391304347826
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between IT and UKR
$H_{A}$: There is a difference between IT and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.534516105678728 and a p-value of 0.00042421268732491485, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117204.0 and a p-value of 0.00043590326078764226, _we **reject** the null hypothssis_
## Testing Results for IT against US 
IT has a success rate of 0.9217391304347826
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between IT and US
$H_{A}$: There is a difference between IT and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.29480032113522425 and a p-value of 0.7681556567758342, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2633172.0 and a p-value of 0.7681459354184519, _we failed to reject the null hypothssis_
