# Testing Results For JPN 
$H_{0}$: There is not a difference in collection success against JPN 
$H_{A}$: There is a difference in collection success against JPN
Out of 54 tests, there were 53 rejections from 54 independent-t test.
Out of 54 tests, there were 53 rejections from 54 Man Whitney u-tests.
## Testing Results for JPN against ALG 
JPN has a success rate of 0.6016371077762619
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and ALG
$H_{A}$: There is a difference between JPN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21388.5 and a p-value of 1.1997243016048388e-14, _we **reject** the null hypothssis_
## Testing Results for JPN against ARGN 
JPN has a success rate of 0.6016371077762619
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and ARGN
$H_{A}$: There is a difference between JPN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93271.5 and a p-value of 6.449316611336081e-51, _we **reject** the null hypothssis_
## Testing Results for JPN against ASRA 
JPN has a success rate of 0.6016371077762619
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and ASRA
$H_{A}$: There is a difference between JPN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60196.5 and a p-value of 3.6925622831513345e-35, _we **reject** the null hypothssis_
## Testing Results for JPN against AUS 
JPN has a success rate of 0.6016371077762619
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between JPN and AUS
$H_{A}$: There is a difference between JPN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.7542862674191877 and a p-value of 0.0001838161055176484, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 87317.5 and a p-value of 0.00019154208565678164, _we **reject** the null hypothssis_
## Testing Results for JPN against BEL 
JPN has a success rate of 0.6016371077762619
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between JPN and BEL
$H_{A}$: There is a difference between JPN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.947291284567103 and a p-value of 5.454063354603992e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53852.5 and a p-value of 1.4018100782819664e-14, _we **reject** the null hypothssis_
## Testing Results for JPN against BRAZ 
JPN has a success rate of 0.6016371077762619
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and BRAZ
$H_{A}$: There is a difference between JPN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95697.0 and a p-value of 4.915937623720295e-52, _we **reject** the null hypothssis_
## Testing Results for JPN against CA 
JPN has a success rate of 0.6016371077762619
CA has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and CA
$H_{A}$: There is a difference between JPN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51376.5 and a p-value of 9.560471348153887e-31, _we **reject** the null hypothssis_
## Testing Results for JPN against CIS 
JPN has a success rate of 0.6016371077762619
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between JPN and CIS
$H_{A}$: There is a difference between JPN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.045031225768561 and a p-value of 5.747706962513184e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 184304.5 and a p-value of 2.9469827520376585e-22, _we **reject** the null hypothssis_
## Testing Results for JPN against COL 
JPN has a success rate of 0.6016371077762619
COL has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and COL
$H_{A}$: There is a difference between JPN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13450.5 and a p-value of 5.816164970288203e-10, _we **reject** the null hypothssis_
## Testing Results for JPN against DEN 
JPN has a success rate of 0.6016371077762619
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and DEN
$H_{A}$: There is a difference between JPN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38146.5 and a p-value of 6.879880323617913e-24, _we **reject** the null hypothssis_
## Testing Results for JPN against ESA 
JPN has a success rate of 0.6016371077762619
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between JPN and ESA
$H_{A}$: There is a difference between JPN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -16.908714182903758 and a p-value of 2.4502471151941124e-52, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24106.0 and a p-value of 2.0139627136689322e-14, _we **reject** the null hypothssis_
## Testing Results for JPN against EST 
JPN has a success rate of 0.6016371077762619
EST has a success rate of 0.975
$H_{0}$: There is not a difference between JPN and EST
$H_{A}$: There is a difference between JPN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -12.09810582266342 and a p-value of 1.6277923024972495e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9186.5 and a p-value of 2.1779023634205126e-06, _we **reject** the null hypothssis_
## Testing Results for JPN against EUME 
JPN has a success rate of 0.6016371077762619
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and EUME
$H_{A}$: There is a difference between JPN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121275.0 and a p-value of 1.3411754001471755e-63, _we **reject** the null hypothssis_
## Testing Results for JPN against FIN 
JPN has a success rate of 0.6016371077762619
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and FIN
$H_{A}$: There is a difference between JPN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97681.5 and a p-value of 6.026100572256813e-53, _we **reject** the null hypothssis_
## Testing Results for JPN against FR 
JPN has a success rate of 0.6016371077762619
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between JPN and FR
$H_{A}$: There is a difference between JPN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -12.587249459490208 and a p-value of 2.8848711921935292e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 127329.5 and a p-value of 2.073325162893984e-32, _we **reject** the null hypothssis_
## Testing Results for JPN against GER 
JPN has a success rate of 0.6016371077762619
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between JPN and GER
$H_{A}$: There is a difference between JPN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.417555490084165 and a p-value of 1.6593729618190647e-74, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 529146.0 and a p-value of 8.257934092399759e-171, _we **reject** the null hypothssis_
## Testing Results for JPN against GUAT 
JPN has a success rate of 0.6016371077762619
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between JPN and GUAT
$H_{A}$: There is a difference between JPN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.440969769515075 and a p-value of 1.0109677961227702e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15727.0 and a p-value of 1.5976149543690298e-09, _we **reject** the null hypothssis_
## Testing Results for JPN against HUN 
JPN has a success rate of 0.6016371077762619
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and HUN
$H_{A}$: There is a difference between JPN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61299.0 and a p-value of 1.0549436014136978e-35, _we **reject** the null hypothssis_
## Testing Results for JPN against IND 
JPN has a success rate of 0.6016371077762619
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between JPN and IND
$H_{A}$: There is a difference between JPN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -18.48100932857587 and a p-value of 8.083658466390163e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93921.0 and a p-value of 2.316504428107598e-41, _we **reject** the null hypothssis_
## Testing Results for JPN against INDO 
JPN has a success rate of 0.6016371077762619
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and INDO
$H_{A}$: There is a difference between JPN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60637.5 and a p-value of 2.2361421130396143e-35, _we **reject** the null hypothssis_
## Testing Results for JPN against IRAN 
JPN has a success rate of 0.6016371077762619
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and IRAN
$H_{A}$: There is a difference between JPN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53361.0 and a p-value of 9.498425948754484e-32, _we **reject** the null hypothssis_
## Testing Results for JPN against IRAQ 
JPN has a success rate of 0.6016371077762619
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and IRAQ
$H_{A}$: There is a difference between JPN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23373.0 and a p-value of 8.781632541285103e-16, _we **reject** the null hypothssis_
## Testing Results for JPN against ISRA 
JPN has a success rate of 0.6016371077762619
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and ISRA
$H_{A}$: There is a difference between JPN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88200.0 and a p-value of 1.448894155776023e-48, _we **reject** the null hypothssis_
## Testing Results for JPN against ISS 
JPN has a success rate of 0.6016371077762619
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and ISS
$H_{A}$: There is a difference between JPN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45643.5 and a p-value of 8.18762196962782e-28, _we **reject** the null hypothssis_
## Testing Results for JPN against IT 
JPN has a success rate of 0.6016371077762619
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between JPN and IT
$H_{A}$: There is a difference between JPN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -16.885928218841443 and a p-value of 3.9116162344302803e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 229248.0 and a p-value of 7.548055792778575e-55, _we **reject** the null hypothssis_
## Testing Results for JPN against KAZ 
JPN has a success rate of 0.6016371077762619
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between JPN and KAZ
$H_{A}$: There is a difference between JPN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.67954000192521 and a p-value of 5.135618665311655e-72, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40864.0 and a p-value of 1.3681957259501688e-23, _we **reject** the null hypothssis_
## Testing Results for JPN against KWT 
JPN has a success rate of 0.6016371077762619
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and KWT
$H_{A}$: There is a difference between JPN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31090.5 and a p-value of 4.3607865328429564e-20, _we **reject** the null hypothssis_
## Testing Results for JPN against LKA 
JPN has a success rate of 0.6016371077762619
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and LKA
$H_{A}$: There is a difference between JPN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50715.0 and a p-value of 2.070683335719233e-30, _we **reject** the null hypothssis_
## Testing Results for JPN against LTU 
JPN has a success rate of 0.6016371077762619
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between JPN and LTU
$H_{A}$: There is a difference between JPN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.747819798745034 and a p-value of 1.288364821535063e-72, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72392.5 and a p-value of 6.894452952464775e-37, _we **reject** the null hypothssis_
## Testing Results for JPN against MALA 
JPN has a success rate of 0.6016371077762619
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and MALA
$H_{A}$: There is a difference between JPN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54022.5 and a p-value of 4.412688047317546e-32, _we **reject** the null hypothssis_
## Testing Results for JPN against MEX 
JPN has a success rate of 0.6016371077762619
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and MEX
$H_{A}$: There is a difference between JPN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57109.5 and a p-value of 1.2571313027059429e-33, _we **reject** the null hypothssis_
## Testing Results for JPN against MUS 
JPN has a success rate of 0.6016371077762619
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and MUS
$H_{A}$: There is a difference between JPN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7276.5 and a p-value of 4.1113857352621285e-06, _we **reject** the null hypothssis_
## Testing Results for JPN against MX 
JPN has a success rate of 0.6016371077762619
MX has a success rate of 0.0
$H_{0}$: There is not a difference between JPN and MX
$H_{A}$: There is a difference between JPN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 33.24936913604836 and a p-value of 1.9122598472262075e-148, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161425.0 and a p-value of 7.252972225471494e-66, _we **reject** the null hypothssis_
## Testing Results for JPN against NETH 
JPN has a success rate of 0.6016371077762619
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and NETH
$H_{A}$: There is a difference between JPN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61740.0 and a p-value of 6.397755479577001e-36, _we **reject** the null hypothssis_
## Testing Results for JPN against NPL 
JPN has a success rate of 0.6016371077762619
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and NPL
$H_{A}$: There is a difference between JPN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48289.5 and a p-value of 3.571057350207017e-29, _we **reject** the null hypothssis_
## Testing Results for JPN against POL 
JPN has a success rate of 0.6016371077762619
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between JPN and POL
$H_{A}$: There is a difference between JPN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.660859005216945 and a p-value of 5.64361045444552e-72, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110607.5 and a p-value of 1.8464904061588245e-50, _we **reject** the null hypothssis_
## Testing Results for JPN against PRC 
JPN has a success rate of 0.6016371077762619
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between JPN and PRC
$H_{A}$: There is a difference between JPN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -21.23888268178168 and a p-value of 8.098418824582894e-79, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 519545.5 and a p-value of 5.812488939037513e-196, _we **reject** the null hypothssis_
## Testing Results for JPN against PRY 
JPN has a success rate of 0.6016371077762619
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and PRY
$H_{A}$: There is a difference between JPN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14112.0 and a p-value of 2.3134277413316598e-10, _we **reject** the null hypothssis_
## Testing Results for JPN against ROC 
JPN has a success rate of 0.6016371077762619
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between JPN and ROC
$H_{A}$: There is a difference between JPN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.534331149036287 and a p-value of 1.5036129184857482e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88208.0 and a p-value of 2.65985405072133e-23, _we **reject** the null hypothssis_
## Testing Results for JPN against RP 
JPN has a success rate of 0.6016371077762619
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between JPN and RP
$H_{A}$: There is a difference between JPN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.957937725898757 and a p-value of 0.003143720085633095, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 281308.5 and a p-value of 0.0031721308855370287, _we failed to reject the null hypothssis_
## Testing Results for JPN against SAFR 
JPN has a success rate of 0.6016371077762619
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between JPN and SAFR
$H_{A}$: There is a difference between JPN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.64180284379652 and a p-value of 5.6833537718544813e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32845.5 and a p-value of 1.3591495517027263e-13, _we **reject** the null hypothssis_
## Testing Results for JPN against SAUD 
JPN has a success rate of 0.6016371077762619
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and SAUD
$H_{A}$: There is a difference between JPN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26239.5 and a p-value of 2.114352154058939e-17, _we **reject** the null hypothssis_
## Testing Results for JPN against SING 
JPN has a success rate of 0.6016371077762619
SING has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and SING
$H_{A}$: There is a difference between JPN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 160524.0 and a p-value of 9.359619388238562e-81, _we **reject** the null hypothssis_
## Testing Results for JPN against SKOR 
JPN has a success rate of 0.6016371077762619
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between JPN and SKOR
$H_{A}$: There is a difference between JPN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.914498800791853 and a p-value of 1.0822864392906384e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15062.5 and a p-value of 1.2734413429259224e-06, _we **reject** the null hypothssis_
## Testing Results for JPN against SPN 
JPN has a success rate of 0.6016371077762619
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and SPN
$H_{A}$: There is a difference between JPN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 148396.5 and a p-value of 1.6317129182503646e-75, _we **reject** the null hypothssis_
## Testing Results for JPN against SVN 
JPN has a success rate of 0.6016371077762619
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between JPN and SVN
$H_{A}$: There is a difference between JPN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -15.47253540471759 and a p-value of 5.741410378710938e-42, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19916.5 and a p-value of 5.267888567793956e-12, _we **reject** the null hypothssis_
## Testing Results for JPN against SWTZ 
JPN has a success rate of 0.6016371077762619
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and SWTZ
$H_{A}$: There is a difference between JPN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85333.5 and a p-value of 3.1555115032213407e-47, _we **reject** the null hypothssis_
## Testing Results for JPN against TBD 
JPN has a success rate of 0.6016371077762619
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between JPN and TBD
$H_{A}$: There is a difference between JPN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.667844150877418 and a p-value of 4.686330274125044e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88563.5 and a p-value of 2.4190639259269883e-45, _we **reject** the null hypothssis_
## Testing Results for JPN against THAI 
JPN has a success rate of 0.6016371077762619
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between JPN and THAI
$H_{A}$: There is a difference between JPN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.37491926752151 and a p-value of 3.7716100435160636e-70, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37777.0 and a p-value of 5.938364967613091e-22, _we **reject** the null hypothssis_
## Testing Results for JPN against TURK 
JPN has a success rate of 0.6016371077762619
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between JPN and TURK
$H_{A}$: There is a difference between JPN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -21.347627641137912 and a p-value of 3.0573404423532042e-80, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58799.0 and a p-value of 1.317070557950771e-33, _we **reject** the null hypothssis_
## Testing Results for JPN against UAE 
JPN has a success rate of 0.6016371077762619
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between JPN and UAE
$H_{A}$: There is a difference between JPN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.015455300966266 and a p-value of 8.03483049069168e-83, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 105619.5 and a p-value of 1.4447200651903412e-56, _we **reject** the null hypothssis_
## Testing Results for JPN against UK 
JPN has a success rate of 0.6016371077762619
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between JPN and UK
$H_{A}$: There is a difference between JPN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.925057119966567 and a p-value of 8.98965826220656e-78, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 190208.0 and a p-value of 1.936272798403053e-84, _we **reject** the null hypothssis_
## Testing Results for JPN against UKR 
JPN has a success rate of 0.6016371077762619
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between JPN and UKR
$H_{A}$: There is a difference between JPN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.127807667887517 and a p-value of 2.750463358588918e-69, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61588.0 and a p-value of 1.2380870255254619e-31, _we **reject** the null hypothssis_
## Testing Results for JPN against US 
JPN has a success rate of 0.6016371077762619
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between JPN and US
$H_{A}$: There is a difference between JPN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.463359262059626 and a p-value of 1.3991189856098773e-146, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1428303.5 and a p-value of 2.120957264162862e-139, _we **reject** the null hypothssis_
