# Testing Results For KWT 
$H_{0}$: There is not a difference in collection success against KWT 
$H_{A}$: There is a difference in collection success against KWT
Out of 54 tests, there were 11 rejections from 54 independent-t test.
Out of 54 tests, there were 11 rejections from 54 Man Whitney u-tests.
## Testing Results for KWT against ALG 
KWT has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and ALG
$H_{A}$: There is a difference between KWT and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ARGN 
KWT has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and ARGN
$H_{A}$: There is a difference between KWT and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ASRA 
KWT has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and ASRA
$H_{A}$: There is a difference between KWT and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against AUS 
KWT has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between KWT and AUS
$H_{A}$: There is a difference between KWT and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.223493984298648 and a p-value of 2.4691213482709694e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24463.5 and a p-value of 9.558783239465426e-12, _we **reject** the null hypothssis_
## Testing Results for KWT against BEL 
KWT has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between KWT and BEL
$H_{A}$: There is a difference between KWT and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.197519666616494 and a p-value of 3.437339066061771e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16144.5 and a p-value of 4.150481414370797e-05, _we **reject** the null hypothssis_
## Testing Results for KWT against BRAZ 
KWT has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and BRAZ
$H_{A}$: There is a difference between KWT and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against CA 
KWT has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and CA
$H_{A}$: There is a difference between KWT and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against CIS 
KWT has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between KWT and CIS
$H_{A}$: There is a difference between KWT and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.226144538824524 and a p-value of 2.2121808327519005e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53932.5 and a p-value of 2.7223999776627963e-07, _we **reject** the null hypothssis_
## Testing Results for KWT against COL 
KWT has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and COL
$H_{A}$: There is a difference between KWT and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against DEN 
KWT has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and DEN
$H_{A}$: There is a difference between KWT and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ESA 
KWT has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between KWT and ESA
$H_{A}$: There is a difference between KWT and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6399947208823438 and a p-value of 0.10228954277499397, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7614.0 and a p-value of 0.10339858694284756, _we failed to reject the null hypothssis_
## Testing Results for KWT against EST 
KWT has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between KWT and EST
$H_{A}$: There is a difference between KWT and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8908822316870115 and a p-value of 0.0602555516563649, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2890.5 and a p-value of 0.06229604572097749, _we failed to reject the null hypothssis_
## Testing Results for KWT against EUME 
KWT has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and EUME
$H_{A}$: There is a difference between KWT and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against FIN 
KWT has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and FIN
$H_{A}$: There is a difference between KWT and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against FR 
KWT has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between KWT and FR
$H_{A}$: There is a difference between KWT and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.769686608516015 and a p-value of 0.000178571958869004, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38563.5 and a p-value of 0.00019082999812139735, _we **reject** the null hypothssis_
## Testing Results for KWT against GER 
KWT has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between KWT and GER
$H_{A}$: There is a difference between KWT and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8363676162554783 and a p-value of 0.06642445132089722, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 166662.0 and a p-value of 0.06647041064921476, _we failed to reject the null hypothssis_
## Testing Results for KWT against GUAT 
KWT has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between KWT and GUAT
$H_{A}$: There is a difference between KWT and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0571436338779376 and a p-value of 0.040926056511766666, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4935.0 and a p-value of 0.0419408037322433, _we failed to reject the null hypothssis_
## Testing Results for KWT against HUN 
KWT has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and HUN
$H_{A}$: There is a difference between KWT and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against IND 
KWT has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between KWT and IND
$H_{A}$: There is a difference between KWT and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.06850538769538 and a p-value of 0.03906358053949103, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29469.0 and a p-value of 0.039293148423844224, _we failed to reject the null hypothssis_
## Testing Results for KWT against INDO 
KWT has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and INDO
$H_{A}$: There is a difference between KWT and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against IRAN 
KWT has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and IRAN
$H_{A}$: There is a difference between KWT and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against IRAQ 
KWT has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and IRAQ
$H_{A}$: There is a difference between KWT and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ISRA 
KWT has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and ISRA
$H_{A}$: There is a difference between KWT and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ISS 
KWT has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and ISS
$H_{A}$: There is a difference between KWT and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against IT 
KWT has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between KWT and IT
$H_{A}$: There is a difference between KWT and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.456751552109725 and a p-value of 0.0005684309310232558, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69936.0 and a p-value of 0.0005845212988050307, _we **reject** the null hypothssis_
## Testing Results for KWT against JPN 
KWT has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between KWT and JPN
$H_{A}$: There is a difference between KWT and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.651264400502237 and a p-value of 5.21424626342299e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72262.5 and a p-value of 4.3607865328429564e-20, _we **reject** the null hypothssis_
## Testing Results for KWT against KAZ 
KWT has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between KWT and KAZ
$H_{A}$: There is a difference between KWT and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2477844141807648 and a p-value of 0.21301948322167616, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12972.0 and a p-value of 0.21413116392142428, _we failed to reject the null hypothssis_
## Testing Results for KWT against LKA 
KWT has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and LKA
$H_{A}$: There is a difference between KWT and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against LTU 
KWT has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between KWT and LTU
$H_{A}$: There is a difference between KWT and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4927777789630896 and a p-value of 0.13618238358829457, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22912.5 and a p-value of 0.13657323240861294, _we failed to reject the null hypothssis_
## Testing Results for KWT against MALA 
KWT has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and MALA
$H_{A}$: There is a difference between KWT and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against MEX 
KWT has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and MEX
$H_{A}$: There is a difference between KWT and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against MUS 
KWT has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and MUS
$H_{A}$: There is a difference between KWT and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against MX 
KWT has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between KWT and MX
$H_{A}$: There is a difference between KWT and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38775.0 and a p-value of 3.022943277883177e-92, _we **reject** the null hypothssis_
## Testing Results for KWT against NETH 
KWT has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and NETH
$H_{A}$: There is a difference between KWT and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against NPL 
KWT has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and NPL
$H_{A}$: There is a difference between KWT and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against POL 
KWT has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between KWT and POL
$H_{A}$: There is a difference between KWT and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7201561787525275 and a p-value of 0.08589985588337587, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34897.5 and a p-value of 0.08611653409232792, _we failed to reject the null hypothssis_
## Testing Results for KWT against PRC 
KWT has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between KWT and PRC
$H_{A}$: There is a difference between KWT and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.265569796879428 and a p-value of 0.20578738608871078, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 164899.5 and a p-value of 0.2058464361502642, _we failed to reject the null hypothssis_
## Testing Results for KWT against PRY 
KWT has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and PRY
$H_{A}$: There is a difference between KWT and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against ROC 
KWT has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between KWT and ROC
$H_{A}$: There is a difference between KWT and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 25.477149787413875 and a p-value of 8.154455084175012e-78, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21714.0 and a p-value of 1.7314193692800128e-47, _we **reject** the null hypothssis_
## Testing Results for KWT against RP 
KWT has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between KWT and RP
$H_{A}$: There is a difference between KWT and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.258757712277411 and a p-value of 4.809692567872508e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77338.5 and a p-value of 1.3973106929539984e-15, _we **reject** the null hypothssis_
## Testing Results for KWT against SAFR 
KWT has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between KWT and SAFR
$H_{A}$: There is a difference between KWT and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1746129327411343 and a p-value of 0.001672172530777384, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10081.5 and a p-value of 0.001803403751962036, _we failed to reject the null hypothssis_
## Testing Results for KWT against SAUD 
KWT has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and SAUD
$H_{A}$: There is a difference between KWT and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against SING 
KWT has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and SING
$H_{A}$: There is a difference between KWT and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against SKOR 
KWT has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between KWT and SKOR
$H_{A}$: There is a difference between KWT and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5623921345759335 and a p-value of 0.00045988109482853623, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4582.5 and a p-value of 0.0005447734368617622, _we **reject** the null hypothssis_
## Testing Results for KWT against SPN 
KWT has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and SPN
$H_{A}$: There is a difference between KWT and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against SVN 
KWT has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between KWT and SVN
$H_{A}$: There is a difference between KWT and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8134345567571104 and a p-value of 0.07109128056583457, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6274.5 and a p-value of 0.07218280687635696, _we failed to reject the null hypothssis_
## Testing Results for KWT against SWTZ 
KWT has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and SWTZ
$H_{A}$: There is a difference between KWT and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against TBD 
KWT has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between KWT and TBD
$H_{A}$: There is a difference between KWT and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1987797743055464 and a p-value of 0.2311452948766182, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28129.5 and a p-value of 0.23163187620024106, _we failed to reject the null hypothssis_
## Testing Results for KWT against THAI 
KWT has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between KWT and THAI
$H_{A}$: There is a difference between KWT and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2991534715575173 and a p-value of 0.19486608870148772, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11985.0 and a p-value of 0.19597525635673907, _we failed to reject the null hypothssis_
## Testing Results for KWT against TURK 
KWT has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between KWT and TURK
$H_{A}$: There is a difference between KWT and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7290129761471698 and a p-value of 0.4664161252134803, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18753.0 and a p-value of 0.4689050623873242, _we failed to reject the null hypothssis_
## Testing Results for KWT against UAE 
KWT has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between KWT and UAE
$H_{A}$: There is a difference between KWT and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for KWT against UK 
KWT has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between KWT and UK
$H_{A}$: There is a difference between KWT and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2973762892148213 and a p-value of 0.1948055170649197, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60348.0 and a p-value of 0.194972987284031, _we failed to reject the null hypothssis_
## Testing Results for KWT against UKR 
KWT has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between KWT and UKR
$H_{A}$: There is a difference between KWT and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6240412670954474 and a p-value of 0.10513551073562459, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19458.0 and a p-value of 0.10555130949802667, _we failed to reject the null hypothssis_
## Testing Results for KWT against US 
KWT has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between KWT and US
$H_{A}$: There is a difference between KWT and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5273864460945314 and a p-value of 0.00042290553912812084, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 435055.5 and a p-value of 0.00042526620701088455, _we **reject** the null hypothssis_
