# Testing Results For LKA 
$H_{0}$: There is not a difference in collection success against LKA 
$H_{A}$: There is a difference in collection success against LKA
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for LKA against ALG 
LKA has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and ALG
$H_{A}$: There is a difference between LKA and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ARGN 
LKA has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and ARGN
$H_{A}$: There is a difference between LKA and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ASRA 
LKA has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and ASRA
$H_{A}$: There is a difference between LKA and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against AUS 
LKA has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between LKA and AUS
$H_{A}$: There is a difference between LKA and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.229711157938954 and a p-value of 7.618647464497964e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39905.0 and a p-value of 1.3335027288650459e-17, _we **reject** the null hypothssis_
## Testing Results for LKA against BEL 
LKA has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between LKA and BEL
$H_{A}$: There is a difference between LKA and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.36418702427901 and a p-value of 1.3253284733709517e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26335.0 and a p-value of 1.9956626625191722e-07, _we **reject** the null hypothssis_
## Testing Results for LKA against BRAZ 
LKA has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and BRAZ
$H_{A}$: There is a difference between LKA and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against CA 
LKA has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and CA
$H_{A}$: There is a difference between LKA and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against CIS 
LKA has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between LKA and CIS
$H_{A}$: There is a difference between LKA and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.675601221871484 and a p-value of 4.33884447414403e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 87975.0 and a p-value of 7.162861887649278e-11, _we **reject** the null hypothssis_
## Testing Results for LKA against COL 
LKA has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and COL
$H_{A}$: There is a difference between LKA and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against DEN 
LKA has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and DEN
$H_{A}$: There is a difference between LKA and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ESA 
LKA has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between LKA and ESA
$H_{A}$: There is a difference between LKA and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0968426465162056 and a p-value of 0.03675918242899823, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12420.0 and a p-value of 0.03736468285333495, _we failed to reject the null hypothssis_
## Testing Results for LKA against EST 
LKA has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between LKA and EST
$H_{A}$: There is a difference between LKA and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.419452662707938 and a p-value of 0.016209880820643258, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4715.0 and a p-value of 0.016963862367450868, _we failed to reject the null hypothssis_
## Testing Results for LKA against EUME 
LKA has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and EUME
$H_{A}$: There is a difference between LKA and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against FIN 
LKA has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and FIN
$H_{A}$: There is a difference between LKA and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against FR 
LKA has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between LKA and FR
$H_{A}$: There is a difference between LKA and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.815509136655832 and a p-value of 1.7861521730638796e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 62905.0 and a p-value of 2.100551335854294e-06, _we **reject** the null hypothssis_
## Testing Results for LKA against GER 
LKA has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between LKA and GER
$H_{A}$: There is a difference between LKA and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.345417713749197 and a p-value of 0.01908239393996562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 271860.0 and a p-value of 0.019121545455635425, _we failed to reject the null hypothssis_
## Testing Results for LKA against GUAT 
LKA has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between LKA and GUAT
$H_{A}$: There is a difference between LKA and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.631144328988333 and a p-value of 0.008955518608085992, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8050.0 and a p-value of 0.009332409111464712, _we failed to reject the null hypothssis_
## Testing Results for LKA against HUN 
LKA has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and HUN
$H_{A}$: There is a difference between LKA and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against IND 
LKA has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between LKA and IND
$H_{A}$: There is a difference between LKA and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6425456667396503 and a p-value of 0.008431733428891407, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48070.0 and a p-value of 0.008557825875118902, _we failed to reject the null hypothssis_
## Testing Results for LKA against INDO 
LKA has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and INDO
$H_{A}$: There is a difference between LKA and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against IRAN 
LKA has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and IRAN
$H_{A}$: There is a difference between LKA and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against IRAQ 
LKA has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and IRAQ
$H_{A}$: There is a difference between LKA and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ISRA 
LKA has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and ISRA
$H_{A}$: There is a difference between LKA and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ISS 
LKA has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and ISS
$H_{A}$: There is a difference between LKA and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against IT 
LKA has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between LKA and IT
$H_{A}$: There is a difference between LKA and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.415239475118138 and a p-value of 1.104112697878287e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 114080.0 and a p-value of 1.187532091470236e-05, _we **reject** the null hypothssis_
## Testing Results for LKA against JPN 
LKA has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between LKA and JPN
$H_{A}$: There is a difference between LKA and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.32777216144094 and a p-value of 1.5942603363550213e-32, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117875.0 and a p-value of 2.070683335719233e-30, _we **reject** the null hypothssis_
## Testing Results for LKA against KAZ 
LKA has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between LKA and KAZ
$H_{A}$: There is a difference between LKA and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5947256648284522 and a p-value of 0.11154412320916451, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21160.0 and a p-value of 0.11222304531269221, _we failed to reject the null hypothssis_
## Testing Results for LKA against KWT 
LKA has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and KWT
$H_{A}$: There is a difference between LKA and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against LTU 
LKA has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between LKA and LTU
$H_{A}$: There is a difference between LKA and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9072278410085244 and a p-value of 0.057013638180312735, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37375.0 and a p-value of 0.05730090976385297, _we failed to reject the null hypothssis_
## Testing Results for LKA against MALA 
LKA has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and MALA
$H_{A}$: There is a difference between LKA and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against MEX 
LKA has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and MEX
$H_{A}$: There is a difference between LKA and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against MUS 
LKA has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and MUS
$H_{A}$: There is a difference between LKA and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against MX 
LKA has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between LKA and MX
$H_{A}$: There is a difference between LKA and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63250.0 and a p-value of 1.2915919409697517e-111, _we **reject** the null hypothssis_
## Testing Results for LKA against NETH 
LKA has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and NETH
$H_{A}$: There is a difference between LKA and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against NPL 
LKA has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and NPL
$H_{A}$: There is a difference between LKA and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against POL 
LKA has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between LKA and POL
$H_{A}$: There is a difference between LKA and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1973986695116237 and a p-value of 0.02831290181437543, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56925.0 and a p-value of 0.028482341107829552, _we failed to reject the null hypothssis_
## Testing Results for LKA against PRC 
LKA has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between LKA and PRC
$H_{A}$: There is a difference between LKA and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6163918876122934 and a p-value of 0.10613374520771685, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 268985.0 and a p-value of 0.10617883933637787, _we failed to reject the null hypothssis_
## Testing Results for LKA against PRY 
LKA has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and PRY
$H_{A}$: There is a difference between LKA and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against ROC 
LKA has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between LKA and ROC
$H_{A}$: There is a difference between LKA and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 32.56263163680806 and a p-value of 3.6719085960825635e-114, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35420.0 and a p-value of 6.200695692137079e-65, _we **reject** the null hypothssis_
## Testing Results for LKA against RP 
LKA has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between LKA and RP
$H_{A}$: There is a difference between LKA and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.548894250153685 and a p-value of 8.393383426245566e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 126155.0 and a p-value of 1.0415944641767559e-23, _we **reject** the null hypothssis_
## Testing Results for LKA against SAFR 
LKA has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between LKA and SAFR
$H_{A}$: There is a difference between LKA and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.058202926051256 and a p-value of 6.061855934246597e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16445.0 and a p-value of 7.112729358540706e-05, _we **reject** the null hypothssis_
## Testing Results for LKA against SAUD 
LKA has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and SAUD
$H_{A}$: There is a difference between LKA and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against SING 
LKA has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and SING
$H_{A}$: There is a difference between LKA and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against SKOR 
LKA has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between LKA and SKOR
$H_{A}$: There is a difference between LKA and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.556850917259822 and a p-value of 7.680182265620244e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7475.0 and a p-value of 1.059024220649078e-05, _we **reject** the null hypothssis_
## Testing Results for LKA against SPN 
LKA has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and SPN
$H_{A}$: There is a difference between LKA and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against SVN 
LKA has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between LKA and SVN
$H_{A}$: There is a difference between LKA and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.318969831623024 and a p-value of 0.021036223702184203, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10235.0 and a p-value of 0.021558059985673433, _we failed to reject the null hypothssis_
## Testing Results for LKA against SWTZ 
LKA has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and SWTZ
$H_{A}$: There is a difference between LKA and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against TBD 
LKA has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between LKA and TBD
$H_{A}$: There is a difference between LKA and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5314737231522806 and a p-value of 0.1261599598623916, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45885.0 and a p-value of 0.1264721912381408, _we failed to reject the null hypothssis_
## Testing Results for LKA against THAI 
LKA has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between LKA and THAI
$H_{A}$: There is a difference between LKA and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6604695993688126 and a p-value of 0.09761156821381407, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19550.0 and a p-value of 0.09828908794208187, _we failed to reject the null hypothssis_
## Testing Results for LKA against TURK 
LKA has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between LKA and TURK
$H_{A}$: There is a difference between LKA and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9314999045826718 and a p-value of 0.3520509604742702, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30590.0 and a p-value of 0.35362852260883404, _we failed to reject the null hypothssis_
## Testing Results for LKA against UAE 
LKA has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between LKA and UAE
$H_{A}$: There is a difference between LKA and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for LKA against UK 
LKA has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between LKA and UK
$H_{A}$: There is a difference between LKA and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6571307808126523 and a p-value of 0.09778509731759726, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 98440.0 and a p-value of 0.09791096816725382, _we failed to reject the null hypothssis_
## Testing Results for LKA against UKR 
LKA has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between LKA and UKR
$H_{A}$: There is a difference between LKA and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0751022998939774 and a p-value of 0.03848887992642031, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31740.0 and a p-value of 0.0387834390233365, _we failed to reject the null hypothssis_
## Testing Results for LKA against US 
LKA has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between LKA and US
$H_{A}$: There is a difference between LKA and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.5051423367818595 and a p-value of 6.7599841997334226e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 709665.0 and a p-value of 6.866132397298489e-06, _we **reject** the null hypothssis_
