# Testing Results For MEX 
$H_{0}$: There is not a difference in collection success against MEX 
$H_{A}$: There is a difference in collection success against MEX
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for MEX against ALG 
MEX has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and ALG
$H_{A}$: There is a difference between MEX and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ARGN 
MEX has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and ARGN
$H_{A}$: There is a difference between MEX and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ASRA 
MEX has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and ASRA
$H_{A}$: There is a difference between MEX and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against AUS 
MEX has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between MEX and AUS
$H_{A}$: There is a difference between MEX and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.795380761533591 and a p-value of 6.203574413048818e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44936.5 and a p-value of 1.8561830705800334e-19, _we **reject** the null hypothssis_
## Testing Results for MEX against BEL 
MEX has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between MEX and BEL
$H_{A}$: There is a difference between MEX and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.6931453821420845 and a p-value of 2.2175118268434902e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29655.5 and a p-value of 3.6133680409571216e-08, _we **reject** the null hypothssis_
## Testing Results for MEX against BRAZ 
MEX has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and BRAZ
$H_{A}$: There is a difference between MEX and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against CA 
MEX has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and CA
$H_{A}$: There is a difference between MEX and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against CIS 
MEX has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between MEX and CIS
$H_{A}$: There is a difference between MEX and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.0842169160612505 and a p-value of 2.7891131135598322e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99067.5 and a p-value of 5.160104727318216e-12, _we **reject** the null hypothssis_
## Testing Results for MEX against COL 
MEX has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and COL
$H_{A}$: There is a difference between MEX and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against DEN 
MEX has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and DEN
$H_{A}$: There is a difference between MEX and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ESA 
MEX has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between MEX and ESA
$H_{A}$: There is a difference between MEX and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.225640884009196 and a p-value of 0.026651915748822863, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13986.0 and a p-value of 0.027148329991355136, _we failed to reject the null hypothssis_
## Testing Results for MEX against EST 
MEX has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between MEX and EST
$H_{A}$: There is a difference between MEX and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5683854977069744 and a p-value of 0.010706107453401758, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5309.5 and a p-value of 0.011251879683600856, _we failed to reject the null hypothssis_
## Testing Results for MEX against EUME 
MEX has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and EUME
$H_{A}$: There is a difference between MEX and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against FIN 
MEX has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and FIN
$H_{A}$: There is a difference between MEX and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against FR 
MEX has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between MEX and FR
$H_{A}$: There is a difference between MEX and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.110353070192342 and a p-value of 4.073887524013874e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 70836.5 and a p-value of 4.971199311766638e-07, _we **reject** the null hypothssis_
## Testing Results for MEX against GER 
MEX has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between MEX and GER
$H_{A}$: There is a difference between MEX and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4889037181780433 and a p-value of 0.012876676805114097, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 306138.0 and a p-value of 0.01291108693221625, _we failed to reject the null hypothssis_
## Testing Results for MEX against GUAT 
MEX has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between MEX and GUAT
$H_{A}$: There is a difference between MEX and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7929342783264155 and a p-value of 0.005532753924835087, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9065.0 and a p-value of 0.005799361050561858, _we failed to reject the null hypothssis_
## Testing Results for MEX against HUN 
MEX has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and HUN
$H_{A}$: There is a difference between MEX and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against IND 
MEX has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between MEX and IND
$H_{A}$: There is a difference between MEX and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8043895214045795 and a p-value of 0.005188801194824457, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54131.0 and a p-value of 0.005285359476123948, _we failed to reject the null hypothssis_
## Testing Results for MEX against INDO 
MEX has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and INDO
$H_{A}$: There is a difference between MEX and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against IRAN 
MEX has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and IRAN
$H_{A}$: There is a difference between MEX and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against IRAQ 
MEX has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and IRAQ
$H_{A}$: There is a difference between MEX and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ISRA 
MEX has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and ISRA
$H_{A}$: There is a difference between MEX and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ISS 
MEX has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and ISS
$H_{A}$: There is a difference between MEX and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against IT 
MEX has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between MEX and IT
$H_{A}$: There is a difference between MEX and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.685430853033041 and a p-value of 3.119179082805777e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 128464.0 and a p-value of 3.416293457913825e-06, _we **reject** the null hypothssis_
## Testing Results for MEX against JPN 
MEX has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between MEX and JPN
$H_{A}$: There is a difference between MEX and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.08229006573602 and a p-value of 3.4487213915334146e-36, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132737.5 and a p-value of 1.2571313027059429e-33, _we **reject** the null hypothssis_
## Testing Results for MEX against KAZ 
MEX has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between MEX and KAZ
$H_{A}$: There is a difference between MEX and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6925503334888679 and a p-value of 0.09125060741332813, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23828.0 and a p-value of 0.09185078407979093, _we failed to reject the null hypothssis_
## Testing Results for MEX against KWT 
MEX has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and KWT
$H_{A}$: There is a difference between MEX and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against LKA 
MEX has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and LKA
$H_{A}$: There is a difference between MEX and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against LTU 
MEX has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between MEX and LTU
$H_{A}$: There is a difference between MEX and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.024082602534905 and a p-value of 0.04342191629540342, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42087.5 and a p-value of 0.043682681602565276, _we failed to reject the null hypothssis_
## Testing Results for MEX against MALA 
MEX has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and MALA
$H_{A}$: There is a difference between MEX and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against MUS 
MEX has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and MUS
$H_{A}$: There is a difference between MEX and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against MX 
MEX has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between MEX and MX
$H_{A}$: There is a difference between MEX and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71225.0 and a p-value of 6.332016314368058e-118, _we **reject** the null hypothssis_
## Testing Results for MEX against NETH 
MEX has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and NETH
$H_{A}$: There is a difference between MEX and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against NPL 
MEX has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and NPL
$H_{A}$: There is a difference between MEX and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against POL 
MEX has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between MEX and POL
$H_{A}$: There is a difference between MEX and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.33194639028774 and a p-value of 0.019970214499106215, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64102.5 and a p-value of 0.020119313436145994, _we failed to reject the null hypothssis_
## Testing Results for MEX against PRC 
MEX has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between MEX and PRC
$H_{A}$: There is a difference between MEX and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7152781415247966 and a p-value of 0.0864147833718355, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 302900.5 and a p-value of 0.08645969158560994, _we failed to reject the null hypothssis_
## Testing Results for MEX against PRY 
MEX has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and PRY
$H_{A}$: There is a difference between MEX and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against ROC 
MEX has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between MEX and ROC
$H_{A}$: There is a difference between MEX and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 34.560464420122884 and a p-value of 1.1643825706035321e-125, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39886.0 and a p-value of 2.0395844148694452e-70, _we **reject** the null hypothssis_
## Testing Results for MEX against RP 
MEX has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between MEX and RP
$H_{A}$: There is a difference between MEX and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.194479232886872 and a p-value of 1.3256447605904791e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 142061.5 and a p-value of 2.8753186504227875e-26, _we **reject** the null hypothssis_
## Testing Results for MEX against SAFR 
MEX has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between MEX and SAFR
$H_{A}$: There is a difference between MEX and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.3073308715074585 and a p-value of 2.0923901292527345e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18518.5 and a p-value of 2.528865361302546e-05, _we **reject** the null hypothssis_
## Testing Results for MEX against SAUD 
MEX has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and SAUD
$H_{A}$: There is a difference between MEX and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against SING 
MEX has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and SING
$H_{A}$: There is a difference between MEX and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against SKOR 
MEX has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between MEX and SKOR
$H_{A}$: There is a difference between MEX and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.837130775654186 and a p-value of 2.0589493871751215e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8417.5 and a p-value of 2.9875527237015793e-06, _we **reject** the null hypothssis_
## Testing Results for MEX against SPN 
MEX has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and SPN
$H_{A}$: There is a difference between MEX and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against SVN 
MEX has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between MEX and SVN
$H_{A}$: There is a difference between MEX and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4614815728524135 and a p-value of 0.014326641775574153, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11525.5 and a p-value of 0.014731501915166336, _we failed to reject the null hypothssis_
## Testing Results for MEX against SWTZ 
MEX has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and SWTZ
$H_{A}$: There is a difference between MEX and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against TBD 
MEX has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between MEX and TBD
$H_{A}$: There is a difference between MEX and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.625273381907479 and a p-value of 0.1045875669808468, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51670.5 and a p-value of 0.10487454236336811, _we failed to reject the null hypothssis_
## Testing Results for MEX against THAI 
MEX has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between MEX and THAI
$H_{A}$: There is a difference between MEX and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7623467556925336 and a p-value of 0.07872950709535254, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22015.0 and a p-value of 0.07932551651301238, _we failed to reject the null hypothssis_
## Testing Results for MEX against TURK 
MEX has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between MEX and TURK
$H_{A}$: There is a difference between MEX and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9885929900270403 and a p-value of 0.32332032756328044, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34447.0 and a p-value of 0.32472360511920195, _we failed to reject the null hypothssis_
## Testing Results for MEX against UAE 
MEX has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between MEX and UAE
$H_{A}$: There is a difference between MEX and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MEX against UK 
MEX has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between MEX and UK
$H_{A}$: There is a difference between MEX and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7585444915331678 and a p-value of 0.0789321982544279, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110852.0 and a p-value of 0.0790539256955177, _we failed to reject the null hypothssis_
## Testing Results for MEX against UKR 
MEX has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between MEX and UKR
$H_{A}$: There is a difference between MEX and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.202282827529869 and a p-value of 0.028076834802748453, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35742.0 and a p-value of 0.028334929189976654, _we failed to reject the null hypothssis_
## Testing Results for MEX against US 
MEX has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between MEX and US
$H_{A}$: There is a difference between MEX and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.780736819594199 and a p-value of 1.7884595787445363e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 799144.5 and a p-value of 1.8243785053667059e-06, _we **reject** the null hypothssis_
