# Testing Results For NETH 
$H_{0}$: There is not a difference in collection success against NETH 
$H_{A}$: There is a difference in collection success against NETH
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for NETH against ALG 
NETH has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and ALG
$H_{A}$: There is a difference between NETH and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ARGN 
NETH has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and ARGN
$H_{A}$: There is a difference between NETH and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ASRA 
NETH has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and ASRA
$H_{A}$: There is a difference between NETH and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against AUS 
NETH has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between NETH and AUS
$H_{A}$: There is a difference between NETH and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.185481659641368 and a p-value of 1.9350789551051724e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48580.0 and a p-value of 8.618327384713949e-21, _we **reject** the null hypothssis_
## Testing Results for NETH against BEL 
NETH has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between NETH and BEL
$H_{A}$: There is a difference between NETH and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.920003111793427 and a p-value of 6.104887513260025e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32060.0 and a p-value of 1.0548654774917922e-08, _we **reject** the null hypothssis_
## Testing Results for NETH against BRAZ 
NETH has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and BRAZ
$H_{A}$: There is a difference between NETH and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against CA 
NETH has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and CA
$H_{A}$: There is a difference between NETH and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against CIS 
NETH has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between NETH and CIS
$H_{A}$: There is a difference between NETH and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.365998231806136 and a p-value of 3.855295920488394e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107100.0 and a p-value of 7.781887492709688e-13, _we **reject** the null hypothssis_
## Testing Results for NETH against COL 
NETH has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and COL
$H_{A}$: There is a difference between NETH and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against DEN 
NETH has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and DEN
$H_{A}$: There is a difference between NETH and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ESA 
NETH has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between NETH and ESA
$H_{A}$: There is a difference between NETH and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.314457997682626 and a p-value of 0.021169513484967508, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15120.0 and a p-value of 0.021598073040260252, _we failed to reject the null hypothssis_
## Testing Results for NETH against EST 
NETH has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between NETH and EST
$H_{A}$: There is a difference between NETH and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6710700823107203 and a p-value of 0.007950048310455978, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5740.0 and a p-value of 0.008381504991182955, _we failed to reject the null hypothssis_
## Testing Results for NETH against EUME 
NETH has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and EUME
$H_{A}$: There is a difference between NETH and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against FIN 
NETH has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and FIN
$H_{A}$: There is a difference between NETH and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against FR 
NETH has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between NETH and FR
$H_{A}$: There is a difference between NETH and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.313680590541739 and a p-value of 1.4036541390778974e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76580.0 and a p-value of 1.7617377060488948e-07, _we **reject** the null hypothssis_
## Testing Results for NETH against GER 
NETH has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between NETH and GER
$H_{A}$: There is a difference between NETH and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5878470340072965 and a p-value of 0.009711792515500936, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 330960.0 and a p-value of 0.009742601806193383, _we failed to reject the null hypothssis_
## Testing Results for NETH against GUAT 
NETH has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between NETH and GUAT
$H_{A}$: There is a difference between NETH and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9044939297249583 and a p-value of 0.0039148980081719, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9800.0 and a p-value of 0.004121204184989138, _we failed to reject the null hypothssis_
## Testing Results for NETH against HUN 
NETH has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and HUN
$H_{A}$: There is a difference between NETH and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against IND 
NETH has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between NETH and IND
$H_{A}$: There is a difference between NETH and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.916000007673681 and a p-value of 0.0036615534141094712, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58520.0 and a p-value of 0.003740006016485126, _we failed to reject the null hypothssis_
## Testing Results for NETH against INDO 
NETH has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and INDO
$H_{A}$: There is a difference between NETH and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against IRAN 
NETH has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and IRAN
$H_{A}$: There is a difference between NETH and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against IRAQ 
NETH has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and IRAQ
$H_{A}$: There is a difference between NETH and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ISRA 
NETH has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and ISRA
$H_{A}$: There is a difference between NETH and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ISS 
NETH has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and ISS
$H_{A}$: There is a difference between NETH and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against IT 
NETH has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between NETH and IT
$H_{A}$: There is a difference between NETH and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.871751457551065 and a p-value of 1.2542573896067895e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 138880.0 and a p-value of 1.3932168529581639e-06, _we **reject** the null hypothssis_
## Testing Results for NETH against JPN 
NETH has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between NETH and JPN
$H_{A}$: There is a difference between NETH and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.602602332037224 and a p-value of 8.041564954537187e-39, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 143500.0 and a p-value of 6.397755479577001e-36, _we **reject** the null hypothssis_
## Testing Results for NETH against KAZ 
NETH has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between NETH and KAZ
$H_{A}$: There is a difference between NETH and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.760012243606014 and a p-value of 0.07907032966482534, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25760.0 and a p-value of 0.07962159461057072, _we failed to reject the null hypothssis_
## Testing Results for NETH against KWT 
NETH has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and KWT
$H_{A}$: There is a difference between NETH and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against LKA 
NETH has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and LKA
$H_{A}$: There is a difference between NETH and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against LTU 
NETH has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between NETH and LTU
$H_{A}$: There is a difference between NETH and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1046685320091685 and a p-value of 0.035736844487195184, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45500.0 and a p-value of 0.0359785294514286, _we failed to reject the null hypothssis_
## Testing Results for NETH against MALA 
NETH has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and MALA
$H_{A}$: There is a difference between NETH and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against MEX 
NETH has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and MEX
$H_{A}$: There is a difference between NETH and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against MUS 
NETH has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and MUS
$H_{A}$: There is a difference between NETH and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against MX 
NETH has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between NETH and MX
$H_{A}$: There is a difference between NETH and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77000.0 and a p-value of 1.7098717507583907e-122, _we **reject** the null hypothssis_
## Testing Results for NETH against NPL 
NETH has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and NPL
$H_{A}$: There is a difference between NETH and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against POL 
NETH has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between NETH and POL
$H_{A}$: There is a difference between NETH and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.424732101778235 and a p-value of 0.015550913110282056, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69300.0 and a p-value of 0.015685041035181944, _we failed to reject the null hypothssis_
## Testing Results for NETH against PRC 
NETH has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between NETH and PRC
$H_{A}$: There is a difference between NETH and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7834669079618997 and a p-value of 0.07462734790501895, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 327460.0 and a p-value of 0.07467225244348155, _we failed to reject the null hypothssis_
## Testing Results for NETH against PRY 
NETH has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and PRY
$H_{A}$: There is a difference between NETH and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against ROC 
NETH has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between NETH and ROC
$H_{A}$: There is a difference between NETH and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 35.93820482024053 and a p-value of 6.344357693153385e-134, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43120.0 and a p-value of 2.36310694962425e-74, _we **reject** the null hypothssis_
## Testing Results for NETH against RP 
NETH has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between NETH and RP
$H_{A}$: There is a difference between NETH and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.639668956571535 and a p-value of 1.2788469584287419e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 153580.0 and a p-value of 4.245934390196548e-28, _we **reject** the null hypothssis_
## Testing Results for NETH against SAFR 
NETH has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between NETH and SAFR
$H_{A}$: There is a difference between NETH and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.479130350375188 and a p-value of 9.719543693007145e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20020.0 and a p-value of 1.2006580392236384e-05, _we **reject** the null hypothssis_
## Testing Results for NETH against SAUD 
NETH has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and SAUD
$H_{A}$: There is a difference between NETH and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against SING 
NETH has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and SING
$H_{A}$: There is a difference between NETH and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against SKOR 
NETH has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between NETH and SKOR
$H_{A}$: There is a difference between NETH and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.030388934687318 and a p-value of 7.964198067082811e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9100.0 and a p-value of 1.1993736231490008e-06, _we **reject** the null hypothssis_
## Testing Results for NETH against SPN 
NETH has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and SPN
$H_{A}$: There is a difference between NETH and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against SVN 
NETH has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between NETH and SVN
$H_{A}$: There is a difference between NETH and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.559752352182513 and a p-value of 0.01087678971532091, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12460.0 and a p-value of 0.011212107032980869, _we failed to reject the null hypothssis_
## Testing Results for NETH against SWTZ 
NETH has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and SWTZ
$H_{A}$: There is a difference between NETH and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against TBD 
NETH has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between NETH and TBD
$H_{A}$: There is a difference between NETH and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6899594279861023 and a p-value of 0.0914988201693739, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55860.0 and a p-value of 0.09177064318954144, _we failed to reject the null hypothssis_
## Testing Results for NETH against THAI 
NETH has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between NETH and THAI
$H_{A}$: There is a difference between NETH and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8326029943606816 and a p-value of 0.06752814149304642, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23800.0 and a p-value of 0.0680729515245398, _we failed to reject the null hypothssis_
## Testing Results for NETH against TURK 
NETH has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between NETH and TURK
$H_{A}$: There is a difference between NETH and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0279659178560159 and a p-value of 0.30442354506563774, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37240.0 and a p-value of 0.3057213528126488, _we failed to reject the null hypothssis_
## Testing Results for NETH against UAE 
NETH has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between NETH and UAE
$H_{A}$: There is a difference between NETH and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NETH against UK 
NETH has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between NETH and UK
$H_{A}$: There is a difference between NETH and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8284784125071893 and a p-value of 0.067742683448541, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119840.0 and a p-value of 0.06786160399958517, _we failed to reject the null hypothssis_
## Testing Results for NETH against UKR 
NETH has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between NETH and UKR
$H_{A}$: There is a difference between NETH and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2899899286547796 and a p-value of 0.022400328083781392, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38640.0 and a p-value of 0.022632848142257522, _we failed to reject the null hypothssis_
## Testing Results for NETH against US 
NETH has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between NETH and US
$H_{A}$: There is a difference between NETH and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.970776372349548 and a p-value of 6.854160218218701e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 863940.0 and a p-value of 7.015825615526137e-07, _we **reject** the null hypothssis_
