# Testing Results For PRC 
$H_{0}$: There is not a difference in collection success against PRC 
$H_{A}$: There is a difference in collection success against PRC
Out of 54 tests, there were 40 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for PRC against ALG 
PRC has a success rate of 0.988759187202767
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and ALG
$H_{A}$: There is a difference between PRC and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110919.5 and a p-value of 0.2940644226800321, _we failed to reject the null hypothssis_
## Testing Results for PRC against ARGN 
PRC has a success rate of 0.988759187202767
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and ARGN
$H_{A}$: There is a difference between PRC and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 483700.5 and a p-value of 0.028495188827328256, _we failed to reject the null hypothssis_
## Testing Results for PRC against ASRA 
PRC has a success rate of 0.988759187202767
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and ASRA
$H_{A}$: There is a difference between PRC and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 312175.5 and a p-value of 0.07839639080691063, _we failed to reject the null hypothssis_
## Testing Results for PRC against AUS 
PRC has a success rate of 0.988759187202767
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between PRC and AUS
$H_{A}$: There is a difference between PRC and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 23.125207049020286 and a p-value of 1.0773359252709268e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 397756.5 and a p-value of 2.1307229540547232e-98, _we **reject** the null hypothssis_
## Testing Results for PRC against BEL 
PRC has a success rate of 0.988759187202767
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between PRC and BEL
$H_{A}$: There is a difference between PRC and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.199684843848024 and a p-value of 5.7784267900565255e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 262160.5 and a p-value of 1.5710003232906902e-23, _we **reject** the null hypothssis_
## Testing Results for PRC against BRAZ 
PRC has a success rate of 0.988759187202767
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and BRAZ
$H_{A}$: There is a difference between PRC and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 496279.0 and a p-value of 0.026509699055208804, _we failed to reject the null hypothssis_
## Testing Results for PRC against CA 
PRC has a success rate of 0.988759187202767
CA has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and CA
$H_{A}$: There is a difference between PRC and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 266435.5 and a p-value of 0.10392719272932932, _we failed to reject the null hypothssis_
## Testing Results for PRC against CIS 
PRC has a success rate of 0.988759187202767
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between PRC and CIS
$H_{A}$: There is a difference between PRC and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 17.384957712074083 and a p-value of 1.517975135370986e-64, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 876168.5 and a p-value of 1.245785778215583e-61, _we **reject** the null hypothssis_
## Testing Results for PRC against COL 
PRC has a success rate of 0.988759187202767
COL has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and COL
$H_{A}$: There is a difference between PRC and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69753.5 and a p-value of 0.405445325723891, _we failed to reject the null hypothssis_
## Testing Results for PRC against DEN 
PRC has a success rate of 0.988759187202767
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and DEN
$H_{A}$: There is a difference between PRC and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 197825.5 and a p-value of 0.1611341546412587, _we failed to reject the null hypothssis_
## Testing Results for PRC against ESA 
PRC has a success rate of 0.988759187202767
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between PRC and ESA
$H_{A}$: There is a difference between PRC and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7176565372826468 and a p-value of 0.4730384417488508, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 123524.0 and a p-value of 0.4731614293052988, _we failed to reject the null hypothssis_
## Testing Results for PRC against EST 
PRC has a success rate of 0.988759187202767
EST has a success rate of 0.975
$H_{0}$: There is not a difference between PRC and EST
$H_{A}$: There is a difference between PRC and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.809861473998982 and a p-value of 0.41810175692350104, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46896.5 and a p-value of 0.4183515217816224, _we failed to reject the null hypothssis_
## Testing Results for PRC against EUME 
PRC has a success rate of 0.988759187202767
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and EUME
$H_{A}$: There is a difference between PRC and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 628925.0 and a p-value of 0.012517498106912448, _we failed to reject the null hypothssis_
## Testing Results for PRC against FIN 
PRC has a success rate of 0.988759187202767
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and FIN
$H_{A}$: There is a difference between PRC and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 506570.5 and a p-value of 0.02499245384299327, _we failed to reject the null hypothssis_
## Testing Results for PRC against FR 
PRC has a success rate of 0.988759187202767
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between PRC and FR
$H_{A}$: There is a difference between PRC and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.554911272929822 and a p-value of 1.440298744758114e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 626092.5 and a p-value of 4.0315602519953004e-25, _we **reject** the null hypothssis_
## Testing Results for PRC against GER 
PRC has a success rate of 0.988759187202767
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between PRC and GER
$H_{A}$: There is a difference between PRC and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.166539346385634 and a p-value of 0.001552683061506122, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2703936.0 and a p-value of 0.0015593636818869547, _we failed to reject the null hypothssis_
## Testing Results for PRC against GUAT 
PRC has a success rate of 0.988759187202767
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between PRC and GUAT
$H_{A}$: There is a difference between PRC and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3699301556159544 and a p-value of 0.1708379796047041, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 80071.0 and a p-value of 0.17093718332486996, _we failed to reject the null hypothssis_
## Testing Results for PRC against HUN 
PRC has a success rate of 0.988759187202767
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and HUN
$H_{A}$: There is a difference between PRC and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 317893.0 and a p-value of 0.0757164703271888, _we failed to reject the null hypothssis_
## Testing Results for PRC against IND 
PRC has a success rate of 0.988759187202767
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between PRC and IND
$H_{A}$: There is a difference between PRC and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.903051510700778 and a p-value of 0.0037252355694146638, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 478139.0 and a p-value of 0.0037444521143469613, _we failed to reject the null hypothssis_
## Testing Results for PRC against INDO 
PRC has a success rate of 0.988759187202767
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and INDO
$H_{A}$: There is a difference between PRC and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 314462.5 and a p-value of 0.07731236315554882, _we failed to reject the null hypothssis_
## Testing Results for PRC against IRAN 
PRC has a success rate of 0.988759187202767
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and IRAN
$H_{A}$: There is a difference between PRC and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 276727.0 and a p-value of 0.09748011162180634, _we failed to reject the null hypothssis_
## Testing Results for PRC against IRAQ 
PRC has a success rate of 0.988759187202767
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and IRAQ
$H_{A}$: There is a difference between PRC and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121211.0 and a p-value of 0.272702839575229, _we failed to reject the null hypothssis_
## Testing Results for PRC against ISRA 
PRC has a success rate of 0.988759187202767
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and ISRA
$H_{A}$: There is a difference between PRC and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 457400.0 and a p-value of 0.033164123833724704, _we failed to reject the null hypothssis_
## Testing Results for PRC against ISS 
PRC has a success rate of 0.988759187202767
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and ISS
$H_{A}$: There is a difference between PRC and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 236704.5 and a p-value of 0.12533932318420388, _we failed to reject the null hypothssis_
## Testing Results for PRC against IT 
PRC has a success rate of 0.988759187202767
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between PRC and IT
$H_{A}$: There is a difference between PRC and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.18558797732011 and a p-value of 5.279827893988721e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1135288.0 and a p-value of 1.1554534137978756e-23, _we **reject** the null hypothssis_
## Testing Results for PRC against JPN 
PRC has a success rate of 0.988759187202767
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between PRC and JPN
$H_{A}$: There is a difference between PRC and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 35.50836909607111 and a p-value of 2.2182391715214405e-231, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1175883.5 and a p-value of 5.812488939037513e-196, _we **reject** the null hypothssis_
## Testing Results for PRC against KAZ 
PRC has a success rate of 0.988759187202767
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between PRC and KAZ
$H_{A}$: There is a difference between PRC and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.0310370179670198 and a p-value of 0.9752425022348316, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 210430.0 and a p-value of 0.9754686163297902, _we failed to reject the null hypothssis_
## Testing Results for PRC against KWT 
PRC has a success rate of 0.988759187202767
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and KWT
$H_{A}$: There is a difference between PRC and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161233.5 and a p-value of 0.2058464361502642, _we failed to reject the null hypothssis_
## Testing Results for PRC against LKA 
PRC has a success rate of 0.988759187202767
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and LKA
$H_{A}$: There is a difference between PRC and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 263005.0 and a p-value of 0.10617883933637787, _we failed to reject the null hypothssis_
## Testing Results for PRC against LTU 
PRC has a success rate of 0.988759187202767
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between PRC and LTU
$H_{A}$: There is a difference between PRC and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6812650807926846 and a p-value of 0.4957637312498092, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 371702.5 and a p-value of 0.49579272833672283, _we failed to reject the null hypothssis_
## Testing Results for PRC against MALA 
PRC has a success rate of 0.988759187202767
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and MALA
$H_{A}$: There is a difference between PRC and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 280157.5 and a p-value of 0.09542922356907586, _we failed to reject the null hypothssis_
## Testing Results for PRC against MEX 
PRC has a success rate of 0.988759187202767
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and MEX
$H_{A}$: There is a difference between PRC and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 296166.5 and a p-value of 0.08645969158560994, _we failed to reject the null hypothssis_
## Testing Results for PRC against MUS 
PRC has a success rate of 0.988759187202767
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and MUS
$H_{A}$: There is a difference between PRC and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37735.5 and a p-value of 0.540793755922965, _we failed to reject the null hypothssis_
## Testing Results for PRC against MX 
PRC has a success rate of 0.988759187202767
MX has a success rate of 0.0
$H_{0}$: There is not a difference between PRC and MX
$H_{A}$: There is a difference between PRC and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 450.962389699049 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 632500.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for PRC against NETH 
PRC has a success rate of 0.988759187202767
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and NETH
$H_{A}$: There is a difference between PRC and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 320180.0 and a p-value of 0.07467225244348155, _we failed to reject the null hypothssis_
## Testing Results for PRC against NPL 
PRC has a success rate of 0.988759187202767
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and NPL
$H_{A}$: There is a difference between PRC and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 250426.5 and a p-value of 0.11490543598844635, _we failed to reject the null hypothssis_
## Testing Results for PRC against POL 
PRC has a success rate of 0.988759187202767
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between PRC and POL
$H_{A}$: There is a difference between PRC and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6663955800068597 and a p-value of 0.0957466592351153, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 566162.5 and a p-value of 0.09577155452247885, _we failed to reject the null hypothssis_
## Testing Results for PRC against PRY 
PRC has a success rate of 0.988759187202767
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and PRY
$H_{A}$: There is a difference between PRC and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73184.0 and a p-value of 0.39412144962955165, _we failed to reject the null hypothssis_
## Testing Results for PRC against ROC 
PRC has a success rate of 0.988759187202767
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between PRC and ROC
$H_{A}$: There is a difference between PRC and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 71.42806016857332 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 354005.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for PRC against RP 
PRC has a success rate of 0.988759187202767
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between PRC and RP
$H_{A}$: There is a difference between PRC and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 30.25342996313065 and a p-value of 1.196212825618086e-176, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1257929.5 and a p-value of 3.6191019078408783e-156, _we **reject** the null hypothssis_
## Testing Results for PRC against SAFR 
PRC has a success rate of 0.988759187202767
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between PRC and SAFR
$H_{A}$: There is a difference between PRC and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.329150833709781 and a p-value of 1.0769925718897838e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 163637.5 and a p-value of 1.1628236996568772e-07, _we **reject** the null hypothssis_
## Testing Results for PRC against SAUD 
PRC has a success rate of 0.988759187202767
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and SAUD
$H_{A}$: There is a difference between PRC and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 136076.5 and a p-value of 0.24515885803109805, _we failed to reject the null hypothssis_
## Testing Results for PRC against SING 
PRC has a success rate of 0.988759187202767
SING has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and SING
$H_{A}$: There is a difference between PRC and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 832468.0 and a p-value of 0.004074538135184186, _we failed to reject the null hypothssis_
## Testing Results for PRC against SKOR 
PRC has a success rate of 0.988759187202767
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between PRC and SKOR
$H_{A}$: There is a difference between PRC and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.87767922685427 and a p-value of 1.144588470658943e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74392.5 and a p-value of 1.210399596742182e-06, _we **reject** the null hypothssis_
## Testing Results for PRC against SPN 
PRC has a success rate of 0.988759187202767
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and SPN
$H_{A}$: There is a difference between PRC and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 769575.5 and a p-value of 0.00574661530203503, _we failed to reject the null hypothssis_
## Testing Results for PRC against SVN 
PRC has a success rate of 0.988759187202767
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between PRC and SVN
$H_{A}$: There is a difference between PRC and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0015648602812843 and a p-value of 0.3166548520993417, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 101797.5 and a p-value of 0.31675887146282733, _we failed to reject the null hypothssis_
## Testing Results for PRC against SWTZ 
PRC has a success rate of 0.988759187202767
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and SWTZ
$H_{A}$: There is a difference between PRC and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 442534.5 and a p-value of 0.03615046028152755, _we failed to reject the null hypothssis_
## Testing Results for PRC against TBD 
PRC has a success rate of 0.988759187202767
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between PRC and TBD
$H_{A}$: There is a difference between PRC and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.19546205573474054 and a p-value of 0.8450459149692113, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 456308.5 and a p-value of 0.8451543797581995, _we failed to reject the null hypothssis_
## Testing Results for PRC against THAI 
PRC has a success rate of 0.988759187202767
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between PRC and THAI
$H_{A}$: There is a difference between PRC and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.07862999786852705 and a p-value of 0.9373332726112292, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 194421.0 and a p-value of 0.9375568609347937, _we failed to reject the null hypothssis_
## Testing Results for PRC against TURK 
PRC has a success rate of 0.988759187202767
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between PRC and TURK
$H_{A}$: There is a difference between PRC and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.1308727898538105 and a p-value of 0.25821391098818675, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 304184.0 and a p-value of 0.25823841888374666, _we failed to reject the null hypothssis_
## Testing Results for PRC against UAE 
PRC has a success rate of 0.988759187202767
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between PRC and UAE
$H_{A}$: There is a difference between PRC and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.126813350317111 and a p-value of 3.191391066980575e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 547736.5 and a p-value of 0.01976941209795904, _we failed to reject the null hypothssis_
## Testing Results for PRC against UK 
PRC has a success rate of 0.988759187202767
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between PRC and UK
$H_{A}$: There is a difference between PRC and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.13584428566312748 and a p-value of 0.8919530415494294, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 978966.0 and a p-value of 0.8920224049560894, _we failed to reject the null hypothssis_
## Testing Results for PRC against UKR 
PRC has a success rate of 0.988759187202767
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between PRC and UKR
$H_{A}$: There is a difference between PRC and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0311720930287518 and a p-value of 0.30255670373857013, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 315671.0 and a p-value of 0.30257305060496853, _we failed to reject the null hypothssis_
## Testing Results for PRC against US 
PRC has a success rate of 0.988759187202767
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between PRC and US
$H_{A}$: There is a difference between PRC and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.951604989072043 and a p-value of 1.2046583788508746e-32, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7062557.5 and a p-value of 2.222726796040193e-32, _we **reject** the null hypothssis_
