# Testing Results For PRY 
$H_{0}$: There is not a difference in collection success against PRY 
$H_{A}$: There is a difference in collection success against PRY
Out of 54 tests, there were 6 rejections from 54 independent-t test.
Out of 54 tests, there were 6 rejections from 54 Man Whitney u-tests.
## Testing Results for PRY against ALG 
PRY has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and ALG
$H_{A}$: There is a difference between PRY and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against ARGN 
PRY has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and ARGN
$H_{A}$: There is a difference between PRY and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against ASRA 
PRY has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and ASRA
$H_{A}$: There is a difference between PRY and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against AUS 
PRY has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between PRY and AUS
$H_{A}$: There is a difference between PRY and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.863923791406893 and a p-value of 1.7736356786042374e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11104.0 and a p-value of 2.516511757488578e-06, _we **reject** the null hypothssis_
## Testing Results for PRY against BEL 
PRY has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between PRY and BEL
$H_{A}$: There is a difference between PRY and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8256207754485425 and a p-value of 0.005073967681616095, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7328.0 and a p-value of 0.005307654010860805, _we failed to reject the null hypothssis_
## Testing Results for PRY against BRAZ 
PRY has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and BRAZ
$H_{A}$: There is a difference between PRY and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against CA 
PRY has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and CA
$H_{A}$: There is a difference between PRY and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against CIS 
PRY has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between PRY and CIS
$H_{A}$: There is a difference between PRY and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5204949513106114 and a p-value of 0.00045786234994462375, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24480.0 and a p-value of 0.00047853362870530126, _we **reject** the null hypothssis_
## Testing Results for PRY against COL 
PRY has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and COL
$H_{A}$: There is a difference between PRY and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against DEN 
PRY has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and DEN
$H_{A}$: There is a difference between PRY and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against ESA 
PRY has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between PRY and ESA
$H_{A}$: There is a difference between PRY and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1028552002689118 and a p-value of 0.27166736749898046, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3456.0 and a p-value of 0.274156951690424, _we failed to reject the null hypothssis_
## Testing Results for PRY against EST 
PRY has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between PRY and EST
$H_{A}$: There is a difference between PRY and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2686478848054352 and a p-value of 0.20745433051618656, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1312.0 and a p-value of 0.21307778331415028, _we failed to reject the null hypothssis_
## Testing Results for PRY against EUME 
PRY has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and EUME
$H_{A}$: There is a difference between PRY and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against FIN 
PRY has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and FIN
$H_{A}$: There is a difference between PRY and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against FR 
PRY has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between PRY and FR
$H_{A}$: There is a difference between PRY and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5391781836822314 and a p-value of 0.011379287982911846, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17504.0 and a p-value of 0.011532169333754312, _we failed to reject the null hypothssis_
## Testing Results for PRY against GER 
PRY has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between PRY and GER
$H_{A}$: There is a difference between PRY and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2371840269828727 and a p-value of 0.21614123383512227, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75648.0 and a p-value of 0.21620301492114102, _we failed to reject the null hypothssis_
## Testing Results for PRY against GUAT 
PRY has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between PRY and GUAT
$H_{A}$: There is a difference between PRY and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3820308183019858 and a p-value of 0.16933236136636895, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2240.0 and a p-value of 0.17178344733896145, _we failed to reject the null hypothssis_
## Testing Results for PRY against HUN 
PRY has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and HUN
$H_{A}$: There is a difference between PRY and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against IND 
PRY has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between PRY and IND
$H_{A}$: There is a difference between PRY and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3931776435295304 and a p-value of 0.1642274283914569, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13376.0 and a p-value of 0.1645379945762656, _we failed to reject the null hypothssis_
## Testing Results for PRY against INDO 
PRY has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and INDO
$H_{A}$: There is a difference between PRY and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against IRAN 
PRY has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and IRAN
$H_{A}$: There is a difference between PRY and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against IRAQ 
PRY has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and IRAQ
$H_{A}$: There is a difference between PRY and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against ISRA 
PRY has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and ISRA
$H_{A}$: There is a difference between PRY and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against ISS 
PRY has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and ISS
$H_{A}$: There is a difference between PRY and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against IT 
PRY has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between PRY and IT
$H_{A}$: There is a difference between PRY and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3287158747693257 and a p-value of 0.02007630300033437, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31744.0 and a p-value of 0.020179671586761382, _we failed to reject the null hypothssis_
## Testing Results for PRY against JPN 
PRY has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between PRY and JPN
$H_{A}$: There is a difference between PRY and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.501544233192678 and a p-value of 1.4034589826280628e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32800.0 and a p-value of 2.3134277413316598e-10, _we **reject** the null hypothssis_
## Testing Results for PRY against KAZ 
PRY has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between PRY and KAZ
$H_{A}$: There is a difference between PRY and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8398391036167947 and a p-value of 0.40182074203937557, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5888.0 and a p-value of 0.40440529460706554, _we failed to reject the null hypothssis_
## Testing Results for PRY against KWT 
PRY has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and KWT
$H_{A}$: There is a difference between PRY and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against LKA 
PRY has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and LKA
$H_{A}$: There is a difference between PRY and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against LTU 
PRY has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between PRY and LTU
$H_{A}$: There is a difference between PRY and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0052770814964451 and a p-value of 0.31539979430600845, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10400.0 and a p-value of 0.31628479596372927, _we failed to reject the null hypothssis_
## Testing Results for PRY against MALA 
PRY has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and MALA
$H_{A}$: There is a difference between PRY and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against MEX 
PRY has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and MEX
$H_{A}$: There is a difference between PRY and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against MUS 
PRY has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and MUS
$H_{A}$: There is a difference between PRY and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against MX 
PRY has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between PRY and MX
$H_{A}$: There is a difference between PRY and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17600.0 and a p-value of 1.7733867789959026e-75, _we **reject** the null hypothssis_
## Testing Results for PRY against NETH 
PRY has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and NETH
$H_{A}$: There is a difference between PRY and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against NPL 
PRY has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and NPL
$H_{A}$: There is a difference between PRY and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against POL 
PRY has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between PRY and POL
$H_{A}$: There is a difference between PRY and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1586457504665963 and a p-value of 0.2471061936977551, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15840.0 and a p-value of 0.24748730105010053, _we failed to reject the null hypothssis_
## Testing Results for PRY against PRC 
PRY has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between PRY and PRC
$H_{A}$: There is a difference between PRY and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8526303640859839 and a p-value of 0.3939502916581009, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74848.0 and a p-value of 0.39412144962955165, _we failed to reject the null hypothssis_
## Testing Results for PRY against ROC 
PRY has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between PRY and ROC
$H_{A}$: There is a difference between PRY and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 17.14607776818413 and a p-value of 4.6137464967986245e-43, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9856.0 and a p-value of 4.334641451282746e-30, _we **reject** the null hypothssis_
## Testing Results for PRY against RP 
PRY has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between PRY and RP
$H_{A}$: There is a difference between PRY and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.563605143473192 and a p-value of 3.4972932615364814e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35104.0 and a p-value of 4.45076762441904e-08, _we **reject** the null hypothssis_
## Testing Results for PRY against SAFR 
PRY has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between PRY and SAFR
$H_{A}$: There is a difference between PRY and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1357561999101256 and a p-value of 0.033940099307928344, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4576.0 and a p-value of 0.03459788720072792, _we failed to reject the null hypothssis_
## Testing Results for PRY against SAUD 
PRY has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and SAUD
$H_{A}$: There is a difference between PRY and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against SING 
PRY has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and SING
$H_{A}$: There is a difference between PRY and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against SKOR 
PRY has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between PRY and SKOR
$H_{A}$: There is a difference between PRY and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3925593359315216 and a p-value of 0.018257083605261182, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2080.0 and a p-value of 0.01925502072528714, _we failed to reject the null hypothssis_
## Testing Results for PRY against SPN 
PRY has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and SPN
$H_{A}$: There is a difference between PRY and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against SVN 
PRY has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between PRY and SVN
$H_{A}$: There is a difference between PRY and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2189901112448829 and a p-value of 0.22477428151399825, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2848.0 and a p-value of 0.22723486624790623, _we failed to reject the null hypothssis_
## Testing Results for PRY against SWTZ 
PRY has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and SWTZ
$H_{A}$: There is a difference between PRY and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against TBD 
PRY has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between PRY and TBD
$H_{A}$: There is a difference between PRY and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8073899909077061 and a p-value of 0.41986185178969504, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12768.0 and a p-value of 0.4210840555758544, _we failed to reject the null hypothssis_
## Testing Results for PRY against THAI 
PRY has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between PRY and THAI
$H_{A}$: There is a difference between PRY and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8743209128112738 and a p-value of 0.3828555376421827, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5440.0 and a p-value of 0.3854310492960219, _we failed to reject the null hypothssis_
## Testing Results for PRY against TURK 
PRY has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between PRY and TURK
$H_{A}$: There is a difference between PRY and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.4908671294992966 and a p-value of 0.623849676122179, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8512.0 and a p-value of 0.6285580481441007, _we failed to reject the null hypothssis_
## Testing Results for PRY against UAE 
PRY has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between PRY and UAE
$H_{A}$: There is a difference between PRY and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for PRY against UK 
PRY has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between PRY and UK
$H_{A}$: There is a difference between PRY and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8739952581313781 and a p-value of 0.3823519304808306, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27392.0 and a p-value of 0.3828031717446376, _we failed to reject the null hypothssis_
## Testing Results for PRY against UKR 
PRY has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between PRY and UKR
$H_{A}$: There is a difference between PRY and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.093538012305201 and a p-value of 0.2749480617984075, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8832.0 and a p-value of 0.27580069192390744, _we failed to reject the null hypothssis_
## Testing Results for PRY against US 
PRY has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between PRY and US
$H_{A}$: There is a difference between PRY and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3764707954660524 and a p-value of 0.017511584459517296, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 197472.0 and a p-value of 0.017528313840197277, _we failed to reject the null hypothssis_
