# Testing Results For ROC 
$H_{0}$: There is not a difference in collection success against ROC 
$H_{A}$: There is a difference in collection success against ROC
Out of 54 tests, there were 54 rejections from 54 independent-t test.
Out of 54 tests, there were 54 rejections from 54 Man Whitney u-tests.
## Testing Results for ROC against ALG 
ROC has a success rate of 0.17751479289940827
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and ALG
$H_{A}$: There is a difference between ROC and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1455.0 and a p-value of 4.4166321343441875e-38, _we **reject** the null hypothssis_
## Testing Results for ROC against ARGN 
ROC has a success rate of 0.17751479289940827
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and ARGN
$H_{A}$: There is a difference between ROC and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6345.0 and a p-value of 1.031076387049639e-100, _we **reject** the null hypothssis_
## Testing Results for ROC against ASRA 
ROC has a success rate of 0.17751479289940827
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and ASRA
$H_{A}$: There is a difference between ROC and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4095.0 and a p-value of 4.81670692773698e-73, _we **reject** the null hypothssis_
## Testing Results for ROC against AUS 
ROC has a success rate of 0.17751479289940827
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between ROC and AUS
$H_{A}$: There is a difference between ROC and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.328134826808473 and a p-value of 2.793116948327872e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10348.0 and a p-value of 2.0279446522928588e-29, _we **reject** the null hypothssis_
## Testing Results for ROC against BEL 
ROC has a success rate of 0.17751479289940827
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between ROC and BEL
$H_{A}$: There is a difference between ROC and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.695379592213186 and a p-value of 1.0381096143515418e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5033.5 and a p-value of 2.2951392513203422e-43, _we **reject** the null hypothssis_
## Testing Results for ROC against BRAZ 
ROC has a success rate of 0.17751479289940827
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and BRAZ
$H_{A}$: There is a difference between ROC and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6510.0 and a p-value of 1.0130291335092172e-102, _we **reject** the null hypothssis_
## Testing Results for ROC against CA 
ROC has a success rate of 0.17751479289940827
CA has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and CA
$H_{A}$: There is a difference between ROC and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3495.0 and a p-value of 1.6681828981108392e-65, _we **reject** the null hypothssis_
## Testing Results for ROC against CIS 
ROC has a success rate of 0.17751479289940827
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between ROC and CIS
$H_{A}$: There is a difference between ROC and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.55958575715903 and a p-value of 3.714515386195179e-76, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18911.5 and a p-value of 8.194638676985894e-63, _we **reject** the null hypothssis_
## Testing Results for ROC against COL 
ROC has a success rate of 0.17751479289940827
COL has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and COL
$H_{A}$: There is a difference between ROC and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 915.0 and a p-value of 2.743563577243623e-29, _we **reject** the null hypothssis_
## Testing Results for ROC against DEN 
ROC has a success rate of 0.17751479289940827
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and DEN
$H_{A}$: There is a difference between ROC and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2595.0 and a p-value of 6.500247466398836e-54, _we **reject** the null hypothssis_
## Testing Results for ROC against ESA 
ROC has a success rate of 0.17751479289940827
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between ROC and ESA
$H_{A}$: There is a difference between ROC and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -24.85501266631925 and a p-value of 7.58850327153242e-67, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1759.0 and a p-value of 2.2963531612210824e-38, _we **reject** the null hypothssis_
## Testing Results for ROC against EST 
ROC has a success rate of 0.17751479289940827
EST has a success rate of 0.975
$H_{0}$: There is not a difference between ROC and EST
$H_{A}$: There is a difference between ROC and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.6318213550432 and a p-value of 3.719646995309524e-46, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 684.5 and a p-value of 6.606620248745293e-22, _we **reject** the null hypothssis_
## Testing Results for ROC against EUME 
ROC has a success rate of 0.17751479289940827
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and EUME
$H_{A}$: There is a difference between ROC and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8250.0 and a p-value of 8.472816709948037e-124, _we **reject** the null hypothssis_
## Testing Results for ROC against FIN 
ROC has a success rate of 0.17751479289940827
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and FIN
$H_{A}$: There is a difference between ROC and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6645.0 and a p-value of 2.314139923593551e-104, _we **reject** the null hypothssis_
## Testing Results for ROC against FR 
ROC has a success rate of 0.17751479289940827
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between ROC and FR
$H_{A}$: There is a difference between ROC and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.042511260626835 and a p-value of 9.750535118868078e-104, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11402.0 and a p-value of 2.834173766967532e-75, _we **reject** the null hypothssis_
## Testing Results for ROC against GER 
ROC has a success rate of 0.17751479289940827
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between ROC and GER
$H_{A}$: There is a difference between ROC and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.95395851514354 and a p-value of 1.2892137051657456e-63, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39213.0 and a p-value of 1.9469177084204907e-306, _we **reject** the null hypothssis_
## Testing Results for ROC against GUAT 
ROC has a success rate of 0.17751479289940827
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between ROC and GUAT
$H_{A}$: There is a difference between ROC and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.03715160481653 and a p-value of 6.842437615282749e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1189.0 and a p-value of 3.0846319496288884e-29, _we **reject** the null hypothssis_
## Testing Results for ROC against HUN 
ROC has a success rate of 0.17751479289940827
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and HUN
$H_{A}$: There is a difference between ROC and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4170.0 and a p-value of 5.588508194619879e-74, _we **reject** the null hypothssis_
## Testing Results for ROC against IND 
ROC has a success rate of 0.17751479289940827
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between ROC and IND
$H_{A}$: There is a difference between ROC and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -25.863997202146496 and a p-value of 4.29736859044376e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7104.0 and a p-value of 4.2140982732280854e-86, _we **reject** the null hypothssis_
## Testing Results for ROC against INDO 
ROC has a success rate of 0.17751479289940827
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and INDO
$H_{A}$: There is a difference between ROC and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4125.0 and a p-value of 2.0342657535555088e-73, _we **reject** the null hypothssis_
## Testing Results for ROC against IRAN 
ROC has a success rate of 0.17751479289940827
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and IRAN
$H_{A}$: There is a difference between ROC and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3630.0 and a p-value of 3.281444663308116e-67, _we **reject** the null hypothssis_
## Testing Results for ROC against IRAQ 
ROC has a success rate of 0.17751479289940827
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and IRAQ
$H_{A}$: There is a difference between ROC and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1590.0 and a p-value of 4.3721536939377305e-40, _we **reject** the null hypothssis_
## Testing Results for ROC against ISRA 
ROC has a success rate of 0.17751479289940827
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and ISRA
$H_{A}$: There is a difference between ROC and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6000.0 and a p-value of 1.6513950337466429e-96, _we **reject** the null hypothssis_
## Testing Results for ROC against ISS 
ROC has a success rate of 0.17751479289940827
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and ISS
$H_{A}$: There is a difference between ROC and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3105.0 and a p-value of 1.555794405325079e-60, _we **reject** the null hypothssis_
## Testing Results for ROC against IT 
ROC has a success rate of 0.17751479289940827
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between ROC and IT
$H_{A}$: There is a difference between ROC and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -30.727440174049867 and a p-value of 9.54166172308629e-150, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19884.0 and a p-value of 5.3608406254551e-112, _we **reject** the null hypothssis_
## Testing Results for ROC against JPN 
ROC has a success rate of 0.17751479289940827
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between ROC and JPN
$H_{A}$: There is a difference between ROC and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.534331149036287 and a p-value of 1.5036129184857482e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35669.0 and a p-value of 2.65985405072133e-23, _we **reject** the null hypothssis_
## Testing Results for ROC against KAZ 
ROC has a success rate of 0.17751479289940827
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between ROC and KAZ
$H_{A}$: There is a difference between ROC and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.622710269608568 and a p-value of 3.1841956025223975e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2899.0 and a p-value of 5.312774508385664e-54, _we **reject** the null hypothssis_
## Testing Results for ROC against KWT 
ROC has a success rate of 0.17751479289940827
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and KWT
$H_{A}$: There is a difference between ROC and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2115.0 and a p-value of 1.7314193692800128e-47, _we **reject** the null hypothssis_
## Testing Results for ROC against LKA 
ROC has a success rate of 0.17751479289940827
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and LKA
$H_{A}$: There is a difference between ROC and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3450.0 and a p-value of 6.200695692137432e-65, _we **reject** the null hypothssis_
## Testing Results for ROC against LTU 
ROC has a success rate of 0.17751479289940827
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between ROC and LTU
$H_{A}$: There is a difference between ROC and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.64075990040298 and a p-value of 1.5255717078261282e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5222.5 and a p-value of 3.4446820136198523e-77, _we **reject** the null hypothssis_
## Testing Results for ROC against MALA 
ROC has a success rate of 0.17751479289940827
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and MALA
$H_{A}$: There is a difference between ROC and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3675.0 and a p-value of 8.886482949292865e-68, _we **reject** the null hypothssis_
## Testing Results for ROC against MEX 
ROC has a success rate of 0.17751479289940827
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and MEX
$H_{A}$: There is a difference between ROC and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3885.0 and a p-value of 2.0395844148694452e-70, _we **reject** the null hypothssis_
## Testing Results for ROC against MUS 
ROC has a success rate of 0.17751479289940827
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and MUS
$H_{A}$: There is a difference between ROC and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 495.0 and a p-value of 1.356856268162305e-20, _we **reject** the null hypothssis_
## Testing Results for ROC against MX 
ROC has a success rate of 0.17751479289940827
MX has a success rate of 0.0
$H_{0}$: There is not a difference between ROC and MX
$H_{A}$: There is a difference between ROC and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.021544054954294 and a p-value of 1.05597154776098e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27362.5 and a p-value of 4.953177101872486e-13, _we **reject** the null hypothssis_
## Testing Results for ROC against NETH 
ROC has a success rate of 0.17751479289940827
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and NETH
$H_{A}$: There is a difference between ROC and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4200.0 and a p-value of 2.3631069496244514e-74, _we **reject** the null hypothssis_
## Testing Results for ROC against NPL 
ROC has a success rate of 0.17751479289940827
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and NPL
$H_{A}$: There is a difference between ROC and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3285.0 and a p-value of 7.762982646045642e-63, _we **reject** the null hypothssis_
## Testing Results for ROC against POL 
ROC has a success rate of 0.17751479289940827
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between ROC and POL
$H_{A}$: There is a difference between ROC and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.57010197216028 and a p-value of 5.971238292094135e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8120.0 and a p-value of 1.8076652598298684e-101, _we **reject** the null hypothssis_
## Testing Results for ROC against PRC 
ROC has a success rate of 0.17751479289940827
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between ROC and PRC
$H_{A}$: There is a difference between ROC and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.44272131901795 and a p-value of 2.498889073007458e-64, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36892.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for ROC against PRY 
ROC has a success rate of 0.17751479289940827
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and PRY
$H_{A}$: There is a difference between ROC and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 960.0 and a p-value of 4.334641451282746e-30, _we **reject** the null hypothssis_
## Testing Results for ROC against RP 
ROC has a success rate of 0.17751479289940827
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between ROC and RP
$H_{A}$: There is a difference between ROC and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -12.89017615434443 and a p-value of 2.876300463910149e-35, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35220.0 and a p-value of 7.564621363471199e-33, _we **reject** the null hypothssis_
## Testing Results for ROC against SAFR 
ROC has a success rate of 0.17751479289940827
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between ROC and SAFR
$H_{A}$: There is a difference between ROC and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.70024589596001 and a p-value of 4.453170747424458e-56, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2770.5 and a p-value of 7.157470504860569e-39, _we **reject** the null hypothssis_
## Testing Results for ROC against SAUD 
ROC has a success rate of 0.17751479289940827
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and SAUD
$H_{A}$: There is a difference between ROC and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1785.0 and a p-value of 6.746978560384629e-43, _we **reject** the null hypothssis_
## Testing Results for ROC against SING 
ROC has a success rate of 0.17751479289940827
SING has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and SING
$H_{A}$: There is a difference between ROC and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10920.0 and a p-value of 6.122796461793705e-156, _we **reject** the null hypothssis_
## Testing Results for ROC against SKOR 
ROC has a success rate of 0.17751479289940827
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between ROC and SKOR
$H_{A}$: There is a difference between ROC and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.700182394787713 and a p-value of 1.5489552359446367e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1322.5 and a p-value of 3.0797915637153473e-24, _we **reject** the null hypothssis_
## Testing Results for ROC against SPN 
ROC has a success rate of 0.17751479289940827
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and SPN
$H_{A}$: There is a difference between ROC and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10095.0 and a p-value of 5.020426720971364e-146, _we **reject** the null hypothssis_
## Testing Results for ROC against SVN 
ROC has a success rate of 0.17751479289940827
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between ROC and SVN
$H_{A}$: There is a difference between ROC and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -23.781168171359706 and a p-value of 3.2524815598139704e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1474.0 and a p-value of 5.323926219323849e-34, _we **reject** the null hypothssis_
## Testing Results for ROC against SWTZ 
ROC has a success rate of 0.17751479289940827
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and SWTZ
$H_{A}$: There is a difference between ROC and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5805.0 and a p-value of 3.970082664762742e-94, _we **reject** the null hypothssis_
## Testing Results for ROC against TBD 
ROC has a success rate of 0.17751479289940827
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between ROC and TBD
$H_{A}$: There is a difference between ROC and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.161606770855556 and a p-value of 3.3649982287040054e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6263.0 and a p-value of 1.373343250488629e-91, _we **reject** the null hypothssis_
## Testing Results for ROC against THAI 
ROC has a success rate of 0.17751479289940827
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between ROC and THAI
$H_{A}$: There is a difference between ROC and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.445188977318438 and a p-value of 2.03236807048132e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2689.0 and a p-value of 2.995521061002053e-51, _we **reject** the null hypothssis_
## Testing Results for ROC against TURK 
ROC has a success rate of 0.17751479289940827
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between ROC and TURK
$H_{A}$: There is a difference between ROC and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.547049028488544 and a p-value of 2.9546814464215155e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4059.5 and a p-value of 1.2031831495467728e-70, _we **reject** the null hypothssis_
## Testing Results for ROC against UAE 
ROC has a success rate of 0.17751479289940827
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between ROC and UAE
$H_{A}$: There is a difference between ROC and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.899820787954898 and a p-value of 5.837510311881301e-65, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7185.0 and a p-value of 6.467636612116072e-111, _we **reject** the null hypothssis_
## Testing Results for ROC against UK 
ROC has a success rate of 0.17751479289940827
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between ROC and UK
$H_{A}$: There is a difference between ROC and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.2827381630084 and a p-value of 1.2252190126803959e-64, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13535.0 and a p-value of 1.365060057872485e-162, _we **reject** the null hypothssis_
## Testing Results for ROC against UKR 
ROC has a success rate of 0.17751479289940827
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between ROC and UKR
$H_{A}$: There is a difference between ROC and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -26.278735310995774 and a p-value of 7.245383867121832e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4487.5 and a p-value of 2.7852596407761565e-68, _we **reject** the null hypothssis_
## Testing Results for ROC against US 
ROC has a success rate of 0.17751479289940827
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between ROC and US
$H_{A}$: There is a difference between ROC and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -34.31495978625418 and a p-value of 2.267460467395017e-235, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 124743.5 and a p-value of 2.3297400550195373e-215, _we **reject** the null hypothssis_
