# Testing Results For SAUD 
$H_{0}$: There is not a difference in collection success against SAUD 
$H_{A}$: There is a difference in collection success against SAUD
Out of 54 tests, there were 8 rejections from 54 independent-t test.
Out of 54 tests, there were 8 rejections from 54 Man Whitney u-tests.
## Testing Results for SAUD against ALG 
SAUD has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and ALG
$H_{A}$: There is a difference between SAUD and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ARGN 
SAUD has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and ARGN
$H_{A}$: There is a difference between SAUD and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ASRA 
SAUD has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and ASRA
$H_{A}$: There is a difference between SAUD and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against AUS 
SAUD has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SAUD and AUS
$H_{A}$: There is a difference between SAUD and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.6351702740536815 and a p-value of 1.0860440122084684e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20646.5 and a p-value of 3.0346634160701296e-10, _we **reject** the null hypothssis_
## Testing Results for SAUD against BEL 
SAUD has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SAUD and BEL
$H_{A}$: There is a difference between SAUD and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8554176792268113 and a p-value of 0.00013941944081873232, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13625.5 and a p-value of 0.0001605823415313787, _we **reject** the null hypothssis_
## Testing Results for SAUD against BRAZ 
SAUD has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and BRAZ
$H_{A}$: There is a difference between SAUD and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against CA 
SAUD has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and CA
$H_{A}$: There is a difference between SAUD and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against CIS 
SAUD has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SAUD and CIS
$H_{A}$: There is a difference between SAUD and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.800980167850791 and a p-value of 1.8949730712673932e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45517.5 and a p-value of 2.203327558856539e-06, _we **reject** the null hypothssis_
## Testing Results for SAUD against COL 
SAUD has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and COL
$H_{A}$: There is a difference between SAUD and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against DEN 
SAUD has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and DEN
$H_{A}$: There is a difference between SAUD and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ESA 
SAUD has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SAUD and ESA
$H_{A}$: There is a difference between SAUD and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5060277746840058 and a p-value of 0.13347520969981208, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6426.0 and a p-value of 0.1347910987559016, _we failed to reject the null hypothssis_
## Testing Results for SAUD against EST 
SAUD has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SAUD and EST
$H_{A}$: There is a difference between SAUD and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7357710520044463 and a p-value of 0.08456628283259972, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2439.5 and a p-value of 0.08720587351981877, _we failed to reject the null hypothssis_
## Testing Results for SAUD against EUME 
SAUD has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and EUME
$H_{A}$: There is a difference between SAUD and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against FIN 
SAUD has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and FIN
$H_{A}$: There is a difference between SAUD and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against FR 
SAUD has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SAUD and FR
$H_{A}$: There is a difference between SAUD and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4629409896454706 and a p-value of 0.0005712188497436214, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32546.5 and a p-value of 0.0005992123706761027, _we **reject** the null hypothssis_
## Testing Results for SAUD against GER 
SAUD has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SAUD and GER
$H_{A}$: There is a difference between SAUD and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6870266519887014 and a p-value of 0.09172673377543003, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 140658.0 and a p-value of 0.09177206362080521, _we failed to reject the null hypothssis_
## Testing Results for SAUD against GUAT 
SAUD has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SAUD and GUAT
$H_{A}$: There is a difference between SAUD and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8887808536057487 and a p-value of 0.060485946718919485, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4165.0 and a p-value of 0.061762582247244346, _we failed to reject the null hypothssis_
## Testing Results for SAUD against HUN 
SAUD has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and HUN
$H_{A}$: There is a difference between SAUD and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against IND 
SAUD has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SAUD and IND
$H_{A}$: There is a difference between SAUD and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9001469352748774 and a p-value of 0.05796352132034052, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24871.0 and a p-value of 0.05821121135835331, _we failed to reject the null hypothssis_
## Testing Results for SAUD against INDO 
SAUD has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and INDO
$H_{A}$: There is a difference between SAUD and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against IRAN 
SAUD has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and IRAN
$H_{A}$: There is a difference between SAUD and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against IRAQ 
SAUD has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and IRAQ
$H_{A}$: There is a difference between SAUD and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ISRA 
SAUD has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and ISRA
$H_{A}$: There is a difference between SAUD and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ISS 
SAUD has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and ISS
$H_{A}$: There is a difference between SAUD and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against IT 
SAUD has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SAUD and IT
$H_{A}$: There is a difference between SAUD and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1755825528701846 and a p-value of 0.001539463484643764, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59024.0 and a p-value of 0.0015700834444781896, _we failed to reject the null hypothssis_
## Testing Results for SAUD against JPN 
SAUD has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SAUD and JPN
$H_{A}$: There is a difference between SAUD and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.86615413649399 and a p-value of 4.38595498066723e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60987.5 and a p-value of 2.114352154058954e-17, _we **reject** the null hypothssis_
## Testing Results for SAUD against KAZ 
SAUD has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SAUD and KAZ
$H_{A}$: There is a difference between SAUD and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1460526569518745 and a p-value of 0.2526897399966001, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10948.0 and a p-value of 0.2540190981829875, _we failed to reject the null hypothssis_
## Testing Results for SAUD against KWT 
SAUD has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and KWT
$H_{A}$: There is a difference between SAUD and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against LKA 
SAUD has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and LKA
$H_{A}$: There is a difference between SAUD and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against LTU 
SAUD has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SAUD and LTU
$H_{A}$: There is a difference between SAUD and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3712342879823993 and a p-value of 0.1710056521788215, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19337.5 and a p-value of 0.17145105352450285, _we failed to reject the null hypothssis_
## Testing Results for SAUD against MALA 
SAUD has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and MALA
$H_{A}$: There is a difference between SAUD and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against MEX 
SAUD has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and MEX
$H_{A}$: There is a difference between SAUD and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against MUS 
SAUD has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and MUS
$H_{A}$: There is a difference between SAUD and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against MX 
SAUD has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SAUD and MX
$H_{A}$: There is a difference between SAUD and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32725.0 and a p-value of 1.8621240117842252e-87, _we **reject** the null hypothssis_
## Testing Results for SAUD against NETH 
SAUD has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and NETH
$H_{A}$: There is a difference between SAUD and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against NPL 
SAUD has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and NPL
$H_{A}$: There is a difference between SAUD and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against POL 
SAUD has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SAUD and POL
$H_{A}$: There is a difference between SAUD and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5801796051475392 and a p-value of 0.11459098955551333, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29452.5 and a p-value of 0.1148195517895947, _we failed to reject the null hypothssis_
## Testing Results for SAUD against PRC 
SAUD has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SAUD and PRC
$H_{A}$: There is a difference between SAUD and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1626484685187668 and a p-value of 0.245086323186911, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 139170.5 and a p-value of 0.24515885803109805, _we failed to reject the null hypothssis_
## Testing Results for SAUD against PRY 
SAUD has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and PRY
$H_{A}$: There is a difference between SAUD and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against ROC 
SAUD has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SAUD and ROC
$H_{A}$: There is a difference between SAUD and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 23.39952417211687 and a p-value of 2.147231635573232e-68, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18326.0 and a p-value of 6.746978560384919e-43, _we **reject** the null hypothssis_
## Testing Results for SAUD against RP 
SAUD has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SAUD and RP
$H_{A}$: There is a difference between SAUD and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.586966983588765 and a p-value of 7.838070584177518e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65271.5 and a p-value of 1.7140820634844315e-13, _we **reject** the null hypothssis_
## Testing Results for SAUD against SAFR 
SAUD has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SAUD and SAFR
$H_{A}$: There is a difference between SAUD and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.915522041539654 and a p-value of 0.0038719423757285873, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8508.5 and a p-value of 0.004099564512771307, _we failed to reject the null hypothssis_
## Testing Results for SAUD against SING 
SAUD has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and SING
$H_{A}$: There is a difference between SAUD and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against SKOR 
SAUD has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SAUD and SKOR
$H_{A}$: There is a difference between SAUD and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2706739792149677 and a p-value of 0.0012895958946935245, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3867.5 and a p-value of 0.0014742175751321141, _we failed to reject the null hypothssis_
## Testing Results for SAUD against SPN 
SAUD has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and SPN
$H_{A}$: There is a difference between SAUD and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against SVN 
SAUD has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SAUD and SVN
$H_{A}$: There is a difference between SAUD and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6651773280886857 and a p-value of 0.09741236662082658, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5295.5 and a p-value of 0.09872692003624765, _we failed to reject the null hypothssis_
## Testing Results for SAUD against SWTZ 
SAUD has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and SWTZ
$H_{A}$: There is a difference between SAUD and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against TBD 
SAUD has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SAUD and TBD
$H_{A}$: There is a difference between SAUD and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1012058723065898 and a p-value of 0.27132448723138985, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23740.5 and a p-value of 0.2719143352297798, _we failed to reject the null hypothssis_
## Testing Results for SAUD against THAI 
SAUD has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SAUD and THAI
$H_{A}$: There is a difference between SAUD and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.193207339698275 and a p-value of 0.23378053228172885, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10115.0 and a p-value of 0.2351035459540345, _we failed to reject the null hypothssis_
## Testing Results for SAUD against TURK 
SAUD has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SAUD and TURK
$H_{A}$: There is a difference between SAUD and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6696341389523872 and a p-value of 0.5034955898304044, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15827.0 and a p-value of 0.5063795468797669, _we failed to reject the null hypothssis_
## Testing Results for SAUD against UAE 
SAUD has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SAUD and UAE
$H_{A}$: There is a difference between SAUD and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SAUD against UK 
SAUD has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SAUD and UK
$H_{A}$: There is a difference between SAUD and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1918451371920855 and a p-value of 0.23361560312688764, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50932.0 and a p-value of 0.2338169555650904, _we failed to reject the null hypothssis_
## Testing Results for SAUD against UKR 
SAUD has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SAUD and UKR
$H_{A}$: There is a difference between SAUD and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4917677835735546 and a p-value of 0.13657261592793568, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16422.0 and a p-value of 0.13703580603415147, _we failed to reject the null hypothssis_
## Testing Results for SAUD against US 
SAUD has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SAUD and US
$H_{A}$: There is a difference between SAUD and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.2405347705683343 and a p-value of 0.0011997618564122793, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 367174.5 and a p-value of 0.00120439646021901, _we failed to reject the null hypothssis_
