# Testing Results For SKOR 
$H_{0}$: There is not a difference in collection success against SKOR 
$H_{A}$: There is a difference in collection success against SKOR
Out of 54 tests, there were 4 rejections from 54 independent-t test.
Out of 54 tests, there were 30 rejections from 54 Man Whitney u-tests.
## Testing Results for SKOR against ALG 
SKOR has a success rate of 0.9166666666666666
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and ALG
$H_{A}$: There is a difference between SKOR and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2667.5 and a p-value of 0.004048623836885399, _we failed to reject the null hypothssis_
## Testing Results for SKOR against ARGN 
SKOR has a success rate of 0.9166666666666666
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and ARGN
$H_{A}$: There is a difference between SKOR and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11632.5 and a p-value of 2.535655178747313e-09, _we **reject** the null hypothssis_
## Testing Results for SKOR against ASRA 
SKOR has a success rate of 0.9166666666666666
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and ASRA
$H_{A}$: There is a difference between SKOR and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7507.5 and a p-value of 1.62532180194312e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against AUS 
SKOR has a success rate of 0.9166666666666666
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SKOR and AUS
$H_{A}$: There is a difference between SKOR and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1311967653749773 and a p-value of 0.0018961523378229772, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9727.5 and a p-value of 0.0020050641724739375, _we failed to reject the null hypothssis_
## Testing Results for SKOR against BEL 
SKOR has a success rate of 0.9166666666666666
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SKOR and BEL
$H_{A}$: There is a difference between SKOR and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6270706438008113 and a p-value of 0.5311548502324017, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6355.0 and a p-value of 0.5313174929393284, _we failed to reject the null hypothssis_
## Testing Results for SKOR against BRAZ 
SKOR has a success rate of 0.9166666666666666
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and BRAZ
$H_{A}$: There is a difference between SKOR and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11935.0 and a p-value of 1.5833713169933784e-09, _we **reject** the null hypothssis_
## Testing Results for SKOR against CA 
SKOR has a success rate of 0.9166666666666666
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and CA
$H_{A}$: There is a difference between SKOR and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6407.5 and a p-value of 9.287875407173222e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against CIS 
SKOR has a success rate of 0.9166666666666666
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SKOR and CIS
$H_{A}$: There is a difference between SKOR and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6209227784472569 and a p-value of 0.10547447471675091, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21305.0 and a p-value of 0.1055400076269359, _we failed to reject the null hypothssis_
## Testing Results for SKOR against COL 
SKOR has a success rate of 0.9166666666666666
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and COL
$H_{A}$: There is a difference between SKOR and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1677.5 and a p-value of 0.022274761284159752, _we failed to reject the null hypothssis_
## Testing Results for SKOR against DEN 
SKOR has a success rate of 0.9166666666666666
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and DEN
$H_{A}$: There is a difference between SKOR and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4757.5 and a p-value of 0.00013042096906065156, _we **reject** the null hypothssis_
## Testing Results for SKOR against ESA 
SKOR has a success rate of 0.9166666666666666
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SKOR and ESA
$H_{A}$: There is a difference between SKOR and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.6807991914918112 and a p-value of 0.09694160775605333, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2975.0 and a p-value of 0.0483083916150338, _we failed to reject the null hypothssis_
## Testing Results for SKOR against EST 
SKOR has a success rate of 0.9166666666666666
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SKOR and EST
$H_{A}$: There is a difference between SKOR and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.1999500239468373 and a p-value of 0.2330515900649629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1130.0 and a p-value of 0.2345416199278415, _we failed to reject the null hypothssis_
## Testing Results for SKOR against EUME 
SKOR has a success rate of 0.9166666666666666
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and EUME
$H_{A}$: There is a difference between SKOR and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15125.0 and a p-value of 1.1220705776417032e-11, _we **reject** the null hypothssis_
## Testing Results for SKOR against FIN 
SKOR has a success rate of 0.9166666666666666
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and FIN
$H_{A}$: There is a difference between SKOR and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12182.5 and a p-value of 1.0773534936029724e-09, _we **reject** the null hypothssis_
## Testing Results for SKOR against FR 
SKOR has a success rate of 0.9166666666666666
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SKOR and FR
$H_{A}$: There is a difference between SKOR and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.2156251826962509 and a p-value of 0.8293585762220121, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15157.5 and a p-value of 0.8297964161818812, _we failed to reject the null hypothssis_
## Testing Results for SKOR against GER 
SKOR has a success rate of 0.9166666666666666
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SKOR and GER
$H_{A}$: There is a difference between SKOR and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.946993798223825 and a p-value of 0.0032401428359085088, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65145.0 and a p-value of 0.0032623529410540394, _we failed to reject the null hypothssis_
## Testing Results for SKOR against GUAT 
SKOR has a success rate of 0.9166666666666666
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SKOR and GUAT
$H_{A}$: There is a difference between SKOR and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.3378238775237676 and a p-value of 0.18336346539587134, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1930.0 and a p-value of 0.18430326745302528, _we failed to reject the null hypothssis_
## Testing Results for SKOR against HUN 
SKOR has a success rate of 0.9166666666666666
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and HUN
$H_{A}$: There is a difference between SKOR and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7645.0 and a p-value of 1.3081310112189967e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against IND 
SKOR has a success rate of 0.9166666666666666
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SKOR and IND
$H_{A}$: There is a difference between SKOR and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.0790141316412853 and a p-value of 0.03816480224211275, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11525.0 and a p-value of 0.03844810236875582, _we failed to reject the null hypothssis_
## Testing Results for SKOR against INDO 
SKOR has a success rate of 0.9166666666666666
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and INDO
$H_{A}$: There is a difference between SKOR and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7562.5 and a p-value of 1.4901023240919542e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against IRAN 
SKOR has a success rate of 0.9166666666666666
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and IRAN
$H_{A}$: There is a difference between SKOR and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6655.0 and a p-value of 6.268211957908244e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against IRAQ 
SKOR has a success rate of 0.9166666666666666
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and IRAQ
$H_{A}$: There is a difference between SKOR and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2915.0 and a p-value of 0.002672363914783404, _we failed to reject the null hypothssis_
## Testing Results for SKOR against ISRA 
SKOR has a success rate of 0.9166666666666666
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and ISRA
$H_{A}$: There is a difference between SKOR and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11000.0 and a p-value of 6.794530928712477e-09, _we **reject** the null hypothssis_
## Testing Results for SKOR against ISS 
SKOR has a success rate of 0.9166666666666666
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and ISS
$H_{A}$: There is a difference between SKOR and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5692.5 and a p-value of 2.9041741104314864e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against IT 
SKOR has a success rate of 0.9166666666666666
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SKOR and IT
$H_{A}$: There is a difference between SKOR and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.14134261362683975 and a p-value of 0.8876283945757788, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27460.0 and a p-value of 0.8879423345714593, _we failed to reject the null hypothssis_
## Testing Results for SKOR against JPN 
SKOR has a success rate of 0.9166666666666666
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SKOR and JPN
$H_{A}$: There is a difference between SKOR and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.914498800791853 and a p-value of 1.0822864392906384e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28917.5 and a p-value of 1.2734413429259224e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against KAZ 
SKOR has a success rate of 0.9166666666666666
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SKOR and KAZ
$H_{A}$: There is a difference between SKOR and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9654919194335798 and a p-value of 0.05366229929641911, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5065.0 and a p-value of 0.0038529555863848473, _we failed to reject the null hypothssis_
## Testing Results for SKOR against KWT 
SKOR has a success rate of 0.9166666666666666
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and KWT
$H_{A}$: There is a difference between SKOR and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3877.5 and a p-value of 0.0005447734368617622, _we **reject** the null hypothssis_
## Testing Results for SKOR against LKA 
SKOR has a success rate of 0.9166666666666666
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and LKA
$H_{A}$: There is a difference between SKOR and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6325.0 and a p-value of 1.0590242206490717e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against LTU 
SKOR has a success rate of 0.9166666666666666
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SKOR and LTU
$H_{A}$: There is a difference between SKOR and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.8476230327010523 and a p-value of 0.0693187267019828, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8950.0 and a p-value of 0.002696367523200168, _we failed to reject the null hypothssis_
## Testing Results for SKOR against MALA 
SKOR has a success rate of 0.9166666666666666
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and MALA
$H_{A}$: There is a difference between SKOR and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6737.5 and a p-value of 5.498979891480353e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against MEX 
SKOR has a success rate of 0.9166666666666666
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and MEX
$H_{A}$: There is a difference between SKOR and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7122.5 and a p-value of 2.9875527237015793e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against MUS 
SKOR has a success rate of 0.9166666666666666
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and MUS
$H_{A}$: There is a difference between SKOR and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 907.5 and a p-value of 0.09192950278350612, _we failed to reject the null hypothssis_
## Testing Results for SKOR against MX 
SKOR has a success rate of 0.9166666666666666
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SKOR and MX
$H_{A}$: There is a difference between SKOR and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 25.475478405713993 and a p-value of 1.574260157209701e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15812.5 and a p-value of 2.3662337295937662e-67, _we **reject** the null hypothssis_
## Testing Results for SKOR against NETH 
SKOR has a success rate of 0.9166666666666666
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and NETH
$H_{A}$: There is a difference between SKOR and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7700.0 and a p-value of 1.1993736231490008e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against NPL 
SKOR has a success rate of 0.9166666666666666
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and NPL
$H_{A}$: There is a difference between SKOR and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6022.5 and a p-value of 1.7146087236912123e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against POL 
SKOR has a success rate of 0.9166666666666666
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SKOR and POL
$H_{A}$: There is a difference between SKOR and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.8163178629541394 and a p-value of 0.0050344091240951995, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13637.5 and a p-value of 0.005157772513306269, _we failed to reject the null hypothssis_
## Testing Results for SKOR against PRC 
SKOR has a success rate of 0.9166666666666666
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SKOR and PRC
$H_{A}$: There is a difference between SKOR and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9998450599748803 and a p-value of 0.05009333344582772, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64387.5 and a p-value of 1.210399596742182e-06, _we **reject** the null hypothssis_
## Testing Results for SKOR against PRY 
SKOR has a success rate of 0.9166666666666666
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and PRY
$H_{A}$: There is a difference between SKOR and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1760.0 and a p-value of 0.01925502072528714, _we failed to reject the null hypothssis_
## Testing Results for SKOR against ROC 
SKOR has a success rate of 0.9166666666666666
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SKOR and ROC
$H_{A}$: There is a difference between SKOR and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.700182394787713 and a p-value of 1.5489552359446367e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8817.5 and a p-value of 3.0797915637153473e-24, _we **reject** the null hypothssis_
## Testing Results for SKOR against RP 
SKOR has a success rate of 0.9166666666666666
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SKOR and RP
$H_{A}$: There is a difference between SKOR and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.9622960270612464 and a p-value of 8.02080301402496e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30842.5 and a p-value of 8.512120853176641e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against SAFR 
SKOR has a success rate of 0.9166666666666666
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SKOR and SAFR
$H_{A}$: There is a difference between SKOR and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.40035649178738814 and a p-value of 0.6893390683083949, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3955.0 and a p-value of 0.6905241134645188, _we failed to reject the null hypothssis_
## Testing Results for SKOR against SAUD 
SKOR has a success rate of 0.9166666666666666
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and SAUD
$H_{A}$: There is a difference between SKOR and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3272.5 and a p-value of 0.0014742175751321141, _we failed to reject the null hypothssis_
## Testing Results for SKOR against SING 
SKOR has a success rate of 0.9166666666666666
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and SING
$H_{A}$: There is a difference between SKOR and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20020.0 and a p-value of 5.874887432206334e-15, _we **reject** the null hypothssis_
## Testing Results for SKOR against SPN 
SKOR has a success rate of 0.9166666666666666
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and SPN
$H_{A}$: There is a difference between SKOR and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18507.5 and a p-value of 6.040785889541084e-14, _we **reject** the null hypothssis_
## Testing Results for SKOR against SVN 
SKOR has a success rate of 0.9166666666666666
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SKOR and SVN
$H_{A}$: There is a difference between SKOR and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.693555983170286 and a p-value of 0.09249683449487586, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2452.5 and a p-value of 0.0934483283718604, _we failed to reject the null hypothssis_
## Testing Results for SKOR against SWTZ 
SKOR has a success rate of 0.9166666666666666
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and SWTZ
$H_{A}$: There is a difference between SKOR and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10642.5 and a p-value of 1.1868890897217305e-08, _we **reject** the null hypothssis_
## Testing Results for SKOR against TBD 
SKOR has a success rate of 0.9166666666666666
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SKOR and TBD
$H_{A}$: There is a difference between SKOR and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.0148208047210208 and a p-value of 0.04831264866511937, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10982.5 and a p-value of 0.0001518425065910259, _we **reject** the null hypothssis_
## Testing Results for SKOR against THAI 
SKOR has a success rate of 0.9166666666666666
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SKOR and THAI
$H_{A}$: There is a difference between SKOR and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9332121015571477 and a p-value of 0.05753280410183769, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4680.0 and a p-value of 0.006083317107359089, _we failed to reject the null hypothssis_
## Testing Results for SKOR against TURK 
SKOR has a success rate of 0.9166666666666666
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SKOR and TURK
$H_{A}$: There is a difference between SKOR and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.1990194633969793 and a p-value of 0.031722684084460655, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7317.5 and a p-value of 3.7186699028780396e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against UAE 
SKOR has a success rate of 0.9166666666666666
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SKOR and UAE
$H_{A}$: There is a difference between SKOR and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3159525823376366 and a p-value of 0.024054940625410214, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13172.5 and a p-value of 2.31359408027405e-10, _we **reject** the null hypothssis_
## Testing Results for SKOR against UK 
SKOR has a success rate of 0.9166666666666666
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SKOR and UK
$H_{A}$: There is a difference between SKOR and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9769233352296849 and a p-value of 0.05263068314739536, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23565.0 and a p-value of 2.7715746934420966e-05, _we **reject** the null hypothssis_
## Testing Results for SKOR against UKR 
SKOR has a success rate of 0.9166666666666666
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SKOR and UKR
$H_{A}$: There is a difference between SKOR and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.7582281380374507 and a p-value of 0.08339927991313374, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7602.5 and a p-value of 0.008043520670299308, _we failed to reject the null hypothssis_
## Testing Results for SKOR against US 
SKOR has a success rate of 0.9166666666666666
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SKOR and US
$H_{A}$: There is a difference between SKOR and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.06261416454472508 and a p-value of 0.9500759201592746, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 170860.0 and a p-value of 0.9501350557477768, _we failed to reject the null hypothssis_
