# Testing Results For SPN 
$H_{0}$: There is not a difference in collection success against SPN 
$H_{A}$: There is a difference in collection success against SPN
Out of 54 tests, there were 20 rejections from 54 independent-t test.
Out of 54 tests, there were 20 rejections from 54 Man Whitney u-tests.
## Testing Results for SPN against ALG 
SPN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and ALG
$H_{A}$: There is a difference between SPN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ARGN 
SPN has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and ARGN
$H_{A}$: There is a difference between SPN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ASRA 
SPN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and ASRA
$H_{A}$: There is a difference between SPN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against AUS 
SPN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SPN and AUS
$H_{A}$: There is a difference between SPN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 15.802917859096373 and a p-value of 4.3556700841120735e-50, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116765.5 and a p-value of 6.671236490793652e-45, _we **reject** the null hypothssis_
## Testing Results for SPN against BEL 
SPN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SPN and BEL
$H_{A}$: There is a difference between SPN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.186525066612788 and a p-value of 2.864355524664454e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77058.5 and a p-value of 1.6567392470653603e-18, _we **reject** the null hypothssis_
## Testing Results for SPN against BRAZ 
SPN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and BRAZ
$H_{A}$: There is a difference between SPN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against CA 
SPN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and CA
$H_{A}$: There is a difference between SPN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against CIS 
SPN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SPN and CIS
$H_{A}$: There is a difference between SPN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.423444716145806 and a p-value of 6.773842651137564e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 257422.5 and a p-value of 1.093983512293366e-27, _we **reject** the null hypothssis_
## Testing Results for SPN against COL 
SPN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and COL
$H_{A}$: There is a difference between SPN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against DEN 
SPN has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and DEN
$H_{A}$: There is a difference between SPN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ESA 
SPN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SPN and ESA
$H_{A}$: There is a difference between SPN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5929207739613287 and a p-value of 0.00034758557094404494, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36342.0 and a p-value of 0.00036652275977092183, _we **reject** the null hypothssis_
## Testing Results for SPN against EST 
SPN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SPN and EST
$H_{A}$: There is a difference between SPN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.148253268371182 and a p-value of 3.755470632982032e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13796.5 and a p-value of 4.2083287904161635e-05, _we **reject** the null hypothssis_
## Testing Results for SPN against EUME 
SPN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and EUME
$H_{A}$: There is a difference between SPN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against FIN 
SPN has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and FIN
$H_{A}$: There is a difference between SPN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against FR 
SPN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SPN and FR
$H_{A}$: There is a difference between SPN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.24158053861129 and a p-value of 4.508684013268995e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 184065.5 and a p-value of 1.0940370626110638e-15, _we **reject** the null hypothssis_
## Testing Results for SPN against GER 
SPN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SPN and GER
$H_{A}$: There is a difference between SPN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.012261455624278 and a p-value of 6.161872627415057e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 795486.0 and a p-value of 6.280068368120276e-05, _we **reject** the null hypothssis_
## Testing Results for SPN against GUAT 
SPN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SPN and GUAT
$H_{A}$: There is a difference between SPN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.509866408565287 and a p-value of 7.542375318276655e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23555.0 and a p-value of 8.63676148876706e-06, _we **reject** the null hypothssis_
## Testing Results for SPN against HUN 
SPN has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and HUN
$H_{A}$: There is a difference between SPN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against IND 
SPN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SPN and IND
$H_{A}$: There is a difference between SPN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.5232143976368935 and a p-value of 6.76638432512315e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 140657.0 and a p-value of 7.381565831443907e-06, _we **reject** the null hypothssis_
## Testing Results for SPN against INDO 
SPN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and INDO
$H_{A}$: There is a difference between SPN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against IRAN 
SPN has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and IRAN
$H_{A}$: There is a difference between SPN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against IRAQ 
SPN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and IRAQ
$H_{A}$: There is a difference between SPN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ISRA 
SPN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and ISRA
$H_{A}$: There is a difference between SPN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ISS 
SPN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and ISS
$H_{A}$: There is a difference between SPN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against IT 
SPN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SPN and IT
$H_{A}$: There is a difference between SPN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.554453566034887 and a p-value of 7.056207503372833e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 333808.0 and a p-value of 1.1305161685789625e-13, _we **reject** the null hypothssis_
## Testing Results for SPN against JPN 
SPN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SPN and JPN
$H_{A}$: There is a difference between SPN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 21.094564155736585 and a p-value of 5.031487098799358e-86, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 344912.5 and a p-value of 1.631712918250179e-75, _we **reject** the null hypothssis_
## Testing Results for SPN against KAZ 
SPN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SPN and KAZ
$H_{A}$: There is a difference between SPN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.731352393949739 and a p-value of 0.006437740626572835, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61916.0 and a p-value of 0.00654681166559651, _we failed to reject the null hypothssis_
## Testing Results for SPN against KWT 
SPN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and KWT
$H_{A}$: There is a difference between SPN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against LKA 
SPN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and LKA
$H_{A}$: There is a difference between SPN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against LTU 
SPN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SPN and LTU
$H_{A}$: There is a difference between SPN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.265122355035149 and a p-value of 0.00113164564802404, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109362.5 and a p-value of 0.0011606720616390348, _we failed to reject the null hypothssis_
## Testing Results for SPN against MALA 
SPN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and MALA
$H_{A}$: There is a difference between SPN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against MEX 
SPN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and MEX
$H_{A}$: There is a difference between SPN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against MUS 
SPN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and MUS
$H_{A}$: There is a difference between SPN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against MX 
SPN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SPN and MX
$H_{A}$: There is a difference between SPN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185075.0 and a p-value of 5.985425752907972e-208, _we **reject** the null hypothssis_
## Testing Results for SPN against NETH 
SPN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and NETH
$H_{A}$: There is a difference between SPN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against NPL 
SPN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and NPL
$H_{A}$: There is a difference between SPN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against POL 
SPN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SPN and POL
$H_{A}$: There is a difference between SPN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.7608443932114564 and a p-value of 0.00017781993846686285, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 166567.5 and a p-value of 0.00018467531031984773, _we **reject** the null hypothssis_
## Testing Results for SPN against PRC 
SPN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SPN and PRC
$H_{A}$: There is a difference between SPN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.765130492995173 and a p-value of 0.005724992308223498, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 787073.5 and a p-value of 0.005746615302035024, _we failed to reject the null hypothssis_
## Testing Results for SPN against PRY 
SPN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and PRY
$H_{A}$: There is a difference between SPN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against ROC 
SPN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SPN and ROC
$H_{A}$: There is a difference between SPN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 55.77478465512365 and a p-value of 1.2016861289684369e-284, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103642.0 and a p-value of 5.020426720971364e-146, _we **reject** the null hypothssis_
## Testing Results for SPN against RP 
SPN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SPN and RP
$H_{A}$: There is a difference between SPN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 18.049787517958404 and a p-value of 4.7222116562153054e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 369140.5 and a p-value of 3.471468286199816e-60, _we **reject** the null hypothssis_
## Testing Results for SPN against SAFR 
SPN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SPN and SAFR
$H_{A}$: There is a difference between SPN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.952403237778222 and a p-value of 7.42715760160163e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48119.5 and a p-value of 1.4214117142830776e-11, _we **reject** the null hypothssis_
## Testing Results for SPN against SAUD 
SPN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and SAUD
$H_{A}$: There is a difference between SPN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against SING 
SPN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and SING
$H_{A}$: There is a difference between SPN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against SKOR 
SPN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SPN and SKOR
$H_{A}$: There is a difference between SPN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.8112023913073765 and a p-value of 1.969772501000719e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21872.5 and a p-value of 6.040785889541084e-14, _we **reject** the null hypothssis_
## Testing Results for SPN against SVN 
SPN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SPN and SVN
$H_{A}$: There is a difference between SPN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.974119058485997 and a p-value of 7.73884579340023e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29948.5 and a p-value of 8.388443839327169e-05, _we **reject** the null hypothssis_
## Testing Results for SPN against SWTZ 
SPN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and SWTZ
$H_{A}$: There is a difference between SPN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against TBD 
SPN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SPN and TBD
$H_{A}$: There is a difference between SPN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.621453298293897 and a p-value of 0.008880260478257065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 134263.5 and a p-value of 0.008967294615265105, _we failed to reject the null hypothssis_
## Testing Results for SPN against THAI 
SPN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SPN and THAI
$H_{A}$: There is a difference between SPN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.844143262230866 and a p-value of 0.00456140074949571, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57205.0 and a p-value of 0.0046531566641108465, _we failed to reject the null hypothssis_
## Testing Results for SPN against TURK 
SPN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SPN and TURK
$H_{A}$: There is a difference between SPN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5949316409581094 and a p-value of 0.11106509950857954, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89509.0 and a p-value of 0.11155300516710306, _we failed to reject the null hypothssis_
## Testing Results for SPN against UAE 
SPN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SPN and UAE
$H_{A}$: There is a difference between SPN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SPN against UK 
SPN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SPN and UK
$H_{A}$: There is a difference between SPN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.835425865918446 and a p-value of 0.004637176013179041, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 288044.0 and a p-value of 0.0046773460073110135, _we failed to reject the null hypothssis_
## Testing Results for SPN against UKR 
SPN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SPN and UKR
$H_{A}$: There is a difference between SPN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.5529669708441176 and a p-value of 0.0003998075434106932, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92874.0 and a p-value of 0.0004152131450226073, _we **reject** the null hypothssis_
## Testing Results for SPN against US 
SPN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SPN and US
$H_{A}$: There is a difference between SPN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.706500485759583 and a p-value of 1.4904239317553302e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2076541.5 and a p-value of 1.7006155813352903e-14, _we **reject** the null hypothssis_
