# Testing Results For TBD 
$H_{0}$: There is not a difference in collection success against TBD 
$H_{A}$: There is a difference in collection success against TBD
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for TBD against ALG 
TBD has a success rate of 0.9898734177215189
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and ALG
$H_{A}$: There is a difference between TBD and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18963.5 and a p-value of 0.3214028607450571, _we failed to reject the null hypothssis_
## Testing Results for TBD against ARGN 
TBD has a success rate of 0.9898734177215189
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and ARGN
$H_{A}$: There is a difference between TBD and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 82696.5 and a p-value of 0.0382414397857195, _we failed to reject the null hypothssis_
## Testing Results for TBD against ASRA 
TBD has a success rate of 0.9898734177215189
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and ASRA
$H_{A}$: There is a difference between TBD and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53371.5 and a p-value of 0.09592841875218683, _we failed to reject the null hypothssis_
## Testing Results for TBD against AUS 
TBD has a success rate of 0.9898734177215189
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between TBD and AUS
$H_{A}$: There is a difference between TBD and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.243968858056872 and a p-value of 5.6072899122131136e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67986.5 and a p-value of 6.000920366403696e-25, _we **reject** the null hypothssis_
## Testing Results for TBD against BEL 
TBD has a success rate of 0.9898734177215189
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between TBD and BEL
$H_{A}$: There is a difference between TBD and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.85405900526183 and a p-value of 7.906967776300593e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44815.5 and a p-value of 1.2156433472397032e-08, _we **reject** the null hypothssis_
## Testing Results for TBD against BRAZ 
TBD has a success rate of 0.9898734177215189
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and BRAZ
$H_{A}$: There is a difference between TBD and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 84847.0 and a p-value of 0.03581612258870296, _we failed to reject the null hypothssis_
## Testing Results for TBD against CA 
TBD has a success rate of 0.9898734177215189
CA has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and CA
$H_{A}$: There is a difference between TBD and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45551.5 and a p-value of 0.1240240963965678, _we failed to reject the null hypothssis_
## Testing Results for TBD against CIS 
TBD has a success rate of 0.9898734177215189
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between TBD and CIS
$H_{A}$: There is a difference between TBD and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.029490492823932 and a p-value of 2.6070117823323468e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 149771.5 and a p-value of 6.314527551108603e-15, _we **reject** the null hypothssis_
## Testing Results for TBD against COL 
TBD has a success rate of 0.9898734177215189
COL has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and COL
$H_{A}$: There is a difference between TBD and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11925.5 and a p-value of 0.4322631788302652, _we failed to reject the null hypothssis_
## Testing Results for TBD against DEN 
TBD has a success rate of 0.9898734177215189
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and DEN
$H_{A}$: There is a difference between TBD and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33821.5 and a p-value of 0.18510785816577213, _we failed to reject the null hypothssis_
## Testing Results for TBD against ESA 
TBD has a success rate of 0.9898734177215189
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between TBD and ESA
$H_{A}$: There is a difference between TBD and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7335600875060064 and a p-value of 0.4635613884087101, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21118.0 and a p-value of 0.46423329470972396, _we failed to reject the null hypothssis_
## Testing Results for TBD against EST 
TBD has a success rate of 0.9898734177215189
EST has a success rate of 0.975
$H_{0}$: There is not a difference between TBD and EST
$H_{A}$: There is a difference between TBD and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8396868276321698 and a p-value of 0.4015473717861068, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8017.5 and a p-value of 0.40293107736362654, _we failed to reject the null hypothssis_
## Testing Results for TBD against EUME 
TBD has a success rate of 0.9898734177215189
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and EUME
$H_{A}$: There is a difference between TBD and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107525.0 and a p-value of 0.018142896415389645, _we failed to reject the null hypothssis_
## Testing Results for TBD against FIN 
TBD has a success rate of 0.9898734177215189
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and FIN
$H_{A}$: There is a difference between TBD and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 86606.5 and a p-value of 0.03395173532070491, _we failed to reject the null hypothssis_
## Testing Results for TBD against FR 
TBD has a success rate of 0.9898734177215189
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between TBD and FR
$H_{A}$: There is a difference between TBD and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.367488342320396 and a p-value of 1.0178987566007435e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107030.5 and a p-value of 1.2524893927861243e-07, _we **reject** the null hypothssis_
## Testing Results for TBD against GER 
TBD has a success rate of 0.9898734177215189
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between TBD and GER
$H_{A}$: There is a difference between TBD and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6802755728975687 and a p-value of 0.09301926115350621, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 462270.0 and a p-value of 0.09304092795628642, _we failed to reject the null hypothssis_
## Testing Results for TBD against GUAT 
TBD has a success rate of 0.9898734177215189
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between TBD and GUAT
$H_{A}$: There is a difference between TBD and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2983328752039256 and a p-value of 0.1948221038659381, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13689.0 and a p-value of 0.1953664859757792, _we failed to reject the null hypothssis_
## Testing Results for TBD against HUN 
TBD has a success rate of 0.9898734177215189
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and HUN
$H_{A}$: There is a difference between TBD and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54349.0 and a p-value of 0.09293818952953976, _we failed to reject the null hypothssis_
## Testing Results for TBD against IND 
TBD has a success rate of 0.9898734177215189
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between TBD and IND
$H_{A}$: There is a difference between TBD and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9672688693414135 and a p-value of 0.04949781381052486, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 81743.0 and a p-value of 0.04963233056045495, _we failed to reject the null hypothssis_
## Testing Results for TBD against INDO 
TBD has a success rate of 0.9898734177215189
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and INDO
$H_{A}$: There is a difference between TBD and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53762.5 and a p-value of 0.0947199325629321, _we failed to reject the null hypothssis_
## Testing Results for TBD against IRAN 
TBD has a success rate of 0.9898734177215189
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and IRAN
$H_{A}$: There is a difference between TBD and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47311.0 and a p-value of 0.11698994149342647, _we failed to reject the null hypothssis_
## Testing Results for TBD against IRAQ 
TBD has a success rate of 0.9898734177215189
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and IRAQ
$H_{A}$: There is a difference between TBD and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20723.0 and a p-value of 0.2998616697296971, _we failed to reject the null hypothssis_
## Testing Results for TBD against ISRA 
TBD has a success rate of 0.9898734177215189
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and ISRA
$H_{A}$: There is a difference between TBD and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78200.0 and a p-value of 0.043886720700552787, _we failed to reject the null hypothssis_
## Testing Results for TBD against ISS 
TBD has a success rate of 0.9898734177215189
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and ISS
$H_{A}$: There is a difference between TBD and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40468.5 and a p-value of 0.14714191782536196, _we failed to reject the null hypothssis_
## Testing Results for TBD against IT 
TBD has a success rate of 0.9898734177215189
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between TBD and IT
$H_{A}$: There is a difference between TBD and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.894109559638208 and a p-value of 1.1098922984976577e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 194080.0 and a p-value of 1.2239435697904865e-06, _we **reject** the null hypothssis_
## Testing Results for TBD against JPN 
TBD has a success rate of 0.9898734177215189
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between TBD and JPN
$H_{A}$: There is a difference between TBD and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 15.572659747489935 and a p-value of 1.1454461706939224e-49, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 200971.5 and a p-value of 2.4190639259269883e-45, _we **reject** the null hypothssis_
## Testing Results for TBD against KAZ 
TBD has a success rate of 0.9898734177215189
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between TBD and KAZ
$H_{A}$: There is a difference between TBD and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.09473295399401913 and a p-value of 0.9245599448739414, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35976.0 and a p-value of 0.9256769197721212, _we failed to reject the null hypothssis_
## Testing Results for TBD against KWT 
TBD has a success rate of 0.9898734177215189
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and KWT
$H_{A}$: There is a difference between TBD and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27565.5 and a p-value of 0.23163187620024106, _we failed to reject the null hypothssis_
## Testing Results for TBD against LKA 
TBD has a success rate of 0.9898734177215189
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and LKA
$H_{A}$: There is a difference between TBD and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44965.0 and a p-value of 0.1264721912381408, _we failed to reject the null hypothssis_
## Testing Results for TBD against LTU 
TBD has a success rate of 0.9898734177215189
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between TBD and LTU
$H_{A}$: There is a difference between TBD and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6550328229107256 and a p-value of 0.5126578855129468, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63547.5 and a p-value of 0.5128850514230753, _we failed to reject the null hypothssis_
## Testing Results for TBD against MALA 
TBD has a success rate of 0.9898734177215189
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and MALA
$H_{A}$: There is a difference between TBD and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47897.5 and a p-value of 0.11474432628624993, _we failed to reject the null hypothssis_
## Testing Results for TBD against MEX 
TBD has a success rate of 0.9898734177215189
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and MEX
$H_{A}$: There is a difference between TBD and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50634.5 and a p-value of 0.10487454236336811, _we failed to reject the null hypothssis_
## Testing Results for TBD against MUS 
TBD has a success rate of 0.9898734177215189
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and MUS
$H_{A}$: There is a difference between TBD and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6451.5 and a p-value of 0.5647995483387123, _we failed to reject the null hypothssis_
## Testing Results for TBD against MX 
TBD has a success rate of 0.9898734177215189
MX has a success rate of 0.0
$H_{0}$: There is not a difference between TBD and MX
$H_{A}$: There is a difference between TBD and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 196.2485668737482 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 108075.0 and a p-value of 5.725384209875763e-144, _we **reject** the null hypothssis_
## Testing Results for TBD against NETH 
TBD has a success rate of 0.9898734177215189
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and NETH
$H_{A}$: There is a difference between TBD and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54740.0 and a p-value of 0.09177064318954144, _we failed to reject the null hypothssis_
## Testing Results for TBD against NPL 
TBD has a success rate of 0.9898734177215189
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and NPL
$H_{A}$: There is a difference between TBD and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42814.5 and a p-value of 0.1359208206096236, _we failed to reject the null hypothssis_
## Testing Results for TBD against POL 
TBD has a success rate of 0.9898734177215189
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between TBD and POL
$H_{A}$: There is a difference between TBD and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.236884012604609 and a p-value of 0.21646087527888908, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96792.5 and a p-value of 0.21649715351749388, _we failed to reject the null hypothssis_
## Testing Results for TBD against PRC 
TBD has a success rate of 0.9898734177215189
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between TBD and PRC
$H_{A}$: There is a difference between TBD and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.19546205573474054 and a p-value of 0.8450459149692113, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 457326.5 and a p-value of 0.8451543797581995, _we failed to reject the null hypothssis_
## Testing Results for TBD against PRY 
TBD has a success rate of 0.9898734177215189
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and PRY
$H_{A}$: There is a difference between TBD and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12512.0 and a p-value of 0.4210840555758544, _we failed to reject the null hypothssis_
## Testing Results for TBD against ROC 
TBD has a success rate of 0.9898734177215189
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between TBD and ROC
$H_{A}$: There is a difference between TBD and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 39.15407001092202 and a p-value of 1.035641423697882e-162, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60492.0 and a p-value of 1.373343250488629e-91, _we **reject** the null hypothssis_
## Testing Results for TBD against RP 
TBD has a success rate of 0.9898734177215189
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between TBD and RP
$H_{A}$: There is a difference between TBD and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.253660798593884 and a p-value of 1.4801387220115039e-37, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 215003.5 and a p-value of 2.7292555519352585e-35, _we **reject** the null hypothssis_
## Testing Results for TBD against SAFR 
TBD has a success rate of 0.9898734177215189
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between TBD and SAFR
$H_{A}$: There is a difference between TBD and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.726215606855246 and a p-value of 0.00021537486437829507, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27974.5 and a p-value of 0.0002329171291079478, _we **reject** the null hypothssis_
## Testing Results for TBD against SAUD 
TBD has a success rate of 0.9898734177215189
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and SAUD
$H_{A}$: There is a difference between TBD and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23264.5 and a p-value of 0.2719143352297798, _we failed to reject the null hypothssis_
## Testing Results for TBD against SING 
TBD has a success rate of 0.9898734177215189
SING has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and SING
$H_{A}$: There is a difference between TBD and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 142324.0 and a p-value of 0.006570280561511142, _we failed to reject the null hypothssis_
## Testing Results for TBD against SKOR 
TBD has a success rate of 0.9898734177215189
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between TBD and SKOR
$H_{A}$: There is a difference between TBD and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8474049809050235 and a p-value of 0.00013650356372725447, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12717.5 and a p-value of 0.0001518425065910259, _we **reject** the null hypothssis_
## Testing Results for TBD against SPN 
TBD has a success rate of 0.9898734177215189
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and SPN
$H_{A}$: There is a difference between TBD and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 131571.5 and a p-value of 0.008967294615265105, _we failed to reject the null hypothssis_
## Testing Results for TBD against SVN 
TBD has a success rate of 0.9898734177215189
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between TBD and SVN
$H_{A}$: There is a difference between TBD and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9784491999756497 and a p-value of 0.32834507964612614, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17403.5 and a p-value of 0.32892633017256423, _we failed to reject the null hypothssis_
## Testing Results for TBD against SWTZ 
TBD has a success rate of 0.9898734177215189
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and SWTZ
$H_{A}$: There is a difference between TBD and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75658.5 and a p-value of 0.047459651664479977, _we failed to reject the null hypothssis_
## Testing Results for TBD against THAI 
TBD has a success rate of 0.9898734177215189
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between TBD and THAI
$H_{A}$: There is a difference between TBD and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.18768115193070262 and a p-value of 0.8511944678699205, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33239.0 and a p-value of 0.8522482693814124, _we failed to reject the null hypothssis_
## Testing Results for TBD against TURK 
TBD has a success rate of 0.9898734177215189
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between TBD and TURK
$H_{A}$: There is a difference between TBD and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9219083647772641 and a p-value of 0.3569142703020338, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52005.0 and a p-value of 0.3572452648626707, _we failed to reject the null hypothssis_
## Testing Results for TBD against UAE 
TBD has a success rate of 0.9898734177215189
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between TBD and UAE
$H_{A}$: There is a difference between TBD and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.007657973132985 and a p-value of 0.04536196696155754, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93644.5 and a p-value of 0.027450040343931663, _we failed to reject the null hypothssis_
## Testing Results for TBD against UK 
TBD has a success rate of 0.9898734177215189
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between TBD and UK
$H_{A}$: There is a difference between TBD and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.26296271475284816 and a p-value of 0.7926230372396598, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 167368.0 and a p-value of 0.7928614448819042, _we failed to reject the null hypothssis_
## Testing Results for TBD against UKR 
TBD has a success rate of 0.9898734177215189
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between TBD and UKR
$H_{A}$: There is a difference between TBD and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9131605415350165 and a p-value of 0.3614895508165433, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53968.0 and a p-value of 0.3616373225477545, _we failed to reject the null hypothssis_
## Testing Results for TBD against US 
TBD has a success rate of 0.9898734177215189
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between TBD and US
$H_{A}$: There is a difference between TBD and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.143032540622769 and a p-value of 2.7877199812111777e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1207356.5 and a p-value of 2.862100368883188e-07, _we **reject** the null hypothssis_
