# Testing Results For THAI 
$H_{0}$: There is not a difference in collection success against THAI 
$H_{A}$: There is a difference in collection success against THAI
Out of 54 tests, there were 8 rejections from 54 independent-t test.
Out of 54 tests, there were 8 rejections from 54 Man Whitney u-tests.
## Testing Results for THAI against ALG 
THAI has a success rate of 0.9880952380952381
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and ALG
$H_{A}$: There is a difference between THAI and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8051.0 and a p-value of 0.28412904427754004, _we failed to reject the null hypothssis_
## Testing Results for THAI against ARGN 
THAI has a success rate of 0.9880952380952381
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and ARGN
$H_{A}$: There is a difference between THAI and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35109.0 and a p-value of 0.02487817818864767, _we failed to reject the null hypothssis_
## Testing Results for THAI against ASRA 
THAI has a success rate of 0.9880952380952381
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and ASRA
$H_{A}$: There is a difference between THAI and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22659.0 and a p-value of 0.07162061149163733, _we failed to reject the null hypothssis_
## Testing Results for THAI against AUS 
THAI has a success rate of 0.9880952380952381
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between THAI and AUS
$H_{A}$: There is a difference between THAI and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.405229689403582 and a p-value of 6.751992448869383e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28875.0 and a p-value of 2.7617718084390526e-12, _we **reject** the null hypothssis_
## Testing Results for THAI against BEL 
THAI has a success rate of 0.9880952380952381
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between THAI and BEL
$H_{A}$: There is a difference between THAI and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.909438942985504 and a p-value of 0.00010992878207882294, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19030.0 and a p-value of 0.0001252802027608566, _we **reject** the null hypothssis_
## Testing Results for THAI against BRAZ 
THAI has a success rate of 0.9880952380952381
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and BRAZ
$H_{A}$: There is a difference between THAI and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36022.0 and a p-value of 0.023068227433204688, _we failed to reject the null hypothssis_
## Testing Results for THAI against CA 
THAI has a success rate of 0.9880952380952381
CA has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and CA
$H_{A}$: There is a difference between THAI and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19339.0 and a p-value of 0.09611581410246733, _we failed to reject the null hypothssis_
## Testing Results for THAI against CIS 
THAI has a success rate of 0.9880952380952381
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between THAI and CIS
$H_{A}$: There is a difference between THAI and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.229847007089013 and a p-value of 2.1527195675211925e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63602.0 and a p-value of 2.633292325907115e-07, _we **reject** the null hypothssis_
## Testing Results for THAI against COL 
THAI has a success rate of 0.9880952380952381
COL has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and COL
$H_{A}$: There is a difference between THAI and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5063.0 and a p-value of 0.3969713159662025, _we failed to reject the null hypothssis_
## Testing Results for THAI against DEN 
THAI has a success rate of 0.9880952380952381
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and DEN
$H_{A}$: There is a difference between THAI and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14359.0 and a p-value of 0.15183914472230456, _we failed to reject the null hypothssis_
## Testing Results for THAI against ESA 
THAI has a success rate of 0.9880952380952381
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between THAI and ESA
$H_{A}$: There is a difference between THAI and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.46650935697335155 and a p-value of 0.6412243638424735, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8966.0 and a p-value of 0.6430693020291736, _we failed to reject the null hypothssis_
## Testing Results for THAI against EST 
THAI has a success rate of 0.9880952380952381
EST has a success rate of 0.975
$H_{0}$: There is not a difference between THAI and EST
$H_{A}$: There is a difference between THAI and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6218725082974537 and a p-value of 0.5347133405297371, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3404.0 and a p-value of 0.5380802987396827, _we failed to reject the null hypothssis_
## Testing Results for THAI against EUME 
THAI has a success rate of 0.9880952380952381
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and EUME
$H_{A}$: There is a difference between THAI and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45650.0 and a p-value of 0.010518832654519692, _we failed to reject the null hypothssis_
## Testing Results for THAI against FIN 
THAI has a success rate of 0.9880952380952381
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and FIN
$H_{A}$: There is a difference between THAI and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36769.0 and a p-value of 0.02168913733213741, _we failed to reject the null hypothssis_
## Testing Results for THAI against FR 
THAI has a success rate of 0.9880952380952381
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between THAI and FR
$H_{A}$: There is a difference between THAI and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4997022577504033 and a p-value of 0.0004967727056963897, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45447.0 and a p-value of 0.0005202861859559002, _we **reject** the null hypothssis_
## Testing Results for THAI against GER 
THAI has a success rate of 0.9880952380952381
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between THAI and GER
$H_{A}$: There is a difference between THAI and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9657629605886184 and a p-value of 0.33425712319488965, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 196266.0 and a p-value of 0.33426482439395244, _we failed to reject the null hypothssis_
## Testing Results for THAI against GUAT 
THAI has a success rate of 0.9880952380952381
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between THAI and GUAT
$H_{A}$: There is a difference between THAI and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.941403261023071 and a p-value of 0.3474690820502212, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5812.0 and a p-value of 0.3487981429968733, _we failed to reject the null hypothssis_
## Testing Results for THAI against HUN 
THAI has a success rate of 0.9880952380952381
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and HUN
$H_{A}$: There is a difference between THAI and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23074.0 and a p-value of 0.0690669556440797, _we failed to reject the null hypothssis_
## Testing Results for THAI against IND 
THAI has a success rate of 0.9880952380952381
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between THAI and IND
$H_{A}$: There is a difference between THAI and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2469190498962157 and a p-value of 0.21293751545639833, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34706.0 and a p-value of 0.2130285958055247, _we failed to reject the null hypothssis_
## Testing Results for THAI against INDO 
THAI has a success rate of 0.9880952380952381
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and INDO
$H_{A}$: There is a difference between THAI and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22825.0 and a p-value of 0.07058721143656412, _we failed to reject the null hypothssis_
## Testing Results for THAI against IRAN 
THAI has a success rate of 0.9880952380952381
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and IRAN
$H_{A}$: There is a difference between THAI and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20086.0 and a p-value of 0.08990397548597512, _we failed to reject the null hypothssis_
## Testing Results for THAI against IRAQ 
THAI has a success rate of 0.9880952380952381
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and IRAQ
$H_{A}$: There is a difference between THAI and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8798.0 and a p-value of 0.26267119653266346, _we failed to reject the null hypothssis_
## Testing Results for THAI against ISRA 
THAI has a success rate of 0.9880952380952381
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and ISRA
$H_{A}$: There is a difference between THAI and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33200.0 and a p-value of 0.0291556439380447, _we failed to reject the null hypothssis_
## Testing Results for THAI against ISS 
THAI has a success rate of 0.9880952380952381
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and ISS
$H_{A}$: There is a difference between THAI and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17181.0 and a p-value of 0.11685537803026243, _we failed to reject the null hypothssis_
## Testing Results for THAI against IT 
THAI has a success rate of 0.9880952380952381
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between THAI and IT
$H_{A}$: There is a difference between THAI and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1527385852383394 and a p-value of 0.001661795717265248, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 82408.0 and a p-value of 0.0016920903548474915, _we failed to reject the null hypothssis_
## Testing Results for THAI against JPN 
THAI has a success rate of 0.9880952380952381
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between THAI and JPN
$H_{A}$: There is a difference between THAI and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.163393850607875 and a p-value of 4.806823464396376e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85367.0 and a p-value of 5.938364967613091e-22, _we **reject** the null hypothssis_
## Testing Results for THAI against KAZ 
THAI has a success rate of 0.9880952380952381
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between THAI and KAZ
$H_{A}$: There is a difference between THAI and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.08029588635445108 and a p-value of 0.936048085838562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15274.0 and a p-value of 0.9381950651058252, _we failed to reject the null hypothssis_
## Testing Results for THAI against KWT 
THAI has a success rate of 0.9880952380952381
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and KWT
$H_{A}$: There is a difference between THAI and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11703.0 and a p-value of 0.19597525635673907, _we failed to reject the null hypothssis_
## Testing Results for THAI against LKA 
THAI has a success rate of 0.9880952380952381
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and LKA
$H_{A}$: There is a difference between THAI and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19090.0 and a p-value of 0.09828908794208187, _we failed to reject the null hypothssis_
## Testing Results for THAI against LTU 
THAI has a success rate of 0.9880952380952381
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between THAI and LTU
$H_{A}$: There is a difference between THAI and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.32775168498333435 and a p-value of 0.7432405620459179, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26980.0 and a p-value of 0.7441125161564672, _we failed to reject the null hypothssis_
## Testing Results for THAI against MALA 
THAI has a success rate of 0.9880952380952381
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and MALA
$H_{A}$: There is a difference between THAI and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20335.0 and a p-value of 0.08793141344280825, _we failed to reject the null hypothssis_
## Testing Results for THAI against MEX 
THAI has a success rate of 0.9880952380952381
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and MEX
$H_{A}$: There is a difference between THAI and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21497.0 and a p-value of 0.07932551651301238, _we failed to reject the null hypothssis_
## Testing Results for THAI against MUS 
THAI has a success rate of 0.9880952380952381
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and MUS
$H_{A}$: There is a difference between THAI and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2739.0 and a p-value of 0.5360247440806823, _we failed to reject the null hypothssis_
## Testing Results for THAI against MX 
THAI has a success rate of 0.9880952380952381
MX has a success rate of 0.0
$H_{0}$: There is not a difference between THAI and MX
$H_{A}$: There is a difference between THAI and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 117.73274820541651 and a p-value of 1.3037098390636232e-162, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45925.0 and a p-value of 2.7215039729638412e-96, _we **reject** the null hypothssis_
## Testing Results for THAI against NETH 
THAI has a success rate of 0.9880952380952381
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and NETH
$H_{A}$: There is a difference between THAI and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23240.0 and a p-value of 0.0680729515245398, _we failed to reject the null hypothssis_
## Testing Results for THAI against NPL 
THAI has a success rate of 0.9880952380952381
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and NPL
$H_{A}$: There is a difference between THAI and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18177.0 and a p-value of 0.10672945058799868, _we failed to reject the null hypothssis_
## Testing Results for THAI against POL 
THAI has a success rate of 0.9880952380952381
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between THAI and POL
$H_{A}$: There is a difference between THAI and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.72389973927425 and a p-value of 0.4693873357200635, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41095.0 and a p-value of 0.46959131916945407, _we failed to reject the null hypothssis_
## Testing Results for THAI against PRC 
THAI has a success rate of 0.9880952380952381
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between THAI and PRC
$H_{A}$: There is a difference between THAI and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.07862999786852705 and a p-value of 0.9373332726112292, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 194163.0 and a p-value of 0.9375568609347937, _we failed to reject the null hypothssis_
## Testing Results for THAI against PRY 
THAI has a success rate of 0.9880952380952381
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and PRY
$H_{A}$: There is a difference between THAI and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5312.0 and a p-value of 0.3854310492960219, _we failed to reject the null hypothssis_
## Testing Results for THAI against ROC 
THAI has a success rate of 0.9880952380952381
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between THAI and ROC
$H_{A}$: There is a difference between THAI and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 26.378304542753778 and a p-value of 9.14229501758365e-84, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25703.0 and a p-value of 2.995521061002053e-51, _we **reject** the null hypothssis_
## Testing Results for THAI against RP 
THAI has a success rate of 0.9880952380952381
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between THAI and RP
$H_{A}$: There is a difference between THAI and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.639587046351146 and a p-value of 2.2249700700424306e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 91321.0 and a p-value of 7.677595012828063e-17, _we **reject** the null hypothssis_
## Testing Results for THAI against SAFR 
THAI has a success rate of 0.9880952380952381
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between THAI and SAFR
$H_{A}$: There is a difference between THAI and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5659326543985372 and a p-value of 0.010775468649314106, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11878.0 and a p-value of 0.011072131638100526, _we failed to reject the null hypothssis_
## Testing Results for THAI against SAUD 
THAI has a success rate of 0.9880952380952381
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and SAUD
$H_{A}$: There is a difference between THAI and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9877.0 and a p-value of 0.2351035459540345, _we failed to reject the null hypothssis_
## Testing Results for THAI against SING 
THAI has a success rate of 0.9880952380952381
SING has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and SING
$H_{A}$: There is a difference between THAI and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60424.0 and a p-value of 0.0032447846866621556, _we failed to reject the null hypothssis_
## Testing Results for THAI against SKOR 
THAI has a success rate of 0.9880952380952381
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between THAI and SKOR
$H_{A}$: There is a difference between THAI and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7877438734750775 and a p-value of 0.005759520740940069, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5400.0 and a p-value of 0.006083317107359089, _we failed to reject the null hypothssis_
## Testing Results for THAI against SPN 
THAI has a success rate of 0.9880952380952381
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and SPN
$H_{A}$: There is a difference between THAI and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55859.0 and a p-value of 0.0046531566641108465, _we failed to reject the null hypothssis_
## Testing Results for THAI against SVN 
THAI has a success rate of 0.9880952380952381
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between THAI and SVN
$H_{A}$: There is a difference between THAI and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.673260054873375 and a p-value of 0.501396394976555, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7389.0 and a p-value of 0.5029691010278687, _we failed to reject the null hypothssis_
## Testing Results for THAI against SWTZ 
THAI has a success rate of 0.9880952380952381
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and SWTZ
$H_{A}$: There is a difference between THAI and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32121.0 and a p-value of 0.0319057224976375, _we failed to reject the null hypothssis_
## Testing Results for THAI against TBD 
THAI has a success rate of 0.9880952380952381
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between THAI and TBD
$H_{A}$: There is a difference between THAI and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.18768115193070262 and a p-value of 0.8511944678699205, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33121.0 and a p-value of 0.8522482693814124, _we failed to reject the null hypothssis_
## Testing Results for THAI against TURK 
THAI has a success rate of 0.9880952380952381
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between THAI and TURK
$H_{A}$: There is a difference between THAI and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.992820690441888 and a p-value of 0.3213543952105111, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22079.0 and a p-value of 0.3221279377227926, _we failed to reject the null hypothssis_
## Testing Results for THAI against UAE 
THAI has a success rate of 0.9880952380952381
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between THAI and UAE
$H_{A}$: There is a difference between THAI and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4184668458483867 and a p-value of 0.15791797877293065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39757.0 and a p-value of 0.01697163336931132, _we failed to reject the null hypothssis_
## Testing Results for THAI against UK 
THAI has a success rate of 0.9880952380952381
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between THAI and UK
$H_{A}$: There is a difference between THAI and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.009234368781174807 and a p-value of 0.9926339644355466, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71058.0 and a p-value of 0.9932427813569753, _we failed to reject the null hypothssis_
## Testing Results for THAI against UKR 
THAI has a success rate of 0.9880952380952381
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between THAI and UKR
$H_{A}$: There is a difference between THAI and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5310885178064343 and a p-value of 0.5956272556735086, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22913.0 and a p-value of 0.5962917387466212, _we failed to reject the null hypothssis_
## Testing Results for THAI against US 
THAI has a success rate of 0.9880952380952381
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between THAI and US
$H_{A}$: There is a difference between THAI and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.277635164794803 and a p-value of 0.0010528907145330524, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 512656.0 and a p-value of 0.0010571006895404417, _we failed to reject the null hypothssis_
