# Testing Results For UAE 
$H_{0}$: There is not a difference in collection success against UAE 
$H_{A}$: There is a difference in collection success against UAE
Out of 54 tests, there were 17 rejections from 54 independent-t test.
Out of 54 tests, there were 17 rejections from 54 Man Whitney u-tests.
## Testing Results for UAE against ALG 
UAE has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and ALG
$H_{A}$: There is a difference between UAE and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ARGN 
UAE has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and ARGN
$H_{A}$: There is a difference between UAE and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ASRA 
UAE has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and ASRA
$H_{A}$: There is a difference between UAE and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against AUS 
UAE has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between UAE and AUS
$H_{A}$: There is a difference between UAE and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.328423688008145 and a p-value of 1.5857629180816613e-36, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 83106.5 and a p-value of 3.90878720367727e-33, _we **reject** the null hypothssis_
## Testing Results for UAE against BEL 
UAE has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between UAE and BEL
$H_{A}$: There is a difference between UAE and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.747671455806353 and a p-value of 3.3937716095078104e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54845.5 and a p-value of 1.0625035624998983e-13, _we **reject** the null hypothssis_
## Testing Results for UAE against BRAZ 
UAE has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and BRAZ
$H_{A}$: There is a difference between UAE and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against CA 
UAE has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and CA
$H_{A}$: There is a difference between UAE and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against CIS 
UAE has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between UAE and CIS
$H_{A}$: There is a difference between UAE and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.636105463608162 and a p-value of 3.5460507024515335e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 183217.5 and a p-value of 1.8880754967436472e-20, _we **reject** the null hypothssis_
## Testing Results for UAE against COL 
UAE has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and COL
$H_{A}$: There is a difference between UAE and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against DEN 
UAE has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and DEN
$H_{A}$: There is a difference between UAE and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ESA 
UAE has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between UAE and ESA
$H_{A}$: There is a difference between UAE and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.0298590763191804 and a p-value of 0.0025550859787716075, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25866.0 and a p-value of 0.002649536019448569, _we failed to reject the null hypothssis_
## Testing Results for UAE against EST 
UAE has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between UAE and EST
$H_{A}$: There is a difference between UAE and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4978166911180213 and a p-value of 0.0005095102262593475, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9819.5 and a p-value of 0.0005538407571024223, _we **reject** the null hypothssis_
## Testing Results for UAE against EUME 
UAE has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and EUME
$H_{A}$: There is a difference between UAE and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against FIN 
UAE has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and FIN
$H_{A}$: There is a difference between UAE and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against FR 
UAE has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between UAE and FR
$H_{A}$: There is a difference between UAE and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.951801514171866 and a p-value of 6.584328344545718e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 131006.5 and a p-value of 1.126666179367745e-11, _we **reject** the null hypothssis_
## Testing Results for UAE against GER 
UAE has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between UAE and GER
$H_{A}$: There is a difference between UAE and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3848491313450464 and a p-value of 0.0007220285206891032, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 566178.0 and a p-value of 0.0007291202356935473, _we **reject** the null hypothssis_
## Testing Results for UAE against GUAT 
UAE has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between UAE and GUAT
$H_{A}$: There is a difference between UAE and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8029041091219438 and a p-value of 0.00015917326254252014, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16765.0 and a p-value of 0.00017476561066261478, _we **reject** the null hypothssis_
## Testing Results for UAE against HUN 
UAE has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and HUN
$H_{A}$: There is a difference between UAE and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against IND 
UAE has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between UAE and IND
$H_{A}$: There is a difference between UAE and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.815214721918537 and a p-value of 0.00014554131812961166, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100111.0 and a p-value of 0.0001533161808109417, _we **reject** the null hypothssis_
## Testing Results for UAE against INDO 
UAE has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and INDO
$H_{A}$: There is a difference between UAE and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against IRAN 
UAE has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and IRAN
$H_{A}$: There is a difference between UAE and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against IRAQ 
UAE has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and IRAQ
$H_{A}$: There is a difference between UAE and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ISRA 
UAE has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and ISRA
$H_{A}$: There is a difference between UAE and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ISS 
UAE has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and ISS
$H_{A}$: There is a difference between UAE and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against IT 
UAE has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between UAE and IT
$H_{A}$: There is a difference between UAE and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.372728619737789 and a p-value of 2.5159833803930256e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 237584.0 and a p-value of 3.296805553676038e-10, _we **reject** the null hypothssis_
## Testing Results for UAE against JPN 
UAE has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between UAE and JPN
$H_{A}$: There is a difference between UAE and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 17.794314534405913 and a p-value of 4.222572143053443e-63, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 245487.5 and a p-value of 1.4447200651903412e-56, _we **reject** the null hypothssis_
## Testing Results for UAE against KAZ 
UAE has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between UAE and KAZ
$H_{A}$: There is a difference between UAE and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.303501394704938 and a p-value of 0.02156103053922596, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44068.0 and a p-value of 0.021811946087179127, _we failed to reject the null hypothssis_
## Testing Results for UAE against KWT 
UAE has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and KWT
$H_{A}$: There is a difference between UAE and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against LKA 
UAE has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and LKA
$H_{A}$: There is a difference between UAE and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against LTU 
UAE has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between UAE and LTU
$H_{A}$: There is a difference between UAE and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7539322571568383 and a p-value of 0.006022509597014089, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77837.5 and a p-value of 0.006116013370382147, _we failed to reject the null hypothssis_
## Testing Results for UAE against MALA 
UAE has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and MALA
$H_{A}$: There is a difference between UAE and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against MEX 
UAE has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and MEX
$H_{A}$: There is a difference between UAE and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against MUS 
UAE has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and MUS
$H_{A}$: There is a difference between UAE and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against MX 
UAE has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between UAE and MX
$H_{A}$: There is a difference between UAE and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 131725.0 and a p-value of 8.986305741845476e-166, _we **reject** the null hypothssis_
## Testing Results for UAE against NETH 
UAE has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and NETH
$H_{A}$: There is a difference between UAE and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against NPL 
UAE has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and NPL
$H_{A}$: There is a difference between UAE and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against POL 
UAE has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between UAE and POL
$H_{A}$: There is a difference between UAE and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1722687351032395 and a p-value of 0.001560462317121971, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118552.5 and a p-value of 0.0015951826813574443, _we failed to reject the null hypothssis_
## Testing Results for UAE against PRC 
UAE has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between UAE and PRC
$H_{A}$: There is a difference between UAE and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3327368130933963 and a p-value of 0.019732715853592497, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 560190.5 and a p-value of 0.01976941209795904, _we failed to reject the null hypothssis_
## Testing Results for UAE against PRY 
UAE has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and PRY
$H_{A}$: There is a difference between UAE and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against ROC 
UAE has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between UAE and ROC
$H_{A}$: There is a difference between UAE and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 47.037397563506055 and a p-value of 8.389387205932047e-211, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73766.0 and a p-value of 6.467636612116072e-111, _we **reject** the null hypothssis_
## Testing Results for UAE against RP 
UAE has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between UAE and RP
$H_{A}$: There is a difference between UAE and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 15.226120006964477 and a p-value of 2.6141838308063244e-48, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 262731.5 and a p-value of 9.491533548624937e-45, _we **reject** the null hypothssis_
## Testing Results for UAE against SAFR 
UAE has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between UAE and SAFR
$H_{A}$: There is a difference between UAE and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.863060461666882 and a p-value of 7.4407303350286764e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34248.5 and a p-value of 1.1423081556276527e-08, _we **reject** the null hypothssis_
## Testing Results for UAE against SAUD 
UAE has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and SAUD
$H_{A}$: There is a difference between UAE and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against SING 
UAE has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and SING
$H_{A}$: There is a difference between UAE and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against SKOR 
UAE has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between UAE and SKOR
$H_{A}$: There is a difference between UAE and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.586643748100802 and a p-value of 1.0740211983024974e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15567.5 and a p-value of 2.31359408027405e-10, _we **reject** the null hypothssis_
## Testing Results for UAE against SPN 
UAE has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and SPN
$H_{A}$: There is a difference between UAE and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against SVN 
UAE has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between UAE and SVN
$H_{A}$: There is a difference between UAE and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3512330320598966 and a p-value of 0.0008583710419386574, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21315.5 and a p-value of 0.0009071943494702062, _we **reject** the null hypothssis_
## Testing Results for UAE against SWTZ 
UAE has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between UAE and SWTZ
$H_{A}$: There is a difference between UAE and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for UAE against TBD 
UAE has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between UAE and TBD
$H_{A}$: There is a difference between UAE and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.211117897033067 and a p-value of 0.02728645056308164, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95560.5 and a p-value of 0.027450040343931663, _we failed to reject the null hypothssis_
## Testing Results for UAE against THAI 
UAE has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between UAE and THAI
$H_{A}$: There is a difference between UAE and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.398592257665359 and a p-value of 0.01674121289488004, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40715.0 and a p-value of 0.01697163336931132, _we failed to reject the null hypothssis_
## Testing Results for UAE against TURK 
UAE has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between UAE and TURK
$H_{A}$: There is a difference between UAE and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3451827148499391 and a p-value of 0.17897720495714908, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63707.0 and a p-value of 0.17971154246436372, _we failed to reject the null hypothssis_
## Testing Results for UAE against UK 
UAE has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between UAE and UK
$H_{A}$: There is a difference between UAE and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3918646535116954 and a p-value of 0.01690195398140875, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 205012.0 and a p-value of 0.016981261456651832, _we failed to reject the null hypothssis_
## Testing Results for UAE against UKR 
UAE has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between UAE and UKR
$H_{A}$: There is a difference between UAE and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.996622994878327 and a p-value of 0.0028201554491594344, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66102.0 and a p-value of 0.0028867963525398763, _we failed to reject the null hypothssis_
## Testing Results for UAE against US 
UAE has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between UAE and US
$H_{A}$: There is a difference between UAE and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.501525944105071 and a p-value of 8.572453684298344e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1477954.5 and a p-value of 9.177296228072203e-11, _we **reject** the null hypothssis_
