# Testing Results For US 
$H_{0}$: There is not a difference in collection success against US 
$H_{A}$: There is a difference in collection success against US
Out of 54 tests, there were 46 rejections from 54 independent-t test.
Out of 54 tests, there were 38 rejections from 54 Man Whitney u-tests.
## Testing Results for US against ALG 
US has a success rate of 0.918885774351787
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between US and ALG
$H_{A}$: There is a difference between US and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 254382.5 and a p-value of 0.003458705413433992, _we failed to reject the null hypothssis_
## Testing Results for US against ARGN 
US has a success rate of 0.918885774351787
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between US and ARGN
$H_{A}$: There is a difference between US and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1109317.5 and a p-value of 1.1178362608782324e-09, _we **reject** the null hypothssis_
## Testing Results for US against ASRA 
US has a success rate of 0.918885774351787
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between US and ASRA
$H_{A}$: There is a difference between US and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 715942.5 and a p-value of 9.644345953668947e-07, _we **reject** the null hypothssis_
## Testing Results for US against AUS 
US has a success rate of 0.918885774351787
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between US and AUS
$H_{A}$: There is a difference between US and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.827870695513202 and a p-value of 4.522921328799471e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 927138.5 and a p-value of 7.844276112248708e-27, _we **reject** the null hypothssis_
## Testing Results for US against BEL 
US has a success rate of 0.918885774351787
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between US and BEL
$H_{A}$: There is a difference between US and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5678729388720556 and a p-value of 0.11696430653831784, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 605877.0 and a p-value of 0.1169661091287232, _we failed to reject the null hypothssis_
## Testing Results for US against BRAZ 
US has a success rate of 0.918885774351787
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between US and BRAZ
$H_{A}$: There is a difference between US and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1138165.0 and a p-value of 6.835342351450314e-10, _we **reject** the null hypothssis_
## Testing Results for US against CA 
US has a success rate of 0.918885774351787
CA has a success rate of 1.0
$H_{0}$: There is not a difference between US and CA
$H_{A}$: There is a difference between US and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 611042.5 and a p-value of 5.984416376277889e-06, _we **reject** the null hypothssis_
## Testing Results for US against CIS 
US has a success rate of 0.918885774351787
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between US and CIS
$H_{A}$: There is a difference between US and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.958580638752264 and a p-value of 3.781232414585669e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2030983.0 and a p-value of 4.126502381031949e-12, _we **reject** the null hypothssis_
## Testing Results for US against COL 
US has a success rate of 0.918885774351787
COL has a success rate of 1.0
$H_{0}$: There is not a difference between US and COL
$H_{A}$: There is a difference between US and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 159972.5 and a p-value of 0.020387420479233195, _we failed to reject the null hypothssis_
## Testing Results for US against DEN 
US has a success rate of 0.918885774351787
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between US and DEN
$H_{A}$: There is a difference between US and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 453692.5 and a p-value of 9.523113345630399e-05, _we **reject** the null hypothssis_
## Testing Results for US against ESA 
US has a success rate of 0.918885774351787
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between US and ESA
$H_{A}$: There is a difference between US and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.523395025888905 and a p-value of 1.4298649676887455e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 283693.0 and a p-value of 0.019250803829315297, _we failed to reject the null hypothssis_
## Testing Results for US against EST 
US has a success rate of 0.918885774351787
EST has a success rate of 0.975
$H_{0}$: There is not a difference between US and EST
$H_{A}$: There is a difference between US and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2982282391861661 and a p-value of 0.19426102148931226, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107754.0 and a p-value of 0.19427032291701973, _we failed to reject the null hypothssis_
## Testing Results for US against EUME 
US has a success rate of 0.918885774351787
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between US and EUME
$H_{A}$: There is a difference between US and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1442375.0 and a p-value of 3.909908772432724e-12, _we **reject** the null hypothssis_
## Testing Results for US against FIN 
US has a success rate of 0.918885774351787
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between US and FIN
$H_{A}$: There is a difference between US and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1161767.5 and a p-value of 4.572132191210788e-10, _we **reject** the null hypothssis_
## Testing Results for US against FR 
US has a success rate of 0.918885774351787
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between US and FR
$H_{A}$: There is a difference between US and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.837144847086286 and a p-value of 0.4025433844739372, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1445156.5 and a p-value of 0.4025151901048737, _we failed to reject the null hypothssis_
## Testing Results for US against GER 
US has a success rate of 0.918885774351787
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between US and GER
$H_{A}$: There is a difference between US and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.58641078094583 and a p-value of 1.1912251403037153e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6212091.0 and a p-value of 1.5352669604841345e-21, _we **reject** the null hypothssis_
## Testing Results for US against GUAT 
US has a success rate of 0.918885774351787
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between US and GUAT
$H_{A}$: There is a difference between US and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.5578393374420147 and a p-value of 0.1193261438090073, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 184038.0 and a p-value of 0.11933538036340394, _we failed to reject the null hypothssis_
## Testing Results for US against HUN 
US has a success rate of 0.918885774351787
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between US and HUN
$H_{A}$: There is a difference between US and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 729055.0 and a p-value of 7.683301983763165e-07, _we **reject** the null hypothssis_
## Testing Results for US against IND 
US has a success rate of 0.918885774351787
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between US and IND
$H_{A}$: There is a difference between US and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.753542056211576 and a p-value of 0.000175970430155051, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1098983.0 and a p-value of 0.00017718848724318227, _we **reject** the null hypothssis_
## Testing Results for US against INDO 
US has a success rate of 0.918885774351787
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between US and INDO
$H_{A}$: There is a difference between US and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 721187.5 and a p-value of 8.805901331216861e-07, _we **reject** the null hypothssis_
## Testing Results for US against IRAN 
US has a success rate of 0.918885774351787
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between US and IRAN
$H_{A}$: There is a difference between US and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 634645.0 and a p-value of 3.964243692370453e-06, _we **reject** the null hypothssis_
## Testing Results for US against IRAQ 
US has a success rate of 0.918885774351787
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between US and IRAQ
$H_{A}$: There is a difference between US and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 277985.0 and a p-value of 0.0022419581890027835, _we failed to reject the null hypothssis_
## Testing Results for US against ISRA 
US has a success rate of 0.918885774351787
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between US and ISRA
$H_{A}$: There is a difference between US and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1049000.0 and a p-value of 3.1308141921487875e-09, _we **reject** the null hypothssis_
## Testing Results for US against ISS 
US has a success rate of 0.918885774351787
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between US and ISS
$H_{A}$: There is a difference between US and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 542857.5 and a p-value of 1.975160046138741e-05, _we **reject** the null hypothssis_
## Testing Results for US against IT 
US has a success rate of 0.918885774351787
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between US and IT
$H_{A}$: There is a difference between US and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.29480032113522425 and a p-value of 0.7681556567758342, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2618188.0 and a p-value of 0.7681459354184519, _we failed to reject the null hypothssis_
## Testing Results for US against JPN 
US has a success rate of 0.918885774351787
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between US and JPN
$H_{A}$: There is a difference between US and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 26.463359262059626 and a p-value of 1.3991189856098773e-146, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2755660.5 and a p-value of 2.120957264162862e-139, _we **reject** the null hypothssis_
## Testing Results for US against KAZ 
US has a success rate of 0.918885774351787
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between US and KAZ
$H_{A}$: There is a difference between US and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.201593236140026 and a p-value of 9.964456326721224e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 483003.0 and a p-value of 0.0005536741895619362, _we **reject** the null hypothssis_
## Testing Results for US against KWT 
US has a success rate of 0.918885774351787
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between US and KWT
$H_{A}$: There is a difference between US and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 369772.5 and a p-value of 0.00042526620701088455, _we **reject** the null hypothssis_
## Testing Results for US against LKA 
US has a success rate of 0.918885774351787
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between US and LKA
$H_{A}$: There is a difference between US and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 603175.0 and a p-value of 6.866132397298489e-06, _we **reject** the null hypothssis_
## Testing Results for US against LTU 
US has a success rate of 0.918885774351787
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between US and LTU
$H_{A}$: There is a difference between US and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.366124967554468 and a p-value of 5.668098069620976e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 853470.0 and a p-value of 2.047512712580144e-05, _we **reject** the null hypothssis_
## Testing Results for US against MALA 
US has a success rate of 0.918885774351787
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between US and MALA
$H_{A}$: There is a difference between US and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 642512.5 and a p-value of 3.456267724596002e-06, _we **reject** the null hypothssis_
## Testing Results for US against MEX 
US has a success rate of 0.918885774351787
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between US and MEX
$H_{A}$: There is a difference between US and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 679227.5 and a p-value of 1.8243785053667059e-06, _we **reject** the null hypothssis_
## Testing Results for US against MUS 
US has a success rate of 0.918885774351787
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between US and MUS
$H_{A}$: There is a difference between US and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 86542.5 and a p-value of 0.08799397597792118, _we failed to reject the null hypothssis_
## Testing Results for US against MX 
US has a success rate of 0.918885774351787
MX has a success rate of 0.0
$H_{0}$: There is not a difference between US and MX
$H_{A}$: There is a difference between US and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 254.26476821260883 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1506037.5 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for US against NETH 
US has a success rate of 0.918885774351787
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between US and NETH
$H_{A}$: There is a difference between US and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 734300.0 and a p-value of 7.015825615526137e-07, _we **reject** the null hypothssis_
## Testing Results for US against NPL 
US has a success rate of 0.918885774351787
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between US and NPL
$H_{A}$: There is a difference between US and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 574327.5 and a p-value of 1.1373459888228605e-05, _we **reject** the null hypothssis_
## Testing Results for US against POL 
US has a success rate of 0.918885774351787
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between US and POL
$H_{A}$: There is a difference between US and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.823959243564522 and a p-value of 1.4410550003952735e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1300452.5 and a p-value of 1.469945675309742e-06, _we **reject** the null hypothssis_
## Testing Results for US against PRC 
US has a success rate of 0.918885774351787
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between US and PRC
$H_{A}$: There is a difference between US and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -16.530266571400155 and a p-value of 2.2091725737338433e-60, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6140046.5 and a p-value of 2.222726796040256e-32, _we **reject** the null hypothssis_
## Testing Results for US against PRY 
US has a success rate of 0.918885774351787
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between US and PRY
$H_{A}$: There is a difference between US and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 167840.0 and a p-value of 0.017528313840197277, _we failed to reject the null hypothssis_
## Testing Results for US against ROC 
US has a success rate of 0.918885774351787
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between US and ROC
$H_{A}$: There is a difference between US and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 34.31495978625418 and a p-value of 2.267460467395017e-235, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 839908.5 and a p-value of 2.3297400550195373e-215, _we **reject** the null hypothssis_
## Testing Results for US against RP 
US has a success rate of 0.918885774351787
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between US and RP
$H_{A}$: There is a difference between US and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 21.629422409555847 and a p-value of 2.918355451632686e-100, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2939387.5 and a p-value of 5.845207027183763e-97, _we **reject** the null hypothssis_
## Testing Results for US against SAFR 
US has a success rate of 0.918885774351787
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between US and SAFR
$H_{A}$: There is a difference between US and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.5856404582399014 and a p-value of 0.5581397838262816, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 377101.0 and a p-value of 0.5581319072609857, _we failed to reject the null hypothssis_
## Testing Results for US against SAUD 
US has a success rate of 0.918885774351787
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between US and SAUD
$H_{A}$: There is a difference between US and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 312077.5 and a p-value of 0.00120439646021901, _we failed to reject the null hypothssis_
## Testing Results for US against SING 
US has a success rate of 0.918885774351787
SING has a success rate of 1.0
$H_{0}$: There is not a difference between US and SING
$H_{A}$: There is a difference between US and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1909180.0 and a p-value of 1.5102190082491265e-15, _we **reject** the null hypothssis_
## Testing Results for US against SKOR 
US has a success rate of 0.918885774351787
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between US and SKOR
$H_{A}$: There is a difference between US and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.06261416454472508 and a p-value of 0.9500759201592746, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 171620.0 and a p-value of 0.9501350557477768, _we failed to reject the null hypothssis_
## Testing Results for US against SPN 
US has a success rate of 0.918885774351787
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between US and SPN
$H_{A}$: There is a difference between US and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1764942.5 and a p-value of 1.7006155813352903e-14, _we **reject** the null hypothssis_
## Testing Results for US against SVN 
US has a success rate of 0.918885774351787
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between US and SVN
$H_{A}$: There is a difference between US and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9809735883014885 and a p-value of 0.0476414513054468, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233865.5 and a p-value of 0.04765800905633902, _we failed to reject the null hypothssis_
## Testing Results for US against SWTZ 
US has a success rate of 0.918885774351787
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between US and SWTZ
$H_{A}$: There is a difference between US and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1014907.5 and a p-value of 5.608687214793606e-09, _we **reject** the null hypothssis_
## Testing Results for US against TBD 
US has a success rate of 0.918885774351787
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between US and TBD
$H_{A}$: There is a difference between US and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.440406714174753 and a p-value of 2.2999866465886004e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1047303.5 and a p-value of 2.862100368883188e-07, _we **reject** the null hypothssis_
## Testing Results for US against THAI 
US has a success rate of 0.918885774351787
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between US and THAI
$H_{A}$: There is a difference between US and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.574056386878496 and a p-value of 8.302593163445306e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 446288.0 and a p-value of 0.0010571006895404452, _we failed to reject the null hypothssis_
## Testing Results for US against TURK 
US has a success rate of 0.918885774351787
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between US and TURK
$H_{A}$: There is a difference between US and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -14.802160197447677 and a p-value of 1.0834216362389272e-44, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 697816.5 and a p-value of 4.2733533441472675e-06, _we **reject** the null hypothssis_
## Testing Results for US against UAE 
US has a success rate of 0.918885774351787
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between US and UAE
$H_{A}$: There is a difference between US and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -22.44510727977843 and a p-value of 5.433522259393877e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1256177.5 and a p-value of 9.177296228072203e-11, _we **reject** the null hypothssis_
## Testing Results for US against UK 
US has a success rate of 0.918885774351787
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between US and UK
$H_{A}$: There is a difference between US and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.36449653128927 and a p-value of 1.512932893688018e-39, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2247175.0 and a p-value of 3.6449058609982645e-13, _we **reject** the null hypothssis_
## Testing Results for US against UKR 
US has a success rate of 0.918885774351787
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between US and UKR
$H_{A}$: There is a difference between US and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.000215852848351 and a p-value of 1.1441058981813995e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 724967.5 and a p-value of 0.00017532343361166078, _we **reject** the null hypothssis_
