# Testing Results For 115200 
$H_{0}$: There is not a difference in collection success against 115200 
$H_{A}$: There is a difference in collection success against 115200
Out of 17 tests, there were 15 rejections from 17 independent-t test.
Out of 17 tests, there were 13 rejections from 17 Man Whitney u-tests.
## Testing Results for 115200 against 2048 
115200 has a success rate of 0.15384615384615385
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 2048
$H_{A}$: There is a difference between 115200 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2.0 and a p-value of 0.02017309277621253, _we failed to reject the null hypothssis_
## Testing Results for 115200 against 2400 
115200 has a success rate of 0.15384615384615385
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 115200 and 2400
$H_{A}$: There is a difference between 115200 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -7.988801926575075 and a p-value of 3.6904075190416305e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 500.0 and a p-value of 5.306523219823983e-57, _we **reject** the null hypothssis_
## Testing Results for 115200 against 9600 
115200 has a success rate of 0.15384615384615385
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 115200 and 9600
$H_{A}$: There is a difference between 115200 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -9.62479241260758 and a p-value of 7.360603664404805e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21681.0 and a p-value of 8.564426446309164e-22, _we **reject** the null hypothssis_
## Testing Results for 115200 against 800 
115200 has a success rate of 0.15384615384615385
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 800
$H_{A}$: There is a difference between 115200 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 839.0 and a p-value of 3.282064772385117e-158, _we **reject** the null hypothssis_
## Testing Results for 115200 against 128000 
115200 has a success rate of 0.15384615384615385
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 115200 and 128000
$H_{A}$: There is a difference between 115200 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -4.727290751375673 and a p-value of 1.1410524633684229e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 150.0 and a p-value of 3.5314920886485314e-05, _we **reject** the null hypothssis_
## Testing Results for 115200 against 4800 
115200 has a success rate of 0.15384615384615385
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 115200 and 4800
$H_{A}$: There is a difference between 115200 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -7.968353711097294 and a p-value of 3.8903137637901825e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3173.0 and a p-value of 3.5127987061069034e-102, _we **reject** the null hypothssis_
## Testing Results for 115200 against 19200 
115200 has a success rate of 0.15384615384615385
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 115200 and 19200
$H_{A}$: There is a difference between 115200 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.090772109595392 and a p-value of 3.334359537672383e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 922.5 and a p-value of 2.144048470193721e-133, _we **reject** the null hypothssis_
## Testing Results for 115200 against 40000 
115200 has a success rate of 0.15384615384615385
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 40000
$H_{A}$: There is a difference between 115200 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66.0 and a p-value of 1.3206730119416272e-15, _we **reject** the null hypothssis_
## Testing Results for 115200 against 200 
115200 has a success rate of 0.15384615384615385
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 115200 and 200
$H_{A}$: There is a difference between 115200 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.113653930274712 and a p-value of 3.2490790006234705e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 968.5 and a p-value of 1.0412911275690241e-165, _we **reject** the null hypothssis_
## Testing Results for 115200 against 9766 
115200 has a success rate of 0.15384615384615385
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 115200 and 9766
$H_{A}$: There is a difference between 115200 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -7.809872347892333 and a p-value of 3.5703574877103144e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100.0 and a p-value of 2.8011273908634374e-16, _we **reject** the null hypothssis_
## Testing Results for 115200 against 57600 
115200 has a success rate of 0.15384615384615385
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 57600
$H_{A}$: There is a difference between 115200 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43.0 and a p-value of 2.8428221012527854e-11, _we **reject** the null hypothssis_
## Testing Results for 115200 against 5000 
115200 has a success rate of 0.15384615384615385
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 5000
$H_{A}$: There is a difference between 115200 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3.0 and a p-value of 0.007451232927509013, _we failed to reject the null hypothssis_
## Testing Results for 115200 against 400 
115200 has a success rate of 0.15384615384615385
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 400
$H_{A}$: There is a difference between 115200 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1.0 and a p-value of 0.08172275229865932, _we failed to reject the null hypothssis_
## Testing Results for 115200 against 1200 
115200 has a success rate of 0.15384615384615385
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 115200 and 1200
$H_{A}$: There is a difference between 115200 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.430264512500125 and a p-value of 2.941625162761817e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9094.0 and a p-value of 4.694275858430041e-25, _we **reject** the null hypothssis_
## Testing Results for 115200 against 14832 
115200 has a success rate of 0.15384615384615385
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 115200 and 14832
$H_{A}$: There is a difference between 115200 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.12403840463596 and a p-value of 3.210817326059988e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15.0 and a p-value of 8.097244007146645e-06, _we **reject** the null hypothssis_
## Testing Results for 115200 against 12500 
115200 has a success rate of 0.15384615384615385
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 115200 and 12500
$H_{A}$: There is a difference between 115200 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -8.06946781246606 and a p-value of 3.386545929671059e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 400.0 and a p-value of 2.6680729056488697e-63, _we **reject** the null hypothssis_
## Testing Results for 115200 against 38400 
115200 has a success rate of 0.15384615384615385
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 115200 and 38400
$H_{A}$: There is a difference between 115200 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.3799508801187463 and a p-value of 0.17212220233365405, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 297.5 and a p-value of 0.17332223295240212, _we failed to reject the null hypothssis_
