# Testing Results For 1200 
$H_{0}$: There is not a difference in collection success against 1200 
$H_{A}$: There is a difference in collection success against 1200
Out of 17 tests, there were 14 rejections from 17 independent-t test.
Out of 17 tests, there were 9 rejections from 17 Man Whitney u-tests.
## Testing Results for 1200 against 2048 
1200 has a success rate of 0.9236590983876275
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 2048
$H_{A}$: There is a difference between 1200 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5614.0 and a p-value of 0.684672608443605, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 2400 
1200 has a success rate of 0.9236590983876275
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 1200 and 2400
$H_{A}$: There is a difference between 1200 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.072165461757722 and a p-value of 1.076809011154562e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1312261.0 and a p-value of 3.877963038077373e-07, _we **reject** the null hypothssis_
## Testing Results for 1200 against 9600 
1200 has a success rate of 0.9236590983876275
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 1200 and 9600
$H_{A}$: There is a difference between 1200 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.782389818920597 and a p-value of 0.005401112608021061, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42367463.0 and a p-value of 0.005403923234506842, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 800 
1200 has a success rate of 0.9236590983876275
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 800
$H_{A}$: There is a difference between 1200 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2355073.0 and a p-value of 1.17869751821631e-16, _we **reject** the null hypothssis_
## Testing Results for 1200 against 128000 
1200 has a success rate of 0.9236590983876275
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 1200 and 128000
$H_{A}$: There is a difference between 1200 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 4.597908735434052 and a p-value of 4.353134301321277e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 208159.0 and a p-value of 4.426058756436071e-06, _we **reject** the null hypothssis_
## Testing Results for 1200 against 4800 
1200 has a success rate of 0.9236590983876275
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 1200 and 4800
$H_{A}$: There is a difference between 1200 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -14.596971968853673 and a p-value of 1.0351687949868588e-47, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8207112.0 and a p-value of 1.349762752223752e-30, _we **reject** the null hypothssis_
## Testing Results for 1200 against 19200 
1200 has a success rate of 0.9236590983876275
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 1200 and 19200
$H_{A}$: There is a difference between 1200 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -18.683321379119832 and a p-value of 7.428316406585156e-76, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2543838.0 and a p-value of 2.524343955037696e-16, _we **reject** the null hypothssis_
## Testing Results for 1200 against 40000 
1200 has a success rate of 0.9236590983876275
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 40000
$H_{A}$: There is a difference between 1200 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185262.0 and a p-value of 0.0195811864439907, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 200 
1200 has a success rate of 0.9236590983876275
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 1200 and 200
$H_{A}$: There is a difference between 1200 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -21.14355928380839 and a p-value of 3.43289708798429e-96, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2703373.0 and a p-value of 2.3986264043579845e-18, _we **reject** the null hypothssis_
## Testing Results for 1200 against 9766 
1200 has a success rate of 0.9236590983876275
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 1200 and 9766
$H_{A}$: There is a difference between 1200 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.8694799184963997 and a p-value of 0.06160345861056654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 250287.0 and a p-value of 0.061617884769788155, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 57600 
1200 has a success rate of 0.9236590983876275
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 57600
$H_{A}$: There is a difference between 1200 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 120701.0 and a p-value of 0.059510521061615695, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 5000 
1200 has a success rate of 0.9236590983876275
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 5000
$H_{A}$: There is a difference between 1200 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8421.0 and a p-value of 0.6188093201948353, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 400 
1200 has a success rate of 0.9236590983876275
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 400
$H_{A}$: There is a difference between 1200 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2807.0 and a p-value of 0.774231087830372, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 14832 
1200 has a success rate of 0.9236590983876275
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 1200 and 14832
$H_{A}$: There is a difference between 1200 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -22.41131832735264 and a p-value of 5.959055158380653e-107, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42105.0 and a p-value of 0.26567427887527195, _we failed to reject the null hypothssis_
## Testing Results for 1200 against 115200 
1200 has a success rate of 0.9236590983876275
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 1200 and 115200
$H_{A}$: There is a difference between 1200 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 10.430264512500125 and a p-value of 2.941625162761817e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69920.0 and a p-value of 4.694275858430041e-25, _we **reject** the null hypothssis_
## Testing Results for 1200 against 12500 
1200 has a success rate of 0.9236590983876275
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 1200 and 12500
$H_{A}$: There is a difference between 1200 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -14.256687696045969 and a p-value of 6.213029672715101e-43, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1092387.0 and a p-value of 1.530287119943405e-07, _we **reject** the null hypothssis_
## Testing Results for 1200 against 38400 
1200 has a success rate of 0.9236590983876275
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 1200 and 38400
$H_{A}$: There is a difference between 1200 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 16.041362956890854 and a p-value of 9.266144581959505e-57, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 272442.0 and a p-value of 1.1701290907708633e-55, _we **reject** the null hypothssis_
