# Testing Results For 2400 
$H_{0}$: There is not a difference in collection success against 2400 
$H_{A}$: There is a difference in collection success against 2400
Out of 17 tests, there were 5 rejections from 17 independent-t test.
Out of 17 tests, there were 7 rejections from 17 Man Whitney u-tests.
## Testing Results for 2400 against 2048 
2400 has a success rate of 0.9869848156182213
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 2048
$H_{A}$: There is a difference between 2400 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 455.0 and a p-value of 0.8817894105360886, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 9600 
2400 has a success rate of 0.9869848156182213
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 2400 and 9600
$H_{A}$: There is a difference between 2400 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 5.679800707192776 and a p-value of 1.3748880539688373e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3414555.5 and a p-value of 1.3985720409658775e-08, _we **reject** the null hypothssis_
## Testing Results for 2400 against 800 
2400 has a success rate of 0.9869848156182213
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 800
$H_{A}$: There is a difference between 2400 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 190872.5 and a p-value of 0.0009322154894796616, _we **reject** the null hypothssis_
## Testing Results for 2400 against 128000 
2400 has a success rate of 0.9869848156182213
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 2400 and 128000
$H_{A}$: There is a difference between 2400 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 9.060750376004583 and a p-value of 2.6509816698420296e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16649.5 and a p-value of 3.609933375069642e-17, _we **reject** the null hypothssis_
## Testing Results for 2400 against 4800 
2400 has a success rate of 0.9869848156182213
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 2400 and 4800
$H_{A}$: There is a difference between 2400 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.4809680646983755 and a p-value of 0.6305707666772116, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 664438.0 and a p-value of 0.6305860732449757, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 19200 
2400 has a success rate of 0.9869848156182213
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 2400 and 19200
$H_{A}$: There is a difference between 2400 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.0933622650136527 and a p-value of 0.03650139715989531, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 206124.0 and a p-value of 0.036595197151532186, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 40000 
2400 has a success rate of 0.9869848156182213
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 40000
$H_{A}$: There is a difference between 2400 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15015.0 and a p-value of 0.35293638174660336, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 200 
2400 has a success rate of 0.9869848156182213
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 2400 and 200
$H_{A}$: There is a difference between 2400 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.2235912144179477 and a p-value of 0.02662570137776828, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 219085.5 and a p-value of 0.0025266599890159786, _we **reject** the null hypothssis_
## Testing Results for 2400 against 9766 
2400 has a success rate of 0.9869848156182213
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 2400 and 9766
$H_{A}$: There is a difference between 2400 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.7104032976878943 and a p-value of 0.4777573935700068, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20253.5 and a p-value of 0.47835652901733783, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 57600 
2400 has a success rate of 0.9869848156182213
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 57600
$H_{A}$: There is a difference between 2400 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9782.5 and a p-value of 0.4538984605666937, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 5000 
2400 has a success rate of 0.9869848156182213
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 5000
$H_{A}$: There is a difference between 2400 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 682.5 and a p-value of 0.8511607176098742, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 400 
2400 has a success rate of 0.9869848156182213
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 400
$H_{A}$: There is a difference between 2400 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 227.5 and a p-value of 0.9238462957453292, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 1200 
2400 has a success rate of 0.9869848156182213
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 2400 and 1200
$H_{A}$: There is a difference between 2400 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 5.084517494575419 and a p-value of 3.7881409681883556e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1489697.0 and a p-value of 3.877963038077373e-07, _we **reject** the null hypothssis_
## Testing Results for 2400 against 14832 
2400 has a success rate of 0.9869848156182213
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 2400 and 14832
$H_{A}$: There is a difference between 2400 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.4629117048595264 and a p-value of 0.014146670863678202, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3412.5 and a p-value of 0.6604771787377852, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 115200 
2400 has a success rate of 0.9869848156182213
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 2400 and 115200
$H_{A}$: There is a difference between 2400 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 23.324301282694297 and a p-value of 1.3202742807734118e-80, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5493.0 and a p-value of 5.306523219823983e-57, _we **reject** the null hypothssis_
## Testing Results for 2400 against 12500 
2400 has a success rate of 0.9869848156182213
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 2400 and 12500
$H_{A}$: There is a difference between 2400 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.177003967210446 and a p-value of 0.2395249603321808, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88503.5 and a p-value of 0.23963651878135472, _we failed to reject the null hypothssis_
## Testing Results for 2400 against 38400 
2400 has a success rate of 0.9869848156182213
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 2400 and 38400
$H_{A}$: There is a difference between 2400 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 23.66995400289858 and a p-value of 2.0638788068539633e-84, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21496.0 and a p-value of 1.7827450606533624e-60, _we **reject** the null hypothssis_
