# Testing Results For 38400 
$H_{0}$: There is not a difference in collection success against 38400 
$H_{A}$: There is a difference in collection success against 38400
Out of 17 tests, there were 15 rejections from 17 independent-t test.
Out of 17 tests, there were 13 rejections from 17 Man Whitney u-tests.
## Testing Results for 38400 against 2048 
38400 has a success rate of 0.3508771929824561
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 2048
$H_{A}$: There is a difference between 38400 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20.0 and a p-value of 0.06799509397544574, _we failed to reject the null hypothssis_
## Testing Results for 38400 against 2400 
38400 has a success rate of 0.3508771929824561
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 38400 and 2400
$H_{A}$: There is a difference between 38400 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -9.940260218458267 and a p-value of 4.891476618975376e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4781.0 and a p-value of 1.7827450606533624e-60, _we **reject** the null hypothssis_
## Testing Results for 38400 against 9600 
38400 has a success rate of 0.3508771929824561
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 38400 and 9600
$H_{A}$: There is a difference between 38400 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -14.839117514528112 and a p-value of 1.963000613725507e-49, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 172426.0 and a p-value of 4.595786196927554e-49, _we **reject** the null hypothssis_
## Testing Results for 38400 against 800 
38400 has a success rate of 0.3508771929824561
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 800
$H_{A}$: There is a difference between 38400 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8390.0 and a p-value of 2.0629759769323856e-125, _we **reject** the null hypothssis_
## Testing Results for 38400 against 128000 
38400 has a success rate of 0.3508771929824561
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 38400 and 128000
$H_{A}$: There is a difference between 38400 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -4.867416673082675 and a p-value of 3.664771155738698e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 989.0 and a p-value of 8.78582103387024e-06, _we **reject** the null hypothssis_
## Testing Results for 38400 against 4800 
38400 has a success rate of 0.3508771929824561
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 38400 and 4800
$H_{A}$: There is a difference between 38400 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -9.920753732405467 and a p-value of 5.919641926643567e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30051.0 and a p-value of 5.1283262941179836e-179, _we **reject** the null hypothssis_
## Testing Results for 38400 against 19200 
38400 has a success rate of 0.3508771929824561
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 38400 and 19200
$H_{A}$: There is a difference between 38400 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.121747828214284 and a p-value of 2.8840912109289364e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9115.5 and a p-value of 1.1489189868539431e-123, _we **reject** the null hypothssis_
## Testing Results for 38400 against 40000 
38400 has a success rate of 0.3508771929824561
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 40000
$H_{A}$: There is a difference between 38400 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 660.0 and a p-value of 6.55898611078323e-15, _we **reject** the null hypothssis_
## Testing Results for 38400 against 200 
38400 has a success rate of 0.3508771929824561
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 38400 and 200
$H_{A}$: There is a difference between 38400 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.160759226492203 and a p-value of 2.5416936316220192e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9648.5 and a p-value of 8.666234317027586e-139, _we **reject** the null hypothssis_
## Testing Results for 38400 against 9766 
38400 has a success rate of 0.3508771929824561
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 38400 and 9766
$H_{A}$: There is a difference between 38400 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -9.51713819920332 and a p-value of 8.011388655242025e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 927.0 and a p-value of 1.7667602053423378e-16, _we **reject** the null hypothssis_
## Testing Results for 38400 against 57600 
38400 has a success rate of 0.3508771929824561
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 57600
$H_{A}$: There is a difference between 38400 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 430.0 and a p-value of 3.6240006572689204e-11, _we **reject** the null hypothssis_
## Testing Results for 38400 against 5000 
38400 has a success rate of 0.3508771929824561
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 5000
$H_{A}$: There is a difference between 38400 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30.0 and a p-value of 0.026766322482067163, _we failed to reject the null hypothssis_
## Testing Results for 38400 against 400 
38400 has a success rate of 0.3508771929824561
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 400
$H_{A}$: There is a difference between 38400 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10.0 and a p-value of 0.19653284807797866, _we failed to reject the null hypothssis_
## Testing Results for 38400 against 1200 
38400 has a success rate of 0.3508771929824561
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 38400 and 1200
$H_{A}$: There is a difference between 38400 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -16.041362956890854 and a p-value of 9.266144581959505e-57, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74004.0 and a p-value of 1.1701290907708633e-55, _we **reject** the null hypothssis_
## Testing Results for 38400 against 14832 
38400 has a success rate of 0.3508771929824561
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 38400 and 14832
$H_{A}$: There is a difference between 38400 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.17840851999958 and a p-value of 2.399535744658004e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 150.0 and a p-value of 9.151789130625427e-06, _we **reject** the null hypothssis_
## Testing Results for 38400 against 115200 
38400 has a success rate of 0.3508771929824561
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 38400 and 115200
$H_{A}$: There is a difference between 38400 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.3799508801187463 and a p-value of 0.17212220233365405, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 443.5 and a p-value of 0.17332223295240212, _we failed to reject the null hypothssis_
## Testing Results for 38400 against 12500 
38400 has a success rate of 0.3508771929824561
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 38400 and 12500
$H_{A}$: There is a difference between 38400 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -10.080880585673471 and a p-value of 3.170308068264972e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3927.0 and a p-value of 9.846957612519901e-58, _we **reject** the null hypothssis_
