# Testing Results For 400 
$H_{0}$: There is not a difference in collection success against 400 
$H_{A}$: There is a difference in collection success against 400
Out of 17 tests, there were 0 rejections from 17 independent-t test.
Out of 17 tests, there were 0 rejections from 17 Man Whitney u-tests.
## Testing Results for 400 against 2048 
400 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 2048
$H_{A}$: There is a difference between 400 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 2400 
400 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 400 and 2400
$H_{A}$: There is a difference between 400 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233.5 and a p-value of 0.9238462957453292, _we failed to reject the null hypothssis_
## Testing Results for 400 against 9600 
400 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 400 and 9600
$H_{A}$: There is a difference between 400 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7496.5 and a p-value of 0.7558987537344808, _we failed to reject the null hypothssis_
## Testing Results for 400 against 800 
400 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 800
$H_{A}$: There is a difference between 400 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 128000 
400 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 400 and 128000
$H_{A}$: There is a difference between 400 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36.5 and a p-value of 0.608460823800517, _we failed to reject the null hypothssis_
## Testing Results for 400 against 4800 
400 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 400 and 4800
$H_{A}$: There is a difference between 400 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1460.0 and a p-value of 0.9007268004593589, _we failed to reject the null hypothssis_
## Testing Results for 400 against 19200 
400 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 400 and 19200
$H_{A}$: There is a difference between 400 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 453.0 and a p-value of 0.9693140247319523, _we failed to reject the null hypothssis_
## Testing Results for 400 against 40000 
400 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 40000
$H_{A}$: There is a difference between 400 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 200 
400 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 400 and 200
$H_{A}$: There is a difference between 400 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 481.5 and a p-value of 1.0, _we failed to reject the null hypothssis_
## Testing Results for 400 against 9766 
400 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 400 and 9766
$H_{A}$: There is a difference between 400 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44.5 and a p-value of 0.939220772891616, _we failed to reject the null hypothssis_
## Testing Results for 400 against 57600 
400 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 57600
$H_{A}$: There is a difference between 400 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 5000 
400 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 5000
$H_{A}$: There is a difference between 400 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 1200 
400 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 400 and 1200
$H_{A}$: There is a difference between 400 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3271.0 and a p-value of 0.774231087830372, _we failed to reject the null hypothssis_
## Testing Results for 400 against 14832 
400 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 400 and 14832
$H_{A}$: There is a difference between 400 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 400 against 115200 
400 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 400 and 115200
$H_{A}$: There is a difference between 400 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12.0 and a p-value of 0.08172275229865932, _we failed to reject the null hypothssis_
## Testing Results for 400 against 12500 
400 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 400 and 12500
$H_{A}$: There is a difference between 400 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 194.5 and a p-value of 0.9712897046767986, _we failed to reject the null hypothssis_
## Testing Results for 400 against 38400 
400 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 400 and 38400
$H_{A}$: There is a difference between 400 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47.0 and a p-value of 0.19653284807797866, _we failed to reject the null hypothssis_
