# Testing Results For 5000 
$H_{0}$: There is not a difference in collection success against 5000 
$H_{A}$: There is a difference in collection success against 5000
Out of 17 tests, there were 1 rejections from 17 independent-t test.
Out of 17 tests, there were 0 rejections from 17 Man Whitney u-tests.
## Testing Results for 5000 against 2048 
5000 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 2048
$H_{A}$: There is a difference between 5000 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 2400 
5000 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 5000 and 2400
$H_{A}$: There is a difference between 5000 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.1984689407045927 and a p-value of 0.8427654871865091, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 700.5 and a p-value of 0.8511607176098742, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 9600 
5000 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 5000 and 9600
$H_{A}$: There is a difference between 5000 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.5388697298072922 and a p-value of 0.5899854515357921, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22489.5 and a p-value of 0.5900691083611416, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 800 
5000 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 800
$H_{A}$: There is a difference between 5000 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 128000 
5000 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 5000 and 128000
$H_{A}$: There is a difference between 5000 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.9503819266229832 and a p-value of 0.3457308924045205, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 109.5 and a p-value of 0.3531531491023785, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 4800 
5000 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 5000 and 4800
$H_{A}$: There is a difference between 5000 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.22082530258815108 and a p-value of 0.8252441417764429, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4380.0 and a p-value of 0.8264464422098103, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 19200 
5000 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 5000 and 19200
$H_{A}$: There is a difference between 5000 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.09988956374322842 and a p-value of 0.9204541489135858, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1359.0 and a p-value of 0.9292096009180949, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 40000 
5000 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 40000
$H_{A}$: There is a difference between 5000 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 200 
5000 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 5000 and 200
$H_{A}$: There is a difference between 5000 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.05581467759082434 and a p-value of 0.9555010197841457, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1444.5 and a p-value of 0.9703023844420094, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 9766 
5000 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 5000 and 9766
$H_{A}$: There is a difference between 5000 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.2627158309716738 and a p-value of 0.7933836918270035, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 133.5 and a p-value of 0.8258057554547166, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 57600 
5000 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 57600
$H_{A}$: There is a difference between 5000 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 400 
5000 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 400
$H_{A}$: There is a difference between 5000 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 1200 
5000 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 5000 and 1200
$H_{A}$: There is a difference between 5000 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.49786544376987996 and a p-value of 0.6185968943112723, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9813.0 and a p-value of 0.6188093201948353, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 14832 
5000 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 5000 and 14832
$H_{A}$: There is a difference between 5000 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 115200 
5000 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 5000 and 115200
$H_{A}$: There is a difference between 5000 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 3.799671038392666 and a p-value of 0.0019520765031156985, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36.0 and a p-value of 0.007451232927509013, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 12500 
5000 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 5000 and 12500
$H_{A}$: There is a difference between 5000 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.12451704905150854 and a p-value of 0.9009703860015322, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 583.5 and a p-value of 0.917252069992689, _we failed to reject the null hypothssis_
## Testing Results for 5000 against 38400 
5000 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 5000 and 38400
$H_{A}$: There is a difference between 5000 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.316246964380094 and a p-value of 0.024099386709302402, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 141.0 and a p-value of 0.026766322482067183, _we failed to reject the null hypothssis_
