# Testing Results For 800 
$H_{0}$: There is not a difference in collection success against 800 
$H_{A}$: There is a difference in collection success against 800
Out of 17 tests, there were 8 rejections from 17 independent-t test.
Out of 17 tests, there were 8 rejections from 17 Man Whitney u-tests.
## Testing Results for 800 against 2048 
800 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 2048
$H_{A}$: There is a difference between 800 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 2400 
800 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 800 and 2400
$H_{A}$: There is a difference between 800 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 3.323659900023287 and a p-value of 0.0009132155537304883, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 195906.5 and a p-value of 0.0009322154894796616, _we **reject** the null hypothssis_
## Testing Results for 800 against 9600 
800 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 800 and 9600
$H_{A}$: There is a difference between 800 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 9.011683790055672 and a p-value of 2.2768354990914226e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6289563.5 and a p-value of 2.539615253946427e-19, _we **reject** the null hypothssis_
## Testing Results for 800 against 128000 
800 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 800 and 128000
$H_{A}$: There is a difference between 800 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 16.138180844508376 and a p-value of 1.2659392284445524e-51, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30623.5 and a p-value of 7.730074791051803e-46, _we **reject** the null hypothssis_
## Testing Results for 800 against 4800 
800 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 800 and 4800
$H_{A}$: There is a difference between 800 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 3.6932031410507378 and a p-value of 0.00022463535018530273, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1224940.0 and a p-value of 0.00022705980476757292, _we **reject** the null hypothssis_
## Testing Results for 800 against 19200 
800 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 800 and 19200
$H_{A}$: There is a difference between 800 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.6713634547678275 and a p-value of 0.09482972582615652, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 380067.0 and a p-value of 0.09495110898379203, _we failed to reject the null hypothssis_
## Testing Results for 800 against 40000 
800 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 40000
$H_{A}$: There is a difference between 800 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 200 
800 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 800 and 200
$H_{A}$: There is a difference between 800 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.9338519109935975 and a p-value of 0.3505056087564896, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 403978.5 and a p-value of 0.35093769957360876, _we failed to reject the null hypothssis_
## Testing Results for 800 against 9766 
800 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 800 and 9766
$H_{A}$: There is a difference between 800 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 4.438303610661863 and a p-value of 1.0160660275459597e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37335.5 and a p-value of 1.1257420668306817e-05, _we **reject** the null hypothssis_
## Testing Results for 800 against 57600 
800 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 57600
$H_{A}$: There is a difference between 800 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 5000 
800 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 5000
$H_{A}$: There is a difference between 800 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 400 
800 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 400
$H_{A}$: There is a difference between 800 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 1200 
800 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 800 and 1200
$H_{A}$: There is a difference between 800 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 8.326087505572263 and a p-value of 9.979209676717575e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2744369.0 and a p-value of 1.17869751821631e-16, _we **reject** the null hypothssis_
## Testing Results for 800 against 14832 
800 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 800 and 14832
$H_{A}$: There is a difference between 800 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 800 against 115200 
800 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 800 and 115200
$H_{A}$: There is a difference between 800 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 67.85033412132609 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10068.0 and a p-value of 3.282064772385117e-158, _we **reject** the null hypothssis_
## Testing Results for 800 against 12500 
800 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 800 and 12500
$H_{A}$: There is a difference between 800 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.085984549220368 and a p-value of 0.037186674620500675, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 163185.5 and a p-value of 0.0373520111726612, _we failed to reject the null hypothssis_
## Testing Results for 800 against 38400 
800 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 800 and 38400
$H_{A}$: There is a difference between 800 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 39.353340130976 and a p-value of 2.4883205783920853e-197, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39433.0 and a p-value of 2.0629759769323856e-125, _we **reject** the null hypothssis_
