# Testing Results For 9600 
$H_{0}$: There is not a difference in collection success against 9600 
$H_{A}$: There is a difference in collection success against 9600
Out of 17 tests, there were 14 rejections from 17 independent-t test.
Out of 17 tests, there were 9 rejections from 17 Man Whitney u-tests.
## Testing Results for 9600 against 2048 
9600 has a success rate of 0.911736952892502
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 2048
$H_{A}$: There is a difference between 9600 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12561.0 and a p-value of 0.6600694759419704, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 2400 
9600 has a success rate of 0.911736952892502
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 9600 and 2400
$H_{A}$: There is a difference between 9600 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -12.949321619577319 and a p-value of 2.1399468260024217e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2936641.5 and a p-value of 1.3985720409658775e-08, _we **reject** the null hypothssis_
## Testing Results for 9600 against 800 
9600 has a success rate of 0.911736952892502
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 800
$H_{A}$: There is a difference between 9600 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5269339.5 and a p-value of 2.539615253946427e-19, _we **reject** the null hypothssis_
## Testing Results for 9600 against 128000 
9600 has a success rate of 0.911736952892502
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 9600 and 128000
$H_{A}$: There is a difference between 9600 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 4.0155807260017795 and a p-value of 5.9612671429247404e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 466988.5 and a p-value of 5.986193061888012e-05, _we **reject** the null hypothssis_
## Testing Results for 9600 against 4800 
9600 has a success rate of 0.911736952892502
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 9600 and 4800
$H_{A}$: There is a difference between 9600 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -21.473106184130902 and a p-value of 5.16242722114807e-100, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18367028.0 and a p-value of 1.9453724300587144e-40, _we **reject** the null hypothssis_
## Testing Results for 9600 against 19200 
9600 has a success rate of 0.911736952892502
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 9600 and 19200
$H_{A}$: There is a difference between 9600 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -27.540331864436215 and a p-value of 5.733201188940195e-156, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5691957.0 and a p-value of 3.2245098826264857e-19, _we **reject** the null hypothssis_
## Testing Results for 9600 against 40000 
9600 has a success rate of 0.911736952892502
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 40000
$H_{A}$: There is a difference between 9600 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 414513.0 and a p-value of 0.011504130272986085, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 200 
9600 has a success rate of 0.911736952892502
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 9600 and 200
$H_{A}$: There is a difference between 9600 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -33.15244621045887 and a p-value of 2.0173726855732133e-231, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6048729.5 and a p-value of 2.043141666157892e-21, _we **reject** the null hypothssis_
## Testing Results for 9600 against 9766 
9600 has a success rate of 0.911736952892502
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 9600 and 9766
$H_{A}$: There is a difference between 9600 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.1442010680512107 and a p-value of 0.032034117313079584, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 560180.5 and a p-value of 0.032041261017087604, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 57600 
9600 has a success rate of 0.911736952892502
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 57600
$H_{A}$: There is a difference between 9600 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 270061.5 and a p-value of 0.041364679126733285, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 5000 
9600 has a success rate of 0.911736952892502
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 5000
$H_{A}$: There is a difference between 9600 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18841.5 and a p-value of 0.5900691083611416, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 400 
9600 has a success rate of 0.911736952892502
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 400
$H_{A}$: There is a difference between 9600 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6280.5 and a p-value of 0.7558987537344808, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 1200 
9600 has a success rate of 0.911736952892502
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 9600 and 1200
$H_{A}$: There is a difference between 9600 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -2.782389818920597 and a p-value of 0.005401112608021061, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41369143.0 and a p-value of 0.005403923234506842, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 14832 
9600 has a success rate of 0.911736952892502
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 9600 and 14832
$H_{A}$: There is a difference between 9600 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -36.51877884736163 and a p-value of 8.723006187487462e-279, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 94207.5 and a p-value of 0.22825595420177247, _we failed to reject the null hypothssis_
## Testing Results for 9600 against 115200 
9600 has a success rate of 0.911736952892502
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 9600 and 115200
$H_{A}$: There is a difference between 9600 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 9.62479241260758 and a p-value of 7.360603664404805e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 157420.0 and a p-value of 8.564426446309164e-22, _we **reject** the null hypothssis_
## Testing Results for 9600 against 12500 
9600 has a success rate of 0.911736952892502
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 9600 and 12500
$H_{A}$: There is a difference between 9600 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -18.983153449158483 and a p-value of 1.4975049849522545e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2444330.5 and a p-value of 8.906524380552604e-09, _we **reject** the null hypothssis_
## Testing Results for 9600 against 38400 
9600 has a success rate of 0.911736952892502
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 9600 and 38400
$H_{A}$: There is a difference between 9600 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 14.839117514528112 and a p-value of 1.963000613725507e-49, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 612863.0 and a p-value of 4.595786196927554e-49, _we **reject** the null hypothssis_
