# Testing Results For AUS 
$H_{0}$: There is not a difference in collection success against AUS 
$H_{A}$: There is a difference in collection success against AUS
Out of 54 tests, there were 52 rejections from 54 independent-t test.
Out of 54 tests, there were 52 rejections from 54 Man Whitney u-tests.
## Testing Results for AUS against ALG 
AUS has a success rate of 0.7289377289377289
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and ALG
$H_{A}$: There is a difference between AUS and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9651.5 and a p-value of 1.038220868336284e-08, _we **reject** the null hypothssis_
## Testing Results for AUS against ARGN 
AUS has a success rate of 0.7289377289377289
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and ARGN
$H_{A}$: There is a difference between AUS and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42088.5 and a p-value of 1.0630065047656987e-29, _we **reject** the null hypothssis_
## Testing Results for AUS against ASRA 
AUS has a success rate of 0.7289377289377289
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and ASRA
$H_{A}$: There is a difference between AUS and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27163.5 and a p-value of 2.3926833177633182e-20, _we **reject** the null hypothssis_
## Testing Results for AUS against BEL 
AUS has a success rate of 0.7289377289377289
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between AUS and BEL
$H_{A}$: There is a difference between AUS and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.374393879450149 and a p-value of 1.496592564570648e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23636.5 and a p-value of 1.7609902347100262e-05, _we **reject** the null hypothssis_
## Testing Results for AUS against BRAZ 
AUS has a success rate of 0.7289377289377289
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and BRAZ
$H_{A}$: There is a difference between AUS and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43183.0 and a p-value of 2.2391215278361687e-30, _we **reject** the null hypothssis_
## Testing Results for AUS against CA 
AUS has a success rate of 0.7289377289377289
CA has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and CA
$H_{A}$: There is a difference between AUS and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23183.5 and a p-value of 8.55146919910614e-18, _we **reject** the null hypothssis_
## Testing Results for AUS against CIS 
AUS has a success rate of 0.7289377289377289
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between AUS and CIS
$H_{A}$: There is a difference between AUS and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.8323128558419923 and a p-value of 0.00013548474417008117, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 80076.5 and a p-value of 0.0001422486296251138, _we **reject** the null hypothssis_
## Testing Results for AUS against COL 
AUS has a success rate of 0.7289377289377289
COL has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and COL
$H_{A}$: There is a difference between AUS and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6069.5 and a p-value of 4.207574978808841e-06, _we **reject** the null hypothssis_
## Testing Results for AUS against DEN 
AUS has a success rate of 0.7289377289377289
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and DEN
$H_{A}$: There is a difference between AUS and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17213.5 and a p-value of 6.932409428420249e-14, _we **reject** the null hypothssis_
## Testing Results for AUS against ESA 
AUS has a success rate of 0.7289377289377289
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between AUS and ESA
$H_{A}$: There is a difference between AUS and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.393763141935416 and a p-value of 1.0548049919358382e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10820.0 and a p-value of 3.890279278494655e-08, _we **reject** the null hypothssis_
## Testing Results for AUS against EST 
AUS has a success rate of 0.7289377289377289
EST has a success rate of 0.975
$H_{0}$: There is not a difference between AUS and EST
$H_{A}$: There is a difference between AUS and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.693435815046004 and a p-value of 3.901050759382534e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4116.5 and a p-value of 0.0006782316733652414, _we **reject** the null hypothssis_
## Testing Results for AUS against EUME 
AUS has a success rate of 0.7289377289377289
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and EUME
$H_{A}$: There is a difference between AUS and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54725.0 and a p-value of 1.843892401500219e-37, _we **reject** the null hypothssis_
## Testing Results for AUS against FIN 
AUS has a success rate of 0.7289377289377289
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and FIN
$H_{A}$: There is a difference between AUS and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44078.5 and a p-value of 6.270651312472866e-31, _we **reject** the null hypothssis_
## Testing Results for AUS against FR 
AUS has a success rate of 0.7289377289377289
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between AUS and FR
$H_{A}$: There is a difference between AUS and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.766921732864244 and a p-value of 2.601474764695e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56128.5 and a p-value of 4.7448839665015553e-11, _we **reject** the null hypothssis_
## Testing Results for AUS against GER 
AUS has a success rate of 0.7289377289377289
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between AUS and GER
$H_{A}$: There is a difference between AUS and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.127878618324681 and a p-value of 1.4403845403791836e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 237216.0 and a p-value of 4.191007269931168e-71, _we **reject** the null hypothssis_
## Testing Results for AUS against GUAT 
AUS has a success rate of 0.7289377289377289
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between AUS and GUAT
$H_{A}$: There is a difference between AUS and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.118167091872398 and a p-value of 8.868215115160687e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7039.0 and a p-value of 1.8945273957309006e-05, _we **reject** the null hypothssis_
## Testing Results for AUS against HUN 
AUS has a success rate of 0.7289377289377289
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and HUN
$H_{A}$: There is a difference between AUS and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27661.0 and a p-value of 1.1535455648633781e-20, _we **reject** the null hypothssis_
## Testing Results for AUS against IND 
AUS has a success rate of 0.7289377289377289
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between AUS and IND
$H_{A}$: There is a difference between AUS and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.553242450022237 and a p-value of 4.759380510156055e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42035.0 and a p-value of 1.8562886525074305e-20, _we **reject** the null hypothssis_
## Testing Results for AUS against INDO 
AUS has a success rate of 0.7289377289377289
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and INDO
$H_{A}$: There is a difference between AUS and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27362.5 and a p-value of 1.7868553830600976e-20, _we **reject** the null hypothssis_
## Testing Results for AUS against IRAN 
AUS has a success rate of 0.7289377289377289
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and IRAN
$H_{A}$: There is a difference between AUS and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24079.0 and a p-value of 2.2620274144166226e-18, _we **reject** the null hypothssis_
## Testing Results for AUS against IRAQ 
AUS has a success rate of 0.7289377289377289
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and IRAQ
$H_{A}$: There is a difference between AUS and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10547.0 and a p-value of 2.4222473951661687e-09, _we **reject** the null hypothssis_
## Testing Results for AUS against ISRA 
AUS has a success rate of 0.7289377289377289
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and ISRA
$H_{A}$: There is a difference between AUS and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39800.0 and a p-value of 2.781064378955746e-28, _we **reject** the null hypothssis_
## Testing Results for AUS against ISS 
AUS has a success rate of 0.7289377289377289
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and ISS
$H_{A}$: There is a difference between AUS and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20596.5 and a p-value of 4.094907623025972e-16, _we **reject** the null hypothssis_
## Testing Results for AUS against IT 
AUS has a success rate of 0.7289377289377289
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between AUS and IT
$H_{A}$: There is a difference between AUS and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.801898154855223 and a p-value of 4.6444004881701635e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 101368.0 and a p-value of 1.434981957093269e-17, _we **reject** the null hypothssis_
## Testing Results for AUS against JPN 
AUS has a success rate of 0.7289377289377289
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between AUS and JPN
$H_{A}$: There is a difference between AUS and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.7542862674191877 and a p-value of 0.0001838161055176484, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112791.5 and a p-value of 0.00019154208565678164, _we **reject** the null hypothssis_
## Testing Results for AUS against KAZ 
AUS has a success rate of 0.7289377289377289
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between AUS and KAZ
$H_{A}$: There is a difference between AUS and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.27373201769424 and a p-value of 2.928821266535141e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18382.0 and a p-value of 3.401297213487305e-13, _we **reject** the null hypothssis_
## Testing Results for AUS against KWT 
AUS has a success rate of 0.7289377289377289
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and KWT
$H_{A}$: There is a difference between AUS and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14029.5 and a p-value of 9.558783239465426e-12, _we **reject** the null hypothssis_
## Testing Results for AUS against LKA 
AUS has a success rate of 0.7289377289377289
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and LKA
$H_{A}$: There is a difference between AUS and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22885.0 and a p-value of 1.3335027288650459e-17, _we **reject** the null hypothssis_
## Testing Results for AUS against LTU 
AUS has a success rate of 0.7289377289377289
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between AUS and LTU
$H_{A}$: There is a difference between AUS and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.177706216654709 and a p-value of 6.560732723021544e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32522.5 and a p-value of 7.82120544139784e-20, _we **reject** the null hypothssis_
## Testing Results for AUS against MALA 
AUS has a success rate of 0.7289377289377289
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and MALA
$H_{A}$: There is a difference between AUS and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24377.5 and a p-value of 1.4534736519620358e-18, _we **reject** the null hypothssis_
## Testing Results for AUS against MEX 
AUS has a success rate of 0.7289377289377289
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and MEX
$H_{A}$: There is a difference between AUS and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25770.5 and a p-value of 1.8561830705800334e-19, _we **reject** the null hypothssis_
## Testing Results for AUS against MUS 
AUS has a success rate of 0.7289377289377289
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and MUS
$H_{A}$: There is a difference between AUS and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3283.5 and a p-value of 0.0006084214145058213, _we **reject** the null hypothssis_
## Testing Results for AUS against MX 
AUS has a success rate of 0.7289377289377289
MX has a success rate of 0.0
$H_{0}$: There is not a difference between AUS and MX
$H_{A}$: There is a difference between AUS and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 27.04550719545595 and a p-value of 4.4639331298587307e-79, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64900.0 and a p-value of 2.692390562678476e-70, _we **reject** the null hypothssis_
## Testing Results for AUS against NETH 
AUS has a success rate of 0.7289377289377289
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and NETH
$H_{A}$: There is a difference between AUS and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27860.0 and a p-value of 8.618327384713949e-21, _we **reject** the null hypothssis_
## Testing Results for AUS against NPL 
AUS has a success rate of 0.7289377289377289
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and NPL
$H_{A}$: There is a difference between AUS and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21790.5 and a p-value of 6.830827099620306e-17, _we **reject** the null hypothssis_
## Testing Results for AUS against POL 
AUS has a success rate of 0.7289377289377289
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between AUS and POL
$H_{A}$: There is a difference between AUS and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.036246370772075 and a p-value of 1.9468832990722435e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49622.5 and a p-value of 5.8170732876011e-26, _we **reject** the null hypothssis_
## Testing Results for AUS against PRC 
AUS has a success rate of 0.7289377289377289
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between AUS and PRC
$H_{A}$: There is a difference between AUS and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.608319292735231 and a p-value of 4.860543314019657e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 233692.5 and a p-value of 2.1307229540547232e-98, _we **reject** the null hypothssis_
## Testing Results for AUS against PRY 
AUS has a success rate of 0.7289377289377289
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and PRY
$H_{A}$: There is a difference between AUS and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6368.0 and a p-value of 2.516511757488578e-06, _we **reject** the null hypothssis_
## Testing Results for AUS against ROC 
AUS has a success rate of 0.7289377289377289
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between AUS and ROC
$H_{A}$: There is a difference between AUS and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.328134826808473 and a p-value of 2.793116948327872e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35789.0 and a p-value of 2.0279446522928588e-29, _we **reject** the null hypothssis_
## Testing Results for AUS against RP 
AUS has a success rate of 0.7289377289377289
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between AUS and RP
$H_{A}$: There is a difference between AUS and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.713300162630588 and a p-value of 0.08693961065231083, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119141.5 and a p-value of 0.08695994640331006, _we failed to reject the null hypothssis_
## Testing Results for AUS against SAFR 
AUS has a success rate of 0.7289377289377289
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between AUS and SAFR
$H_{A}$: There is a difference between AUS and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.927249351045595 and a p-value of 1.2177260766428052e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14561.5 and a p-value of 1.6582486294993507e-06, _we **reject** the null hypothssis_
## Testing Results for AUS against SAUD 
AUS has a success rate of 0.7289377289377289
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and SAUD
$H_{A}$: There is a difference between AUS and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11840.5 and a p-value of 3.0346634160701296e-10, _we **reject** the null hypothssis_
## Testing Results for AUS against SING 
AUS has a success rate of 0.7289377289377289
SING has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and SING
$H_{A}$: There is a difference between AUS and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72436.0 and a p-value of 3.256775427003368e-48, _we **reject** the null hypothssis_
## Testing Results for AUS against SKOR 
AUS has a success rate of 0.7289377289377289
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between AUS and SKOR
$H_{A}$: There is a difference between AUS and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1311967653749773 and a p-value of 0.0018961523378229772, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6652.5 and a p-value of 0.0020050641724739375, _we failed to reject the null hypothssis_
## Testing Results for AUS against SPN 
AUS has a success rate of 0.7289377289377289
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and SPN
$H_{A}$: There is a difference between AUS and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66963.5 and a p-value of 6.671236490793652e-45, _we **reject** the null hypothssis_
## Testing Results for AUS against SVN 
AUS has a success rate of 0.7289377289377289
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between AUS and SVN
$H_{A}$: There is a difference between AUS and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.8939243893836375 and a p-value of 3.6391615805767093e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8929.5 and a p-value of 8.231369589171984e-07, _we **reject** the null hypothssis_
## Testing Results for AUS against SWTZ 
AUS has a success rate of 0.7289377289377289
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and SWTZ
$H_{A}$: There is a difference between AUS and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38506.5 and a p-value of 1.7685376429791392e-27, _we **reject** the null hypothssis_
## Testing Results for AUS against TBD 
AUS has a success rate of 0.7289377289377289
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between AUS and TBD
$H_{A}$: There is a difference between AUS and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.516190837573099 and a p-value of 7.17200192562726e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39848.5 and a p-value of 6.000920366403696e-25, _we **reject** the null hypothssis_
## Testing Results for AUS against THAI 
AUS has a success rate of 0.7289377289377289
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between AUS and THAI
$H_{A}$: There is a difference between AUS and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.18062451698693 and a p-value of 5.3138995427641175e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16989.0 and a p-value of 2.7617718084390526e-12, _we **reject** the null hypothssis_
## Testing Results for AUS against TURK 
AUS has a success rate of 0.7289377289377289
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between AUS and TURK
$H_{A}$: There is a difference between AUS and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.8213179727482 and a p-value of 8.866818192850514e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26504.0 and a p-value of 3.898325206060185e-19, _we **reject** the null hypothssis_
## Testing Results for AUS against UAE 
AUS has a success rate of 0.7289377289377289
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between AUS and UAE
$H_{A}$: There is a difference between AUS and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.057123278712265 and a p-value of 1.9474079485260235e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47660.5 and a p-value of 3.90878720367727e-33, _we **reject** the null hypothssis_
## Testing Results for AUS against UK 
AUS has a success rate of 0.7289377289377289
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between AUS and UK
$H_{A}$: There is a difference between AUS and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.528327388674647 and a p-value of 7.656770318600636e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85542.0 and a p-value of 2.5589279725425855e-45, _we **reject** the null hypothssis_
## Testing Results for AUS against UKR 
AUS has a success rate of 0.7289377289377289
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between AUS and UKR
$H_{A}$: There is a difference between AUS and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.967703197304946 and a p-value of 2.539046366091483e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27647.0 and a p-value of 6.639614819130494e-17, _we **reject** the null hypothssis_
## Testing Results for AUS against US 
AUS has a success rate of 0.7289377289377289
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between AUS and US
$H_{A}$: There is a difference between AUS and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.827870695513202 and a p-value of 4.522921328799471e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 631145.5 and a p-value of 7.844276112248708e-27, _we **reject** the null hypothssis_
