# Testing Results For BEL 
$H_{0}$: There is not a difference in collection success against BEL 
$H_{A}$: There is a difference in collection success against BEL
Out of 54 tests, there were 45 rejections from 54 independent-t test.
Out of 54 tests, there were 41 rejections from 54 Man Whitney u-tests.
## Testing Results for BEL against ALG 
BEL has a success rate of 0.8883495145631068
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and ALG
$H_{A}$: There is a difference between BEL and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8875.5 and a p-value of 0.0006349675594917369, _we **reject** the null hypothssis_
## Testing Results for BEL against ARGN 
BEL has a success rate of 0.8883495145631068
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and ARGN
$H_{A}$: There is a difference between BEL and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38704.5 and a p-value of 2.6490441377962815e-12, _we **reject** the null hypothssis_
## Testing Results for BEL against ASRA 
BEL has a success rate of 0.8883495145631068
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and ASRA
$H_{A}$: There is a difference between BEL and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24979.5 and a p-value of 1.5893022952248434e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against AUS 
BEL has a success rate of 0.8883495145631068
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between BEL and AUS
$H_{A}$: There is a difference between BEL and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.374393879450149 and a p-value of 1.496592564570648e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32601.5 and a p-value of 1.7609902347100262e-05, _we **reject** the null hypothssis_
## Testing Results for BEL against BRAZ 
BEL has a success rate of 0.8883495145631068
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and BRAZ
$H_{A}$: There is a difference between BEL and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39711.0 and a p-value of 1.4069729953567054e-12, _we **reject** the null hypothssis_
## Testing Results for BEL against CA 
BEL has a success rate of 0.8883495145631068
CA has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and CA
$H_{A}$: There is a difference between BEL and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21319.5 and a p-value of 1.6714137338488918e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against CIS 
BEL has a success rate of 0.8883495145631068
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between BEL and CIS
$H_{A}$: There is a difference between BEL and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7866618065317479 and a p-value of 0.07434349972362533, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71228.0 and a p-value of 0.07440114543037007, _we failed to reject the null hypothssis_
## Testing Results for BEL against COL 
BEL has a success rate of 0.8883495145631068
COL has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and COL
$H_{A}$: There is a difference between BEL and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5581.5 and a p-value of 0.006471191107776725, _we failed to reject the null hypothssis_
## Testing Results for BEL against DEN 
BEL has a success rate of 0.8883495145631068
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and DEN
$H_{A}$: There is a difference between BEL and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15829.5 and a p-value of 5.966605584947761e-06, _we **reject** the null hypothssis_
## Testing Results for BEL against ESA 
BEL has a success rate of 0.8883495145631068
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between BEL and ESA
$H_{A}$: There is a difference between BEL and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.611196168944752 and a p-value of 0.00035658336179710757, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9905.0 and a p-value of 0.004330329047089985, _we failed to reject the null hypothssis_
## Testing Results for BEL against EST 
BEL has a success rate of 0.8883495145631068
EST has a success rate of 0.975
$H_{0}$: There is not a difference between BEL and EST
$H_{A}$: There is a difference between BEL and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.602189916480072 and a p-value of 0.010536380230533425, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3763.0 and a p-value of 0.09211815484820027, _we failed to reject the null hypothssis_
## Testing Results for BEL against EUME 
BEL has a success rate of 0.8883495145631068
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and EUME
$H_{A}$: There is a difference between BEL and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50325.0 and a p-value of 1.8291648424050135e-15, _we **reject** the null hypothssis_
## Testing Results for BEL against FIN 
BEL has a success rate of 0.8883495145631068
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and FIN
$H_{A}$: There is a difference between BEL and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40534.5 and a p-value of 8.3871685594109e-13, _we **reject** the null hypothssis_
## Testing Results for BEL against FR 
BEL has a success rate of 0.8883495145631068
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between BEL and FR
$H_{A}$: There is a difference between BEL and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8067247951474997 and a p-value of 0.42009711321287935, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50579.5 and a p-value of 0.4199372146643663, _we failed to reject the null hypothssis_
## Testing Results for BEL against GER 
BEL has a success rate of 0.8883495145631068
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between BEL and GER
$H_{A}$: There is a difference between BEL and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.9727747827085946 and a p-value of 9.715057734670125e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 216927.0 and a p-value of 1.8335303413518666e-12, _we **reject** the null hypothssis_
## Testing Results for BEL against GUAT 
BEL has a success rate of 0.8883495145631068
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between BEL and GUAT
$H_{A}$: There is a difference between BEL and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.0502620929087434 and a p-value of 0.041297324735355266, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6428.0 and a p-value of 0.041693358300242206, _we failed to reject the null hypothssis_
## Testing Results for BEL against HUN 
BEL has a success rate of 0.8883495145631068
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and HUN
$H_{A}$: There is a difference between BEL and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25437.0 and a p-value of 1.185863097728025e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against IND 
BEL has a success rate of 0.8883495145631068
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between BEL and IND
$H_{A}$: There is a difference between BEL and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.185015549910467 and a p-value of 3.270917802599457e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38385.0 and a p-value of 3.643789298932476e-05, _we **reject** the null hypothssis_
## Testing Results for BEL against INDO 
BEL has a success rate of 0.8883495145631068
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and INDO
$H_{A}$: There is a difference between BEL and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25162.5 and a p-value of 1.413592262350266e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against IRAN 
BEL has a success rate of 0.8883495145631068
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and IRAN
$H_{A}$: There is a difference between BEL and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22143.0 and a p-value of 9.826557686552485e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against IRAQ 
BEL has a success rate of 0.8883495145631068
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and IRAQ
$H_{A}$: There is a difference between BEL and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9699.0 and a p-value of 0.00036071568451650257, _we **reject** the null hypothssis_
## Testing Results for BEL against ISRA 
BEL has a success rate of 0.8883495145631068
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and ISRA
$H_{A}$: There is a difference between BEL and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36600.0 and a p-value of 9.96467451234798e-12, _we **reject** the null hypothssis_
## Testing Results for BEL against ISS 
BEL has a success rate of 0.8883495145631068
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and ISS
$H_{A}$: There is a difference between BEL and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18940.5 and a p-value of 7.806058059407016e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against IT 
BEL has a success rate of 0.8883495145631068
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between BEL and IT
$H_{A}$: There is a difference between BEL and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.558834139638132 and a p-value of 0.11931714273234562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 91596.0 and a p-value of 0.11932852573913061, _we failed to reject the null hypothssis_
## Testing Results for BEL against JPN 
BEL has a success rate of 0.8883495145631068
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between BEL and JPN
$H_{A}$: There is a difference between BEL and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.947291284567103 and a p-value of 5.454063354603992e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97145.5 and a p-value of 1.4018100782819664e-14, _we **reject** the null hypothssis_
## Testing Results for BEL against KAZ 
BEL has a success rate of 0.8883495145631068
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between BEL and KAZ
$H_{A}$: There is a difference between BEL and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.3163282718631395 and a p-value of 2.2732283127685354e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16859.0 and a p-value of 5.723662638268579e-05, _we **reject** the null hypothssis_
## Testing Results for BEL against KWT 
BEL has a success rate of 0.8883495145631068
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and KWT
$H_{A}$: There is a difference between BEL and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12901.5 and a p-value of 4.150481414370797e-05, _we **reject** the null hypothssis_
## Testing Results for BEL against LKA 
BEL has a success rate of 0.8883495145631068
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and LKA
$H_{A}$: There is a difference between BEL and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21045.0 and a p-value of 1.9956626625191722e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against LTU 
BEL has a success rate of 0.8883495145631068
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between BEL and LTU
$H_{A}$: There is a difference between BEL and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.163062812741303 and a p-value of 4.344102570122929e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29795.0 and a p-value of 1.7258381199571508e-06, _we **reject** the null hypothssis_
## Testing Results for BEL against MALA 
BEL has a success rate of 0.8883495145631068
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and MALA
$H_{A}$: There is a difference between BEL and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22417.5 and a p-value of 8.234023703865866e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against MEX 
BEL has a success rate of 0.8883495145631068
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and MEX
$H_{A}$: There is a difference between BEL and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23698.5 and a p-value of 3.6133680409571216e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against MUS 
BEL has a success rate of 0.8883495145631068
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and MUS
$H_{A}$: There is a difference between BEL and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3019.5 and a p-value of 0.0441963365491263, _we failed to reject the null hypothssis_
## Testing Results for BEL against MX 
BEL has a success rate of 0.8883495145631068
MX has a success rate of 0.0
$H_{0}$: There is not a difference between BEL and MX
$H_{A}$: There is a difference between BEL and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 40.38671757548191 and a p-value of 1.5020741812742792e-99, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53487.5 and a p-value of 1.4453306609195273e-87, _we **reject** the null hypothssis_
## Testing Results for BEL against NETH 
BEL has a success rate of 0.8883495145631068
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and NETH
$H_{A}$: There is a difference between BEL and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25620.0 and a p-value of 1.0548654774917922e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against NPL 
BEL has a success rate of 0.8883495145631068
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and NPL
$H_{A}$: There is a difference between BEL and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20038.5 and a p-value of 3.827605059889533e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against POL 
BEL has a success rate of 0.8883495145631068
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between BEL and POL
$H_{A}$: There is a difference between BEL and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.970881347676242 and a p-value of 9.456197640282237e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45407.5 and a p-value of 2.917900429423482e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against PRC 
BEL has a success rate of 0.8883495145631068
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between BEL and PRC
$H_{A}$: There is a difference between BEL and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.542378518673562 and a p-value of 9.39371465096835e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 214317.5 and a p-value of 1.5710003232906902e-23, _we **reject** the null hypothssis_
## Testing Results for BEL against PRY 
BEL has a success rate of 0.8883495145631068
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and PRY
$H_{A}$: There is a difference between BEL and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5856.0 and a p-value of 0.005307654010860805, _we failed to reject the null hypothssis_
## Testing Results for BEL against ROC 
BEL has a success rate of 0.8883495145631068
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between BEL and ROC
$H_{A}$: There is a difference between BEL and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 19.695379592213186 and a p-value of 1.0381096143515418e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29780.5 and a p-value of 2.2951392513203422e-43, _we **reject** the null hypothssis_
## Testing Results for BEL against RP 
BEL has a success rate of 0.8883495145631068
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between BEL and RP
$H_{A}$: There is a difference between BEL and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.228497581164248 and a p-value of 6.847175187918095e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103480.5 and a p-value of 9.516242944295418e-10, _we **reject** the null hypothssis_
## Testing Results for BEL against SAFR 
BEL has a success rate of 0.8883495145631068
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between BEL and SAFR
$H_{A}$: There is a difference between BEL and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.372547229437559 and a p-value of 0.17080320313422054, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13188.0 and a p-value of 0.17079770712013465, _we failed to reject the null hypothssis_
## Testing Results for BEL against SAUD 
BEL has a success rate of 0.8883495145631068
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and SAUD
$H_{A}$: There is a difference between BEL and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10888.5 and a p-value of 0.0001605823415313787, _we **reject** the null hypothssis_
## Testing Results for BEL against SING 
BEL has a success rate of 0.8883495145631068
SING has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and SING
$H_{A}$: There is a difference between BEL and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66612.0 and a p-value of 7.287462460955554e-20, _we **reject** the null hypothssis_
## Testing Results for BEL against SKOR 
BEL has a success rate of 0.8883495145631068
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between BEL and SKOR
$H_{A}$: There is a difference between BEL and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.6270706438008113 and a p-value of 0.5311548502324017, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6005.0 and a p-value of 0.5313174929393284, _we failed to reject the null hypothssis_
## Testing Results for BEL against SPN 
BEL has a success rate of 0.8883495145631068
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and SPN
$H_{A}$: There is a difference between BEL and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61579.5 and a p-value of 1.6567392470653603e-18, _we **reject** the null hypothssis_
## Testing Results for BEL against SVN 
BEL has a success rate of 0.8883495145631068
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between BEL and SVN
$H_{A}$: There is a difference between BEL and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.248343718560668 and a p-value of 0.0012987586403263374, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8166.5 and a p-value of 0.01327349569911362, _we failed to reject the null hypothssis_
## Testing Results for BEL against SWTZ 
BEL has a success rate of 0.8883495145631068
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and SWTZ
$H_{A}$: There is a difference between BEL and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35410.5 and a p-value of 2.1095092209073565e-11, _we **reject** the null hypothssis_
## Testing Results for BEL against TBD 
BEL has a success rate of 0.8883495145631068
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between BEL and TBD
$H_{A}$: There is a difference between BEL and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.498777970637901 and a p-value of 1.0916476427600508e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36554.5 and a p-value of 1.2156433472397032e-08, _we **reject** the null hypothssis_
## Testing Results for BEL against THAI 
BEL has a success rate of 0.8883495145631068
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between BEL and THAI
$H_{A}$: There is a difference between BEL and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.236776757862886 and a p-value of 3.142457243317912e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15578.0 and a p-value of 0.0001252802027608566, _we **reject** the null hypothssis_
## Testing Results for BEL against TURK 
BEL has a success rate of 0.8883495145631068
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between BEL and TURK
$H_{A}$: There is a difference between BEL and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.833751797916291 and a p-value of 2.5337837557487626e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24350.5 and a p-value of 1.329466927932206e-07, _we **reject** the null hypothssis_
## Testing Results for BEL against UAE 
BEL has a success rate of 0.8883495145631068
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between BEL and UAE
$H_{A}$: There is a difference between BEL and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.075926252656194 and a p-value of 8.631917415183666e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43828.5 and a p-value of 1.0625035624999061e-13, _we **reject** the null hypothssis_
## Testing Results for BEL against UK 
BEL has a success rate of 0.8883495145631068
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between BEL and UK
$H_{A}$: There is a difference between BEL and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.475065473078317 and a p-value of 1.2333727982590796e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 78439.0 and a p-value of 1.7401844076271341e-13, _we **reject** the null hypothssis_
## Testing Results for BEL against UKR 
BEL has a success rate of 0.8883495145631068
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between BEL and UKR
$H_{A}$: There is a difference between BEL and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.9708236828889154 and a p-value of 9.259087419119641e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25311.5 and a p-value of 1.8353099202253788e-05, _we **reject** the null hypothssis_
## Testing Results for BEL against US 
BEL has a success rate of 0.8883495145631068
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between BEL and US
$H_{A}$: There is a difference between BEL and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.5678729388720556 and a p-value of 0.11696430653831784, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 569971.0 and a p-value of 0.1169661091287232, _we failed to reject the null hypothssis_
