# Testing Results For BRAZ 
$H_{0}$: There is not a difference in collection success against BRAZ 
$H_{A}$: There is a difference in collection success against BRAZ
Out of 54 tests, there were 14 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for BRAZ against ALG 
BRAZ has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and ALG
$H_{A}$: There is a difference between BRAZ and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ARGN 
BRAZ has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and ARGN
$H_{A}$: There is a difference between BRAZ and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ASRA 
BRAZ has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and ASRA
$H_{A}$: There is a difference between BRAZ and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against AUS 
BRAZ has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between BRAZ and AUS
$H_{A}$: There is a difference between BRAZ and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.685834404838827 and a p-value of 2.31406315708801e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75299.0 and a p-value of 2.2391215278361687e-30, _we **reject** the null hypothssis_
## Testing Results for BRAZ against BEL 
BRAZ has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between BRAZ and BEL
$H_{A}$: There is a difference between BRAZ and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.374007759499472 and a p-value of 5.162954262755305e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49693.0 and a p-value of 1.4069729953567054e-12, _we **reject** the null hypothssis_
## Testing Results for BRAZ against CA 
BRAZ has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and CA
$H_{A}$: There is a difference between BRAZ and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against CIS 
BRAZ has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between BRAZ and CIS
$H_{A}$: There is a difference between BRAZ and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.171975457303658 and a p-value of 2.2574307471687e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 166005.0 and a p-value of 9.473913176465838e-19, _we **reject** the null hypothssis_
## Testing Results for BRAZ against COL 
BRAZ has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and COL
$H_{A}$: There is a difference between BRAZ and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against DEN 
BRAZ has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and DEN
$H_{A}$: There is a difference between BRAZ and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ESA 
BRAZ has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between BRAZ and ESA
$H_{A}$: There is a difference between BRAZ and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.883616161218786 and a p-value of 0.004088733966905279, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23436.0 and a p-value of 0.004223799853241355, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against EST 
BRAZ has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between BRAZ and EST
$H_{A}$: There is a difference between BRAZ and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.328851254740501 and a p-value of 0.0009402900842455972, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8897.0 and a p-value of 0.0010149693642547352, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against EUME 
BRAZ has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and EUME
$H_{A}$: There is a difference between BRAZ and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against FIN 
BRAZ has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and FIN
$H_{A}$: There is a difference between BRAZ and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against FR 
BRAZ has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between BRAZ and FR
$H_{A}$: There is a difference between BRAZ and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.616877563927707 and a p-value of 6.175914507812737e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118699.0 and a p-value of 9.798900266596084e-11, _we **reject** the null hypothssis_
## Testing Results for BRAZ against GER 
BRAZ has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between BRAZ and GER
$H_{A}$: There is a difference between BRAZ and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.221913441832491 and a p-value of 0.001288284176669675, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 512988.0 and a p-value of 0.0012986360129028608, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against GUAT 
BRAZ has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between BRAZ and GUAT
$H_{A}$: There is a difference between BRAZ and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.6192704619588643 and a p-value of 0.00032551132994484565, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15190.0 and a p-value of 0.00035396294291143517, _we **reject** the null hypothssis_
## Testing Results for BRAZ against HUN 
BRAZ has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and HUN
$H_{A}$: There is a difference between BRAZ and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against IND 
BRAZ has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between BRAZ and IND
$H_{A}$: There is a difference between BRAZ and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.6313636599019956 and a p-value of 0.00029905088396352383, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 90706.0 and a p-value of 0.0003126559704234077, _we **reject** the null hypothssis_
## Testing Results for BRAZ against INDO 
BRAZ has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and INDO
$H_{A}$: There is a difference between BRAZ and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against IRAN 
BRAZ has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and IRAN
$H_{A}$: There is a difference between BRAZ and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against IRAQ 
BRAZ has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and IRAQ
$H_{A}$: There is a difference between BRAZ and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ISRA 
BRAZ has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and ISRA
$H_{A}$: There is a difference between BRAZ and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ISS 
BRAZ has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and ISS
$H_{A}$: There is a difference between BRAZ and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against IT 
BRAZ has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between BRAZ and IT
$H_{A}$: There is a difference between BRAZ and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.065857456505666 and a p-value of 1.700817246590521e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 215264.0 and a p-value of 2.137661910381321e-09, _we **reject** the null hypothssis_
## Testing Results for BRAZ against JPN 
BRAZ has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between BRAZ and JPN
$H_{A}$: There is a difference between BRAZ and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.937313666127206 and a p-value of 1.073497720465977e-57, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 222425.0 and a p-value of 4.915937623720295e-52, _we **reject** the null hypothssis_
## Testing Results for BRAZ against KAZ 
BRAZ has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between BRAZ and KAZ
$H_{A}$: There is a difference between BRAZ and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1923881172287043 and a p-value of 0.02872607414149151, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39928.0 and a p-value of 0.02902723134899263, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against KWT 
BRAZ has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and KWT
$H_{A}$: There is a difference between BRAZ and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against LKA 
BRAZ has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and LKA
$H_{A}$: There is a difference between BRAZ and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against LTU 
BRAZ has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between BRAZ and LTU
$H_{A}$: There is a difference between BRAZ and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.621185986164326 and a p-value of 0.00893948602947332, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 70525.0 and a p-value of 0.00905887291274481, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against MALA 
BRAZ has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and MALA
$H_{A}$: There is a difference between BRAZ and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against MEX 
BRAZ has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and MEX
$H_{A}$: There is a difference between BRAZ and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against MUS 
BRAZ has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and MUS
$H_{A}$: There is a difference between BRAZ and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against MX 
BRAZ has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between BRAZ and MX
$H_{A}$: There is a difference between BRAZ and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119350.0 and a p-value of 5.478295946690201e-156, _we **reject** the null hypothssis_
## Testing Results for BRAZ against NETH 
BRAZ has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and NETH
$H_{A}$: There is a difference between BRAZ and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against NPL 
BRAZ has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and NPL
$H_{A}$: There is a difference between BRAZ and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against POL 
BRAZ has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between BRAZ and POL
$H_{A}$: There is a difference between BRAZ and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.019430044172243 and a p-value of 0.002602646015654223, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107415.0 and a p-value of 0.002651652149307911, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against PRC 
BRAZ has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between BRAZ and PRC
$H_{A}$: There is a difference between BRAZ and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.220446436021302 and a p-value of 0.026469839821704807, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 507563.0 and a p-value of 0.026509699055208797, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against PRY 
BRAZ has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and PRY
$H_{A}$: There is a difference between BRAZ and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against ROC 
BRAZ has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between BRAZ and ROC
$H_{A}$: There is a difference between BRAZ and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 44.768260246336276 and a p-value of 1.447898071155554e-193, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66836.0 and a p-value of 1.0130291335092172e-102, _we **reject** the null hypothssis_
## Testing Results for BRAZ against RP 
BRAZ has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between BRAZ and RP
$H_{A}$: There is a difference between BRAZ and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 14.492872482234988 and a p-value of 3.891096129520124e-44, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 238049.0 and a p-value of 4.49138061127352e-41, _we **reject** the null hypothssis_
## Testing Results for BRAZ against SAFR 
BRAZ has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between BRAZ and SAFR
$H_{A}$: There is a difference between BRAZ and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.580140843292926 and a p-value of 3.730023155415667e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31031.0 and a p-value of 5.445669180123441e-08, _we **reject** the null hypothssis_
## Testing Results for BRAZ against SAUD 
BRAZ has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and SAUD
$H_{A}$: There is a difference between BRAZ and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against SING 
BRAZ has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and SING
$H_{A}$: There is a difference between BRAZ and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against SKOR 
BRAZ has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between BRAZ and SKOR
$H_{A}$: There is a difference between BRAZ and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.2685572863861765 and a p-value of 7.97470004758743e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14105.0 and a p-value of 1.5833713169933784e-09, _we **reject** the null hypothssis_
## Testing Results for BRAZ against SPN 
BRAZ has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and SPN
$H_{A}$: There is a difference between BRAZ and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against SVN 
BRAZ has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between BRAZ and SVN
$H_{A}$: There is a difference between BRAZ and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.1894457314107196 and a p-value of 0.0015115602734101581, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19313.0 and a p-value of 0.0015883386144505593, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against SWTZ 
BRAZ has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and SWTZ
$H_{A}$: There is a difference between BRAZ and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against TBD 
BRAZ has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between BRAZ and TBD
$H_{A}$: There is a difference between BRAZ and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.104563195576002 and a p-value of 0.03563056541434618, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 86583.0 and a p-value of 0.03581612258870296, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against THAI 
BRAZ has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between BRAZ and THAI
$H_{A}$: There is a difference between BRAZ and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.282880603495908 and a p-value of 0.02278632669865914, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36890.0 and a p-value of 0.023068227433204688, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against TURK 
BRAZ has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between BRAZ and TURK
$H_{A}$: There is a difference between BRAZ and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2803264055256958 and a p-value of 0.20085628217753057, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57722.0 and a p-value of 0.2016757511111157, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against UAE 
BRAZ has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between BRAZ and UAE
$H_{A}$: There is a difference between BRAZ and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against UK 
BRAZ has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between BRAZ and UK
$H_{A}$: There is a difference between BRAZ and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.276680921153956 and a p-value of 0.02297002492560041, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185752.0 and a p-value of 0.023059761668242494, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against UKR 
BRAZ has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between BRAZ and UKR
$H_{A}$: There is a difference between BRAZ and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.852148623941189 and a p-value of 0.004469964821964323, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59892.0 and a p-value of 0.004561138760833921, _we failed to reject the null hypothssis_
## Testing Results for BRAZ against US 
BRAZ has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between BRAZ and US
$H_{A}$: There is a difference between BRAZ and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.1885925976735505 and a p-value of 6.462209222943225e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1339107.0 and a p-value of 6.835342351450314e-10, _we **reject** the null hypothssis_
