# Testing Results For CIS 
$H_{0}$: There is not a difference in collection success against CIS 
$H_{A}$: There is a difference in collection success against CIS
Out of 54 tests, there were 51 rejections from 54 independent-t test.
Out of 54 tests, there were 48 rejections from 54 Man Whitney u-tests.
## Testing Results for CIS against ALG 
CIS has a success rate of 0.837386018237082
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and ALG
$H_{A}$: There is a difference between CIS and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26723.5 and a p-value of 1.8379371776099745e-05, _we **reject** the null hypothssis_
## Testing Results for CIS against ARGN 
CIS has a success rate of 0.837386018237082
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and ARGN
$H_{A}$: There is a difference between CIS and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116536.5 and a p-value of 2.4763179216224826e-18, _we **reject** the null hypothssis_
## Testing Results for CIS against ASRA 
CIS has a success rate of 0.837386018237082
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and ASRA
$H_{A}$: There is a difference between CIS and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75211.5 and a p-value of 1.4603136799284705e-12, _we **reject** the null hypothssis_
## Testing Results for CIS against AUS 
CIS has a success rate of 0.837386018237082
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between CIS and AUS
$H_{A}$: There is a difference between CIS and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8323128558419923 and a p-value of 0.00013548474417008117, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99557.5 and a p-value of 0.0001422486296251138, _we **reject** the null hypothssis_
## Testing Results for CIS against BEL 
CIS has a success rate of 0.837386018237082
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between CIS and BEL
$H_{A}$: There is a difference between CIS and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.7866618065317479 and a p-value of 0.07434349972362533, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64320.0 and a p-value of 0.07440114543037007, _we failed to reject the null hypothssis_
## Testing Results for CIS against BRAZ 
CIS has a success rate of 0.837386018237082
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and BRAZ
$H_{A}$: There is a difference between CIS and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 119567.0 and a p-value of 9.473913176465838e-19, _we **reject** the null hypothssis_
## Testing Results for CIS against CA 
CIS has a success rate of 0.837386018237082
CA has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and CA
$H_{A}$: There is a difference between CIS and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64191.5 and a p-value of 5.450638057090712e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against COL 
CIS has a success rate of 0.837386018237082
COL has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and COL
$H_{A}$: There is a difference between CIS and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16805.5 and a p-value of 0.0006475845734148219, _we **reject** the null hypothssis_
## Testing Results for CIS against DEN 
CIS has a success rate of 0.837386018237082
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and DEN
$H_{A}$: There is a difference between CIS and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47661.5 and a p-value of 1.3572882592696254e-08, _we **reject** the null hypothssis_
## Testing Results for CIS against ESA 
CIS has a success rate of 0.837386018237082
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between CIS and ESA
$H_{A}$: There is a difference between CIS and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.339665256693943 and a p-value of 1.1730032261871962e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29861.0 and a p-value of 8.703234036305385e-05, _we **reject** the null hypothssis_
## Testing Results for CIS against EST 
CIS has a success rate of 0.837386018237082
EST has a success rate of 0.975
$H_{0}$: There is not a difference between CIS and EST
$H_{A}$: There is a difference between CIS and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -4.770157410365344 and a p-value of 9.978075263796883e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11349.0 and a p-value of 0.0195779325963827, _we failed to reject the null hypothssis_
## Testing Results for CIS against EUME 
CIS has a success rate of 0.837386018237082
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and EUME
$H_{A}$: There is a difference between CIS and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 151525.0 and a p-value of 4.0896734674722557e-23, _we **reject** the null hypothssis_
## Testing Results for CIS against FIN 
CIS has a success rate of 0.837386018237082
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and FIN
$H_{A}$: There is a difference between CIS and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 122046.5 and a p-value of 4.3212165130344805e-19, _we **reject** the null hypothssis_
## Testing Results for CIS against FR 
CIS has a success rate of 0.837386018237082
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between CIS and FR
$H_{A}$: There is a difference between CIS and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.5433670063437197 and a p-value of 0.00041079883431370973, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 153159.5 and a p-value of 0.0004224163418878138, _we **reject** the null hypothssis_
## Testing Results for CIS against GER 
CIS has a success rate of 0.837386018237082
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between CIS and GER
$H_{A}$: There is a difference between CIS and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.448809483733974 and a p-value of 4.679070490417941e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 654171.0 and a p-value of 5.582036356526708e-44, _we **reject** the null hypothssis_
## Testing Results for CIS against GUAT 
CIS has a success rate of 0.837386018237082
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between CIS and GUAT
$H_{A}$: There is a difference between CIS and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.29292646633285 and a p-value of 4.378738821561102e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19392.0 and a p-value of 0.003445062932132153, _we failed to reject the null hypothssis_
## Testing Results for CIS against HUN 
CIS has a success rate of 0.837386018237082
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and HUN
$H_{A}$: There is a difference between CIS and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76589.0 and a p-value of 9.314057848087993e-13, _we **reject** the null hypothssis_
## Testing Results for CIS against IND 
CIS has a success rate of 0.837386018237082
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between CIS and IND
$H_{A}$: There is a difference between CIS and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.979047958579687 and a p-value of 4.042168671257434e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115801.0 and a p-value of 2.2902938671209096e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against INDO 
CIS has a success rate of 0.837386018237082
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and INDO
$H_{A}$: There is a difference between CIS and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 75762.5 and a p-value of 1.219813708243518e-12, _we **reject** the null hypothssis_
## Testing Results for CIS against IRAN 
CIS has a success rate of 0.837386018237082
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and IRAN
$H_{A}$: There is a difference between CIS and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66671.0 and a p-value of 2.405362274755269e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against IRAQ 
CIS has a success rate of 0.837386018237082
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and IRAQ
$H_{A}$: There is a difference between CIS and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29203.0 and a p-value of 7.685420959665347e-06, _we **reject** the null hypothssis_
## Testing Results for CIS against ISRA 
CIS has a success rate of 0.837386018237082
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and ISRA
$H_{A}$: There is a difference between CIS and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110200.0 and a p-value of 1.8556990956248243e-17, _we **reject** the null hypothssis_
## Testing Results for CIS against ISS 
CIS has a success rate of 0.837386018237082
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and ISS
$H_{A}$: There is a difference between CIS and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57028.5 and a p-value of 5.86797359632946e-10, _we **reject** the null hypothssis_
## Testing Results for CIS against IT 
CIS has a success rate of 0.837386018237082
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between CIS and IT
$H_{A}$: There is a difference between CIS and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -5.2519221208930364 and a p-value of 1.710481894096418e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 277148.0 and a p-value of 1.907763939569969e-07, _we **reject** the null hypothssis_
## Testing Results for CIS against JPN 
CIS has a success rate of 0.837386018237082
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between CIS and JPN
$H_{A}$: There is a difference between CIS and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.045031225768561 and a p-value of 5.747706962513184e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 298009.5 and a p-value of 2.9469827520376585e-22, _we **reject** the null hypothssis_
## Testing Results for CIS against KAZ 
CIS has a success rate of 0.837386018237082
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between CIS and KAZ
$H_{A}$: There is a difference between CIS and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.273969197832455 and a p-value of 1.4881520822396457e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50799.0 and a p-value of 7.285129184803175e-08, _we **reject** the null hypothssis_
## Testing Results for CIS against KWT 
CIS has a success rate of 0.837386018237082
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and KWT
$H_{A}$: There is a difference between CIS and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38845.5 and a p-value of 2.7223999776627963e-07, _we **reject** the null hypothssis_
## Testing Results for CIS against LKA 
CIS has a success rate of 0.837386018237082
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and LKA
$H_{A}$: There is a difference between CIS and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63365.0 and a p-value of 7.162861887649278e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against LTU 
CIS has a success rate of 0.837386018237082
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between CIS and LTU
$H_{A}$: There is a difference between CIS and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.196207049605036 and a p-value of 2.5262600643379964e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89805.0 and a p-value of 1.2948717065451141e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against MALA 
CIS has a success rate of 0.837386018237082
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and MALA
$H_{A}$: There is a difference between CIS and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67497.5 and a p-value of 1.8321865851530763e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against MEX 
CIS has a success rate of 0.837386018237082
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and MEX
$H_{A}$: There is a difference between CIS and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71354.5 and a p-value of 5.160104727318216e-12, _we **reject** the null hypothssis_
## Testing Results for CIS against MUS 
CIS has a success rate of 0.837386018237082
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and MUS
$H_{A}$: There is a difference between CIS and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9091.5 and a p-value of 0.011826578184862414, _we failed to reject the null hypothssis_
## Testing Results for CIS against MX 
CIS has a success rate of 0.837386018237082
MX has a success rate of 0.0
$H_{0}$: There is not a difference between CIS and MX
$H_{A}$: There is a difference between CIS and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 58.165651295710646 and a p-value of 2.4932527226030085e-261, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 166237.5 and a p-value of 3.3608708091069107e-124, _we **reject** the null hypothssis_
## Testing Results for CIS against NETH 
CIS has a success rate of 0.837386018237082
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and NETH
$H_{A}$: There is a difference between CIS and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77140.0 and a p-value of 7.781887492709688e-13, _we **reject** the null hypothssis_
## Testing Results for CIS against NPL 
CIS has a success rate of 0.837386018237082
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and NPL
$H_{A}$: There is a difference between CIS and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60334.5 and a p-value of 1.9546233252572448e-10, _we **reject** the null hypothssis_
## Testing Results for CIS against POL 
CIS has a success rate of 0.837386018237082
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between CIS and POL
$H_{A}$: There is a difference between CIS and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.998896795443446 and a p-value of 1.3311325049975965e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 136907.5 and a p-value of 5.127213926555141e-15, _we **reject** the null hypothssis_
## Testing Results for CIS against PRC 
CIS has a success rate of 0.837386018237082
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between CIS and PRC
$H_{A}$: There is a difference between CIS and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.39467048158904 and a p-value of 1.3195993088026324e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 645785.5 and a p-value of 1.245785778215583e-61, _we **reject** the null hypothssis_
## Testing Results for CIS against PRY 
CIS has a success rate of 0.837386018237082
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and PRY
$H_{A}$: There is a difference between CIS and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17632.0 and a p-value of 0.00047853362870530126, _we **reject** the null hypothssis_
## Testing Results for CIS against ROC 
CIS has a success rate of 0.837386018237082
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between CIS and ROC
$H_{A}$: There is a difference between CIS and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 20.55958575715903 and a p-value of 3.714515386195179e-76, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92290.5 and a p-value of 8.194638676985894e-63, _we **reject** the null hypothssis_
## Testing Results for CIS against RP 
CIS has a success rate of 0.837386018237082
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between CIS and RP
$H_{A}$: There is a difference between CIS and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.331959707055086 and a p-value of 3.71475177759593e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 316668.5 and a p-value of 5.80758359756815e-13, _we **reject** the null hypothssis_
## Testing Results for CIS against SAFR 
CIS has a success rate of 0.837386018237082
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between CIS and SAFR
$H_{A}$: There is a difference between CIS and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.8594831778804273 and a p-value of 0.004355132128861023, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39878.0 and a p-value of 0.004423596569588612, _we failed to reject the null hypothssis_
## Testing Results for CIS against SAUD 
CIS has a success rate of 0.837386018237082
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and SAUD
$H_{A}$: There is a difference between CIS and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32784.5 and a p-value of 2.203327558856539e-06, _we **reject** the null hypothssis_
## Testing Results for CIS against SING 
CIS has a success rate of 0.837386018237082
SING has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and SING
$H_{A}$: There is a difference between CIS and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 200564.0 and a p-value of 1.0194774804735377e-29, _we **reject** the null hypothssis_
## Testing Results for CIS against SKOR 
CIS has a success rate of 0.837386018237082
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between CIS and SKOR
$H_{A}$: There is a difference between CIS and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.6209227784472569 and a p-value of 0.10547447471675091, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18175.0 and a p-value of 0.1055400076269359, _we failed to reject the null hypothssis_
## Testing Results for CIS against SPN 
CIS has a success rate of 0.837386018237082
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and SPN
$H_{A}$: There is a difference between CIS and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185411.5 and a p-value of 1.093983512293366e-27, _we **reject** the null hypothssis_
## Testing Results for CIS against SVN 
CIS has a success rate of 0.837386018237082
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between CIS and SVN
$H_{A}$: There is a difference between CIS and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.451264822919126 and a p-value of 5.520348367751767e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24626.5 and a p-value of 0.0005393534186493887, _we **reject** the null hypothssis_
## Testing Results for CIS against SWTZ 
CIS has a success rate of 0.837386018237082
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and SWTZ
$H_{A}$: There is a difference between CIS and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 106618.5 and a p-value of 5.81168639359335e-17, _we **reject** the null hypothssis_
## Testing Results for CIS against TBD 
CIS has a success rate of 0.837386018237082
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between CIS and TBD
$H_{A}$: There is a difference between CIS and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.996154379042485 and a p-value of 2.9212985992563705e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 110138.5 and a p-value of 6.314527551108603e-15, _we **reject** the null hypothssis_
## Testing Results for CIS against THAI 
CIS has a success rate of 0.837386018237082
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between CIS and THAI
$H_{A}$: There is a difference between CIS and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -9.043841275606015 and a p-value of 1.09676185187051e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46942.0 and a p-value of 2.6332923259071065e-07, _we **reject** the null hypothssis_
## Testing Results for CIS against TURK 
CIS has a success rate of 0.837386018237082
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between CIS and TURK
$H_{A}$: There is a difference between CIS and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.672665023014911 and a p-value of 7.786514880415876e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73336.5 and a p-value of 1.1352500224054377e-11, _we **reject** the null hypothssis_
## Testing Results for CIS against UAE 
CIS has a success rate of 0.837386018237082
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between CIS and UAE
$H_{A}$: There is a difference between CIS and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.2953261136861 and a p-value of 3.674323227810792e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 131964.5 and a p-value of 1.8880754967436472e-20, _we **reject** the null hypothssis_
## Testing Results for CIS against UK 
CIS has a success rate of 0.837386018237082
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between CIS and UK
$H_{A}$: There is a difference between CIS and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.141539797134705 and a p-value of 9.974831424253161e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 236363.0 and a p-value of 2.552906377324631e-27, _we **reject** the null hypothssis_
## Testing Results for CIS against UKR 
CIS has a success rate of 0.837386018237082
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between CIS and UKR
$H_{A}$: There is a difference between CIS and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -8.70394154772984 and a p-value of 1.4693688655611954e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76305.5 and a p-value of 8.76424815161289e-10, _we **reject** the null hypothssis_
## Testing Results for CIS against US 
CIS has a success rate of 0.837386018237082
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between CIS and US
$H_{A}$: There is a difference between CIS and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.958580638752264 and a p-value of 3.781232414585669e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1724881.0 and a p-value of 4.126502381031949e-12, _we **reject** the null hypothssis_
