# Testing Results For COL 
$H_{0}$: There is not a difference in collection success against COL 
$H_{A}$: There is a difference in collection success against COL
Out of 54 tests, there were 6 rejections from 54 independent-t test.
Out of 54 tests, there were 6 rejections from 54 Man Whitney u-tests.
## Testing Results for COL against ALG 
COL has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between COL and ALG
$H_{A}$: There is a difference between COL and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ARGN 
COL has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and ARGN
$H_{A}$: There is a difference between COL and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ASRA 
COL has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between COL and ASRA
$H_{A}$: There is a difference between COL and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against AUS 
COL has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between COL and AUS
$H_{A}$: There is a difference between COL and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.748430081680073 and a p-value of 3.054083228157647e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10583.5 and a p-value of 4.207574978808841e-06, _we **reject** the null hypothssis_
## Testing Results for COL against BEL 
COL has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between COL and BEL
$H_{A}$: There is a difference between COL and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.758484810894393 and a p-value of 0.006211386778677409, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6984.5 and a p-value of 0.006471191107776725, _we failed to reject the null hypothssis_
## Testing Results for COL against BRAZ 
COL has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between COL and BRAZ
$H_{A}$: There is a difference between COL and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against CA 
COL has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between COL and CA
$H_{A}$: There is a difference between COL and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against CIS 
COL has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between COL and CIS
$H_{A}$: There is a difference between COL and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.43697315133576 and a p-value of 0.0006221945924845943, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23332.5 and a p-value of 0.0006475845734148202, _we **reject** the null hypothssis_
## Testing Results for COL against DEN 
COL has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and DEN
$H_{A}$: There is a difference between COL and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ESA 
COL has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between COL and ESA
$H_{A}$: There is a difference between COL and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0765816725408492 and a p-value of 0.2832387646658549, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3294.0 and a p-value of 0.2858607006182271, _we failed to reject the null hypothssis_
## Testing Results for COL against EST 
COL has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between COL and EST
$H_{A}$: There is a difference between COL and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2381963641121452 and a p-value of 0.21857143571688661, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1250.5 and a p-value of 0.224494079318468, _we failed to reject the null hypothssis_
## Testing Results for COL against EUME 
COL has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between COL and EUME
$H_{A}$: There is a difference between COL and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against FIN 
COL has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and FIN
$H_{A}$: There is a difference between COL and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against FR 
COL has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between COL and FR
$H_{A}$: There is a difference between COL and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4789284440046835 and a p-value of 0.01347110951192744, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16683.5 and a p-value of 0.013634202708083883, _we failed to reject the null hypothssis_
## Testing Results for COL against GER 
COL has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between COL and GER
$H_{A}$: There is a difference between COL and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.207838873928069 and a p-value of 0.22722981018592178, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72102.0 and a p-value of 0.22729533528290646, _we failed to reject the null hypothssis_
## Testing Results for COL against GUAT 
COL has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between COL and GUAT
$H_{A}$: There is a difference between COL and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3490093286050246 and a p-value of 0.17973430392432835, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2135.0 and a p-value of 0.18230625057737215, _we failed to reject the null hypothssis_
## Testing Results for COL against HUN 
COL has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and HUN
$H_{A}$: There is a difference between COL and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against IND 
COL has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between COL and IND
$H_{A}$: There is a difference between COL and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.3601144849168254 and a p-value of 0.1744527133874187, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12749.0 and a p-value of 0.1747750233092885, _we failed to reject the null hypothssis_
## Testing Results for COL against INDO 
COL has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between COL and INDO
$H_{A}$: There is a difference between COL and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against IRAN 
COL has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and IRAN
$H_{A}$: There is a difference between COL and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against IRAQ 
COL has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between COL and IRAQ
$H_{A}$: There is a difference between COL and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ISRA 
COL has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between COL and ISRA
$H_{A}$: There is a difference between COL and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ISS 
COL has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between COL and ISS
$H_{A}$: There is a difference between COL and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against IT 
COL has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between COL and IT
$H_{A}$: There is a difference between COL and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2734744707807955 and a p-value of 0.02321348000610289, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30256.0 and a p-value of 0.023320803526717667, _we failed to reject the null hypothssis_
## Testing Results for COL against JPN 
COL has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between COL and JPN
$H_{A}$: There is a difference between COL and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.347305300941082 and a p-value of 3.6862465365311806e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31262.5 and a p-value of 5.816164970288203e-10, _we **reject** the null hypothssis_
## Testing Results for COL against KAZ 
COL has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between COL and KAZ
$H_{A}$: There is a difference between COL and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8198776493195044 and a p-value of 0.41309597398381315, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5612.0 and a p-value of 0.41581188838447036, _we failed to reject the null hypothssis_
## Testing Results for COL against KWT 
COL has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between COL and KWT
$H_{A}$: There is a difference between COL and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against LKA 
COL has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between COL and LKA
$H_{A}$: There is a difference between COL and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against LTU 
COL has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between COL and LTU
$H_{A}$: There is a difference between COL and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9814128948907714 and a p-value of 0.32701523238586117, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9912.5 and a p-value of 0.32795437471301303, _we failed to reject the null hypothssis_
## Testing Results for COL against MALA 
COL has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between COL and MALA
$H_{A}$: There is a difference between COL and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against MEX 
COL has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between COL and MEX
$H_{A}$: There is a difference between COL and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against MUS 
COL has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between COL and MUS
$H_{A}$: There is a difference between COL and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against MX 
COL has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between COL and MX
$H_{A}$: There is a difference between COL and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16775.0 and a p-value of 7.989203749113129e-75, _we **reject** the null hypothssis_
## Testing Results for COL against NETH 
COL has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between COL and NETH
$H_{A}$: There is a difference between COL and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against NPL 
COL has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between COL and NPL
$H_{A}$: There is a difference between COL and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against POL 
COL has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between COL and POL
$H_{A}$: There is a difference between COL and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.131152712260299 and a p-value of 0.2584892339547751, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15097.5 and a p-value of 0.2588940829536437, _we failed to reject the null hypothssis_
## Testing Results for COL against PRC 
COL has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between COL and PRC
$H_{A}$: There is a difference between COL and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.832406560189114 and a p-value of 0.4052632979027947, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71339.5 and a p-value of 0.405445325723891, _we failed to reject the null hypothssis_
## Testing Results for COL against PRY 
COL has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between COL and PRY
$H_{A}$: There is a difference between COL and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against ROC 
COL has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between COL and ROC
$H_{A}$: There is a difference between COL and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.738448320376445 and a p-value of 1.4765837672987048e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9394.0 and a p-value of 2.743563577243623e-29, _we **reject** the null hypothssis_
## Testing Results for COL against RP 
COL has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between COL and RP
$H_{A}$: There is a difference between COL and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.431622517212426 and a p-value of 7.216797276398185e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33458.5 and a p-value of 8.988075223219247e-08, _we **reject** the null hypothssis_
## Testing Results for COL against SAFR 
COL has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between COL and SAFR
$H_{A}$: There is a difference between COL and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.084934974082847 and a p-value of 0.038390828647500076, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4361.5 and a p-value of 0.03907330774424375, _we failed to reject the null hypothssis_
## Testing Results for COL against SAUD 
COL has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between COL and SAUD
$H_{A}$: There is a difference between COL and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against SING 
COL has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between COL and SING
$H_{A}$: There is a difference between COL and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against SKOR 
COL has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between COL and SKOR
$H_{A}$: There is a difference between COL and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.335335980056094 and a p-value of 0.021200470946370606, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1982.5 and a p-value of 0.022274761284159752, _we failed to reject the null hypothssis_
## Testing Results for COL against SPN 
COL has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between COL and SPN
$H_{A}$: There is a difference between COL and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against SVN 
COL has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between COL and SVN
$H_{A}$: There is a difference between COL and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.189915228574021 and a p-value of 0.23601106702710206, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2714.5 and a p-value of 0.23859897433534139, _we failed to reject the null hypothssis_
## Testing Results for COL against SWTZ 
COL has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between COL and SWTZ
$H_{A}$: There is a difference between COL and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against TBD 
COL has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between COL and TBD
$H_{A}$: There is a difference between COL and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7882283293145654 and a p-value of 0.4309745261130512, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12169.5 and a p-value of 0.4322631788302652, _we failed to reject the null hypothssis_
## Testing Results for COL against THAI 
COL has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between COL and THAI
$H_{A}$: There is a difference between COL and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8535344581118536 and a p-value of 0.3942627513328928, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5185.0 and a p-value of 0.3969713159662025, _we failed to reject the null hypothssis_
## Testing Results for COL against TURK 
COL has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between COL and TURK
$H_{A}$: There is a difference between COL and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.479210868334779 and a p-value of 0.6321118968676158, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8113.0 and a p-value of 0.6369877602283851, _we failed to reject the null hypothssis_
## Testing Results for COL against UAE 
COL has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between COL and UAE
$H_{A}$: There is a difference between COL and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for COL against UK 
COL has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between COL and UK
$H_{A}$: There is a difference between COL and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8532620394672206 and a p-value of 0.3937397780386528, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26108.0 and a p-value of 0.3942190178245518, _we failed to reject the null hypothssis_
## Testing Results for COL against UKR 
COL has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between COL and UKR
$H_{A}$: There is a difference between COL and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0675716429312885 and a p-value of 0.2864941331879596, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8418.0 and a p-value of 0.28739805376195204, _we failed to reject the null hypothssis_
## Testing Results for COL against US 
COL has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between COL and US
$H_{A}$: There is a difference between COL and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3201035734121134 and a p-value of 0.020370004067202473, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 188215.5 and a p-value of 0.020387420479233195, _we failed to reject the null hypothssis_
