# Testing Results For IRAN 
$H_{0}$: There is not a difference in collection success against IRAN 
$H_{A}$: There is a difference in collection success against IRAN
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for IRAN against ALG 
IRAN has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and ALG
$H_{A}$: There is a difference between IRAN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ARGN 
IRAN has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and ARGN
$H_{A}$: There is a difference between IRAN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ASRA 
IRAN has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and ASRA
$H_{A}$: There is a difference between IRAN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against AUS 
IRAN has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between IRAN and AUS
$H_{A}$: There is a difference between IRAN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.467865346303725 and a p-value of 1.0372863771851822e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41987.0 and a p-value of 2.2620274144166226e-18, _we **reject** the null hypothssis_
## Testing Results for IRAN against BEL 
IRAN has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between IRAN and BEL
$H_{A}$: There is a difference between IRAN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.502682796120712 and a p-value of 6.318139139630572e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27709.0 and a p-value of 9.826557686552485e-08, _we **reject** the null hypothssis_
## Testing Results for IRAN against BRAZ 
IRAN has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and BRAZ
$H_{A}$: There is a difference between IRAN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against CA 
IRAN has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and CA
$H_{A}$: There is a difference between IRAN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against CIS 
IRAN has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between IRAN and CIS
$H_{A}$: There is a difference between IRAN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.847636308148318 and a p-value of 1.3912413243701342e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92565.0 and a p-value of 2.405362274755269e-11, _we **reject** the null hypothssis_
## Testing Results for IRAN against COL 
IRAN has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and COL
$H_{A}$: There is a difference between IRAN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against DEN 
IRAN has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and DEN
$H_{A}$: There is a difference between IRAN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ESA 
IRAN has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between IRAN and ESA
$H_{A}$: There is a difference between IRAN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1510694808821658 and a p-value of 0.03216270056954705, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13068.0 and a p-value of 0.03272074005491876, _we failed to reject the null hypothssis_
## Testing Results for IRAN against EST 
IRAN has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between IRAN and EST
$H_{A}$: There is a difference between IRAN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.482160390400549 and a p-value of 0.013645321671374491, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4961.0 and a p-value of 0.0143050407855082, _we failed to reject the null hypothssis_
## Testing Results for IRAN against EUME 
IRAN has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and EUME
$H_{A}$: There is a difference between IRAN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against FIN 
IRAN has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and FIN
$H_{A}$: There is a difference between IRAN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against FR 
IRAN has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between IRAN and FR
$H_{A}$: There is a difference between IRAN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.939643398899041 and a p-value of 9.679692907906503e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66187.0 and a p-value of 1.1555433325502017e-06, _we **reject** the null hypothssis_
## Testing Results for IRAN against GER 
IRAN has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between IRAN and GER
$H_{A}$: There is a difference between IRAN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.405829082250179 and a p-value of 0.016206578042649803, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 286044.0 and a p-value of 0.016243828456624535, _we failed to reject the null hypothssis_
## Testing Results for IRAN against GUAT 
IRAN has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between IRAN and GUAT
$H_{A}$: There is a difference between IRAN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6992631411880446 and a p-value of 0.007333058462369059, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8470.0 and a p-value of 0.0076600414420063, _we failed to reject the null hypothssis_
## Testing Results for IRAN against HUN 
IRAN has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and HUN
$H_{A}$: There is a difference between IRAN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against IND 
IRAN has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between IRAN and IND
$H_{A}$: There is a difference between IRAN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.710684367216638 and a p-value of 0.006892820336043868, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 50578.0 and a p-value of 0.0070060809969781125, _we failed to reject the null hypothssis_
## Testing Results for IRAN against INDO 
IRAN has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and INDO
$H_{A}$: There is a difference between IRAN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against IRAQ 
IRAN has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and IRAQ
$H_{A}$: There is a difference between IRAN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ISRA 
IRAN has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and ISRA
$H_{A}$: There is a difference between IRAN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ISS 
IRAN has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and ISS
$H_{A}$: There is a difference between IRAN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against IT 
IRAN has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between IRAN and IT
$H_{A}$: There is a difference between IRAN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.528995984864925 and a p-value of 6.538174244714354e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 120032.0 and a p-value of 7.083828725965553e-06, _we **reject** the null hypothssis_
## Testing Results for IRAN against JPN 
IRAN has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between IRAN and JPN
$H_{A}$: There is a difference between IRAN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.645439446185284 and a p-value of 4.804289765508594e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 124025.0 and a p-value of 9.498425948754484e-32, _we **reject** the null hypothssis_
## Testing Results for IRAN against KAZ 
IRAN has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between IRAN and KAZ
$H_{A}$: There is a difference between IRAN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6359111989144561 and a p-value of 0.1026037471896546, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22264.0 and a p-value of 0.10324821112823525, _we failed to reject the null hypothssis_
## Testing Results for IRAN against KWT 
IRAN has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and KWT
$H_{A}$: There is a difference between IRAN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against LKA 
IRAN has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and LKA
$H_{A}$: There is a difference between IRAN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against LTU 
IRAN has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between IRAN and LTU
$H_{A}$: There is a difference between IRAN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9564252712114298 and a p-value of 0.05091169632107786, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39325.0 and a p-value of 0.05118797475474043, _we failed to reject the null hypothssis_
## Testing Results for IRAN against MALA 
IRAN has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and MALA
$H_{A}$: There is a difference between IRAN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against MEX 
IRAN has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and MEX
$H_{A}$: There is a difference between IRAN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against MUS 
IRAN has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and MUS
$H_{A}$: There is a difference between IRAN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against MX 
IRAN has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between IRAN and MX
$H_{A}$: There is a difference between IRAN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66550.0 and a p-value of 3.163552678919505e-114, _we **reject** the null hypothssis_
## Testing Results for IRAN against NETH 
IRAN has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and NETH
$H_{A}$: There is a difference between IRAN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against NPL 
IRAN has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and NPL
$H_{A}$: There is a difference between IRAN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against POL 
IRAN has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between IRAN and POL
$H_{A}$: There is a difference between IRAN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.254045487533726 and a p-value of 0.02449112284827563, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59895.0 and a p-value of 0.024652271489768424, _we failed to reject the null hypothssis_
## Testing Results for IRAN against PRC 
IRAN has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between IRAN and PRC
$H_{A}$: There is a difference between IRAN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6580255925324534 and a p-value of 0.09743515203252273, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 283019.0 and a p-value of 0.09748011162180634, _we failed to reject the null hypothssis_
## Testing Results for IRAN against PRY 
IRAN has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and PRY
$H_{A}$: There is a difference between IRAN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against ROC 
IRAN has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between IRAN and ROC
$H_{A}$: There is a difference between IRAN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 33.40374801102571 and a p-value of 6.208924702899991e-119, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37268.0 and a p-value of 3.281444663308116e-67, _we **reject** the null hypothssis_
## Testing Results for IRAN against RP 
IRAN has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between IRAN and RP
$H_{A}$: There is a difference between IRAN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.820699203783672 and a p-value of 5.781257670906695e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132737.0 and a p-value of 8.99967975568111e-25, _we **reject** the null hypothssis_
## Testing Results for IRAN against SAFR 
IRAN has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between IRAN and SAFR
$H_{A}$: There is a difference between IRAN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.1630900961829 and a p-value of 3.900525540362105e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17303.0 and a p-value of 4.6326831629009604e-05, _we **reject** the null hypothssis_
## Testing Results for IRAN against SAUD 
IRAN has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and SAUD
$H_{A}$: There is a difference between IRAN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against SING 
IRAN has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and SING
$H_{A}$: There is a difference between IRAN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against SKOR 
IRAN has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between IRAN and SKOR
$H_{A}$: There is a difference between IRAN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.674858782440557 and a p-value of 4.451175148470046e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7865.0 and a p-value of 6.268211957908244e-06, _we **reject** the null hypothssis_
## Testing Results for IRAN against SPN 
IRAN has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and SPN
$H_{A}$: There is a difference between IRAN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against SVN 
IRAN has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between IRAN and SVN
$H_{A}$: There is a difference between IRAN and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3789709855557715 and a p-value of 0.01793461653623137, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10769.0 and a p-value of 0.018404866881157403, _we failed to reject the null hypothssis_
## Testing Results for IRAN against SWTZ 
IRAN has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and SWTZ
$H_{A}$: There is a difference between IRAN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against TBD 
IRAN has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between IRAN and TBD
$H_{A}$: There is a difference between IRAN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.57096477234186 and a p-value of 0.1166889502795767, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48279.0 and a p-value of 0.11698994149342629, _we failed to reject the null hypothssis_
## Testing Results for IRAN against THAI 
IRAN has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between IRAN and THAI
$H_{A}$: There is a difference between IRAN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.703361355075694 and a p-value of 0.08926197329178011, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20570.0 and a p-value of 0.08990397548597512, _we failed to reject the null hypothssis_
## Testing Results for IRAN against TURK 
IRAN has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between IRAN and TURK
$H_{A}$: There is a difference between IRAN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.955536825344312 and a p-value of 0.3397634724465517, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32186.0 and a p-value of 0.3412643200720866, _we failed to reject the null hypothssis_
## Testing Results for IRAN against UAE 
IRAN has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between IRAN and UAE
$H_{A}$: There is a difference between IRAN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for IRAN against UK 
IRAN has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between IRAN and UK
$H_{A}$: There is a difference between IRAN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.699828119156443 and a p-value of 0.08944960973037197, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103576.0 and a p-value of 0.08957366445069723, _we failed to reject the null hypothssis_
## Testing Results for IRAN against UKR 
IRAN has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between IRAN and UKR
$H_{A}$: There is a difference between IRAN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.128646937842304 and a p-value of 0.03376117726267417, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33396.0 and a p-value of 0.03404054066587393, _we failed to reject the null hypothssis_
## Testing Results for IRAN against US 
IRAN has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between IRAN and US
$H_{A}$: There is a difference between IRAN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.62117515002464 and a p-value of 3.896249587238275e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 746691.0 and a p-value of 3.964243692370453e-06, _we **reject** the null hypothssis_
