# Testing Results For KAZ 
$H_{0}$: There is not a difference in collection success against KAZ 
$H_{A}$: There is a difference in collection success against KAZ
Out of 54 tests, there were 10 rejections from 54 independent-t test.
Out of 54 tests, there were 9 rejections from 54 Man Whitney u-tests.
## Testing Results for KAZ against ALG 
KAZ has a success rate of 0.989010989010989
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and ALG
$H_{A}$: There is a difference between KAZ and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8730.0 and a p-value of 0.30349315944118427, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ARGN 
KAZ has a success rate of 0.989010989010989
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and ARGN
$H_{A}$: There is a difference between KAZ and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38070.0 and a p-value of 0.03114305518059303, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ASRA 
KAZ has a success rate of 0.989010989010989
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and ASRA
$H_{A}$: There is a difference between KAZ and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24570.0 and a p-value of 0.08348998335245643, _we failed to reject the null hypothssis_
## Testing Results for KAZ against AUS 
KAZ has a success rate of 0.989010989010989
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between KAZ and AUS
$H_{A}$: There is a difference between KAZ and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.735258226777392 and a p-value of 6.755675902058204e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31304.0 and a p-value of 3.401297213487305e-13, _we **reject** the null hypothssis_
## Testing Results for KAZ against BEL 
KAZ has a success rate of 0.989010989010989
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between KAZ and BEL
$H_{A}$: There is a difference between KAZ and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.1066610928869665 and a p-value of 4.9027463106196596e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20633.0 and a p-value of 5.723662638268579e-05, _we **reject** the null hypothssis_
## Testing Results for KAZ against BRAZ 
KAZ has a success rate of 0.989010989010989
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and BRAZ
$H_{A}$: There is a difference between KAZ and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39060.0 and a p-value of 0.02902723134899263, _we failed to reject the null hypothssis_
## Testing Results for KAZ against CA 
KAZ has a success rate of 0.989010989010989
CA has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and CA
$H_{A}$: There is a difference between KAZ and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20970.0 and a p-value of 0.10990162314531382, _we failed to reject the null hypothssis_
## Testing Results for KAZ against CIS 
KAZ has a success rate of 0.989010989010989
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between KAZ and CIS
$H_{A}$: There is a difference between KAZ and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.476528941604809 and a p-value of 5.736039714532216e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68957.0 and a p-value of 7.285129184803175e-08, _we **reject** the null hypothssis_
## Testing Results for KAZ against COL 
KAZ has a success rate of 0.989010989010989
COL has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and COL
$H_{A}$: There is a difference between KAZ and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5490.0 and a p-value of 0.41581188838447036, _we failed to reject the null hypothssis_
## Testing Results for KAZ against DEN 
KAZ has a success rate of 0.989010989010989
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and DEN
$H_{A}$: There is a difference between KAZ and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15570.0 and a p-value of 0.16858509834055568, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ESA 
KAZ has a success rate of 0.989010989010989
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between KAZ and ESA
$H_{A}$: There is a difference between KAZ and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5493863364797461 and a p-value of 0.5831690525508639, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9722.0 and a p-value of 0.5847655780623822, _we failed to reject the null hypothssis_
## Testing Results for KAZ against EST 
KAZ has a success rate of 0.989010989010989
EST has a success rate of 0.975
$H_{0}$: There is not a difference between KAZ and EST
$H_{A}$: There is a difference between KAZ and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6925258606339366 and a p-value of 0.4893374845361429, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3691.0 and a p-value of 0.49236937051319984, _we failed to reject the null hypothssis_
## Testing Results for KAZ against EUME 
KAZ has a success rate of 0.989010989010989
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and EUME
$H_{A}$: There is a difference between KAZ and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49500.0 and a p-value of 0.013975493496632106, _we failed to reject the null hypothssis_
## Testing Results for KAZ against FIN 
KAZ has a success rate of 0.989010989010989
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and FIN
$H_{A}$: There is a difference between KAZ and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39870.0 and a p-value of 0.027407665135988482, _we failed to reject the null hypothssis_
## Testing Results for KAZ against FR 
KAZ has a success rate of 0.989010989010989
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between KAZ and FR
$H_{A}$: There is a difference between KAZ and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.684384323733391 and a p-value of 0.00024745856281429456, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49276.0 and a p-value of 0.0002618472320283184, _we **reject** the null hypothssis_
## Testing Results for KAZ against GER 
KAZ has a success rate of 0.989010989010989
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between KAZ and GER
$H_{A}$: There is a difference between KAZ and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.085423021435501 and a p-value of 0.2778394133866279, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 212814.0 and a p-value of 0.2778437982788988, _we failed to reject the null hypothssis_
## Testing Results for KAZ against GUAT 
KAZ has a success rate of 0.989010989010989
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between KAZ and GUAT
$H_{A}$: There is a difference between KAZ and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0311026557955925 and a p-value of 0.30349719178573387, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6302.0 and a p-value of 0.3046794844513592, _we failed to reject the null hypothssis_
## Testing Results for KAZ against HUN 
KAZ has a success rate of 0.989010989010989
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and HUN
$H_{A}$: There is a difference between KAZ and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25020.0 and a p-value of 0.08070671839737402, _we failed to reject the null hypothssis_
## Testing Results for KAZ against IND 
KAZ has a success rate of 0.989010989010989
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between KAZ and IND
$H_{A}$: There is a difference between KAZ and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.365129064377848 and a p-value of 0.17273634058977458, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37632.0 and a p-value of 0.17284099490812344, _we failed to reject the null hypothssis_
## Testing Results for KAZ against INDO 
KAZ has a success rate of 0.989010989010989
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and INDO
$H_{A}$: There is a difference between KAZ and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24750.0 and a p-value of 0.0823644331202429, _we failed to reject the null hypothssis_
## Testing Results for KAZ against IRAN 
KAZ has a success rate of 0.989010989010989
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and IRAN
$H_{A}$: There is a difference between KAZ and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21780.0 and a p-value of 0.10324821112823533, _we failed to reject the null hypothssis_
## Testing Results for KAZ against IRAQ 
KAZ has a success rate of 0.989010989010989
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and IRAQ
$H_{A}$: There is a difference between KAZ and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9540.0 and a p-value of 0.28190011887255373, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ISRA 
KAZ has a success rate of 0.989010989010989
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and ISRA
$H_{A}$: There is a difference between KAZ and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36000.0 and a p-value of 0.03610407989772933, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ISS 
KAZ has a success rate of 0.989010989010989
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and ISS
$H_{A}$: There is a difference between KAZ and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18630.0 and a p-value of 0.13193403423967098, _we failed to reject the null hypothssis_
## Testing Results for KAZ against IT 
KAZ has a success rate of 0.989010989010989
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between KAZ and IT
$H_{A}$: There is a difference between KAZ and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3267548562632276 and a p-value of 0.0009076876400542403, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89352.0 and a p-value of 0.0009284540295501307, _we failed to reject the null hypothssis_
## Testing Results for KAZ against JPN 
KAZ has a success rate of 0.989010989010989
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between KAZ and JPN
$H_{A}$: There is a difference between KAZ and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.603588074384463 and a p-value of 7.463655705667632e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 92542.0 and a p-value of 1.3681957259501688e-23, _we **reject** the null hypothssis_
## Testing Results for KAZ against KWT 
KAZ has a success rate of 0.989010989010989
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and KWT
$H_{A}$: There is a difference between KAZ and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12690.0 and a p-value of 0.21413116392142428, _we failed to reject the null hypothssis_
## Testing Results for KAZ against LKA 
KAZ has a success rate of 0.989010989010989
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and LKA
$H_{A}$: There is a difference between KAZ and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20700.0 and a p-value of 0.11222304531269221, _we failed to reject the null hypothssis_
## Testing Results for KAZ against LTU 
KAZ has a success rate of 0.989010989010989
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between KAZ and LTU
$H_{A}$: There is a difference between KAZ and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.42507437156183525 and a p-value of 0.670965332227934, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29255.0 and a p-value of 0.6716775932725534, _we failed to reject the null hypothssis_
## Testing Results for KAZ against MALA 
KAZ has a success rate of 0.989010989010989
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and MALA
$H_{A}$: There is a difference between KAZ and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22050.0 and a p-value of 0.10112956613033888, _we failed to reject the null hypothssis_
## Testing Results for KAZ against MEX 
KAZ has a success rate of 0.989010989010989
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and MEX
$H_{A}$: There is a difference between KAZ and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23310.0 and a p-value of 0.09185078407979093, _we failed to reject the null hypothssis_
## Testing Results for KAZ against MUS 
KAZ has a success rate of 0.989010989010989
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and MUS
$H_{A}$: There is a difference between KAZ and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2970.0 and a p-value of 0.5522043576951969, _we failed to reject the null hypothssis_
## Testing Results for KAZ against MX 
KAZ has a success rate of 0.989010989010989
MX has a success rate of 0.0
$H_{0}$: There is not a difference between KAZ and MX
$H_{A}$: There is a difference between KAZ and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 127.6322843170959 and a p-value of 3.031293542606192e-179, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49775.0 and a p-value of 2.267079045700257e-99, _we **reject** the null hypothssis_
## Testing Results for KAZ against NETH 
KAZ has a success rate of 0.989010989010989
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and NETH
$H_{A}$: There is a difference between KAZ and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25200.0 and a p-value of 0.07962159461057072, _we failed to reject the null hypothssis_
## Testing Results for KAZ against NPL 
KAZ has a success rate of 0.989010989010989
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and NPL
$H_{A}$: There is a difference between KAZ and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19710.0 and a p-value of 0.12120959447869296, _we failed to reject the null hypothssis_
## Testing Results for KAZ against POL 
KAZ has a success rate of 0.989010989010989
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between KAZ and POL
$H_{A}$: There is a difference between KAZ and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8326033596771462 and a p-value of 0.40536737154466773, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44560.0 and a p-value of 0.405513137011255, _we failed to reject the null hypothssis_
## Testing Results for KAZ against PRC 
KAZ has a success rate of 0.989010989010989
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between KAZ and PRC
$H_{A}$: There is a difference between KAZ and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.0310370179670198 and a p-value of 0.9752425022348316, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 210536.0 and a p-value of 0.9754686163297902, _we failed to reject the null hypothssis_
## Testing Results for KAZ against PRY 
KAZ has a success rate of 0.989010989010989
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and PRY
$H_{A}$: There is a difference between KAZ and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5760.0 and a p-value of 0.40440529460706554, _we failed to reject the null hypothssis_
## Testing Results for KAZ against ROC 
KAZ has a success rate of 0.989010989010989
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between KAZ and ROC
$H_{A}$: There is a difference between KAZ and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 27.488755401771634 and a p-value of 2.475625779887251e-89, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27859.0 and a p-value of 5.312774508385664e-54, _we **reject** the null hypothssis_
## Testing Results for KAZ against RP 
KAZ has a success rate of 0.989010989010989
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between KAZ and RP
$H_{A}$: There is a difference between KAZ and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.018625706207727 and a p-value of 9.410929182377194e-19, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99000.0 and a p-value of 3.985365634371595e-18, _we **reject** the null hypothssis_
## Testing Results for KAZ against SAFR 
KAZ has a success rate of 0.989010989010989
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between KAZ and SAFR
$H_{A}$: There is a difference between KAZ and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7151271490839823 and a p-value of 0.006991551056317203, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12879.0 and a p-value of 0.00722885147058379, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SAUD 
KAZ has a success rate of 0.989010989010989
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and SAUD
$H_{A}$: There is a difference between KAZ and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10710.0 and a p-value of 0.2540190981829875, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SING 
KAZ has a success rate of 0.989010989010989
SING has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and SING
$H_{A}$: There is a difference between KAZ and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65520.0 and a p-value of 0.004683387681490205, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SKOR 
KAZ has a success rate of 0.989010989010989
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between KAZ and SKOR
$H_{A}$: There is a difference between KAZ and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.93911738597121 and a p-value of 0.0036125574916850253, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5855.0 and a p-value of 0.0038529555863848473, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SPN 
KAZ has a success rate of 0.989010989010989
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and SPN
$H_{A}$: There is a difference between KAZ and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60570.0 and a p-value of 0.0065468116655965055, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SVN 
KAZ has a success rate of 0.989010989010989
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between KAZ and SVN
$H_{A}$: There is a difference between KAZ and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7586274157602008 and a p-value of 0.44874461212834904, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8012.0 and a p-value of 0.4501092019086128, _we failed to reject the null hypothssis_
## Testing Results for KAZ against SWTZ 
KAZ has a success rate of 0.989010989010989
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and SWTZ
$H_{A}$: There is a difference between KAZ and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34830.0 and a p-value of 0.03926775162710998, _we failed to reject the null hypothssis_
## Testing Results for KAZ against TBD 
KAZ has a success rate of 0.989010989010989
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between KAZ and TBD
$H_{A}$: There is a difference between KAZ and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.09473295399401913 and a p-value of 0.9245599448739414, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35914.0 and a p-value of 0.9256769197721212, _we failed to reject the null hypothssis_
## Testing Results for KAZ against THAI 
KAZ has a success rate of 0.989010989010989
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between KAZ and THAI
$H_{A}$: There is a difference between KAZ and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.08029588635445108 and a p-value of 0.936048085838562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15302.0 and a p-value of 0.9381950651058252, _we failed to reject the null hypothssis_
## Testing Results for KAZ against TURK 
KAZ has a success rate of 0.989010989010989
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between KAZ and TURK
$H_{A}$: There is a difference between KAZ and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9167654528640253 and a p-value of 0.359762119611566, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23941.0 and a p-value of 0.36056206062847607, _we failed to reject the null hypothssis_
## Testing Results for KAZ against UAE 
KAZ has a success rate of 0.989010989010989
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between KAZ and UAE
$H_{A}$: There is a difference between KAZ and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4181364924121715 and a p-value of 0.1578703075793629, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43110.0 and a p-value of 0.021811946087179127, _we failed to reject the null hypothssis_
## Testing Results for KAZ against UK 
KAZ has a success rate of 0.989010989010989
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between KAZ and UK
$H_{A}$: There is a difference between KAZ and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.0946296410544959 and a p-value of 0.9246274824178002, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77050.0 and a p-value of 0.9251602494493244, _we failed to reject the null hypothssis_
## Testing Results for KAZ against UKR 
KAZ has a success rate of 0.989010989010989
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between KAZ and UKR
$H_{A}$: There is a difference between KAZ and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.630072260434642 and a p-value of 0.5289663970837093, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24845.0 and a p-value of 0.5294933100533007, _we failed to reject the null hypothssis_
## Testing Results for KAZ against US 
KAZ has a success rate of 0.989010989010989
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between KAZ and US
$H_{A}$: There is a difference between KAZ and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4566040005930234 and a p-value of 0.0005508937989993605, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 555853.0 and a p-value of 0.0005536741895619362, _we **reject** the null hypothssis_
