# Testing Results For MALA 
$H_{0}$: There is not a difference in collection success against MALA 
$H_{A}$: There is a difference in collection success against MALA
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for MALA against ALG 
MALA has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and ALG
$H_{A}$: There is a difference between MALA and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ARGN 
MALA has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and ARGN
$H_{A}$: There is a difference between MALA and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ASRA 
MALA has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and ASRA
$H_{A}$: There is a difference between MALA and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against AUS 
MALA has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between MALA and AUS
$H_{A}$: There is a difference between MALA and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.526477252595587 and a p-value of 6.305767790659079e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42507.5 and a p-value of 1.4534736519620358e-18, _we **reject** the null hypothssis_
## Testing Results for MALA against BEL 
MALA has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between MALA and BEL
$H_{A}$: There is a difference between MALA and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.536767855594624 and a p-value of 5.25117437432726e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28052.5 and a p-value of 8.234023703865866e-08, _we **reject** the null hypothssis_
## Testing Results for MALA against BRAZ 
MALA has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and BRAZ
$H_{A}$: There is a difference between MALA and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against CA 
MALA has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and CA
$H_{A}$: There is a difference between MALA and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against CIS 
MALA has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between MALA and CIS
$H_{A}$: There is a difference between MALA and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.889975092674134 and a p-value of 1.0473297427451355e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93712.5 and a p-value of 1.8321865851530763e-11, _we **reject** the null hypothssis_
## Testing Results for MALA against COL 
MALA has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and COL
$H_{A}$: There is a difference between MALA and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against DEN 
MALA has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and DEN
$H_{A}$: There is a difference between MALA and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ESA 
MALA has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between MALA and ESA
$H_{A}$: There is a difference between MALA and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.164414952946464 and a p-value of 0.031110149205750632, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13230.0 and a p-value of 0.03165684994565785, _we failed to reject the null hypothssis_
## Testing Results for MALA against EST 
MALA has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between MALA and EST
$H_{A}$: There is a difference between MALA and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4975921828134657 and a p-value of 0.013072004381739465, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5022.5 and a p-value of 0.013710038072158972, _we failed to reject the null hypothssis_
## Testing Results for MALA against EUME 
MALA has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and EUME
$H_{A}$: There is a difference between MALA and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against FIN 
MALA has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and FIN
$H_{A}$: There is a difference between MALA and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against FR 
MALA has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between MALA and FR
$H_{A}$: There is a difference between MALA and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.970193690874556 and a p-value of 8.307059430211876e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67007.5 and a p-value of 9.954692749902948e-07, _we **reject** the null hypothssis_
## Testing Results for MALA against GER 
MALA has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between MALA and GER
$H_{A}$: There is a difference between MALA and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4206964294869144 and a p-value of 0.015560148131271554, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 289590.0 and a p-value of 0.015596907303766205, _we failed to reject the null hypothssis_
## Testing Results for MALA against GUAT 
MALA has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between MALA and GUAT
$H_{A}$: There is a difference between MALA and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7160270940337146 and a p-value of 0.00697659084038408, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8575.0 and a p-value of 0.007292080091119757, _we failed to reject the null hypothssis_
## Testing Results for MALA against HUN 
MALA has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and HUN
$H_{A}$: There is a difference between MALA and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against IND 
MALA has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between MALA and IND
$H_{A}$: There is a difference between MALA and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.727453834834979 and a p-value of 0.006555093897933731, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51205.0 and a p-value of 0.006665277581584836, _we failed to reject the null hypothssis_
## Testing Results for MALA against INDO 
MALA has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and INDO
$H_{A}$: There is a difference between MALA and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against IRAN 
MALA has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and IRAN
$H_{A}$: There is a difference between MALA and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against IRAQ 
MALA has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and IRAQ
$H_{A}$: There is a difference between MALA and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ISRA 
MALA has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and ISRA
$H_{A}$: There is a difference between MALA and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ISS 
MALA has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and ISS
$H_{A}$: There is a difference between MALA and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against IT 
MALA has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between MALA and IT
$H_{A}$: There is a difference between MALA and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.556991924374861 and a p-value of 5.7366355578239415e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 121520.0 and a p-value of 6.227046578864426e-06, _we **reject** the null hypothssis_
## Testing Results for MALA against JPN 
MALA has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between MALA and JPN
$H_{A}$: There is a difference between MALA and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.723618959890764 and a p-value of 2.0062774778352977e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 125562.5 and a p-value of 4.412688047317673e-32, _we **reject** the null hypothssis_
## Testing Results for MALA against KAZ 
MALA has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between MALA and KAZ
$H_{A}$: There is a difference between MALA and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6460473161026679 and a p-value of 0.10049327468111968, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22540.0 and a p-value of 0.10112956613033888, _we failed to reject the null hypothssis_
## Testing Results for MALA against KWT 
MALA has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and KWT
$H_{A}$: There is a difference between MALA and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against LKA 
MALA has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and LKA
$H_{A}$: There is a difference between MALA and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against LTU 
MALA has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between MALA and LTU
$H_{A}$: There is a difference between MALA and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9685331875589853 and a p-value of 0.04949687922845852, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39812.5 and a p-value of 0.049770416364881706, _we failed to reject the null hypothssis_
## Testing Results for MALA against MEX 
MALA has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and MEX
$H_{A}$: There is a difference between MALA and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against MUS 
MALA has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and MUS
$H_{A}$: There is a difference between MALA and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against MX 
MALA has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between MALA and MX
$H_{A}$: There is a difference between MALA and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67375.0 and a p-value of 7.038131299983463e-115, _we **reject** the null hypothssis_
## Testing Results for MALA against NETH 
MALA has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and NETH
$H_{A}$: There is a difference between MALA and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against NPL 
MALA has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and NPL
$H_{A}$: There is a difference between MALA and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against POL 
MALA has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between MALA and POL
$H_{A}$: There is a difference between MALA and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2679866662714354 and a p-value of 0.02362220066319279, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60637.5 and a p-value of 0.02378124195655226, _we failed to reject the null hypothssis_
## Testing Results for MALA against PRC 
MALA has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between MALA and PRC
$H_{A}$: There is a difference between MALA and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.668271722673997 and a p-value of 0.09538428174395443, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 286527.5 and a p-value of 0.09542922356907586, _we failed to reject the null hypothssis_
## Testing Results for MALA against PRY 
MALA has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and PRY
$H_{A}$: There is a difference between MALA and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against ROC 
MALA has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between MALA and ROC
$H_{A}$: There is a difference between MALA and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 33.61075378098873 and a p-value of 4.0106807924723334e-120, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37730.0 and a p-value of 8.886482949292865e-68, _we **reject** the null hypothssis_
## Testing Results for MALA against RP 
MALA has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between MALA and RP
$H_{A}$: There is a difference between MALA and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.88759162459786 and a p-value of 2.9658118322713236e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 134382.5 and a p-value of 4.89087326756892e-25, _we **reject** the null hypothssis_
## Testing Results for MALA against SAFR 
MALA has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between MALA and SAFR
$H_{A}$: There is a difference between MALA and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.188903547321169 and a p-value of 3.4940316307256104e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17517.5 and a p-value of 4.162603426738017e-05, _we **reject** the null hypothssis_
## Testing Results for MALA against SAUD 
MALA has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and SAUD
$H_{A}$: There is a difference between MALA and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against SING 
MALA has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and SING
$H_{A}$: There is a difference between MALA and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against SKOR 
MALA has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between MALA and SKOR
$H_{A}$: There is a difference between MALA and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.703900147971517 and a p-value of 3.884398053497724e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7962.5 and a p-value of 5.498979891480353e-06, _we **reject** the null hypothssis_
## Testing Results for MALA against SPN 
MALA has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and SPN
$H_{A}$: There is a difference between MALA and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against SVN 
MALA has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between MALA and SVN
$H_{A}$: There is a difference between MALA and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.393737399650038 and a p-value of 0.01723570581793227, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10902.5 and a p-value of 0.017693781530674652, _we failed to reject the null hypothssis_
## Testing Results for MALA against SWTZ 
MALA has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and SWTZ
$H_{A}$: There is a difference between MALA and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against TBD 
MALA has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between MALA and TBD
$H_{A}$: There is a difference between MALA and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5806838333690254 and a p-value of 0.11444595356438261, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48877.5 and a p-value of 0.11474432628624993, _we failed to reject the null hypothssis_
## Testing Results for MALA against THAI 
MALA has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between MALA and THAI
$H_{A}$: There is a difference between MALA and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7139173734214994 and a p-value of 0.08729786988918681, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20825.0 and a p-value of 0.08793141344280825, _we failed to reject the null hypothssis_
## Testing Results for MALA against TURK 
MALA has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between MALA and TURK
$H_{A}$: There is a difference between MALA and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9614525305539612 and a p-value of 0.33678208702224655, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32585.0 and a p-value of 0.33826482196795027, _we failed to reject the null hypothssis_
## Testing Results for MALA against UAE 
MALA has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between MALA and UAE
$H_{A}$: There is a difference between MALA and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MALA against UK 
MALA has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between MALA and UK
$H_{A}$: There is a difference between MALA and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7103361220089028 and a p-value of 0.08748856241379507, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 104860.0 and a p-value of 0.0876121920101048, _we failed to reject the null hypothssis_
## Testing Results for MALA against UKR 
MALA has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between MALA and UKR
$H_{A}$: There is a difference between MALA and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1418247595668465 and a p-value of 0.0326769352586606, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33810.0 and a p-value of 0.03295251901681143, _we failed to reject the null hypothssis_
## Testing Results for MALA against US 
MALA has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between MALA and US
$H_{A}$: There is a difference between MALA and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.649730965975397 and a p-value of 3.3954800614448925e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 755947.5 and a p-value of 3.456267724596002e-06, _we **reject** the null hypothssis_
