# Testing Results For MUS 
$H_{0}$: There is not a difference in collection success against MUS 
$H_{A}$: There is a difference in collection success against MUS
Out of 54 tests, there were 5 rejections from 54 independent-t test.
Out of 54 tests, there were 5 rejections from 54 Man Whitney u-tests.
## Testing Results for MUS against ALG 
MUS has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and ALG
$H_{A}$: There is a difference between MUS and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ARGN 
MUS has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and ARGN
$H_{A}$: There is a difference between MUS and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ASRA 
MUS has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and ASRA
$H_{A}$: There is a difference between MUS and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against AUS 
MUS has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between MUS and AUS
$H_{A}$: There is a difference between MUS and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4915829988157916 and a p-value of 0.0005513438829120776, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5725.5 and a p-value of 0.00060842141450582, _we **reject** the null hypothssis_
## Testing Results for MUS against BEL 
MUS has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between MUS and BEL
$H_{A}$: There is a difference between MUS and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0280122109289165 and a p-value of 0.04367780730588842, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3778.5 and a p-value of 0.0441963365491263, _we failed to reject the null hypothssis_
## Testing Results for MUS against BRAZ 
MUS has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and BRAZ
$H_{A}$: There is a difference between MUS and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against CA 
MUS has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and CA
$H_{A}$: There is a difference between MUS and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against CIS 
MUS has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between MUS and CIS
$H_{A}$: There is a difference between MUS and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5278054544417685 and a p-value of 0.011700197685361438, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12622.5 and a p-value of 0.011826578184862414, _we failed to reject the null hypothssis_
## Testing Results for MUS against COL 
MUS has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and COL
$H_{A}$: There is a difference between MUS and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against DEN 
MUS has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and DEN
$H_{A}$: There is a difference between MUS and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ESA 
MUS has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between MUS and ESA
$H_{A}$: There is a difference between MUS and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7908756084253792 and a p-value of 0.43038357252405646, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1782.0 and a p-value of 0.4354192983265174, _we failed to reject the null hypothssis_
## Testing Results for MUS against EST 
MUS has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between MUS and EST
$H_{A}$: There is a difference between MUS and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9071777934886567 and a p-value of 0.367381502062779, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 676.5 and a p-value of 0.3784417724583138, _we failed to reject the null hypothssis_
## Testing Results for MUS against EUME 
MUS has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and EUME
$H_{A}$: There is a difference between MUS and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against FIN 
MUS has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and FIN
$H_{A}$: There is a difference between MUS and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against FR 
MUS has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between MUS and FR
$H_{A}$: There is a difference between MUS and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8231205024531416 and a p-value of 0.06884619201343613, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9025.5 and a p-value of 0.06907011726367177, _we failed to reject the null hypothssis_
## Testing Results for MUS against GER 
MUS has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between MUS and GER
$H_{A}$: There is a difference between MUS and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8883801881544999 and a p-value of 0.37442754737871964, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39006.0 and a p-value of 0.3745829164518397, _we failed to reject the null hypothssis_
## Testing Results for MUS against GUAT 
MUS has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between MUS and GUAT
$H_{A}$: There is a difference between MUS and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9900495037128096 and a p-value of 0.32456355208005294, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1155.0 and a p-value of 0.32948818711618977, _we failed to reject the null hypothssis_
## Testing Results for MUS against HUN 
MUS has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and HUN
$H_{A}$: There is a difference between MUS and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against IND 
MUS has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between MUS and IND
$H_{A}$: There is a difference between MUS and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.0002485728776007 and a p-value of 0.31774375744807065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6897.0 and a p-value of 0.3184141208534227, _we failed to reject the null hypothssis_
## Testing Results for MUS against INDO 
MUS has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and INDO
$H_{A}$: There is a difference between MUS and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against IRAN 
MUS has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and IRAN
$H_{A}$: There is a difference between MUS and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against IRAQ 
MUS has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and IRAQ
$H_{A}$: There is a difference between MUS and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ISRA 
MUS has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and ISRA
$H_{A}$: There is a difference between MUS and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ISS 
MUS has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and ISS
$H_{A}$: There is a difference between MUS and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against IT 
MUS has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between MUS and IT
$H_{A}$: There is a difference between MUS and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6721263864552194 and a p-value of 0.09482834461561179, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16368.0 and a p-value of 0.09494939406769393, _we failed to reject the null hypothssis_
## Testing Results for MUS against JPN 
MUS has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between MUS and JPN
$H_{A}$: There is a difference between MUS and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.668328356019491 and a p-value of 3.586172295760056e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16912.5 and a p-value of 4.1113857352621285e-06, _we **reject** the null hypothssis_
## Testing Results for MUS against KAZ 
MUS has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between MUS and KAZ
$H_{A}$: There is a difference between MUS and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.602707071431459 and a p-value of 0.5473447183541296, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3036.0 and a p-value of 0.5522043576951969, _we failed to reject the null hypothssis_
## Testing Results for MUS against KWT 
MUS has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and KWT
$H_{A}$: There is a difference between MUS and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against LKA 
MUS has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and LKA
$H_{A}$: There is a difference between MUS and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against LTU 
MUS has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between MUS and LTU
$H_{A}$: There is a difference between MUS and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7216936777247164 and a p-value of 0.4709633042691296, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5362.5 and a p-value of 0.47287537186442696, _we failed to reject the null hypothssis_
## Testing Results for MUS against MALA 
MUS has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and MALA
$H_{A}$: There is a difference between MUS and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against MEX 
MUS has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and MEX
$H_{A}$: There is a difference between MUS and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against MX 
MUS has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between MUS and MX
$H_{A}$: There is a difference between MUS and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9075.0 and a p-value of 1.0174268121120543e-68, _we **reject** the null hypothssis_
## Testing Results for MUS against NETH 
MUS has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and NETH
$H_{A}$: There is a difference between MUS and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against NPL 
MUS has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and NPL
$H_{A}$: There is a difference between MUS and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against POL 
MUS has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between MUS and POL
$H_{A}$: There is a difference between MUS and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.831898107027246 and a p-value of 0.40585127739452254, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8167.5 and a p-value of 0.40675122270837905, _we failed to reject the null hypothssis_
## Testing Results for MUS against PRC 
MUS has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between MUS and PRC
$H_{A}$: There is a difference between MUS and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6122451611772807 and a p-value of 0.5404349505772564, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38593.5 and a p-value of 0.540793755922965, _we failed to reject the null hypothssis_
## Testing Results for MUS against PRY 
MUS has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and PRY
$H_{A}$: There is a difference between MUS and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against ROC 
MUS has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between MUS and ROC
$H_{A}$: There is a difference between MUS and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.303907453076093 and a p-value of 2.854122378187566e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5082.0 and a p-value of 1.356856268162305e-20, _we **reject** the null hypothssis_
## Testing Results for MUS against RP 
MUS has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between MUS and RP
$H_{A}$: There is a difference between MUS and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.994897793909571 and a p-value of 7.027606547039255e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18100.5 and a p-value of 7.491330567271032e-05, _we **reject** the null hypothssis_
## Testing Results for MUS against SAFR 
MUS has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between MUS and SAFR
$H_{A}$: There is a difference between MUS and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5321700004175902 and a p-value of 0.12739557295871942, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2359.5 and a p-value of 0.12829730296197658, _we failed to reject the null hypothssis_
## Testing Results for MUS against SAUD 
MUS has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and SAUD
$H_{A}$: There is a difference between MUS and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against SING 
MUS has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and SING
$H_{A}$: There is a difference between MUS and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against SKOR 
MUS has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between MUS and SKOR
$H_{A}$: There is a difference between MUS and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7133253838567106 and a p-value of 0.0900576253400267, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1072.5 and a p-value of 0.09192950278350612, _we failed to reject the null hypothssis_
## Testing Results for MUS against SPN 
MUS has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and SPN
$H_{A}$: There is a difference between MUS and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against SVN 
MUS has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between MUS and SVN
$H_{A}$: There is a difference between MUS and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8738017004816959 and a p-value of 0.384001101284983, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1468.5 and a p-value of 0.38900754131489157, _we failed to reject the null hypothssis_
## Testing Results for MUS against SWTZ 
MUS has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and SWTZ
$H_{A}$: There is a difference between MUS and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against TBD 
MUS has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between MUS and TBD
$H_{A}$: There is a difference between MUS and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5796709040108572 and a p-value of 0.5624429960171715, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6583.5 and a p-value of 0.5647995483387123, _we failed to reject the null hypothssis_
## Testing Results for MUS against THAI 
MUS has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between MUS and THAI
$H_{A}$: There is a difference between MUS and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.627402772106021 and a p-value of 0.5311144702974845, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2805.0 and a p-value of 0.5360247440806823, _we failed to reject the null hypothssis_
## Testing Results for MUS against TURK 
MUS has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between MUS and TURK
$H_{A}$: There is a difference between MUS and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.3523649724724399 and a p-value of 0.7248153199335867, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4389.0 and a p-value of 0.7322062752678475, _we failed to reject the null hypothssis_
## Testing Results for MUS against UAE 
MUS has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between MUS and UAE
$H_{A}$: There is a difference between MUS and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for MUS against UK 
MUS has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between MUS and UK
$H_{A}$: There is a difference between MUS and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6275656876326778 and a p-value of 0.5304518516997332, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14124.0 and a p-value of 0.5313936136534774, _we failed to reject the null hypothssis_
## Testing Results for MUS against UKR 
MUS has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between MUS and UKR
$H_{A}$: There is a difference between MUS and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7849967043755589 and a p-value of 0.4330708654367835, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4554.0 and a p-value of 0.4349591094310171, _we failed to reject the null hypothssis_
## Testing Results for MUS against US 
MUS has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between MUS and US
$H_{A}$: There is a difference between MUS and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.7064715733032763 and a p-value of 0.08797441515442472, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 101821.5 and a p-value of 0.08799397597792118, _we failed to reject the null hypothssis_
