# Testing Results For MX 
$H_{0}$: There is not a difference in collection success against MX 
$H_{A}$: There is a difference in collection success against MX
Out of 54 tests, there were 54 rejections from 54 independent-t test.
Out of 54 tests, there were 54 rejections from 54 Man Whitney u-tests.
## Testing Results for MX against ALG 
MX has a success rate of 0.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between MX and ALG
$H_{A}$: There is a difference between MX and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.1495297348769757e-82, _we **reject** the null hypothssis_
## Testing Results for MX against ARGN 
MX has a success rate of 0.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and ARGN
$H_{A}$: There is a difference between MX and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.351082252028207e-153, _we **reject** the null hypothssis_
## Testing Results for MX against ASRA 
MX has a success rate of 0.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between MX and ASRA
$H_{A}$: There is a difference between MX and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 5.698824334350421e-121, _we **reject** the null hypothssis_
## Testing Results for MX against AUS 
MX has a success rate of 0.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between MX and AUS
$H_{A}$: There is a difference between MX and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -27.14457631422442 and a p-value of 2.379953621595112e-103, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10175.0 and a p-value of 2.692390562678476e-70, _we **reject** the null hypothssis_
## Testing Results for MX against BEL 
MX has a success rate of 0.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between MX and BEL
$H_{A}$: There is a difference between MX and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -46.679177203335186 and a p-value of 2.3230856441646413e-180, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3162.5 and a p-value of 1.4453306609195273e-87, _we **reject** the null hypothssis_
## Testing Results for MX against BRAZ 
MX has a success rate of 0.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between MX and BRAZ
$H_{A}$: There is a difference between MX and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 5.478295946690201e-156, _we **reject** the null hypothssis_
## Testing Results for MX against CA 
MX has a success rate of 0.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between MX and CA
$H_{A}$: There is a difference between MX and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 2.8732646536845675e-112, _we **reject** the null hypothssis_
## Testing Results for MX against CIS 
MX has a success rate of 0.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between MX and CIS
$H_{A}$: There is a difference between MX and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -37.591034371403495 and a p-value of 7.085160709438379e-189, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14712.5 and a p-value of 3.3608708091069107e-124, _we **reject** the null hypothssis_
## Testing Results for MX against COL 
MX has a success rate of 0.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between MX and COL
$H_{A}$: There is a difference between MX and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 7.989203749113129e-75, _we **reject** the null hypothssis_
## Testing Results for MX against DEN 
MX has a success rate of 0.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and DEN
$H_{A}$: There is a difference between MX and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 3.274107506789952e-99, _we **reject** the null hypothssis_
## Testing Results for MX against ESA 
MX has a success rate of 0.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between MX and ESA
$H_{A}$: There is a difference between MX and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -119.26832933852184 and a p-value of 1.2679519093007707e-302, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275.0 and a p-value of 1.7689811074314e-82, _we **reject** the null hypothssis_
## Testing Results for MX against EST 
MX has a success rate of 0.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between MX and EST
$H_{A}$: There is a difference between MX and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -103.2322854629537 and a p-value of 8.336967274410165e-244, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 137.5 and a p-value of 2.703841039648997e-68, _we **reject** the null hypothssis_
## Testing Results for MX against EUME 
MX has a success rate of 0.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between MX and EUME
$H_{A}$: There is a difference between MX and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 3.284681836316045e-181, _we **reject** the null hypothssis_
## Testing Results for MX against FIN 
MX has a success rate of 0.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and FIN
$H_{A}$: There is a difference between MX and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 6.047344214976185e-158, _we **reject** the null hypothssis_
## Testing Results for MX against FR 
MX has a success rate of 0.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between MX and FR
$H_{A}$: There is a difference between MX and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -52.08740832706491 and a p-value of 3.3180938132672336e-255, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6325.0 and a p-value of 3.781689454889101e-133, _we **reject** the null hypothssis_
## Testing Results for MX against GER 
MX has a success rate of 0.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between MX and GER
$H_{A}$: There is a difference between MX and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -107.14476188783101 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7425.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for MX against GUAT 
MX has a success rate of 0.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between MX and GUAT
$H_{A}$: There is a difference between MX and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -94.98465427691443 and a p-value of 2.243593349383163e-247, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275.0 and a p-value of 1.2300063059262821e-73, _we **reject** the null hypothssis_
## Testing Results for MX against HUN 
MX has a success rate of 0.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and HUN
$H_{A}$: There is a difference between MX and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 4.6564152824144847e-122, _we **reject** the null hypothssis_
## Testing Results for MX against IND 
MX has a success rate of 0.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between MX and IND
$H_{A}$: There is a difference between MX and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -94.88229176331812 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1650.0 and a p-value of 1.5812684411901625e-139, _we **reject** the null hypothssis_
## Testing Results for MX against INDO 
MX has a success rate of 0.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between MX and INDO
$H_{A}$: There is a difference between MX and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 2.0926161673468197e-121, _we **reject** the null hypothssis_
## Testing Results for MX against IRAN 
MX has a success rate of 0.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and IRAN
$H_{A}$: There is a difference between MX and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 3.163552678919505e-114, _we **reject** the null hypothssis_
## Testing Results for MX against IRAQ 
MX has a success rate of 0.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between MX and IRAQ
$H_{A}$: There is a difference between MX and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.260774570507784e-84, _we **reject** the null hypothssis_
## Testing Results for MX against ISRA 
MX has a success rate of 0.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between MX and ISRA
$H_{A}$: There is a difference between MX and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.3564153500241632e-148, _we **reject** the null hypothssis_
## Testing Results for MX against ISS 
MX has a success rate of 0.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between MX and ISS
$H_{A}$: There is a difference between MX and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.3056404663006738e-106, _we **reject** the null hypothssis_
## Testing Results for MX against IT 
MX has a success rate of 0.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between MX and IT
$H_{A}$: There is a difference between MX and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -56.863592520582216 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9900.0 and a p-value of 1.0893350718612484e-191, _we **reject** the null hypothssis_
## Testing Results for MX against JPN 
MX has a success rate of 0.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between MX and JPN
$H_{A}$: There is a difference between MX and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.35930461107587 and a p-value of 1.975129682013474e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40150.0 and a p-value of 7.252972225471494e-66, _we **reject** the null hypothssis_
## Testing Results for MX against KAZ 
MX has a success rate of 0.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between MX and KAZ
$H_{A}$: There is a difference between MX and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -156.97670177937783 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275.0 and a p-value of 2.267079045700257e-99, _we **reject** the null hypothssis_
## Testing Results for MX against KWT 
MX has a success rate of 0.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between MX and KWT
$H_{A}$: There is a difference between MX and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 3.022943277883177e-92, _we **reject** the null hypothssis_
## Testing Results for MX against LKA 
MX has a success rate of 0.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between MX and LKA
$H_{A}$: There is a difference between MX and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.2915919409698259e-111, _we **reject** the null hypothssis_
## Testing Results for MX against LTU 
MX has a success rate of 0.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between MX and LTU
$H_{A}$: There is a difference between MX and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -131.40306201105952 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 687.5 and a p-value of 6.633910714340253e-127, _we **reject** the null hypothssis_
## Testing Results for MX against MALA 
MX has a success rate of 0.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between MX and MALA
$H_{A}$: There is a difference between MX and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 7.038131299983463e-115, _we **reject** the null hypothssis_
## Testing Results for MX against MEX 
MX has a success rate of 0.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between MX and MEX
$H_{A}$: There is a difference between MX and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 6.332016314368058e-118, _we **reject** the null hypothssis_
## Testing Results for MX against MUS 
MX has a success rate of 0.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between MX and MUS
$H_{A}$: There is a difference between MX and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.0174268121120543e-68, _we **reject** the null hypothssis_
## Testing Results for MX against NETH 
MX has a success rate of 0.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between MX and NETH
$H_{A}$: There is a difference between MX and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.7098717507583907e-122, _we **reject** the null hypothssis_
## Testing Results for MX against NPL 
MX has a success rate of 0.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between MX and NPL
$H_{A}$: There is a difference between MX and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 3.1960428104278462e-109, _we **reject** the null hypothssis_
## Testing Results for MX against POL 
MX has a success rate of 0.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between MX and POL
$H_{A}$: There is a difference between MX and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -114.14081215761517 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1375.0 and a p-value of 5.2857643001394525e-158, _we **reject** the null hypothssis_
## Testing Results for MX against PRC 
MX has a success rate of 0.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between MX and PRC
$H_{A}$: There is a difference between MX and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -155.4693846086377 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3575.0 and a p-value of 0.0, _we **reject** the null hypothssis_
## Testing Results for MX against PRY 
MX has a success rate of 0.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between MX and PRY
$H_{A}$: There is a difference between MX and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.7733867789959026e-75, _we **reject** the null hypothssis_
## Testing Results for MX against ROC 
MX has a success rate of 0.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between MX and ROC
$H_{A}$: There is a difference between MX and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.686687472571761 and a p-value of 9.863628483045417e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19112.5 and a p-value of 4.953177101872486e-13, _we **reject** the null hypothssis_
## Testing Results for MX against RP 
MX has a success rate of 0.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between MX and RP
$H_{A}$: There is a difference between MX and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -23.79674778936275 and a p-value of 2.6216858678185888e-101, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37125.0 and a p-value of 2.3149371905182033e-83, _we **reject** the null hypothssis_
## Testing Results for MX against SAFR 
MX has a success rate of 0.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between MX and SAFR
$H_{A}$: There is a difference between MX and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -61.65036459337496 and a p-value of 1.5024079000696876e-208, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1237.5 and a p-value of 3.941458670802188e-82, _we **reject** the null hypothssis_
## Testing Results for MX against SAUD 
MX has a success rate of 0.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between MX and SAUD
$H_{A}$: There is a difference between MX and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 1.8621240117844369e-87, _we **reject** the null hypothssis_
## Testing Results for MX against SING 
MX has a success rate of 0.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between MX and SING
$H_{A}$: There is a difference between MX and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 6.633064447509941e-220, _we **reject** the null hypothssis_
## Testing Results for MX against SKOR 
MX has a success rate of 0.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between MX and SKOR
$H_{A}$: There is a difference between MX and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -54.83557511786908 and a p-value of 8.861884449209984e-169, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 687.5 and a p-value of 2.3662337295937662e-67, _we **reject** the null hypothssis_
## Testing Results for MX against SPN 
MX has a success rate of 0.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between MX and SPN
$H_{A}$: There is a difference between MX and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 5.985425752907972e-208, _we **reject** the null hypothssis_
## Testing Results for MX against SVN 
MX has a success rate of 0.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between MX and SVN
$H_{A}$: There is a difference between MX and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -107.80968498606966 and a p-value of 4.19944386882422e-276, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275.0 and a p-value of 3.981105380303524e-78, _we **reject** the null hypothssis_
## Testing Results for MX against SWTZ 
MX has a success rate of 0.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between MX and SWTZ
$H_{A}$: There is a difference between MX and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 9.11087186146699e-146, _we **reject** the null hypothssis_
## Testing Results for MX against TBD 
MX has a success rate of 0.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between MX and TBD
$H_{A}$: There is a difference between MX and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -163.7101324374474 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 550.0 and a p-value of 5.725384209875763e-144, _we **reject** the null hypothssis_
## Testing Results for MX against THAI 
MX has a success rate of 0.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between MX and THAI
$H_{A}$: There is a difference between MX and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -150.73802637668044 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 275.0 and a p-value of 2.7215039729638412e-96, _we **reject** the null hypothssis_
## Testing Results for MX against TURK 
MX has a success rate of 0.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between MX and TURK
$H_{A}$: There is a difference between MX and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -268.9444387064197 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 137.5 and a p-value of 2.3010497728235927e-118, _we **reject** the null hypothssis_
## Testing Results for MX against UAE 
MX has a success rate of 0.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between MX and UAE
$H_{A}$: There is a difference between MX and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 0.0 and a p-value of 8.986305741845476e-166, _we **reject** the null hypothssis_
## Testing Results for MX against UK 
MX has a success rate of 0.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between MX and UK
$H_{A}$: There is a difference between MX and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -151.4892176058991 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1375.0 and a p-value of 3.1029310302819777e-234, _we **reject** the null hypothssis_
## Testing Results for MX against UKR 
MX has a success rate of 0.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between MX and UKR
$H_{A}$: There is a difference between MX and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -120.73280522049615 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 687.5 and a p-value of 2.861298181318677e-116, _we **reject** the null hypothssis_
## Testing Results for MX against US 
MX has a success rate of 0.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between MX and US
$H_{A}$: There is a difference between MX and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -55.80537070965824 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63662.5 and a p-value of 0.0, _we **reject** the null hypothssis_
