# Testing Results For NPL 
$H_{0}$: There is not a difference in collection success against NPL 
$H_{A}$: There is a difference in collection success against NPL
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for NPL against ALG 
NPL has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and ALG
$H_{A}$: There is a difference between NPL and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ARGN 
NPL has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and ARGN
$H_{A}$: There is a difference between NPL and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ASRA 
NPL has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and ASRA
$H_{A}$: There is a difference between NPL and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against AUS 
NPL has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between NPL and AUS
$H_{A}$: There is a difference between NPL and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.005894761676352 and a p-value of 4.76090319663256e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37996.5 and a p-value of 6.830827099620306e-17, _we **reject** the null hypothssis_
## Testing Results for NPL against BEL 
NPL has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between NPL and BEL
$H_{A}$: There is a difference between NPL and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.234029296900239 and a p-value of 2.617302202489147e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25075.5 and a p-value of 3.827605059889533e-07, _we **reject** the null hypothssis_
## Testing Results for NPL against BRAZ 
NPL has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and BRAZ
$H_{A}$: There is a difference between NPL and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against CA 
NPL has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and CA
$H_{A}$: There is a difference between NPL and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against CIS 
NPL has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between NPL and CIS
$H_{A}$: There is a difference between NPL and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.513919342206418 and a p-value of 1.2336994780028107e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 83767.5 and a p-value of 1.9546233252572448e-10, _we **reject** the null hypothssis_
## Testing Results for NPL against COL 
NPL has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and COL
$H_{A}$: There is a difference between NPL and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against DEN 
NPL has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and DEN
$H_{A}$: There is a difference between NPL and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ESA 
NPL has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between NPL and ESA
$H_{A}$: There is a difference between NPL and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0458791024337555 and a p-value of 0.04157782218774245, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11826.0 and a p-value of 0.04222996561495807, _we failed to reject the null hypothssis_
## Testing Results for NPL against EST 
NPL has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between NPL and EST
$H_{A}$: There is a difference between NPL and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.360513200984604 and a p-value of 0.018997093387885227, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4489.5 and a p-value of 0.019849137724043796, _we failed to reject the null hypothssis_
## Testing Results for NPL against EUME 
NPL has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and EUME
$H_{A}$: There is a difference between NPL and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against FIN 
NPL has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and FIN
$H_{A}$: There is a difference between NPL and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against FR 
NPL has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between NPL and FR
$H_{A}$: There is a difference between NPL and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.698846401954155 and a p-value of 3.13618566170377e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59896.5 and a p-value of 3.639279841474819e-06, _we **reject** the null hypothssis_
## Testing Results for NPL against GER 
NPL has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between NPL and GER
$H_{A}$: There is a difference between NPL and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2886405894568838 and a p-value of 0.022182418476490204, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 258858.0 and a p-value of 0.02222319376119173, _we failed to reject the null hypothssis_
## Testing Results for NPL against GUAT 
NPL has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between NPL and GUAT
$H_{A}$: There is a difference between NPL and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5671223577915603 and a p-value of 0.010765137745299252, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7665.0 and a p-value of 0.011193752528234424, _we failed to reject the null hypothssis_
## Testing Results for NPL against HUN 
NPL has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and HUN
$H_{A}$: There is a difference between NPL and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against IND 
NPL has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between NPL and IND
$H_{A}$: There is a difference between NPL and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.57850859975001 and a p-value of 0.010151145532051318, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45771.0 and a p-value of 0.010289673714972943, _we failed to reject the null hypothssis_
## Testing Results for NPL against INDO 
NPL has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and INDO
$H_{A}$: There is a difference between NPL and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against IRAN 
NPL has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and IRAN
$H_{A}$: There is a difference between NPL and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against IRAQ 
NPL has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and IRAQ
$H_{A}$: There is a difference between NPL and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ISRA 
NPL has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and ISRA
$H_{A}$: There is a difference between NPL and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ISS 
NPL has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and ISS
$H_{A}$: There is a difference between NPL and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against IT 
NPL has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between NPL and IT
$H_{A}$: There is a difference between NPL and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.308327904602467 and a p-value of 1.7870844591224415e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 108624.0 and a p-value of 1.9097141411319686e-05, _we **reject** the null hypothssis_
## Testing Results for NPL against JPN 
NPL has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between NPL and JPN
$H_{A}$: There is a difference between NPL and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.029221362204542 and a p-value of 4.0045381336919955e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112237.5 and a p-value of 3.571057350207017e-29, _we **reject** the null hypothssis_
## Testing Results for NPL against KAZ 
NPL has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between NPL and KAZ
$H_{A}$: There is a difference between NPL and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5560196038229337 and a p-value of 0.12049623069796167, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20148.0 and a p-value of 0.12120959447869296, _we failed to reject the null hypothssis_
## Testing Results for NPL against KWT 
NPL has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and KWT
$H_{A}$: There is a difference between NPL and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against LKA 
NPL has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and LKA
$H_{A}$: There is a difference between NPL and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against LTU 
NPL has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between NPL and LTU
$H_{A}$: There is a difference between NPL and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.860992157487663 and a p-value of 0.06329156170337964, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35587.5 and a p-value of 0.06358898761653313, _we failed to reject the null hypothssis_
## Testing Results for NPL against MALA 
NPL has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and MALA
$H_{A}$: There is a difference between NPL and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against MEX 
NPL has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and MEX
$H_{A}$: There is a difference between NPL and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against MUS 
NPL has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and MUS
$H_{A}$: There is a difference between NPL and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against MX 
NPL has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between NPL and MX
$H_{A}$: There is a difference between NPL and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60225.0 and a p-value of 3.1960428104278462e-109, _we **reject** the null hypothssis_
## Testing Results for NPL against NETH 
NPL has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and NETH
$H_{A}$: There is a difference between NPL and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against POL 
NPL has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between NPL and POL
$H_{A}$: There is a difference between NPL and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.144161428079772 and a p-value of 0.03236272934638592, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54202.5 and a p-value of 0.03253949857807056, _we failed to reject the null hypothssis_
## Testing Results for NPL against PRC 
NPL has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between NPL and PRC
$H_{A}$: There is a difference between NPL and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5772627944950106 and a p-value of 0.11486008799867767, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 256120.5 and a p-value of 0.11490543598844635, _we failed to reject the null hypothssis_
## Testing Results for NPL against PRY 
NPL has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and PRY
$H_{A}$: There is a difference between NPL and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against ROC 
NPL has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between NPL and ROC
$H_{A}$: There is a difference between NPL and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 31.772151133167963 and a p-value of 9.090106255837726e-110, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33726.0 and a p-value of 7.762982646045642e-63, _we **reject** the null hypothssis_
## Testing Results for NPL against RP 
NPL has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between NPL and RP
$H_{A}$: There is a difference between NPL and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.293445015207906 and a p-value of 9.829312473826744e-24, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 120121.5 and a p-value of 9.966358940619348e-23, _we **reject** the null hypothssis_
## Testing Results for NPL against SAFR 
NPL has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between NPL and SAFR
$H_{A}$: There is a difference between NPL and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.9596291353507334 and a p-value of 9.090316584599067e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15658.5 and a p-value of 0.00010549344817318517, _we **reject** the null hypothssis_
## Testing Results for NPL against SAUD 
NPL has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and SAUD
$H_{A}$: There is a difference between NPL and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against SING 
NPL has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and SING
$H_{A}$: There is a difference between NPL and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against SKOR 
NPL has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between NPL and SKOR
$H_{A}$: There is a difference between NPL and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.445938979735857 and a p-value of 1.2675600440801198e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7117.5 and a p-value of 1.714608723691218e-05, _we **reject** the null hypothssis_
## Testing Results for NPL against SPN 
NPL has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and SPN
$H_{A}$: There is a difference between NPL and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against SVN 
NPL has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between NPL and SVN
$H_{A}$: There is a difference between NPL and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2625785781660697 and a p-value of 0.024367197765474448, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9745.5 and a p-value of 0.02494060044807081, _we failed to reject the null hypothssis_
## Testing Results for NPL against SWTZ 
NPL has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and SWTZ
$H_{A}$: There is a difference between NPL and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against TBD 
NPL has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between NPL and TBD
$H_{A}$: There is a difference between NPL and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4943598821236772 and a p-value of 0.1355969844580884, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43690.5 and a p-value of 0.1359208206096236, _we failed to reject the null hypothssis_
## Testing Results for NPL against THAI 
NPL has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between NPL and THAI
$H_{A}$: There is a difference between NPL and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.620159954375553 and a p-value of 0.10601666816048948, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18615.0 and a p-value of 0.10672945058799876, _we failed to reject the null hypothssis_
## Testing Results for NPL against TURK 
NPL has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between NPL and TURK
$H_{A}$: There is a difference between NPL and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.908910105987573 and a p-value of 0.3638518167190201, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29127.0 and a p-value of 0.36550632188617826, _we failed to reject the null hypothssis_
## Testing Results for NPL against UAE 
NPL has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between NPL and UAE
$H_{A}$: There is a difference between NPL and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for NPL against UK 
NPL has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between NPL and UK
$H_{A}$: There is a difference between NPL and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6170027074539728 and a p-value of 0.10617438892544877, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93732.0 and a p-value of 0.10630217483132895, _we failed to reject the null hypothssis_
## Testing Results for NPL against UKR 
NPL has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between NPL and UKR
$H_{A}$: There is a difference between NPL and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0247812582542832 and a p-value of 0.043433847295590765, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30222.0 and a p-value of 0.04374240684830853, _we failed to reject the null hypothssis_
## Testing Results for NPL against US 
NPL has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between NPL and US
$H_{A}$: There is a difference between NPL and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.396089446772757 and a p-value of 1.1214447943282947e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 675724.5 and a p-value of 1.1373459888228605e-05, _we **reject** the null hypothssis_
