# Testing Results For POL 
$H_{0}$: There is not a difference in collection success against POL 
$H_{A}$: There is a difference in collection success against POL
Out of 54 tests, there were 10 rejections from 54 independent-t test.
Out of 54 tests, there were 13 rejections from 54 Man Whitney u-tests.
## Testing Results for POL against ALG 
POL has a success rate of 0.979381443298969
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between POL and ALG
$H_{A}$: There is a difference between POL and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23037.5 and a p-value of 0.154496682859654, _we failed to reject the null hypothssis_
## Testing Results for POL against ARGN 
POL has a success rate of 0.979381443298969
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and ARGN
$H_{A}$: There is a difference between POL and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100462.5 and a p-value of 0.0030042332117394275, _we failed to reject the null hypothssis_
## Testing Results for POL against ASRA 
POL has a success rate of 0.979381443298969
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between POL and ASRA
$H_{A}$: There is a difference between POL and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64837.5 and a p-value of 0.017038338412770793, _we failed to reject the null hypothssis_
## Testing Results for POL against AUS 
POL has a success rate of 0.979381443298969
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between POL and AUS
$H_{A}$: There is a difference between POL and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.399844458751762 and a p-value of 6.845919599123987e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 82782.5 and a p-value of 5.8170732876011e-26, _we **reject** the null hypothssis_
## Testing Results for POL against BEL 
POL has a success rate of 0.979381443298969
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between POL and BEL
$H_{A}$: There is a difference between POL and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.226121789660743 and a p-value of 2.2969747432747463e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54502.5 and a p-value of 2.917900429423482e-07, _we **reject** the null hypothssis_
## Testing Results for POL against BRAZ 
POL has a success rate of 0.979381443298969
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between POL and BRAZ
$H_{A}$: There is a difference between POL and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103075.0 and a p-value of 0.002651652149307911, _we failed to reject the null hypothssis_
## Testing Results for POL against CA 
POL has a success rate of 0.979381443298969
CA has a success rate of 1.0
$H_{0}$: There is not a difference between POL and CA
$H_{A}$: There is a difference between POL and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55337.5 and a p-value of 0.027470125295308217, _we failed to reject the null hypothssis_
## Testing Results for POL against CIS 
POL has a success rate of 0.979381443298969
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between POL and CIS
$H_{A}$: There is a difference between POL and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.03891677010047 and a p-value of 2.2500132661085565e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 182222.5 and a p-value of 5.127213926555141e-15, _we **reject** the null hypothssis_
## Testing Results for POL against COL 
POL has a success rate of 0.979381443298969
COL has a success rate of 1.0
$H_{0}$: There is not a difference between POL and COL
$H_{A}$: There is a difference between POL and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14487.5 and a p-value of 0.2588940829536437, _we failed to reject the null hypothssis_
## Testing Results for POL against DEN 
POL has a success rate of 0.979381443298969
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and DEN
$H_{A}$: There is a difference between POL and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41087.5 and a p-value of 0.057351253658836074, _we failed to reject the null hypothssis_
## Testing Results for POL against ESA 
POL has a success rate of 0.979381443298969
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between POL and ESA
$H_{A}$: There is a difference between POL and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.11557166611136227 and a p-value of 0.9080314094702533, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25660.0 and a p-value of 0.9089340178089281, _we failed to reject the null hypothssis_
## Testing Results for POL against EST 
POL has a success rate of 0.979381443298969
EST has a success rate of 0.975
$H_{0}$: There is not a difference between POL and EST
$H_{A}$: There is a difference between POL and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.18561168222243243 and a p-value of 0.8528212541688028, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9742.5 and a p-value of 0.8543294237330854, _we failed to reject the null hypothssis_
## Testing Results for POL against EUME 
POL has a success rate of 0.979381443298969
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between POL and EUME
$H_{A}$: There is a difference between POL and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 130625.0 and a p-value of 0.0007204946093371954, _we **reject** the null hypothssis_
## Testing Results for POL against FIN 
POL has a success rate of 0.979381443298969
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and FIN
$H_{A}$: There is a difference between POL and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 105212.5 and a p-value of 0.0023946320390020818, _we failed to reject the null hypothssis_
## Testing Results for POL against FR 
POL has a success rate of 0.979381443298969
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between POL and FR
$H_{A}$: There is a difference between POL and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.88220257761287 and a p-value of 1.223534005293769e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 130142.5 and a p-value of 1.3909619650054006e-06, _we **reject** the null hypothssis_
## Testing Results for POL against GER 
POL has a success rate of 0.979381443298969
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between POL and GER
$H_{A}$: There is a difference between POL and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.3690428871693021 and a p-value of 0.712123731346761, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 561720.0 and a p-value of 0.712142260940974, _we failed to reject the null hypothssis_
## Testing Results for POL against GUAT 
POL has a success rate of 0.979381443298969
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between POL and GUAT
$H_{A}$: There is a difference between POL and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.46531229422398923 and a p-value of 0.6418916788332989, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16635.0 and a p-value of 0.6426210915838659, _we failed to reject the null hypothssis_
## Testing Results for POL against HUN 
POL has a success rate of 0.979381443298969
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and HUN
$H_{A}$: There is a difference between POL and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66025.0 and a p-value of 0.016059972217756173, _we failed to reject the null hypothssis_
## Testing Results for POL against IND 
POL has a success rate of 0.979381443298969
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between POL and IND
$H_{A}$: There is a difference between POL and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.855632326946844 and a p-value of 0.39243172850347363, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99335.0 and a p-value of 0.3923989783086115, _we failed to reject the null hypothssis_
## Testing Results for POL against INDO 
POL has a success rate of 0.979381443298969
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between POL and INDO
$H_{A}$: There is a difference between POL and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65312.5 and a p-value of 0.01663980615601802, _we failed to reject the null hypothssis_
## Testing Results for POL against IRAN 
POL has a success rate of 0.979381443298969
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and IRAN
$H_{A}$: There is a difference between POL and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57475.0 and a p-value of 0.024652271489768424, _we failed to reject the null hypothssis_
## Testing Results for POL against IRAQ 
POL has a success rate of 0.979381443298969
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between POL and IRAQ
$H_{A}$: There is a difference between POL and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25175.0 and a p-value of 0.1366540752645157, _we failed to reject the null hypothssis_
## Testing Results for POL against ISRA 
POL has a success rate of 0.979381443298969
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between POL and ISRA
$H_{A}$: There is a difference between POL and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95000.0 and a p-value of 0.0039036729050380336, _we failed to reject the null hypothssis_
## Testing Results for POL against ISS 
POL has a success rate of 0.979381443298969
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between POL and ISS
$H_{A}$: There is a difference between POL and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49162.5 and a p-value of 0.037662777760486106, _we failed to reject the null hypothssis_
## Testing Results for POL against IT 
POL has a success rate of 0.979381443298969
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between POL and IT
$H_{A}$: There is a difference between POL and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.40895988554487 and a p-value of 1.117870137348658e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 235960.0 and a p-value of 1.1861401311215056e-05, _we **reject** the null hypothssis_
## Testing Results for POL against JPN 
POL has a success rate of 0.979381443298969
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between POL and JPN
$H_{A}$: There is a difference between POL and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.52437182328671 and a p-value of 1.7220625400611517e-55, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 244897.5 and a p-value of 1.8464904061588245e-50, _we **reject** the null hypothssis_
## Testing Results for POL against KAZ 
POL has a success rate of 0.979381443298969
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between POL and KAZ
$H_{A}$: There is a difference between POL and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8326033596771462 and a p-value of 0.40536737154466773, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43710.0 and a p-value of 0.405513137011255, _we failed to reject the null hypothssis_
## Testing Results for POL against KWT 
POL has a success rate of 0.979381443298969
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between POL and KWT
$H_{A}$: There is a difference between POL and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33487.5 and a p-value of 0.08611653409232786, _we failed to reject the null hypothssis_
## Testing Results for POL against LKA 
POL has a success rate of 0.979381443298969
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between POL and LKA
$H_{A}$: There is a difference between POL and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 54625.0 and a p-value of 0.028482341107829483, _we failed to reject the null hypothssis_
## Testing Results for POL against LTU 
POL has a success rate of 0.979381443298969
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between POL and LTU
$H_{A}$: There is a difference between POL and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.5121832477368726 and a p-value of 0.6086636024619916, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77212.5 and a p-value of 0.6088209564541924, _we failed to reject the null hypothssis_
## Testing Results for POL against MALA 
POL has a success rate of 0.979381443298969
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between POL and MALA
$H_{A}$: There is a difference between POL and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58187.5 and a p-value of 0.02378124195655226, _we failed to reject the null hypothssis_
## Testing Results for POL against MEX 
POL has a success rate of 0.979381443298969
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between POL and MEX
$H_{A}$: There is a difference between POL and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61512.5 and a p-value of 0.020119313436145994, _we failed to reject the null hypothssis_
## Testing Results for POL against MUS 
POL has a success rate of 0.979381443298969
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between POL and MUS
$H_{A}$: There is a difference between POL and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7837.5 and a p-value of 0.40675122270837905, _we failed to reject the null hypothssis_
## Testing Results for POL against MX 
POL has a success rate of 0.979381443298969
MX has a success rate of 0.0
$H_{0}$: There is not a difference between POL and MX
$H_{A}$: There is a difference between POL and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 151.6245362729924 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132000.0 and a p-value of 5.2857643001394525e-158, _we **reject** the null hypothssis_
## Testing Results for POL against NETH 
POL has a success rate of 0.979381443298969
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between POL and NETH
$H_{A}$: There is a difference between POL and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66500.0 and a p-value of 0.015685041035181944, _we failed to reject the null hypothssis_
## Testing Results for POL against NPL 
POL has a success rate of 0.979381443298969
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between POL and NPL
$H_{A}$: There is a difference between POL and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52012.5 and a p-value of 0.03253949857807056, _we failed to reject the null hypothssis_
## Testing Results for POL against PRC 
POL has a success rate of 0.979381443298969
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between POL and PRC
$H_{A}$: There is a difference between POL and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.6663955800068597 and a p-value of 0.0957466592351153, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 555642.5 and a p-value of 0.09577155452247885, _we failed to reject the null hypothssis_
## Testing Results for POL against PRY 
POL has a success rate of 0.979381443298969
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between POL and PRY
$H_{A}$: There is a difference between POL and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15200.0 and a p-value of 0.24748730105010053, _we failed to reject the null hypothssis_
## Testing Results for POL against ROC 
POL has a success rate of 0.979381443298969
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between POL and ROC
$H_{A}$: There is a difference between POL and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 39.042796731721104 and a p-value of 8.269661304494504e-173, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73845.0 and a p-value of 1.8076652598298684e-101, _we **reject** the null hypothssis_
## Testing Results for POL against RP 
POL has a success rate of 0.979381443298969
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between POL and RP
$H_{A}$: There is a difference between POL and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.982067739827448 and a p-value of 1.6460285264406644e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 261887.5 and a p-value of 6.562101194199868e-39, _we **reject** the null hypothssis_
## Testing Results for POL against SAFR 
POL has a success rate of 0.979381443298969
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between POL and SAFR
$H_{A}$: There is a difference between POL and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.777735795829607 and a p-value of 0.005640329749783976, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34007.5 and a p-value of 0.005747460567292239, _we failed to reject the null hypothssis_
## Testing Results for POL against SAUD 
POL has a success rate of 0.979381443298969
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between POL and SAUD
$H_{A}$: There is a difference between POL and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28262.5 and a p-value of 0.11481955178959487, _we failed to reject the null hypothssis_
## Testing Results for POL against SING 
POL has a success rate of 0.979381443298969
SING has a success rate of 1.0
$H_{0}$: There is not a difference between POL and SING
$H_{A}$: There is a difference between POL and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 172900.0 and a p-value of 0.0001009715492418736, _we **reject** the null hypothssis_
## Testing Results for POL against SKOR 
POL has a success rate of 0.979381443298969
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between POL and SKOR
$H_{A}$: There is a difference between POL and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8163178629541394 and a p-value of 0.0050344091240951995, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15462.5 and a p-value of 0.005157772513306269, _we failed to reject the null hypothssis_
## Testing Results for POL against SPN 
POL has a success rate of 0.979381443298969
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between POL and SPN
$H_{A}$: There is a difference between POL and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 159837.5 and a p-value of 0.00018467531031984773, _we **reject** the null hypothssis_
## Testing Results for POL against SVN 
POL has a success rate of 0.979381443298969
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between POL and SVN
$H_{A}$: There is a difference between POL and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.14178489110636858 and a p-value of 0.8873000162626039, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21147.5 and a p-value of 0.8882747176022044, _we failed to reject the null hypothssis_
## Testing Results for POL against SWTZ 
POL has a success rate of 0.979381443298969
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between POL and SWTZ
$H_{A}$: There is a difference between POL and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 91912.5 and a p-value of 0.004528999911889755, _we failed to reject the null hypothssis_
## Testing Results for POL against TBD 
POL has a success rate of 0.979381443298969
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between POL and TBD
$H_{A}$: There is a difference between POL and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.236884012604609 and a p-value of 0.21646087527888908, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 94782.5 and a p-value of 0.21649715351749388, _we failed to reject the null hypothssis_
## Testing Results for POL against THAI 
POL has a success rate of 0.979381443298969
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between POL and THAI
$H_{A}$: There is a difference between POL and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.72389973927425 and a p-value of 0.4693873357200635, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40385.0 and a p-value of 0.46959131916945407, _we failed to reject the null hypothssis_
## Testing Results for POL against TURK 
POL has a success rate of 0.979381443298969
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between POL and TURK
$H_{A}$: There is a difference between POL and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2517699819242387 and a p-value of 0.024638463271344842, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63180.0 and a p-value of 0.06691351237135215, _we failed to reject the null hypothssis_
## Testing Results for POL against UAE 
POL has a success rate of 0.979381443298969
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between POL and UAE
$H_{A}$: There is a difference between POL and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1920955004840565 and a p-value of 0.0015043298935223694, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 113762.5 and a p-value of 0.0015951826813574443, _we failed to reject the null hypothssis_
## Testing Results for POL against UK 
POL has a success rate of 0.979381443298969
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between POL and UK
$H_{A}$: There is a difference between POL and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.2695812463960625 and a p-value of 0.2044560968660586, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 203350.0 and a p-value of 0.2044632769116972, _we failed to reject the null hypothssis_
## Testing Results for POL against UKR 
POL has a success rate of 0.979381443298969
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between POL and UKR
$H_{A}$: There is a difference between POL and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.2047539828009911 and a p-value of 0.8378196001214827, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65575.0 and a p-value of 0.8382244603547566, _we failed to reject the null hypothssis_
## Testing Results for POL against US 
POL has a success rate of 0.979381443298969
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between POL and US
$H_{A}$: There is a difference between POL and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.823959243564522 and a p-value of 1.4410550003952735e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1467927.5 and a p-value of 1.469945675309742e-06, _we **reject** the null hypothssis_
