# Testing Results For RP 
$H_{0}$: There is not a difference in collection success against RP 
$H_{A}$: There is a difference in collection success against RP
Out of 54 tests, there were 52 rejections from 54 independent-t test.
Out of 54 tests, there were 52 rejections from 54 Man Whitney u-tests.
## Testing Results for RP against ALG 
RP has a success rate of 0.6735187424425635
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between RP and ALG
$H_{A}$: There is a difference between RP and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27014.5 and a p-value of 2.3070686194280992e-11, _we **reject** the null hypothssis_
## Testing Results for RP against ARGN 
RP has a success rate of 0.6735187424425635
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and ARGN
$H_{A}$: There is a difference between RP and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117805.5 and a p-value of 3.6102221368131947e-40, _we **reject** the null hypothssis_
## Testing Results for RP against ASRA 
RP has a success rate of 0.6735187424425635
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between RP and ASRA
$H_{A}$: There is a difference between RP and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76030.5 and a p-value of 1.7228204724148085e-27, _we **reject** the null hypothssis_
## Testing Results for RP against AUS 
RP has a success rate of 0.6735187424425635
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between RP and AUS
$H_{A}$: There is a difference between RP and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.713300162630588 and a p-value of 0.08693961065231083, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 106629.5 and a p-value of 0.08695994640331006, _we failed to reject the null hypothssis_
## Testing Results for RP against BEL 
RP has a success rate of 0.6735187424425635
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between RP and BEL
$H_{A}$: There is a difference between RP and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.228497581164248 and a p-value of 6.847175187918095e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66881.5 and a p-value of 9.516242944295418e-10, _we **reject** the null hypothssis_
## Testing Results for RP against BRAZ 
RP has a success rate of 0.6735187424425635
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between RP and BRAZ
$H_{A}$: There is a difference between RP and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 120869.0 and a p-value of 4.49138061127352e-41, _we **reject** the null hypothssis_
## Testing Results for RP against CA 
RP has a success rate of 0.6735187424425635
CA has a success rate of 1.0
$H_{0}$: There is not a difference between RP and CA
$H_{A}$: There is a difference between RP and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64890.5 and a p-value of 5.6390264058107185e-24, _we **reject** the null hypothssis_
## Testing Results for RP against CIS 
RP has a success rate of 0.6735187424425635
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between RP and CIS
$H_{A}$: There is a difference between RP and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -7.331959707055086 and a p-value of 3.71475177759593e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 227497.5 and a p-value of 5.807583597568193e-13, _we **reject** the null hypothssis_
## Testing Results for RP against COL 
RP has a success rate of 0.6735187424425635
COL has a success rate of 1.0
$H_{0}$: There is not a difference between RP and COL
$H_{A}$: There is a difference between RP and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16988.5 and a p-value of 8.988075223219247e-08, _we **reject** the null hypothssis_
## Testing Results for RP against DEN 
RP has a success rate of 0.6735187424425635
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and DEN
$H_{A}$: There is a difference between RP and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48180.5 and a p-value of 1.4754392353284446e-18, _we **reject** the null hypothssis_
## Testing Results for RP against ESA 
RP has a success rate of 0.6735187424425635
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between RP and ESA
$H_{A}$: There is a difference between RP and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -14.623137340367913 and a p-value of 9.971432501859152e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30348.0 and a p-value of 5.4832557609891105e-11, _we **reject** the null hypothssis_
## Testing Results for RP against EST 
RP has a success rate of 0.6735187424425635
EST has a success rate of 0.975
$H_{0}$: There is not a difference between RP and EST
$H_{A}$: There is a difference between RP and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.098799871470861 and a p-value of 7.47818547951946e-16, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11553.5 and a p-value of 5.952707109104407e-05, _we **reject** the null hypothssis_
## Testing Results for RP against EUME 
RP has a success rate of 0.6735187424425635
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between RP and EUME
$H_{A}$: There is a difference between RP and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 153175.0 and a p-value of 1.8169071922062793e-50, _we **reject** the null hypothssis_
## Testing Results for RP against FIN 
RP has a success rate of 0.6735187424425635
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and FIN
$H_{A}$: There is a difference between RP and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 123375.5 and a p-value of 8.200920563600366e-42, _we **reject** the null hypothssis_
## Testing Results for RP against FR 
RP has a success rate of 0.6735187424425635
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between RP and FR
$H_{A}$: There is a difference between RP and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -10.093245073184734 and a p-value of 3.951727302899332e-23, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 158549.5 and a p-value of 2.243906604441353e-22, _we **reject** the null hypothssis_
## Testing Results for RP against GER 
RP has a success rate of 0.6735187424425635
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between RP and GER
$H_{A}$: There is a difference between RP and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -18.241462979634488 and a p-value of 2.1924066958985728e-63, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 665664.0 and a p-value of 2.3784914483553723e-133, _we **reject** the null hypothssis_
## Testing Results for RP against GUAT 
RP has a success rate of 0.6735187424425635
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between RP and GUAT
$H_{A}$: There is a difference between RP and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -11.290583249813945 and a p-value of 1.8601667103101576e-22, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19765.0 and a p-value of 3.111295533468898e-07, _we **reject** the null hypothssis_
## Testing Results for RP against HUN 
RP has a success rate of 0.6735187424425635
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and HUN
$H_{A}$: There is a difference between RP and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77423.0 and a p-value of 6.332388842748868e-28, _we **reject** the null hypothssis_
## Testing Results for RP against IND 
RP has a success rate of 0.6735187424425635
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between RP and IND
$H_{A}$: There is a difference between RP and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -16.173685678895925 and a p-value of 3.3522368160980567e-53, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118033.0 and a p-value of 2.008758626461116e-31, _we **reject** the null hypothssis_
## Testing Results for RP against INDO 
RP has a success rate of 0.6735187424425635
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between RP and INDO
$H_{A}$: There is a difference between RP and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76587.5 and a p-value of 1.1541242496326458e-27, _we **reject** the null hypothssis_
## Testing Results for RP against IRAN 
RP has a success rate of 0.6735187424425635
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and IRAN
$H_{A}$: There is a difference between RP and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67397.0 and a p-value of 8.99967975568111e-25, _we **reject** the null hypothssis_
## Testing Results for RP against IRAQ 
RP has a success rate of 0.6735187424425635
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between RP and IRAQ
$H_{A}$: There is a difference between RP and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29521.0 and a p-value of 3.0678533588889273e-12, _we **reject** the null hypothssis_
## Testing Results for RP against ISRA 
RP has a success rate of 0.6735187424425635
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between RP and ISRA
$H_{A}$: There is a difference between RP and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 111400.0 and a p-value of 2.8807577407260265e-38, _we **reject** the null hypothssis_
## Testing Results for RP against ISS 
RP has a success rate of 0.6735187424425635
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between RP and ISS
$H_{A}$: There is a difference between RP and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57649.5 and a p-value of 1.1896195634320963e-21, _we **reject** the null hypothssis_
## Testing Results for RP against IT 
RP has a success rate of 0.6735187424425635
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between RP and IT
$H_{A}$: There is a difference between RP and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.734761649236921 and a p-value of 7.71153270543527e-41, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 285992.0 and a p-value of 6.24980689033007e-39, _we **reject** the null hypothssis_
## Testing Results for RP against JPN 
RP has a success rate of 0.6735187424425635
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between RP and JPN
$H_{A}$: There is a difference between RP and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.957937725898757 and a p-value of 0.003143720085633095, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 324882.5 and a p-value of 0.0031721308855370287, _we failed to reject the null hypothssis_
## Testing Results for RP against KAZ 
RP has a success rate of 0.6735187424425635
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between RP and KAZ
$H_{A}$: There is a difference between RP and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -17.466595697162717 and a p-value of 7.056027752155062e-60, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51514.0 and a p-value of 3.985365634371595e-18, _we **reject** the null hypothssis_
## Testing Results for RP against KWT 
RP has a success rate of 0.6735187424425635
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between RP and KWT
$H_{A}$: There is a difference between RP and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39268.5 and a p-value of 1.3973106929539984e-15, _we **reject** the null hypothssis_
## Testing Results for RP against LKA 
RP has a success rate of 0.6735187424425635
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between RP and LKA
$H_{A}$: There is a difference between RP and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 64055.0 and a p-value of 1.0415944641767559e-23, _we **reject** the null hypothssis_
## Testing Results for RP against LTU 
RP has a success rate of 0.6735187424425635
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between RP and LTU
$H_{A}$: There is a difference between RP and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -17.530689274465836 and a p-value of 1.2542599489213674e-60, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 91187.5 and a p-value of 2.078638097416989e-28, _we **reject** the null hypothssis_
## Testing Results for RP against MALA 
RP has a success rate of 0.6735187424425635
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between RP and MALA
$H_{A}$: There is a difference between RP and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 68232.5 and a p-value of 4.89087326756892e-25, _we **reject** the null hypothssis_
## Testing Results for RP against MEX 
RP has a success rate of 0.6735187424425635
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between RP and MEX
$H_{A}$: There is a difference between RP and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72131.5 and a p-value of 2.8753186504227875e-26, _we **reject** the null hypothssis_
## Testing Results for RP against MUS 
RP has a success rate of 0.6735187424425635
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between RP and MUS
$H_{A}$: There is a difference between RP and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9190.5 and a p-value of 7.491330567271032e-05, _we **reject** the null hypothssis_
## Testing Results for RP against MX 
RP has a success rate of 0.6735187424425635
MX has a success rate of 0.0
$H_{0}$: There is not a difference between RP and MX
$H_{A}$: There is a difference between RP and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 41.279624603518464 and a p-value of 5.653911698566024e-203, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 190300.0 and a p-value of 2.3149371905182033e-83, _we **reject** the null hypothssis_
## Testing Results for RP against NETH 
RP has a success rate of 0.6735187424425635
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between RP and NETH
$H_{A}$: There is a difference between RP and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77980.0 and a p-value of 4.245934390196548e-28, _we **reject** the null hypothssis_
## Testing Results for RP against NPL 
RP has a success rate of 0.6735187424425635
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between RP and NPL
$H_{A}$: There is a difference between RP and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60991.5 and a p-value of 9.966358940619348e-23, _we **reject** the null hypothssis_
## Testing Results for RP against POL 
RP has a success rate of 0.6735187424425635
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between RP and POL
$H_{A}$: There is a difference between RP and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -17.430008809002832 and a p-value of 5.041138864019199e-60, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 139207.5 and a p-value of 6.562101194199868e-39, _we **reject** the null hypothssis_
## Testing Results for RP against PRC 
RP has a success rate of 0.6735187424425635
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between RP and PRC
$H_{A}$: There is a difference between RP and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.148805993574836 and a p-value of 2.6624205087084507e-68, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 654921.5 and a p-value of 3.6191019078408783e-156, _we **reject** the null hypothssis_
## Testing Results for RP against PRY 
RP has a success rate of 0.6735187424425635
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between RP and PRY
$H_{A}$: There is a difference between RP and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17824.0 and a p-value of 4.45076762441904e-08, _we **reject** the null hypothssis_
## Testing Results for RP against ROC 
RP has a success rate of 0.6735187424425635
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between RP and ROC
$H_{A}$: There is a difference between RP and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.89017615434443 and a p-value of 2.876300463910149e-35, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 104543.0 and a p-value of 7.564621363471199e-33, _we **reject** the null hypothssis_
## Testing Results for RP against SAFR 
RP has a success rate of 0.6735187424425635
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between RP and SAFR
$H_{A}$: There is a difference between RP and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -6.252109745667473 and a p-value of 6.086982967384351e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41040.5 and a p-value of 8.708713440734472e-10, _we **reject** the null hypothssis_
## Testing Results for RP against SAUD 
RP has a success rate of 0.6735187424425635
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between RP and SAUD
$H_{A}$: There is a difference between RP and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 33141.5 and a p-value of 1.7140820634844315e-13, _we **reject** the null hypothssis_
## Testing Results for RP against SING 
RP has a success rate of 0.6735187424425635
SING has a success rate of 1.0
$H_{0}$: There is not a difference between RP and SING
$H_{A}$: There is a difference between RP and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 202748.0 and a p-value of 1.804676276645975e-64, _we **reject** the null hypothssis_
## Testing Results for RP against SKOR 
RP has a success rate of 0.6735187424425635
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between RP and SKOR
$H_{A}$: There is a difference between RP and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.9622960270612464 and a p-value of 8.02080301402496e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18777.5 and a p-value of 8.512120853176641e-05, _we **reject** the null hypothssis_
## Testing Results for RP against SPN 
RP has a success rate of 0.6735187424425635
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between RP and SPN
$H_{A}$: There is a difference between RP and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 187430.5 and a p-value of 3.471468286199816e-60, _we **reject** the null hypothssis_
## Testing Results for RP against SVN 
RP has a success rate of 0.6735187424425635
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between RP and SVN
$H_{A}$: There is a difference between RP and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -13.215646372575923 and a p-value of 4.71492561722858e-32, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25056.5 and a p-value of 3.955252669465662e-09, _we **reject** the null hypothssis_
## Testing Results for RP against SWTZ 
RP has a success rate of 0.6735187424425635
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between RP and SWTZ
$H_{A}$: There is a difference between RP and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 107779.5 and a p-value of 3.47084284831283e-37, _we **reject** the null hypothssis_
## Testing Results for RP against TBD 
RP has a success rate of 0.6735187424425635
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between RP and TBD
$H_{A}$: There is a difference between RP and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -18.524239272617763 and a p-value of 7.507490244763537e-66, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 111661.5 and a p-value of 2.7292555519352585e-35, _we **reject** the null hypothssis_
## Testing Results for RP against THAI 
RP has a success rate of 0.6735187424425635
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between RP and THAI
$H_{A}$: There is a difference between RP and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -17.14499137976606 and a p-value of 7.78109411827354e-58, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 47615.0 and a p-value of 7.677595012828063e-17, _we **reject** the null hypothssis_
## Testing Results for RP against TURK 
RP has a success rate of 0.6735187424425635
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between RP and TURK
$H_{A}$: There is a difference between RP and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -19.269921212624133 and a p-value of 1.2141814890411412e-69, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 74216.0 and a p-value of 3.738510756582525e-26, _we **reject** the null hypothssis_
## Testing Results for RP against UAE 
RP has a success rate of 0.6735187424425635
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between RP and UAE
$H_{A}$: There is a difference between RP and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -20.009871890394948 and a p-value of 6.219195676834312e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 133401.5 and a p-value of 9.491533548624937e-45, _we **reject** the null hypothssis_
## Testing Results for RP against UK 
RP has a success rate of 0.6735187424425635
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between RP and UK
$H_{A}$: There is a difference between RP and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -18.803399478346662 and a p-value of 6.563973841517115e-67, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 239746.0 and a p-value of 1.5208017248258414e-66, _we **reject** the null hypothssis_
## Testing Results for RP against UKR 
RP has a success rate of 0.6735187424425635
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between RP and UKR
$H_{A}$: There is a difference between RP and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -16.872769814335108 and a p-value of 6.785110305380694e-57, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77541.0 and a p-value of 3.2378064749553224e-24, _we **reject** the null hypothssis_
## Testing Results for RP against US 
RP has a success rate of 0.6735187424425635
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between RP and US
$H_{A}$: There is a difference between RP and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -21.629422409555847 and a p-value of 2.918355451632686e-100, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1781128.5 and a p-value of 5.845207027183763e-97, _we **reject** the null hypothssis_
