# Testing Results For SAFR 
$H_{0}$: There is not a difference in collection success against SAFR 
$H_{A}$: There is a difference in collection success against SAFR
Out of 54 tests, there were 5 rejections from 54 independent-t test.
Out of 54 tests, there were 30 rejections from 54 Man Whitney u-tests.
## Testing Results for SAFR against ALG 
SAFR has a success rate of 0.9328358208955224
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and ALG
$H_{A}$: There is a difference between SAFR and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6062.5 and a p-value of 0.009457935501113353, _we failed to reject the null hypothssis_
## Testing Results for SAFR against ARGN 
SAFR has a success rate of 0.9328358208955224
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and ARGN
$H_{A}$: There is a difference between SAFR and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26437.5 and a p-value of 7.983545471383473e-08, _we **reject** the null hypothssis_
## Testing Results for SAFR against ASRA 
SAFR has a success rate of 0.9328358208955224
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and ASRA
$H_{A}$: There is a difference between SAFR and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17062.5 and a p-value of 1.5385484151750865e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against AUS 
SAFR has a success rate of 0.9328358208955224
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SAFR and AUS
$H_{A}$: There is a difference between SAFR and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.927249351045595 and a p-value of 1.2177260766428052e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22020.5 and a p-value of 1.658248629499357e-06, _we **reject** the null hypothssis_
## Testing Results for SAFR against BEL 
SAFR has a success rate of 0.9328358208955224
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SAFR and BEL
$H_{A}$: There is a difference between SAFR and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.372547229437559 and a p-value of 0.17080320313422054, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14416.0 and a p-value of 0.17079770712013465, _we failed to reject the null hypothssis_
## Testing Results for SAFR against BRAZ 
SAFR has a success rate of 0.9328358208955224
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and BRAZ
$H_{A}$: There is a difference between SAFR and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27125.0 and a p-value of 5.445669180123441e-08, _we **reject** the null hypothssis_
## Testing Results for SAFR against CA 
SAFR has a success rate of 0.9328358208955224
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and CA
$H_{A}$: There is a difference between SAFR and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14562.5 and a p-value of 6.389012683600443e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against CIS 
SAFR has a success rate of 0.9328358208955224
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SAFR and CIS
$H_{A}$: There is a difference between SAFR and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8594831778804273 and a p-value of 0.004355132128861023, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 48294.0 and a p-value of 0.004423596569588612, _we failed to reject the null hypothssis_
## Testing Results for SAFR against COL 
SAFR has a success rate of 0.9328358208955224
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and COL
$H_{A}$: There is a difference between SAFR and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3812.5 and a p-value of 0.03907330774424375, _we failed to reject the null hypothssis_
## Testing Results for SAFR against DEN 
SAFR has a success rate of 0.9328358208955224
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and DEN
$H_{A}$: There is a difference between SAFR and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10812.5 and a p-value of 0.0005565349161933652, _we **reject** the null hypothssis_
## Testing Results for SAFR against ESA 
SAFR has a success rate of 0.9328358208955224
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SAFR and ESA
$H_{A}$: There is a difference between SAFR and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.7810174036925797 and a p-value of 0.07618497025453387, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6759.0 and a p-value of 0.07666140823396173, _we failed to reject the null hypothssis_
## Testing Results for SAFR against EST 
SAFR has a success rate of 0.9328358208955224
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SAFR and EST
$H_{A}$: There is a difference between SAFR and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.002613948549382 and a p-value of 0.3174555865306647, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2567.0 and a p-value of 0.318200566160343, _we failed to reject the null hypothssis_
## Testing Results for SAFR against EUME 
SAFR has a success rate of 0.9328358208955224
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and EUME
$H_{A}$: There is a difference between SAFR and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34375.0 and a p-value of 9.806458357899245e-10, _we **reject** the null hypothssis_
## Testing Results for SAFR against FIN 
SAFR has a success rate of 0.9328358208955224
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and FIN
$H_{A}$: There is a difference between SAFR and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27687.5 and a p-value of 3.983099779105414e-08, _we **reject** the null hypothssis_
## Testing Results for SAFR against FR 
SAFR has a success rate of 0.9328358208955224
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SAFR and FR
$H_{A}$: There is a difference between SAFR and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9003495536247891 and a p-value of 0.368276656677084, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34394.5 and a p-value of 0.3681522093515759, _we failed to reject the null hypothssis_
## Testing Results for SAFR against GER 
SAFR has a success rate of 0.9328358208955224
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SAFR and GER
$H_{A}$: There is a difference between SAFR and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1145320960316645 and a p-value of 0.0018637453042995333, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 147993.0 and a p-value of 0.0018786691158890363, _we failed to reject the null hypothssis_
## Testing Results for SAFR against GUAT 
SAFR has a success rate of 0.9328358208955224
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SAFR and GUAT
$H_{A}$: There is a difference between SAFR and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.1153212276746267 and a p-value of 0.2660511329420984, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4384.0 and a p-value of 0.26639414836436337, _we failed to reject the null hypothssis_
## Testing Results for SAFR against HUN 
SAFR has a success rate of 0.9328358208955224
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and HUN
$H_{A}$: There is a difference between SAFR and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17375.0 and a p-value of 1.2887670110820653e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against IND 
SAFR has a success rate of 0.9328358208955224
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SAFR and IND
$H_{A}$: There is a difference between SAFR and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.9558091920705956 and a p-value of 0.05100477693517752, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26179.0 and a p-value of 0.05120591099307711, _we failed to reject the null hypothssis_
## Testing Results for SAFR against INDO 
SAFR has a success rate of 0.9328358208955224
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and INDO
$H_{A}$: There is a difference between SAFR and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17187.5 and a p-value of 1.4332698242200762e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against IRAN 
SAFR has a success rate of 0.9328358208955224
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and IRAN
$H_{A}$: There is a difference between SAFR and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15125.0 and a p-value of 4.6326831629009604e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against IRAQ 
SAFR has a success rate of 0.9328358208955224
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and IRAQ
$H_{A}$: There is a difference between SAFR and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6625.0 and a p-value of 0.006704305527526759, _we failed to reject the null hypothssis_
## Testing Results for SAFR against ISRA 
SAFR has a success rate of 0.9328358208955224
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and ISRA
$H_{A}$: There is a difference between SAFR and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25000.0 and a p-value of 1.778618587027755e-07, _we **reject** the null hypothssis_
## Testing Results for SAFR against ISS 
SAFR has a success rate of 0.9328358208955224
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and ISS
$H_{A}$: There is a difference between SAFR and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12937.5 and a p-value of 0.00016239824145596206, _we **reject** the null hypothssis_
## Testing Results for SAFR against IT 
SAFR has a success rate of 0.9328358208955224
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SAFR and IT
$H_{A}$: There is a difference between SAFR and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.4501845164606476 and a p-value of 0.6526701532927088, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 62324.0 and a p-value of 0.6526918037805368, _we failed to reject the null hypothssis_
## Testing Results for SAFR against JPN 
SAFR has a success rate of 0.9328358208955224
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SAFR and JPN
$H_{A}$: There is a difference between SAFR and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.64180284379652 and a p-value of 5.6833537718544813e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65376.5 and a p-value of 1.3591495517027263e-13, _we **reject** the null hypothssis_
## Testing Results for SAFR against KAZ 
SAFR has a success rate of 0.9328358208955224
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SAFR and KAZ
$H_{A}$: There is a difference between SAFR and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.437514822469165 and a p-value of 0.01583705214469376, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11509.0 and a p-value of 0.00722885147058379, _we failed to reject the null hypothssis_
## Testing Results for SAFR against KWT 
SAFR has a success rate of 0.9328358208955224
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and KWT
$H_{A}$: There is a difference between SAFR and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8812.5 and a p-value of 0.0018034037519620324, _we failed to reject the null hypothssis_
## Testing Results for SAFR against LKA 
SAFR has a success rate of 0.9328358208955224
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and LKA
$H_{A}$: There is a difference between SAFR and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14375.0 and a p-value of 7.112729358540706e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against LTU 
SAFR has a success rate of 0.9328358208955224
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SAFR and LTU
$H_{A}$: There is a difference between SAFR and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2616823073089733 and a p-value of 0.025056065002005794, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20335.0 and a p-value of 0.003817542013790642, _we failed to reject the null hypothssis_
## Testing Results for SAFR against MALA 
SAFR has a success rate of 0.9328358208955224
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and MALA
$H_{A}$: There is a difference between SAFR and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15312.5 and a p-value of 4.162603426738017e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against MEX 
SAFR has a success rate of 0.9328358208955224
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and MEX
$H_{A}$: There is a difference between SAFR and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16187.5 and a p-value of 2.528865361302561e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against MUS 
SAFR has a success rate of 0.9328358208955224
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and MUS
$H_{A}$: There is a difference between SAFR and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2062.5 and a p-value of 0.12829730296197658, _we failed to reject the null hypothssis_
## Testing Results for SAFR against MX 
SAFR has a success rate of 0.9328358208955224
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SAFR and MX
$H_{A}$: There is a difference between SAFR and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 42.97932319409209 and a p-value of 7.223069002766999e-80, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35612.5 and a p-value of 3.941458670802188e-82, _we **reject** the null hypothssis_
## Testing Results for SAFR against NETH 
SAFR has a success rate of 0.9328358208955224
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and NETH
$H_{A}$: There is a difference between SAFR and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17500.0 and a p-value of 1.2006580392236384e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against NPL 
SAFR has a success rate of 0.9328358208955224
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and NPL
$H_{A}$: There is a difference between SAFR and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13687.5 and a p-value of 0.00010549344817318547, _we **reject** the null hypothssis_
## Testing Results for SAFR against POL 
SAFR has a success rate of 0.9328358208955224
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SAFR and POL
$H_{A}$: There is a difference between SAFR and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.777735795829607 and a p-value of 0.005640329749783976, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30982.5 and a p-value of 0.005747460567292239, _we failed to reject the null hypothssis_
## Testing Results for SAFR against PRC 
SAFR has a success rate of 0.9328358208955224
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SAFR and PRC
$H_{A}$: There is a difference between SAFR and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.563556692601814 and a p-value of 0.011449556568776893, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 146304.5 and a p-value of 1.1628236996568772e-07, _we **reject** the null hypothssis_
## Testing Results for SAFR against PRY 
SAFR has a success rate of 0.9328358208955224
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and PRY
$H_{A}$: There is a difference between SAFR and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4000.0 and a p-value of 0.03459788720072792, _we failed to reject the null hypothssis_
## Testing Results for SAFR against ROC 
SAFR has a success rate of 0.9328358208955224
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SAFR and ROC
$H_{A}$: There is a difference between SAFR and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 19.70024589596001 and a p-value of 4.453170747424458e-56, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19875.5 and a p-value of 7.157470504860569e-39, _we **reject** the null hypothssis_
## Testing Results for SAFR against RP 
SAFR has a success rate of 0.9328358208955224
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SAFR and RP
$H_{A}$: There is a difference between SAFR and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.252109745667473 and a p-value of 6.086982967384351e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 69777.5 and a p-value of 8.708713440734534e-10, _we **reject** the null hypothssis_
## Testing Results for SAFR against SAUD 
SAFR has a success rate of 0.9328358208955224
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and SAUD
$H_{A}$: There is a difference between SAFR and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7437.5 and a p-value of 0.004099564512771307, _we failed to reject the null hypothssis_
## Testing Results for SAFR against SING 
SAFR has a success rate of 0.9328358208955224
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and SING
$H_{A}$: There is a difference between SAFR and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45500.0 and a p-value of 2.153349538223116e-12, _we **reject** the null hypothssis_
## Testing Results for SAFR against SKOR 
SAFR has a success rate of 0.9328358208955224
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SAFR and SKOR
$H_{A}$: There is a difference between SAFR and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.40035649178738814 and a p-value of 0.6893390683083949, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4085.0 and a p-value of 0.6905241134645188, _we failed to reject the null hypothssis_
## Testing Results for SAFR against SPN 
SAFR has a success rate of 0.9328358208955224
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and SPN
$H_{A}$: There is a difference between SAFR and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42062.5 and a p-value of 1.4214117142830776e-11, _we **reject** the null hypothssis_
## Testing Results for SAFR against SVN 
SAFR has a success rate of 0.9328358208955224
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SAFR and SVN
$H_{A}$: There is a difference between SAFR and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.4759120809052222 and a p-value of 0.1414038385933043, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5571.5 and a p-value of 0.1418010027306433, _we failed to reject the null hypothssis_
## Testing Results for SAFR against SWTZ 
SAFR has a success rate of 0.9328358208955224
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and SWTZ
$H_{A}$: There is a difference between SAFR and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24187.5 and a p-value of 2.799194433237715e-07, _we **reject** the null hypothssis_
## Testing Results for SAFR against TBD 
SAFR has a success rate of 0.9328358208955224
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SAFR and TBD
$H_{A}$: There is a difference between SAFR and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.559727304312411 and a p-value of 0.011480735527251276, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24955.5 and a p-value of 0.0002329171291079478, _we **reject** the null hypothssis_
## Testing Results for SAFR against THAI 
SAFR has a success rate of 0.9328358208955224
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SAFR and THAI
$H_{A}$: There is a difference between SAFR and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.3746607861680706 and a p-value of 0.018662235464513247, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10634.0 and a p-value of 0.011072131638100526, _we failed to reject the null hypothssis_
## Testing Results for SAFR against TURK 
SAFR has a success rate of 0.9328358208955224
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SAFR and TURK
$H_{A}$: There is a difference between SAFR and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.877480537928249 and a p-value of 0.004632155069396717, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16629.5 and a p-value of 0.0001338779457851028, _we **reject** the null hypothssis_
## Testing Results for SAFR against UAE 
SAFR has a success rate of 0.9328358208955224
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SAFR and UAE
$H_{A}$: There is a difference between SAFR and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.094511269974629 and a p-value of 0.0024037212697175037, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29937.5 and a p-value of 1.1423081556276527e-08, _we **reject** the null hypothssis_
## Testing Results for SAFR against UK 
SAFR has a success rate of 0.9328358208955224
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SAFR and UK
$H_{A}$: There is a difference between SAFR and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.513294998154857 and a p-value of 0.013086722036427316, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53545.0 and a p-value of 1.6025187421930203e-05, _we **reject** the null hypothssis_
## Testing Results for SAFR against UKR 
SAFR has a success rate of 0.9328358208955224
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SAFR and UKR
$H_{A}$: There is a difference between SAFR and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.5388472546093928 and a p-value of 0.011497067882821366, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17272.5 and a p-value of 0.011719442187673214, _we failed to reject the null hypothssis_
## Testing Results for SAFR against US 
SAFR has a success rate of 0.9328358208955224
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SAFR and US
$H_{A}$: There is a difference between SAFR and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5856404582399014 and a p-value of 0.5581397838262816, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 387771.0 and a p-value of 0.5581319072609857, _we failed to reject the null hypothssis_
