# Testing Results For SING 
$H_{0}$: There is not a difference in collection success against SING 
$H_{A}$: There is a difference in collection success against SING
Out of 54 tests, there were 21 rejections from 54 independent-t test.
Out of 54 tests, there were 21 rejections from 54 Man Whitney u-tests.
## Testing Results for SING against ALG 
SING has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SING and ALG
$H_{A}$: There is a difference between SING and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ARGN 
SING has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and ARGN
$H_{A}$: There is a difference between SING and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ASRA 
SING has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SING and ASRA
$H_{A}$: There is a difference between SING and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against AUS 
SING has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SING and AUS
$H_{A}$: There is a difference between SING and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 16.436930418717697 and a p-value of 6.467888160787414e-54, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 126308.0 and a p-value of 3.256775427003368e-48, _we **reject** the null hypothssis_
## Testing Results for SING against BEL 
SING has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SING and BEL
$H_{A}$: There is a difference between SING and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.555173579410717 and a p-value of 1.0554045318692472e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 83356.0 and a p-value of 7.287462460955554e-20, _we **reject** the null hypothssis_
## Testing Results for SING against BRAZ 
SING has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SING and BRAZ
$H_{A}$: There is a difference between SING and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against CA 
SING has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SING and CA
$H_{A}$: There is a difference between SING and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against CIS 
SING has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SING and CIS
$H_{A}$: There is a difference between SING and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.88141619266695 and a p-value of 4.522631891927515e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 278460.0 and a p-value of 1.0194774804735377e-29, _we **reject** the null hypothssis_
## Testing Results for SING against COL 
SING has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SING and COL
$H_{A}$: There is a difference between SING and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against DEN 
SING has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and DEN
$H_{A}$: There is a difference between SING and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ESA 
SING has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SING and ESA
$H_{A}$: There is a difference between SING and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.737168294111625 and a p-value of 0.0001988215047483504, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 39312.0 and a p-value of 0.00021066612509168086, _we **reject** the null hypothssis_
## Testing Results for SING against EST 
SING has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SING and EST
$H_{A}$: There is a difference between SING and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.314864488666544 and a p-value of 1.8062325188606922e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14924.0 and a p-value of 2.0416574665578028e-05, _we **reject** the null hypothssis_
## Testing Results for SING against EUME 
SING has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SING and EUME
$H_{A}$: There is a difference between SING and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against FIN 
SING has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and FIN
$H_{A}$: There is a difference between SING and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against FR 
SING has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SING and FR
$H_{A}$: There is a difference between SING and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.57206088566233 and a p-value of 3.014181270813332e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 199108.0 and a p-value of 8.117591909185348e-17, _we **reject** the null hypothssis_
## Testing Results for SING against GER 
SING has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SING and GER
$H_{A}$: There is a difference between SING and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.17301572031314 and a p-value of 3.0903083715008896e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 860496.0 and a p-value of 3.159170233937865e-05, _we **reject** the null hypothssis_
## Testing Results for SING against GUAT 
SING has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SING and GUAT
$H_{A}$: There is a difference between SING and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.690967640280878 and a p-value of 3.2010112611084897e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25480.0 and a p-value of 3.709687877474718e-06, _we **reject** the null hypothssis_
## Testing Results for SING against HUN 
SING has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and HUN
$H_{A}$: There is a difference between SING and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against IND 
SING has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SING and IND
$H_{A}$: There is a difference between SING and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.704623655250716 and a p-value of 2.8570880872136283e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 152152.0 and a p-value of 3.149557638276735e-06, _we **reject** the null hypothssis_
## Testing Results for SING against INDO 
SING has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SING and INDO
$H_{A}$: There is a difference between SING and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against IRAN 
SING has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and IRAN
$H_{A}$: There is a difference between SING and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against IRAQ 
SING has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SING and IRAQ
$H_{A}$: There is a difference between SING and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ISRA 
SING has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SING and ISRA
$H_{A}$: There is a difference between SING and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ISS 
SING has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SING and ISS
$H_{A}$: There is a difference between SING and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against IT 
SING has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SING and IT
$H_{A}$: There is a difference between SING and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.857245510733196 and a p-value of 7.0349225460075275e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 361088.0 and a p-value of 1.199334578070181e-14, _we **reject** the null hypothssis_
## Testing Results for SING against JPN 
SING has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SING and JPN
$H_{A}$: There is a difference between SING and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 21.940188707805095 and a p-value of 1.9404029482295156e-92, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 373100.0 and a p-value of 9.359619388238562e-81, _we **reject** the null hypothssis_
## Testing Results for SING against KAZ 
SING has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SING and KAZ
$H_{A}$: There is a difference between SING and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.840970100354992 and a p-value of 0.004598267471120114, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 66976.0 and a p-value of 0.004683387681490205, _we failed to reject the null hypothssis_
## Testing Results for SING against KWT 
SING has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SING and KWT
$H_{A}$: There is a difference between SING and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against LKA 
SING has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SING and LKA
$H_{A}$: There is a difference between SING and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against LTU 
SING has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SING and LTU
$H_{A}$: There is a difference between SING and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.3961011422832317 and a p-value of 0.0007092289454680937, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 118300.0 and a p-value of 0.0007295744634218332, _we **reject** the null hypothssis_
## Testing Results for SING against MALA 
SING has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SING and MALA
$H_{A}$: There is a difference between SING and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against MEX 
SING has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SING and MEX
$H_{A}$: There is a difference between SING and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against MUS 
SING has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SING and MUS
$H_{A}$: There is a difference between SING and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against MX 
SING has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SING and MX
$H_{A}$: There is a difference between SING and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 200200.0 and a p-value of 6.633064447509941e-220, _we **reject** the null hypothssis_
## Testing Results for SING against NETH 
SING has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SING and NETH
$H_{A}$: There is a difference between SING and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against NPL 
SING has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SING and NPL
$H_{A}$: There is a difference between SING and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against POL 
SING has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SING and POL
$H_{A}$: There is a difference between SING and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.911655108677626 and a p-value of 9.675887230690099e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 180180.0 and a p-value of 0.0001009715492418736, _we **reject** the null hypothssis_
## Testing Results for SING against PRC 
SING has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SING and PRC
$H_{A}$: There is a difference between SING and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.875917485461068 and a p-value of 0.0040565913515094995, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 851396.0 and a p-value of 0.004074538135184186, _we failed to reject the null hypothssis_
## Testing Results for SING against PRY 
SING has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SING and PRY
$H_{A}$: There is a difference between SING and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against ROC 
SING has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SING and ROC
$H_{A}$: There is a difference between SING and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 58.01332513931439 and a p-value of 1.7064491588258034e-305, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112112.0 and a p-value of 6.122796461793705e-156, _we **reject** the null hypothssis_
## Testing Results for SING against RP 
SING has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SING and RP
$H_{A}$: There is a difference between SING and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 18.773295030513758 and a p-value of 5.0167420845822424e-71, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 399308.0 and a p-value of 1.804676276645975e-64, _we **reject** the null hypothssis_
## Testing Results for SING against SAFR 
SING has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SING and SAFR
$H_{A}$: There is a difference between SING and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.231485680744449 and a p-value of 1.056242608166662e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52052.0 and a p-value of 2.153349538223116e-12, _we **reject** the null hypothssis_
## Testing Results for SING against SAUD 
SING has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SING and SAUD
$H_{A}$: There is a difference between SING and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against SKOR 
SING has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SING and SKOR
$H_{A}$: There is a difference between SING and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.124890400737499 and a p-value of 1.7325725292356127e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23660.0 and a p-value of 5.874887432206334e-15, _we **reject** the null hypothssis_
## Testing Results for SING against SPN 
SING has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SING and SPN
$H_{A}$: There is a difference between SING and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against SVN 
SING has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SING and SVN
$H_{A}$: There is a difference between SING and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.133687989968773 and a p-value of 3.940352913274657e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32396.0 and a p-value of 4.302132954912643e-05, _we **reject** the null hypothssis_
## Testing Results for SING against SWTZ 
SING has a success rate of 1.0
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SING and SWTZ
$H_{A}$: There is a difference between SING and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against TBD 
SING has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SING and TBD
$H_{A}$: There is a difference between SING and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.7265924938511543 and a p-value of 0.006499004106786116, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 145236.0 and a p-value of 0.006570280561511142, _we failed to reject the null hypothssis_
## Testing Results for SING against THAI 
SING has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SING and THAI
$H_{A}$: There is a difference between SING and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.958294445131574 and a p-value of 0.003174980671955588, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 61880.0 and a p-value of 0.0032447846866621556, _we failed to reject the null hypothssis_
## Testing Results for SING against TURK 
SING has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SING and TURK
$H_{A}$: There is a difference between SING and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6589218570663726 and a p-value of 0.09744796284585389, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96824.0 and a p-value of 0.0978875625539969, _we failed to reject the null hypothssis_
## Testing Results for SING against UAE 
SING has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SING and UAE
$H_{A}$: There is a difference between SING and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SING against UK 
SING has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SING and UK
$H_{A}$: There is a difference between SING and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.9490793475272885 and a p-value of 0.0032343044406688997, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 311584.0 and a p-value of 0.003266412542216467, _we failed to reject the null hypothssis_
## Testing Results for SING against UKR 
SING has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SING and UKR
$H_{A}$: There is a difference between SING and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.695512780311583 and a p-value of 0.00023138573860614778, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100464.0 and a p-value of 0.0002413284810951987, _we **reject** the null hypothssis_
## Testing Results for SING against US 
SING has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SING and US
$H_{A}$: There is a difference between SING and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.015229268411412 and a p-value of 1.2955471283797454e-15, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2246244.0 and a p-value of 1.5102190082491265e-15, _we **reject** the null hypothssis_
