# Testing Results For SVN 
$H_{0}$: There is not a difference in collection success against SVN 
$H_{A}$: There is a difference in collection success against SVN
Out of 54 tests, there were 6 rejections from 54 independent-t test.
Out of 54 tests, there were 10 rejections from 54 Man Whitney u-tests.
## Testing Results for SVN against ALG 
SVN has a success rate of 0.9770114942528736
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and ALG
$H_{A}$: There is a difference between SVN and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4122.5 and a p-value of 0.13631409722740626, _we failed to reject the null hypothssis_
## Testing Results for SVN against ARGN 
SVN has a success rate of 0.9770114942528736
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and ARGN
$H_{A}$: There is a difference between SVN and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17977.5 and a p-value of 0.001822477536550159, _we failed to reject the null hypothssis_
## Testing Results for SVN against ASRA 
SVN has a success rate of 0.9770114942528736
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and ASRA
$H_{A}$: There is a difference between SVN and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11602.5 and a p-value of 0.012277414044983923, _we failed to reject the null hypothssis_
## Testing Results for SVN against AUS 
SVN has a success rate of 0.9770114942528736
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SVN and AUS
$H_{A}$: There is a difference between SVN and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.099457293863128 and a p-value of 5.532775347603432e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14821.5 and a p-value of 8.231369589171984e-07, _we **reject** the null hypothssis_
## Testing Results for SVN against BEL 
SVN has a success rate of 0.9770114942528736
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SVN and BEL
$H_{A}$: There is a difference between SVN and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5000833949787733 and a p-value of 0.012966766134480208, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9755.5 and a p-value of 0.01327349569911364, _we failed to reject the null hypothssis_
## Testing Results for SVN against BRAZ 
SVN has a success rate of 0.9770114942528736
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and BRAZ
$H_{A}$: There is a difference between SVN and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18445.0 and a p-value of 0.0015883386144505593, _we failed to reject the null hypothssis_
## Testing Results for SVN against CA 
SVN has a success rate of 0.9770114942528736
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and CA
$H_{A}$: There is a difference between SVN and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9902.5 and a p-value of 0.020720730897049074, _we failed to reject the null hypothssis_
## Testing Results for SVN against CIS 
SVN has a success rate of 0.9770114942528736
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SVN and CIS
$H_{A}$: There is a difference between SVN and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4866959173701644 and a p-value of 0.0005177678016054558, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32619.5 and a p-value of 0.0005393534186493887, _we **reject** the null hypothssis_
## Testing Results for SVN against COL 
SVN has a success rate of 0.9770114942528736
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and COL
$H_{A}$: There is a difference between SVN and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2592.5 and a p-value of 0.23859897433534127, _we failed to reject the null hypothssis_
## Testing Results for SVN against DEN 
SVN has a success rate of 0.9770114942528736
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and DEN
$H_{A}$: There is a difference between SVN and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7352.5 and a p-value of 0.046334774688780916, _we failed to reject the null hypothssis_
## Testing Results for SVN against ESA 
SVN has a success rate of 0.9770114942528736
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SVN and ESA
$H_{A}$: There is a difference between SVN and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.19891695549683516 and a p-value of 0.8425392910415106, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4592.0 and a p-value of 0.846043909661329, _we failed to reject the null hypothssis_
## Testing Results for SVN against EST 
SVN has a success rate of 0.9770114942528736
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SVN and EST
$H_{A}$: There is a difference between SVN and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.06878601877957705 and a p-value of 0.9452698610196946, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1743.5 and a p-value of 0.9527978336059696, _we failed to reject the null hypothssis_
## Testing Results for SVN against EUME 
SVN has a success rate of 0.9770114942528736
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and EUME
$H_{A}$: There is a difference between SVN and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23375.0 and a p-value of 0.000377463816240295, _we **reject** the null hypothssis_
## Testing Results for SVN against FIN 
SVN has a success rate of 0.9770114942528736
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and FIN
$H_{A}$: There is a difference between SVN and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18827.5 and a p-value of 0.0014195857614919761, _we failed to reject the null hypothssis_
## Testing Results for SVN against FR 
SVN has a success rate of 0.9770114942528736
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SVN and FR
$H_{A}$: There is a difference between SVN and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.169256150442861 and a p-value of 0.030464553831423262, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23293.5 and a p-value of 0.03063973133195348, _we failed to reject the null hypothssis_
## Testing Results for SVN against GER 
SVN has a success rate of 0.9770114942528736
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SVN and GER
$H_{A}$: There is a difference between SVN and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.023517279195087684 and a p-value of 0.9812396146027021, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 100524.0 and a p-value of 0.9814742913409801, _we failed to reject the null hypothssis_
## Testing Results for SVN against GUAT 
SVN has a success rate of 0.9770114942528736
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SVN and GUAT
$H_{A}$: There is a difference between SVN and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.24870500755269678 and a p-value of 0.8039225029666714, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2977.0 and a p-value of 0.8080819913303539, _we failed to reject the null hypothssis_
## Testing Results for SVN against HUN 
SVN has a success rate of 0.9770114942528736
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and HUN
$H_{A}$: There is a difference between SVN and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11815.0 and a p-value of 0.011506418856332485, _we failed to reject the null hypothssis_
## Testing Results for SVN against IND 
SVN has a success rate of 0.9770114942528736
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SVN and IND
$H_{A}$: There is a difference between SVN and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.3340593728485691 and a p-value of 0.7384773879302273, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17777.0 and a p-value of 0.7391945402365299, _we failed to reject the null hypothssis_
## Testing Results for SVN against INDO 
SVN has a success rate of 0.9770114942528736
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and INDO
$H_{A}$: There is a difference between SVN and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11687.5 and a p-value of 0.011962839048210572, _we failed to reject the null hypothssis_
## Testing Results for SVN against IRAN 
SVN has a success rate of 0.9770114942528736
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and IRAN
$H_{A}$: There is a difference between SVN and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10285.0 and a p-value of 0.018404866881157403, _we failed to reject the null hypothssis_
## Testing Results for SVN against IRAQ 
SVN has a success rate of 0.9770114942528736
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and IRAQ
$H_{A}$: There is a difference between SVN and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4505.0 and a p-value of 0.11930011938389, _we failed to reject the null hypothssis_
## Testing Results for SVN against ISRA 
SVN has a success rate of 0.9770114942528736
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and ISRA
$H_{A}$: There is a difference between SVN and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17000.0 and a p-value of 0.0024316276015543203, _we failed to reject the null hypothssis_
## Testing Results for SVN against ISS 
SVN has a success rate of 0.9770114942528736
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and ISS
$H_{A}$: There is a difference between SVN and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8797.5 and a p-value of 0.029266338308593758, _we failed to reject the null hypothssis_
## Testing Results for SVN against IT 
SVN has a success rate of 0.9770114942528736
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SVN and IT
$H_{A}$: There is a difference between SVN and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8899850090351122 and a p-value of 0.059047524329393766, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42232.0 and a p-value of 0.05914057003010387, _we failed to reject the null hypothssis_
## Testing Results for SVN against JPN 
SVN has a success rate of 0.9770114942528736
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SVN and JPN
$H_{A}$: There is a difference between SVN and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.10371125554648 and a p-value of 2.6423620568105965e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43854.5 and a p-value of 5.267888567793956e-12, _we **reject** the null hypothssis_
## Testing Results for SVN against KAZ 
SVN has a success rate of 0.9770114942528736
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SVN and KAZ
$H_{A}$: There is a difference between SVN and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.7586274157602008 and a p-value of 0.44874461212834904, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7822.0 and a p-value of 0.4501092019086128, _we failed to reject the null hypothssis_
## Testing Results for SVN against KWT 
SVN has a success rate of 0.9770114942528736
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and KWT
$H_{A}$: There is a difference between SVN and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5992.5 and a p-value of 0.07218280687635696, _we failed to reject the null hypothssis_
## Testing Results for SVN against LKA 
SVN has a success rate of 0.9770114942528736
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and LKA
$H_{A}$: There is a difference between SVN and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9775.0 and a p-value of 0.021558059985673447, _we failed to reject the null hypothssis_
## Testing Results for SVN against LTU 
SVN has a success rate of 0.9770114942528736
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SVN and LTU
$H_{A}$: There is a difference between SVN and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.46739583728734246 and a p-value of 0.6404680749321405, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13817.5 and a p-value of 0.6415274919226741, _we failed to reject the null hypothssis_
## Testing Results for SVN against MALA 
SVN has a success rate of 0.9770114942528736
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and MALA
$H_{A}$: There is a difference between SVN and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10412.5 and a p-value of 0.017693781530674652, _we failed to reject the null hypothssis_
## Testing Results for SVN against MEX 
SVN has a success rate of 0.9770114942528736
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and MEX
$H_{A}$: There is a difference between SVN and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11007.5 and a p-value of 0.014731501915166336, _we failed to reject the null hypothssis_
## Testing Results for SVN against MUS 
SVN has a success rate of 0.9770114942528736
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and MUS
$H_{A}$: There is a difference between SVN and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1402.5 and a p-value of 0.38900754131489157, _we failed to reject the null hypothssis_
## Testing Results for SVN against MX 
SVN has a success rate of 0.9770114942528736
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SVN and MX
$H_{A}$: There is a difference between SVN and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 60.45659600076734 and a p-value of 3.0431576306217203e-72, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23650.0 and a p-value of 3.981105380303524e-78, _we **reject** the null hypothssis_
## Testing Results for SVN against NETH 
SVN has a success rate of 0.9770114942528736
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and NETH
$H_{A}$: There is a difference between SVN and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11900.0 and a p-value of 0.011212107032980869, _we failed to reject the null hypothssis_
## Testing Results for SVN against NPL 
SVN has a success rate of 0.9770114942528736
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and NPL
$H_{A}$: There is a difference between SVN and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9307.5 and a p-value of 0.02494060044807081, _we failed to reject the null hypothssis_
## Testing Results for SVN against POL 
SVN has a success rate of 0.9770114942528736
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SVN and POL
$H_{A}$: There is a difference between SVN and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.14178489110636858 and a p-value of 0.8873000162626039, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21047.5 and a p-value of 0.8882747176022044, _we failed to reject the null hypothssis_
## Testing Results for SVN against PRC 
SVN has a success rate of 0.9770114942528736
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SVN and PRC
$H_{A}$: There is a difference between SVN and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0015648602812843 and a p-value of 0.3166548520993417, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 99433.5 and a p-value of 0.31675887146282733, _we failed to reject the null hypothssis_
## Testing Results for SVN against PRY 
SVN has a success rate of 0.9770114942528736
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and PRY
$H_{A}$: There is a difference between SVN and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2720.0 and a p-value of 0.22723486624790623, _we failed to reject the null hypothssis_
## Testing Results for SVN against ROC 
SVN has a success rate of 0.9770114942528736
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SVN and ROC
$H_{A}$: There is a difference between SVN and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 18.712961889325577 and a p-value of 1.053247547356522e-49, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13229.0 and a p-value of 5.323926219323849e-34, _we **reject** the null hypothssis_
## Testing Results for SVN against RP 
SVN has a success rate of 0.9770114942528736
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SVN and RP
$H_{A}$: There is a difference between SVN and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.998013626319597 and a p-value of 2.876936380883027e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46892.5 and a p-value of 3.955252669465662e-09, _we **reject** the null hypothssis_
## Testing Results for SVN against SAFR 
SVN has a success rate of 0.9770114942528736
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SVN and SAFR
$H_{A}$: There is a difference between SVN and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4759120809052222 and a p-value of 0.1414038385933043, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6086.5 and a p-value of 0.1418010027306433, _we failed to reject the null hypothssis_
## Testing Results for SVN against SAUD 
SVN has a success rate of 0.9770114942528736
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and SAUD
$H_{A}$: There is a difference between SVN and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5057.5 and a p-value of 0.09872692003624765, _we failed to reject the null hypothssis_
## Testing Results for SVN against SING 
SVN has a success rate of 0.9770114942528736
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and SING
$H_{A}$: There is a difference between SVN and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30940.0 and a p-value of 4.302132954912643e-05, _we **reject** the null hypothssis_
## Testing Results for SVN against SKOR 
SVN has a success rate of 0.9770114942528736
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SVN and SKOR
$H_{A}$: There is a difference between SVN and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.693555983170286 and a p-value of 0.09249683449487586, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2767.5 and a p-value of 0.0934483283718604, _we failed to reject the null hypothssis_
## Testing Results for SVN against SPN 
SVN has a success rate of 0.9770114942528736
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and SPN
$H_{A}$: There is a difference between SVN and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28602.5 and a p-value of 8.388443839327169e-05, _we **reject** the null hypothssis_
## Testing Results for SVN against SWTZ 
SVN has a success rate of 0.9770114942528736
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and SWTZ
$H_{A}$: There is a difference between SVN and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16447.5 and a p-value of 0.002863635261087946, _we failed to reject the null hypothssis_
## Testing Results for SVN against TBD 
SVN has a success rate of 0.9770114942528736
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SVN and TBD
$H_{A}$: There is a difference between SVN and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9784491999756497 and a p-value of 0.32834507964612614, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16961.5 and a p-value of 0.32892633017256423, _we failed to reject the null hypothssis_
## Testing Results for SVN against THAI 
SVN has a success rate of 0.9770114942528736
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SVN and THAI
$H_{A}$: There is a difference between SVN and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.673260054873375 and a p-value of 0.501396394976555, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7227.0 and a p-value of 0.5029691010278687, _we failed to reject the null hypothssis_
## Testing Results for SVN against TURK 
SVN has a success rate of 0.9770114942528736
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SVN and TURK
$H_{A}$: There is a difference between SVN and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.1578549623264645 and a p-value of 0.2498095188400728, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11306.0 and a p-value of 0.09189875364160796, _we failed to reject the null hypothssis_
## Testing Results for SVN against UAE 
SVN has a success rate of 0.9770114942528736
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SVN and UAE
$H_{A}$: There is a difference between SVN and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20357.5 and a p-value of 0.0009071943494702062, _we **reject** the null hypothssis_
## Testing Results for SVN against UK 
SVN has a success rate of 0.9770114942528736
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SVN and UK
$H_{A}$: There is a difference between SVN and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8797552320635138 and a p-value of 0.3792189429854683, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36390.0 and a p-value of 0.3795143141994185, _we failed to reject the null hypothssis_
## Testing Results for SVN against UKR 
SVN has a success rate of 0.9770114942528736
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SVN and UKR
$H_{A}$: There is a difference between SVN and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.26528020703435673 and a p-value of 0.7909471530783628, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11735.0 and a p-value of 0.7924397543511812, _we failed to reject the null hypothssis_
## Testing Results for SVN against US 
SVN has a success rate of 0.9770114942528736
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SVN and US
$H_{A}$: There is a difference between SVN and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.9809735883014885 and a p-value of 0.0476414513054468, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 262730.5 and a p-value of 0.04765800905633902, _we failed to reject the null hypothssis_
