# Testing Results For SWTZ 
$H_{0}$: There is not a difference in collection success against SWTZ 
$H_{A}$: There is a difference in collection success against SWTZ
Out of 54 tests, there were 14 rejections from 54 independent-t test.
Out of 54 tests, there were 14 rejections from 54 Man Whitney u-tests.
## Testing Results for SWTZ against ALG 
SWTZ has a success rate of 1.0
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and ALG
$H_{A}$: There is a difference between SWTZ and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ARGN 
SWTZ has a success rate of 1.0
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and ARGN
$H_{A}$: There is a difference between SWTZ and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ASRA 
SWTZ has a success rate of 1.0
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and ASRA
$H_{A}$: There is a difference between SWTZ and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against AUS 
SWTZ has a success rate of 1.0
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between SWTZ and AUS
$H_{A}$: There is a difference between SWTZ and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.97804066615619 and a p-value of 4.786785799393912e-30, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 67144.5 and a p-value of 1.7685376429791392e-27, _we **reject** the null hypothssis_
## Testing Results for SWTZ against BEL 
SWTZ has a success rate of 1.0
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between SWTZ and BEL
$H_{A}$: There is a difference between SWTZ and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.962420502695265 and a p-value of 8.92848024587108e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44311.5 and a p-value of 2.1095092209073565e-11, _we **reject** the null hypothssis_
## Testing Results for SWTZ against BRAZ 
SWTZ has a success rate of 1.0
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and BRAZ
$H_{A}$: There is a difference between SWTZ and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against CA 
SWTZ has a success rate of 1.0
CA has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and CA
$H_{A}$: There is a difference between SWTZ and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against CIS 
SWTZ has a success rate of 1.0
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between SWTZ and CIS
$H_{A}$: There is a difference between SWTZ and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.660751563829729 and a p-value of 1.7574493292136675e-17, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 148027.5 and a p-value of 5.81168639359335e-17, _we **reject** the null hypothssis_
## Testing Results for SWTZ against COL 
SWTZ has a success rate of 1.0
COL has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and COL
$H_{A}$: There is a difference between SWTZ and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against DEN 
SWTZ has a success rate of 1.0
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and DEN
$H_{A}$: There is a difference between SWTZ and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ESA 
SWTZ has a success rate of 1.0
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between SWTZ and ESA
$H_{A}$: There is a difference between SWTZ and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.722520114653304 and a p-value of 0.006709082746464848, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20898.0 and a p-value of 0.006903662985252945, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against EST 
SWTZ has a success rate of 1.0
EST has a success rate of 0.975
$H_{0}$: There is not a difference between SWTZ and EST
$H_{A}$: There is a difference between SWTZ and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.142705651349655 and a p-value of 0.0017911533869792496, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7933.5 and a p-value of 0.0019193969860025416, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against EUME 
SWTZ has a success rate of 1.0
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and EUME
$H_{A}$: There is a difference between SWTZ and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against FIN 
SWTZ has a success rate of 1.0
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and FIN
$H_{A}$: There is a difference between SWTZ and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against FR 
SWTZ has a success rate of 1.0
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between SWTZ and FR
$H_{A}$: There is a difference between SWTZ and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.247972049965872 and a p-value of 6.450543243410325e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 105844.5 and a p-value of 9.4862386836385e-10, _we **reject** the null hypothssis_
## Testing Results for SWTZ against GER 
SWTZ has a success rate of 1.0
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between SWTZ and GER
$H_{A}$: There is a difference between SWTZ and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.0424379266664814 and a p-value of 0.0023693309670014683, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 457434.0 and a p-value of 0.002384350228332428, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against GUAT 
SWTZ has a success rate of 1.0
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between SWTZ and GUAT
$H_{A}$: There is a difference between SWTZ and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.4169758962749914 and a p-value of 0.0006903294902036656, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13545.0 and a p-value of 0.0007431821891728391, _we **reject** the null hypothssis_
## Testing Results for SWTZ against HUN 
SWTZ has a success rate of 1.0
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and HUN
$H_{A}$: There is a difference between SWTZ and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against IND 
SWTZ has a success rate of 1.0
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between SWTZ and IND
$H_{A}$: There is a difference between SWTZ and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.428859127042674 and a p-value of 0.0006374895219086929, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 80883.0 and a p-value of 0.0006614597369043463, _we **reject** the null hypothssis_
## Testing Results for SWTZ against INDO 
SWTZ has a success rate of 1.0
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and INDO
$H_{A}$: There is a difference between SWTZ and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against IRAN 
SWTZ has a success rate of 1.0
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and IRAN
$H_{A}$: There is a difference between SWTZ and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against IRAQ 
SWTZ has a success rate of 1.0
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and IRAQ
$H_{A}$: There is a difference between SWTZ and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ISRA 
SWTZ has a success rate of 1.0
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and ISRA
$H_{A}$: There is a difference between SWTZ and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ISS 
SWTZ has a success rate of 1.0
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and ISS
$H_{A}$: There is a difference between SWTZ and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against IT 
SWTZ has a success rate of 1.0
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between SWTZ and IT
$H_{A}$: There is a difference between SWTZ and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.727845125765744 and a p-value of 1.2612080264796507e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 191952.0 and a p-value of 1.521345443153324e-08, _we **reject** the null hypothssis_
## Testing Results for SWTZ against JPN 
SWTZ has a success rate of 1.0
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between SWTZ and JPN
$H_{A}$: There is a difference between SWTZ and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 15.993352299760568 and a p-value of 5.283597690225218e-52, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 198337.5 and a p-value of 3.1555115032213407e-47, _we **reject** the null hypothssis_
## Testing Results for SWTZ against KAZ 
SWTZ has a success rate of 1.0
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between SWTZ and KAZ
$H_{A}$: There is a difference between SWTZ and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.069996561470355 and a p-value of 0.03890488629040497, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35604.0 and a p-value of 0.03926775162710998, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against KWT 
SWTZ has a success rate of 1.0
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and KWT
$H_{A}$: There is a difference between SWTZ and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against LKA 
SWTZ has a success rate of 1.0
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and LKA
$H_{A}$: There is a difference between SWTZ and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against LTU 
SWTZ has a success rate of 1.0
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between SWTZ and LTU
$H_{A}$: There is a difference between SWTZ and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.4749706856704927 and a p-value of 0.013558785606400474, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 62887.5 and a p-value of 0.013710471950474971, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against MALA 
SWTZ has a success rate of 1.0
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and MALA
$H_{A}$: There is a difference between SWTZ and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against MEX 
SWTZ has a success rate of 1.0
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and MEX
$H_{A}$: There is a difference between SWTZ and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against MUS 
SWTZ has a success rate of 1.0
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and MUS
$H_{A}$: There is a difference between SWTZ and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against MX 
SWTZ has a success rate of 1.0
MX has a success rate of 0.0
$H_{0}$: There is not a difference between SWTZ and MX
$H_{A}$: There is a difference between SWTZ and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of inf and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 106425.0 and a p-value of 9.11087186146699e-146, _we **reject** the null hypothssis_
## Testing Results for SWTZ against NETH 
SWTZ has a success rate of 1.0
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and NETH
$H_{A}$: There is a difference between SWTZ and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against NPL 
SWTZ has a success rate of 1.0
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and NPL
$H_{A}$: There is a difference between SWTZ and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against POL 
SWTZ has a success rate of 1.0
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between SWTZ and POL
$H_{A}$: There is a difference between SWTZ and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.8510843193833693 and a p-value of 0.004460119342770912, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95782.5 and a p-value of 0.004528999911889755, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against PRC 
SWTZ has a success rate of 1.0
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between SWTZ and PRC
$H_{A}$: There is a difference between SWTZ and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0967573051306 and a p-value of 0.036107949265308636, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 452596.5 and a p-value of 0.03615046028152755, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against PRY 
SWTZ has a success rate of 1.0
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and PRY
$H_{A}$: There is a difference between SWTZ and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against ROC 
SWTZ has a success rate of 1.0
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between SWTZ and ROC
$H_{A}$: There is a difference between SWTZ and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 42.26878280717344 and a p-value of 1.715521823366418e-175, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59598.0 and a p-value of 3.970082664762742e-94, _we **reject** the null hypothssis_
## Testing Results for SWTZ against RP 
SWTZ has a success rate of 1.0
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between SWTZ and RP
$H_{A}$: There is a difference between SWTZ and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.685218428886248 and a p-value of 9.504310208258835e-40, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 212269.5 and a p-value of 3.47084284831283e-37, _we **reject** the null hypothssis_
## Testing Results for SWTZ against SAFR 
SWTZ has a success rate of 1.0
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between SWTZ and SAFR
$H_{A}$: There is a difference between SWTZ and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.268494706111995 and a p-value of 2.0195474189309851e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27670.5 and a p-value of 2.799194433237715e-07, _we **reject** the null hypothssis_
## Testing Results for SWTZ against SAUD 
SWTZ has a success rate of 1.0
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and SAUD
$H_{A}$: There is a difference between SWTZ and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against SING 
SWTZ has a success rate of 1.0
SING has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and SING
$H_{A}$: There is a difference between SWTZ and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against SKOR 
SWTZ has a success rate of 1.0
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between SWTZ and SKOR
$H_{A}$: There is a difference between SWTZ and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.918142033195578 and a p-value of 6.5073332002947e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12577.5 and a p-value of 1.1868890897217305e-08, _we **reject** the null hypothssis_
## Testing Results for SWTZ against SPN 
SWTZ has a success rate of 1.0
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and SPN
$H_{A}$: There is a difference between SWTZ and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against SVN 
SWTZ has a success rate of 1.0
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between SWTZ and SVN
$H_{A}$: There is a difference between SWTZ and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.011222494007039 and a p-value of 0.0027415281739550314, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17221.5 and a p-value of 0.002863635261087946, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against TBD 
SWTZ has a success rate of 1.0
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between SWTZ and TBD
$H_{A}$: There is a difference between SWTZ and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.98719746412437 and a p-value of 0.04724988580449226, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 77206.5 and a p-value of 0.047459651664479977, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against THAI 
SWTZ has a success rate of 1.0
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between SWTZ and THAI
$H_{A}$: There is a difference between SWTZ and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1554229881618174 and a p-value of 0.0315595682017741, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32895.0 and a p-value of 0.0319057224976375, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against TURK 
SWTZ has a success rate of 1.0
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between SWTZ and TURK
$H_{A}$: There is a difference between SWTZ and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.208888926765398 and a p-value of 0.22714507868747788, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51471.0 and a p-value of 0.22807280631942695, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against UAE 
SWTZ has a success rate of 1.0
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between SWTZ and UAE
$H_{A}$: There is a difference between SWTZ and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against UK 
SWTZ has a success rate of 1.0
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between SWTZ and UK
$H_{A}$: There is a difference between SWTZ and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.1498087785602435 and a p-value of 0.03176470827740049, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 165636.0 and a p-value of 0.03186490805324069, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against UKR 
SWTZ has a success rate of 1.0
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between SWTZ and UKR
$H_{A}$: There is a difference between SWTZ and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.6930141741607927 and a p-value of 0.0072618177140960005, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53406.0 and a p-value of 0.007386318219190479, _we failed to reject the null hypothssis_
## Testing Results for SWTZ against US 
SWTZ has a success rate of 1.0
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between SWTZ and US
$H_{A}$: There is a difference between SWTZ and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.843889101924077 and a p-value of 5.363404965068906e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1194088.5 and a p-value of 5.608687214793606e-09, _we **reject** the null hypothssis_
