# Testing Results For TURK 
$H_{0}$: There is not a difference in collection success against TURK 
$H_{A}$: There is a difference in collection success against TURK
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for TURK against ALG 
TURK has a success rate of 0.9962264150943396
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and ALG
$H_{A}$: There is a difference between TURK and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12804.0 and a p-value of 0.549324067140911, _we failed to reject the null hypothssis_
## Testing Results for TURK against ARGN 
TURK has a success rate of 0.9962264150943396
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and ARGN
$H_{A}$: There is a difference between TURK and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55836.0 and a p-value of 0.20751365841282077, _we failed to reject the null hypothssis_
## Testing Results for TURK against ASRA 
TURK has a success rate of 0.9962264150943396
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and ASRA
$H_{A}$: There is a difference between TURK and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36036.0 and a p-value of 0.3118899839206971, _we failed to reject the null hypothssis_
## Testing Results for TURK against AUS 
TURK has a success rate of 0.9962264150943396
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between TURK and AUS
$H_{A}$: There is a difference between TURK and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 9.68146722860896 and a p-value of 1.5450090111851118e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45841.0 and a p-value of 3.898325206060185e-19, _we **reject** the null hypothssis_
## Testing Results for TURK against BEL 
TURK has a success rate of 0.9962264150943396
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between TURK and BEL
$H_{A}$: There is a difference between TURK and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 5.433347325940515 and a p-value of 8.902634298530275e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30239.5 and a p-value of 1.329466927932206e-07, _we **reject** the null hypothssis_
## Testing Results for TURK against BRAZ 
TURK has a success rate of 0.9962264150943396
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and BRAZ
$H_{A}$: There is a difference between TURK and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57288.0 and a p-value of 0.2016757511111157, _we failed to reject the null hypothssis_
## Testing Results for TURK against CA 
TURK has a success rate of 0.9962264150943396
CA has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and CA
$H_{A}$: There is a difference between TURK and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30756.0 and a p-value of 0.35048115232462107, _we failed to reject the null hypothssis_
## Testing Results for TURK against CIS 
TURK has a success rate of 0.9962264150943396
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between TURK and CIS
$H_{A}$: There is a difference between TURK and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.960974279327864 and a p-value of 6.416561736106794e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 101033.5 and a p-value of 1.1352500224054466e-11, _we **reject** the null hypothssis_
## Testing Results for TURK against COL 
TURK has a success rate of 0.9962264150943396
COL has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and COL
$H_{A}$: There is a difference between TURK and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8052.0 and a p-value of 0.636987760228385, _we failed to reject the null hypothssis_
## Testing Results for TURK against DEN 
TURK has a success rate of 0.9962264150943396
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and DEN
$H_{A}$: There is a difference between TURK and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22836.0 and a p-value of 0.42179634360430085, _we failed to reject the null hypothssis_
## Testing Results for TURK against ESA 
TURK has a success rate of 0.9962264150943396
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between TURK and ESA
$H_{A}$: There is a difference between TURK and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.4668345164135845 and a p-value of 0.14327279940600499, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14257.0 and a p-value of 0.1439871856996726, _we failed to reject the null hypothssis_
## Testing Results for TURK against EST 
TURK has a success rate of 0.9962264150943396
EST has a success rate of 0.975
$H_{0}$: There is not a difference between TURK and EST
$H_{A}$: There is a difference between TURK and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.5514319283573648 and a p-value of 0.12184204359995392, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5412.5 and a p-value of 0.12332289441548841, _we failed to reject the null hypothssis_
## Testing Results for TURK against EUME 
TURK has a success rate of 0.9962264150943396
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and EUME
$H_{A}$: There is a difference between TURK and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72600.0 and a p-value of 0.15042543291690957, _we failed to reject the null hypothssis_
## Testing Results for TURK against FIN 
TURK has a success rate of 0.9962264150943396
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and FIN
$H_{A}$: There is a difference between TURK and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58476.0 and a p-value of 0.1970426562159303, _we failed to reject the null hypothssis_
## Testing Results for TURK against FR 
TURK has a success rate of 0.9962264150943396
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between TURK and FR
$H_{A}$: There is a difference between TURK and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.898742987360366 and a p-value of 1.177838925286824e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72227.0 and a p-value of 1.390818258482376e-06, _we **reject** the null hypothssis_
## Testing Results for TURK against GER 
TURK has a success rate of 0.9962264150943396
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between TURK and GER
$H_{A}$: There is a difference between TURK and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.09150766063592 and a p-value of 0.0365804079172935, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 312075.0 and a p-value of 0.03662104355050508, _we failed to reject the null hypothssis_
## Testing Results for TURK against GUAT 
TURK has a success rate of 0.9962264150943396
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between TURK and GUAT
$H_{A}$: There is a difference between TURK and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0020490054367546 and a p-value of 0.046095031188415646, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9241.0 and a p-value of 0.04673144190719242, _we failed to reject the null hypothssis_
## Testing Results for TURK against HUN 
TURK has a success rate of 0.9962264150943396
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and HUN
$H_{A}$: There is a difference between TURK and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36696.0 and a p-value of 0.30746752492690377, _we failed to reject the null hypothssis_
## Testing Results for TURK against IND 
TURK has a success rate of 0.9962264150943396
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between TURK and IND
$H_{A}$: There is a difference between TURK and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.3750469358742006 and a p-value of 0.017827655383784547, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55182.0 and a p-value of 0.017980927412723773, _we failed to reject the null hypothssis_
## Testing Results for TURK against INDO 
TURK has a success rate of 0.9962264150943396
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and INDO
$H_{A}$: There is a difference between TURK and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36300.0 and a p-value of 0.31011113415449376, _we failed to reject the null hypothssis_
## Testing Results for TURK against IRAN 
TURK has a success rate of 0.9962264150943396
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and IRAN
$H_{A}$: There is a difference between TURK and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31944.0 and a p-value of 0.3412643200720866, _we failed to reject the null hypothssis_
## Testing Results for TURK against IRAQ 
TURK has a success rate of 0.9962264150943396
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and IRAQ
$H_{A}$: There is a difference between TURK and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13992.0 and a p-value of 0.5309942690877643, _we failed to reject the null hypothssis_
## Testing Results for TURK against ISRA 
TURK has a success rate of 0.9962264150943396
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and ISRA
$H_{A}$: There is a difference between TURK and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52800.0 and a p-value of 0.22037982689616742, _we failed to reject the null hypothssis_
## Testing Results for TURK against ISS 
TURK has a success rate of 0.9962264150943396
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and ISS
$H_{A}$: There is a difference between TURK and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27324.0 and a p-value of 0.3791046964248863, _we failed to reject the null hypothssis_
## Testing Results for TURK against IT 
TURK has a success rate of 0.9962264150943396
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between TURK and IT
$H_{A}$: There is a difference between TURK and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.477406208327433 and a p-value of 8.285571757584597e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 130980.0 and a p-value of 8.9302361563212e-06, _we **reject** the null hypothssis_
## Testing Results for TURK against JPN 
TURK has a success rate of 0.9962264150943396
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between TURK and JPN
$H_{A}$: There is a difference between TURK and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 13.070674289213127 and a p-value of 3.788428198494312e-36, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 135446.0 and a p-value of 1.317070557950771e-33, _we **reject** the null hypothssis_
## Testing Results for TURK against KAZ 
TURK has a success rate of 0.9962264150943396
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between TURK and KAZ
$H_{A}$: There is a difference between TURK and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9167654528640253 and a p-value of 0.359762119611566, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24289.0 and a p-value of 0.36056206062847607, _we failed to reject the null hypothssis_
## Testing Results for TURK against KWT 
TURK has a success rate of 0.9962264150943396
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and KWT
$H_{A}$: There is a difference between TURK and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18612.0 and a p-value of 0.4689050623873242, _we failed to reject the null hypothssis_
## Testing Results for TURK against LKA 
TURK has a success rate of 0.9962264150943396
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and LKA
$H_{A}$: There is a difference between TURK and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30360.0 and a p-value of 0.35362852260883404, _we failed to reject the null hypothssis_
## Testing Results for TURK against LTU 
TURK has a success rate of 0.9962264150943396
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between TURK and LTU
$H_{A}$: There is a difference between TURK and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.416228332288618 and a p-value of 0.15724271385316727, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42902.5 and a p-value of 0.15747864816484736, _we failed to reject the null hypothssis_
## Testing Results for TURK against MALA 
TURK has a success rate of 0.9962264150943396
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and MALA
$H_{A}$: There is a difference between TURK and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32340.0 and a p-value of 0.33826482196795027, _we failed to reject the null hypothssis_
## Testing Results for TURK against MEX 
TURK has a success rate of 0.9962264150943396
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and MEX
$H_{A}$: There is a difference between TURK and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34188.0 and a p-value of 0.3247236051192023, _we failed to reject the null hypothssis_
## Testing Results for TURK against MUS 
TURK has a success rate of 0.9962264150943396
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and MUS
$H_{A}$: There is a difference between TURK and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4356.0 and a p-value of 0.7322062752678475, _we failed to reject the null hypothssis_
## Testing Results for TURK against MX 
TURK has a success rate of 0.9962264150943396
MX has a success rate of 0.0
$H_{0}$: There is not a difference between TURK and MX
$H_{A}$: There is a difference between TURK and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 264.00000000000006 and a p-value of 6.6e-322, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72737.5 and a p-value of 2.3010497728235927e-118, _we **reject** the null hypothssis_
## Testing Results for TURK against NETH 
TURK has a success rate of 0.9962264150943396
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and NETH
$H_{A}$: There is a difference between TURK and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36960.0 and a p-value of 0.3057213528126488, _we failed to reject the null hypothssis_
## Testing Results for TURK against NPL 
TURK has a success rate of 0.9962264150943396
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and NPL
$H_{A}$: There is a difference between TURK and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 28908.0 and a p-value of 0.36550632188617826, _we failed to reject the null hypothssis_
## Testing Results for TURK against POL 
TURK has a success rate of 0.9962264150943396
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between TURK and POL
$H_{A}$: There is a difference between TURK and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.8360001707469173 and a p-value of 0.06675438962322491, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65345.0 and a p-value of 0.06691351237135215, _we failed to reject the null hypothssis_
## Testing Results for TURK against PRC 
TURK has a success rate of 0.9962264150943396
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between TURK and PRC
$H_{A}$: There is a difference between TURK and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1308727898538105 and a p-value of 0.25821391098818675, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 308761.0 and a p-value of 0.25823841888374666, _we failed to reject the null hypothssis_
## Testing Results for TURK against PRY 
TURK has a success rate of 0.9962264150943396
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and PRY
$H_{A}$: There is a difference between TURK and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8448.0 and a p-value of 0.6285580481441007, _we failed to reject the null hypothssis_
## Testing Results for TURK against ROC 
TURK has a success rate of 0.9962264150943396
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between TURK and ROC
$H_{A}$: There is a difference between TURK and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 34.11730349667781 and a p-value of 1.1536306747227618e-124, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40725.5 and a p-value of 1.2031831495467728e-70, _we **reject** the null hypothssis_
## Testing Results for TURK against RP 
TURK has a success rate of 0.9962264150943396
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between TURK and RP
$H_{A}$: There is a difference between TURK and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.162046825732537 and a p-value of 1.8079608013341323e-27, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 144939.0 and a p-value of 3.738510756582416e-26, _we **reject** the null hypothssis_
## Testing Results for TURK against SAFR 
TURK has a success rate of 0.9962264150943396
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between TURK and SAFR
$H_{A}$: There is a difference between TURK and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.8880848168292994 and a p-value of 0.00011840810865366383, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18880.5 and a p-value of 0.0001338779457851028, _we **reject** the null hypothssis_
## Testing Results for TURK against SAUD 
TURK has a success rate of 0.9962264150943396
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and SAUD
$H_{A}$: There is a difference between TURK and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15708.0 and a p-value of 0.5063795468797669, _we failed to reject the null hypothssis_
## Testing Results for TURK against SING 
TURK has a success rate of 0.9962264150943396
SING has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and SING
$H_{A}$: There is a difference between TURK and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96096.0 and a p-value of 0.0978875625539969, _we failed to reject the null hypothssis_
## Testing Results for TURK against SKOR 
TURK has a success rate of 0.9962264150943396
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between TURK and SKOR
$H_{A}$: There is a difference between TURK and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.23400705900083 and a p-value of 2.9963333379935116e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8582.5 and a p-value of 3.7186699028780396e-05, _we **reject** the null hypothssis_
## Testing Results for TURK against SPN 
TURK has a success rate of 0.9962264150943396
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and SPN
$H_{A}$: There is a difference between TURK and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 88836.0 and a p-value of 0.11155300516710306, _we failed to reject the null hypothssis_
## Testing Results for TURK against SVN 
TURK has a success rate of 0.9962264150943396
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between TURK and SVN
$H_{A}$: There is a difference between TURK and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.6937702003518096 and a p-value of 0.09119862650658181, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11749.0 and a p-value of 0.09189875364160796, _we failed to reject the null hypothssis_
## Testing Results for TURK against SWTZ 
TURK has a success rate of 0.9962264150943396
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and SWTZ
$H_{A}$: There is a difference between TURK and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51084.0 and a p-value of 0.22807280631942695, _we failed to reject the null hypothssis_
## Testing Results for TURK against TBD 
TURK has a success rate of 0.9962264150943396
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between TURK and TBD
$H_{A}$: There is a difference between TURK and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9219083647772641 and a p-value of 0.3569142703020338, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 52670.0 and a p-value of 0.3572452648626707, _we failed to reject the null hypothssis_
## Testing Results for TURK against THAI 
TURK has a success rate of 0.9962264150943396
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between TURK and THAI
$H_{A}$: There is a difference between TURK and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.992820690441888 and a p-value of 0.3213543952105111, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22441.0 and a p-value of 0.3221279377227926, _we failed to reject the null hypothssis_
## Testing Results for TURK against UAE 
TURK has a success rate of 0.9962264150943396
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between TURK and UAE
$H_{A}$: There is a difference between TURK and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0 and a p-value of 0.31822619513961026, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63228.0 and a p-value of 0.17971154246436394, _we failed to reject the null hypothssis_
## Testing Results for TURK against UK 
TURK has a success rate of 0.9962264150943396
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between TURK and UK
$H_{A}$: There is a difference between TURK and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.1541497713054822 and a p-value of 0.24868742334104654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112997.0 and a p-value of 0.24877188447992804, _we failed to reject the null hypothssis_
## Testing Results for TURK against UKR 
TURK has a success rate of 0.9962264150943396
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between TURK and UKR
$H_{A}$: There is a difference between TURK and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.615656339787436 and a p-value of 0.10675925696514489, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36434.5 and a p-value of 0.10702730726931237, _we failed to reject the null hypothssis_
## Testing Results for TURK against US 
TURK has a success rate of 0.9962264150943396
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between TURK and US
$H_{A}$: There is a difference between TURK and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.605436755614236 and a p-value of 4.2014012854853884e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 814803.5 and a p-value of 4.2733533441472675e-06, _we **reject** the null hypothssis_
