# Testing Results For UK 
$H_{0}$: There is not a difference in collection success against UK 
$H_{A}$: There is a difference in collection success against UK
Out of 54 tests, there were 12 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for UK against ALG 
UK has a success rate of 0.9881796690307328
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between UK and ALG
$H_{A}$: There is a difference between UK and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40546.0 and a p-value of 0.2824535303281621, _we failed to reject the null hypothssis_
## Testing Results for UK against ARGN 
UK has a success rate of 0.9881796690307328
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and ARGN
$H_{A}$: There is a difference between UK and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 176814.0 and a p-value of 0.024863589036124824, _we failed to reject the null hypothssis_
## Testing Results for UK against ASRA 
UK has a success rate of 0.9881796690307328
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between UK and ASRA
$H_{A}$: There is a difference between UK and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 114114.0 and a p-value of 0.07139054063640968, _we failed to reject the null hypothssis_
## Testing Results for UK against AUS 
UK has a success rate of 0.9881796690307328
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between UK and AUS
$H_{A}$: There is a difference between UK and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 15.580954606594709 and a p-value of 1.117157302046791e-49, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 145416.0 and a p-value of 2.5589279725425855e-45, _we **reject** the null hypothssis_
## Testing Results for UK against BEL 
UK has a success rate of 0.9881796690307328
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between UK and BEL
$H_{A}$: There is a difference between UK and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.562177544093487 and a p-value of 8.627717683165144e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 95837.0 and a p-value of 1.7401844076271341e-13, _we **reject** the null hypothssis_
## Testing Results for UK against BRAZ 
UK has a success rate of 0.9881796690307328
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between UK and BRAZ
$H_{A}$: There is a difference between UK and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 181412.0 and a p-value of 0.023059761668242494, _we failed to reject the null hypothssis_
## Testing Results for UK against CA 
UK has a success rate of 0.9881796690307328
CA has a success rate of 1.0
$H_{0}$: There is not a difference between UK and CA
$H_{A}$: There is a difference between UK and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 97394.0 and a p-value of 0.09575018662987127, _we failed to reject the null hypothssis_
## Testing Results for UK against CIS 
UK has a success rate of 0.9881796690307328
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between UK and CIS
$H_{A}$: There is a difference between UK and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 11.272487406461318 and a p-value of 2.3807289720366335e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 320305.0 and a p-value of 2.552906377324631e-27, _we **reject** the null hypothssis_
## Testing Results for UK against COL 
UK has a success rate of 0.9881796690307328
COL has a success rate of 1.0
$H_{0}$: There is not a difference between UK and COL
$H_{A}$: There is a difference between UK and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 25498.0 and a p-value of 0.3942190178245518, _we failed to reject the null hypothssis_
## Testing Results for UK against DEN 
UK has a success rate of 0.9881796690307328
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and DEN
$H_{A}$: There is a difference between UK and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72314.0 and a p-value of 0.15113349690268932, _we failed to reject the null hypothssis_
## Testing Results for UK against ESA 
UK has a success rate of 0.9881796690307328
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between UK and ESA
$H_{A}$: There is a difference between UK and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.6125929264820924 and a p-value of 0.5402921414277835, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 45154.0 and a p-value of 0.5406537944804218, _we failed to reject the null hypothssis_
## Testing Results for UK against EST 
UK has a success rate of 0.9881796690307328
EST has a success rate of 0.975
$H_{0}$: There is not a difference between UK and EST
$H_{A}$: There is a difference between UK and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.7349843648625919 and a p-value of 0.46254394846209135, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17143.0 and a p-value of 0.46323707058715524, _we failed to reject the null hypothssis_
## Testing Results for UK against EUME 
UK has a success rate of 0.9881796690307328
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between UK and EUME
$H_{A}$: There is a difference between UK and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 229900.0 and a p-value of 0.010541499225188686, _we failed to reject the null hypothssis_
## Testing Results for UK against FIN 
UK has a success rate of 0.9881796690307328
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and FIN
$H_{A}$: There is a difference between UK and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185174.0 and a p-value of 0.021685129178076412, _we failed to reject the null hypothssis_
## Testing Results for UK against FR 
UK has a success rate of 0.9881796690307328
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between UK and FR
$H_{A}$: There is a difference between UK and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.240691410278218 and a p-value of 7.485835865438234e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 228876.0 and a p-value of 1.1945587976971684e-12, _we **reject** the null hypothssis_
## Testing Results for UK against GER 
UK has a success rate of 0.9881796690307328
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between UK and GER
$H_{A}$: There is a difference between UK and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.0408796026662377 and a p-value of 0.041345884416928526, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 988422.0 and a p-value of 0.04137360647234404, _we failed to reject the null hypothssis_
## Testing Results for UK against GUAT 
UK has a success rate of 0.9881796690307328
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between UK and GUAT
$H_{A}$: There is a difference between UK and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2257498367494246 and a p-value of 0.22060925479118543, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29270.0 and a p-value of 0.22087610930682167, _we failed to reject the null hypothssis_
## Testing Results for UK against HUN 
UK has a success rate of 0.9881796690307328
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and HUN
$H_{A}$: There is a difference between UK and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116204.0 and a p-value of 0.06885038863401502, _we failed to reject the null hypothssis_
## Testing Results for UK against IND 
UK has a success rate of 0.9881796690307328
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between UK and IND
$H_{A}$: There is a difference between UK and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.2385747660975093 and a p-value of 0.025359045989603212, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 174784.0 and a p-value of 0.02544180682820218, _we failed to reject the null hypothssis_
## Testing Results for UK against INDO 
UK has a success rate of 0.9881796690307328
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between UK and INDO
$H_{A}$: There is a difference between UK and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 114950.0 and a p-value of 0.07036262142319152, _we failed to reject the null hypothssis_
## Testing Results for UK against IRAN 
UK has a success rate of 0.9881796690307328
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and IRAN
$H_{A}$: There is a difference between UK and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 101156.0 and a p-value of 0.08957366445069723, _we failed to reject the null hypothssis_
## Testing Results for UK against IRAQ 
UK has a success rate of 0.9881796690307328
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between UK and IRAQ
$H_{A}$: There is a difference between UK and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 44308.0 and a p-value of 0.2611707626568881, _we failed to reject the null hypothssis_
## Testing Results for UK against ISRA 
UK has a success rate of 0.9881796690307328
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between UK and ISRA
$H_{A}$: There is a difference between UK and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 167200.0 and a p-value of 0.02912550960262016, _we failed to reject the null hypothssis_
## Testing Results for UK against ISS 
UK has a success rate of 0.9881796690307328
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between UK and ISS
$H_{A}$: There is a difference between UK and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 86526.0 and a p-value of 0.11636785037264741, _we failed to reject the null hypothssis_
## Testing Results for UK against IT 
UK has a success rate of 0.9881796690307328
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between UK and IT
$H_{A}$: There is a difference between UK and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.708953162011982 and a p-value of 2.6323530966595958e-11, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 415016.0 and a p-value of 3.432417769601214e-11, _we **reject** the null hypothssis_
## Testing Results for UK against JPN 
UK has a success rate of 0.9881796690307328
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between UK and JPN
$H_{A}$: There is a difference between UK and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 22.331468607858127 and a p-value of 3.301246824906428e-96, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 429910.0 and a p-value of 1.936272798403053e-84, _we **reject** the null hypothssis_
## Testing Results for UK against KAZ 
UK has a success rate of 0.9881796690307328
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between UK and KAZ
$H_{A}$: There is a difference between UK and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.0946296410544959 and a p-value of 0.9246274824178002, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 76922.0 and a p-value of 0.9251602494493244, _we failed to reject the null hypothssis_
## Testing Results for UK against KWT 
UK has a success rate of 0.9881796690307328
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between UK and KWT
$H_{A}$: There is a difference between UK and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58938.0 and a p-value of 0.194972987284031, _we failed to reject the null hypothssis_
## Testing Results for UK against LKA 
UK has a success rate of 0.9881796690307328
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between UK and LKA
$H_{A}$: There is a difference between UK and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96140.0 and a p-value of 0.09791096816725382, _we failed to reject the null hypothssis_
## Testing Results for UK against LTU 
UK has a success rate of 0.9881796690307328
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between UK and LTU
$H_{A}$: There is a difference between UK and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5140667879212862 and a p-value of 0.6073028723882501, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 135875.0 and a p-value of 0.6074408176335389, _we failed to reject the null hypothssis_
## Testing Results for UK against MALA 
UK has a success rate of 0.9881796690307328
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between UK and MALA
$H_{A}$: There is a difference between UK and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 102410.0 and a p-value of 0.0876121920101048, _we failed to reject the null hypothssis_
## Testing Results for UK against MEX 
UK has a success rate of 0.9881796690307328
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between UK and MEX
$H_{A}$: There is a difference between UK and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 108262.0 and a p-value of 0.0790539256955177, _we failed to reject the null hypothssis_
## Testing Results for UK against MUS 
UK has a success rate of 0.9881796690307328
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between UK and MUS
$H_{A}$: There is a difference between UK and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 13794.0 and a p-value of 0.5313936136534774, _we failed to reject the null hypothssis_
## Testing Results for UK against MX 
UK has a success rate of 0.9881796690307328
MX has a success rate of 0.0
$H_{0}$: There is not a difference between UK and MX
$H_{A}$: There is a difference between UK and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 265.7856279033913 and a p-value of 0.0, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 231275.0 and a p-value of 3.1029310302819777e-234, _we **reject** the null hypothssis_
## Testing Results for UK against NETH 
UK has a success rate of 0.9881796690307328
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between UK and NETH
$H_{A}$: There is a difference between UK and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 117040.0 and a p-value of 0.06786160399958517, _we failed to reject the null hypothssis_
## Testing Results for UK against NPL 
UK has a success rate of 0.9881796690307328
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between UK and NPL
$H_{A}$: There is a difference between UK and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 91542.0 and a p-value of 0.10630217483132895, _we failed to reject the null hypothssis_
## Testing Results for UK against POL 
UK has a success rate of 0.9881796690307328
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between UK and POL
$H_{A}$: There is a difference between UK and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 1.2695812463960625 and a p-value of 0.2044560968660586, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 206960.0 and a p-value of 0.2044632769116972, _we failed to reject the null hypothssis_
## Testing Results for UK against PRC 
UK has a success rate of 0.9881796690307328
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between UK and PRC
$H_{A}$: There is a difference between UK and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.13584428566312748 and a p-value of 0.8919530415494294, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 977832.0 and a p-value of 0.8920224049560894, _we failed to reject the null hypothssis_
## Testing Results for UK against PRY 
UK has a success rate of 0.9881796690307328
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between UK and PRY
$H_{A}$: There is a difference between UK and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 26752.0 and a p-value of 0.3828031717446376, _we failed to reject the null hypothssis_
## Testing Results for UK against ROC 
UK has a success rate of 0.9881796690307328
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between UK and ROC
$H_{A}$: There is a difference between UK and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 52.09279283505273 and a p-value of 8.620362663283716e-289, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 129439.0 and a p-value of 1.365060057872485e-162, _we **reject** the null hypothssis_
## Testing Results for UK against RP 
UK has a success rate of 0.9881796690307328
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between UK and RP
$H_{A}$: There is a difference between UK and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 18.996512095493046 and a p-value of 5.1844490970034825e-73, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 459896.0 and a p-value of 1.5208017248259708e-66, _we **reject** the null hypothssis_
## Testing Results for UK against SAFR 
UK has a success rate of 0.9881796690307328
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between UK and SAFR
$H_{A}$: There is a difference between UK and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.354186995583669 and a p-value of 1.4762808158341445e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 59819.0 and a p-value of 1.6025187421930203e-05, _we **reject** the null hypothssis_
## Testing Results for UK against SAUD 
UK has a success rate of 0.9881796690307328
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between UK and SAUD
$H_{A}$: There is a difference between UK and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49742.0 and a p-value of 0.2338169555650904, _we failed to reject the null hypothssis_
## Testing Results for UK against SING 
UK has a success rate of 0.9881796690307328
SING has a success rate of 1.0
$H_{0}$: There is not a difference between UK and SING
$H_{A}$: There is a difference between UK and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 304304.0 and a p-value of 0.003266412542216467, _we failed to reject the null hypothssis_
## Testing Results for UK against SKOR 
UK has a success rate of 0.9881796690307328
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between UK and SKOR
$H_{A}$: There is a difference between UK and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.231601513950719 and a p-value of 2.5570316871249384e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27195.0 and a p-value of 2.7715746934420966e-05, _we **reject** the null hypothssis_
## Testing Results for UK against SPN 
UK has a success rate of 0.9881796690307328
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between UK and SPN
$H_{A}$: There is a difference between UK and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 281314.0 and a p-value of 0.0046773460073110135, _we failed to reject the null hypothssis_
## Testing Results for UK against SVN 
UK has a success rate of 0.9881796690307328
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between UK and SVN
$H_{A}$: There is a difference between UK and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8797552320635138 and a p-value of 0.3792189429854683, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37212.0 and a p-value of 0.3795143141994185, _we failed to reject the null hypothssis_
## Testing Results for UK against SWTZ 
UK has a success rate of 0.9881796690307328
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between UK and SWTZ
$H_{A}$: There is a difference between UK and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161766.0 and a p-value of 0.03186490805324069, _we failed to reject the null hypothssis_
## Testing Results for UK against TBD 
UK has a success rate of 0.9881796690307328
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between UK and TBD
$H_{A}$: There is a difference between UK and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.26296271475284816 and a p-value of 0.7926230372396598, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 166802.0 and a p-value of 0.7928614448819042, _we failed to reject the null hypothssis_
## Testing Results for UK against THAI 
UK has a success rate of 0.9881796690307328
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between UK and THAI
$H_{A}$: There is a difference between UK and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.009234368781174807 and a p-value of 0.9926339644355466, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 71070.0 and a p-value of 0.9932427813569753, _we failed to reject the null hypothssis_
## Testing Results for UK against TURK 
UK has a success rate of 0.9881796690307328
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between UK and TURK
$H_{A}$: There is a difference between UK and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.1541497713054822 and a p-value of 0.24868742334104654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 111193.0 and a p-value of 0.24877188447992804, _we failed to reject the null hypothssis_
## Testing Results for UK against UAE 
UK has a success rate of 0.9881796690307328
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between UK and UAE
$H_{A}$: There is a difference between UK and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -3.1792539222893743 and a p-value of 0.0015303232759181424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 200222.0 and a p-value of 0.016981261456651832, _we failed to reject the null hypothssis_
## Testing Results for UK against UKR 
UK has a success rate of 0.9881796690307328
UKR has a success rate of 0.981549815498155
$H_{0}$: There is not a difference between UK and UKR
$H_{A}$: There is a difference between UK and UKR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.8247212602857308 and a p-value of 0.40970625287575424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115393.0 and a p-value of 0.40977093258472863, _we failed to reject the null hypothssis_
## Testing Results for UK against US 
UK has a success rate of 0.9881796690307328
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between UK and US
$H_{A}$: There is a difference between UK and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 7.297071519648154 and a p-value of 3.2882620252293177e-13, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2581793.0 and a p-value of 3.6449058609982645e-13, _we **reject** the null hypothssis_
