# Testing Results For UKR 
$H_{0}$: There is not a difference in collection success against UKR 
$H_{A}$: There is a difference in collection success against UKR
Out of 54 tests, there were 10 rejections from 54 independent-t test.
Out of 54 tests, there were 12 rejections from 54 Man Whitney u-tests.
## Testing Results for UKR against ALG 
UKR has a success rate of 0.981549815498155
ALG has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and ALG
$H_{A}$: There is a difference between UKR and ALG
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12901.0 and a p-value of 0.1794787326708568, _we failed to reject the null hypothssis_
## Testing Results for UKR against ARGN 
UKR has a success rate of 0.981549815498155
ARGN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and ARGN
$H_{A}$: There is a difference between UKR and ARGN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 56259.0 and a p-value of 0.005103718836087747, _we failed to reject the null hypothssis_
## Testing Results for UKR against ASRA 
UKR has a success rate of 0.981549815498155
ASRA has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and ASRA
$H_{A}$: There is a difference between UKR and ASRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36309.0 and a p-value of 0.024387692151611396, _we failed to reject the null hypothssis_
## Testing Results for UKR against AUS 
UKR has a success rate of 0.981549815498155
AUS has a success rate of 0.7289377289377289
$H_{0}$: There is not a difference between UKR and AUS
$H_{A}$: There is a difference between UKR and AUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 8.940261550676961 and a p-value of 6.098029833657253e-18, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 46336.0 and a p-value of 6.639614819130494e-17, _we **reject** the null hypothssis_
## Testing Results for UKR against BEL 
UKR has a success rate of 0.981549815498155
BEL has a success rate of 0.8883495145631068
$H_{0}$: There is not a difference between UKR and BEL
$H_{A}$: There is a difference between UKR and BEL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 4.365376415179799 and a p-value of 1.5585084986240834e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30514.5 and a p-value of 1.8353099202253893e-05, _we **reject** the null hypothssis_
## Testing Results for UKR against BRAZ 
UKR has a success rate of 0.981549815498155
BRAZ has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and BRAZ
$H_{A}$: There is a difference between UKR and BRAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 57722.0 and a p-value of 0.004561138760833921, _we failed to reject the null hypothssis_
## Testing Results for UKR against CA 
UKR has a success rate of 0.981549815498155
CA has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and CA
$H_{A}$: There is a difference between UKR and CA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30989.0 and a p-value of 0.03753618363613807, _we failed to reject the null hypothssis_
## Testing Results for UKR against CIS 
UKR has a success rate of 0.981549815498155
CIS has a success rate of 0.837386018237082
$H_{0}$: There is not a difference between UKR and CIS
$H_{A}$: There is a difference between UKR and CIS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 6.255347016003105 and a p-value of 6.0493186441796e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 102012.5 and a p-value of 8.76424815161289e-10, _we **reject** the null hypothssis_
## Testing Results for UKR against COL 
UKR has a success rate of 0.981549815498155
COL has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and COL
$H_{A}$: There is a difference between UKR and COL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8113.0 and a p-value of 0.28739805376195204, _we failed to reject the null hypothssis_
## Testing Results for UKR against DEN 
UKR has a success rate of 0.981549815498155
DEN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and DEN
$H_{A}$: There is a difference between UKR and DEN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 23009.0 and a p-value of 0.07303211530173775, _we failed to reject the null hypothssis_
## Testing Results for UKR against ESA 
UKR has a success rate of 0.981549815498155
ESA has a success rate of 0.9811320754716981
$H_{0}$: There is not a difference between UKR and ESA
$H_{A}$: There is a difference between UKR and ESA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.026940759817556427 and a p-value of 0.978521314483346, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14369.0 and a p-value of 0.9802714599065718, _we failed to reject the null hypothssis_
## Testing Results for UKR against EST 
UKR has a success rate of 0.981549815498155
EST has a success rate of 0.975
$H_{0}$: There is not a difference between UKR and EST
$H_{A}$: There is a difference between UKR and EST
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.28025449735208 and a p-value of 0.7794697875123416, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5455.5 and a p-value of 0.7819960177914748, _we failed to reject the null hypothssis_
## Testing Results for UKR against EUME 
UKR has a success rate of 0.981549815498155
EUME has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and EUME
$H_{A}$: There is a difference between UKR and EUME
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73150.0 and a p-value of 0.001412096972263614, _we failed to reject the null hypothssis_
## Testing Results for UKR against FIN 
UKR has a success rate of 0.981549815498155
FIN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and FIN
$H_{A}$: There is a difference between UKR and FIN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58919.0 and a p-value of 0.004161141102737602, _we failed to reject the null hypothssis_
## Testing Results for UKR against FR 
UKR has a success rate of 0.981549815498155
FR has a success rate of 0.908183632734531
$H_{0}$: There is not a difference between UKR and FR
$H_{A}$: There is a difference between UKR and FR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.951401873451202 and a p-value of 8.483508038971604e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 72866.0 and a p-value of 9.074751100284474e-05, _we **reject** the null hypothssis_
## Testing Results for UKR against GER 
UKR has a success rate of 0.981549815498155
GER has a success rate of 0.9766233766233766
$H_{0}$: There is not a difference between UKR and GER
$H_{A}$: There is a difference between UKR and GER
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.5131839098688111 and a p-value of 0.6078666356656524, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 314547.0 and a p-value of 0.6078878333167198, _we failed to reject the null hypothssis_
## Testing Results for UKR against GUAT 
UKR has a success rate of 0.981549815498155
GUAT has a success rate of 0.9705882352941176
$H_{0}$: There is not a difference between UKR and GUAT
$H_{A}$: There is a difference between UKR and GUAT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.566912648061645 and a p-value of 0.5711509248403434, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9315.0 and a p-value of 0.572296006235326, _we failed to reject the null hypothssis_
## Testing Results for UKR against HUN 
UKR has a success rate of 0.981549815498155
HUN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and HUN
$H_{A}$: There is a difference between UKR and HUN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36974.0 and a p-value of 0.023120431143061487, _we failed to reject the null hypothssis_
## Testing Results for UKR against IND 
UKR has a success rate of 0.981549815498155
IND has a success rate of 0.9704433497536946
$H_{0}$: There is not a difference between UKR and IND
$H_{A}$: There is a difference between UKR and IND
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.9041527956185024 and a p-value of 0.36623695731918204, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 55624.0 and a p-value of 0.3662420865443414, _we failed to reject the null hypothssis_
## Testing Results for UKR against INDO 
UKR has a success rate of 0.981549815498155
INDO has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and INDO
$H_{A}$: There is a difference between UKR and INDO
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 36575.0 and a p-value of 0.023872344961611235, _we failed to reject the null hypothssis_
## Testing Results for UKR against IRAN 
UKR has a success rate of 0.981549815498155
IRAN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and IRAN
$H_{A}$: There is a difference between UKR and IRAN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32186.0 and a p-value of 0.03404054066587393, _we failed to reject the null hypothssis_
## Testing Results for UKR against IRAQ 
UKR has a success rate of 0.981549815498155
IRAQ has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and IRAQ
$H_{A}$: There is a difference between UKR and IRAQ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14098.0 and a p-value of 0.16052256414241317, _we failed to reject the null hypothssis_
## Testing Results for UKR against ISRA 
UKR has a success rate of 0.981549815498155
ISRA has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and ISRA
$H_{A}$: There is a difference between UKR and ISRA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53200.0 and a p-value of 0.006461131471843832, _we failed to reject the null hypothssis_
## Testing Results for UKR against ISS 
UKR has a success rate of 0.981549815498155
ISS has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and ISS
$H_{A}$: There is a difference between UKR and ISS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 27531.0 and a p-value of 0.049922888441777044, _we failed to reject the null hypothssis_
## Testing Results for UKR against IT 
UKR has a success rate of 0.981549815498155
IT has a success rate of 0.9217391304347826
$H_{0}$: There is not a difference between UKR and IT
$H_{A}$: There is a difference between UKR and IT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.534516105678728 and a p-value of 0.00042421268732491485, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 132116.0 and a p-value of 0.00043590326078764226, _we **reject** the null hypothssis_
## Testing Results for UKR against JPN 
UKR has a success rate of 0.981549815498155
JPN has a success rate of 0.6016371077762619
$H_{0}$: There is not a difference between UKR and JPN
$H_{A}$: There is a difference between UKR and JPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 12.58767952545956 and a p-value of 7.727125808989057e-34, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 137055.0 and a p-value of 1.2380870255254619e-31, _we **reject** the null hypothssis_
## Testing Results for UKR against KAZ 
UKR has a success rate of 0.981549815498155
KAZ has a success rate of 0.989010989010989
$H_{0}$: There is not a difference between UKR and KAZ
$H_{A}$: There is a difference between UKR and KAZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.630072260434642 and a p-value of 0.5289663970837093, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24477.0 and a p-value of 0.5294933100533007, _we failed to reject the null hypothssis_
## Testing Results for UKR against KWT 
UKR has a success rate of 0.981549815498155
KWT has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and KWT
$H_{A}$: There is a difference between UKR and KWT
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18753.0 and a p-value of 0.10555130949802667, _we failed to reject the null hypothssis_
## Testing Results for UKR against LKA 
UKR has a success rate of 0.981549815498155
LKA has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and LKA
$H_{A}$: There is a difference between UKR and LKA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 30590.0 and a p-value of 0.03878343902333648, _we failed to reject the null hypothssis_
## Testing Results for UKR against LTU 
UKR has a success rate of 0.981549815498155
LTU has a success rate of 0.984375
$H_{0}$: There is not a difference between UKR and LTU
$H_{A}$: There is a difference between UKR and LTU
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.26491216515130905 and a p-value of 0.7911698067107378, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 43237.5 and a p-value of 0.7917498427079565, _we failed to reject the null hypothssis_
## Testing Results for UKR against MALA 
UKR has a success rate of 0.981549815498155
MALA has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and MALA
$H_{A}$: There is a difference between UKR and MALA
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 32585.0 and a p-value of 0.03295251901681143, _we failed to reject the null hypothssis_
## Testing Results for UKR against MEX 
UKR has a success rate of 0.981549815498155
MEX has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and MEX
$H_{A}$: There is a difference between UKR and MEX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34447.0 and a p-value of 0.028334929189976654, _we failed to reject the null hypothssis_
## Testing Results for UKR against MUS 
UKR has a success rate of 0.981549815498155
MUS has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and MUS
$H_{A}$: There is a difference between UKR and MUS
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4389.0 and a p-value of 0.4349591094310171, _we failed to reject the null hypothssis_
## Testing Results for UKR against MX 
UKR has a success rate of 0.981549815498155
MX has a success rate of 0.0
$H_{0}$: There is not a difference between UKR and MX
$H_{A}$: There is a difference between UKR and MX
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 119.84990613262906 and a p-value of 3.98076181496769e-236, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73837.5 and a p-value of 2.861298181318677e-116, _we **reject** the null hypothssis_
## Testing Results for UKR against NETH 
UKR has a success rate of 0.981549815498155
NETH has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and NETH
$H_{A}$: There is a difference between UKR and NETH
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 37240.0 and a p-value of 0.022632848142257522, _we failed to reject the null hypothssis_
## Testing Results for UKR against NPL 
UKR has a success rate of 0.981549815498155
NPL has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and NPL
$H_{A}$: There is a difference between UKR and NPL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29127.0 and a p-value of 0.04374240684830853, _we failed to reject the null hypothssis_
## Testing Results for UKR against POL 
UKR has a success rate of 0.981549815498155
POL has a success rate of 0.979381443298969
$H_{0}$: There is not a difference between UKR and POL
$H_{A}$: There is a difference between UKR and POL
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.2047539828009911 and a p-value of 0.8378196001214827, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 65860.0 and a p-value of 0.8382244603547566, _we failed to reject the null hypothssis_
## Testing Results for UKR against PRC 
UKR has a success rate of 0.981549815498155
PRC has a success rate of 0.988759187202767
$H_{0}$: There is not a difference between UKR and PRC
$H_{A}$: There is a difference between UKR and PRC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.0311720930287518 and a p-value of 0.30255670373857013, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 311152.0 and a p-value of 0.30257305060496853, _we failed to reject the null hypothssis_
## Testing Results for UKR against PRY 
UKR has a success rate of 0.981549815498155
PRY has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and PRY
$H_{A}$: There is a difference between UKR and PRY
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8512.0 and a p-value of 0.27580069192390744, _we failed to reject the null hypothssis_
## Testing Results for UKR against ROC 
UKR has a success rate of 0.981549815498155
ROC has a success rate of 0.17751479289940827
$H_{0}$: There is not a difference between UKR and ROC
$H_{A}$: There is a difference between UKR and ROC
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 31.564409845382862 and a p-value of 6.878967974473248e-115, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 41311.5 and a p-value of 2.7852596407761565e-68, _we **reject** the null hypothssis_
## Testing Results for UKR against RP 
UKR has a success rate of 0.981549815498155
RP has a success rate of 0.6735187424425635
$H_{0}$: There is not a difference between UKR and RP
$H_{A}$: There is a difference between UKR and RP
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 10.660968257047127 and a p-value of 2.565424887320465e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 146576.0 and a p-value of 3.237806474955346e-24, _we **reject** the null hypothssis_
## Testing Results for UKR against SAFR 
UKR has a success rate of 0.981549815498155
SAFR has a success rate of 0.9328358208955224
$H_{0}$: There is not a difference between UKR and SAFR
$H_{A}$: There is a difference between UKR and SAFR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.5388472546093928 and a p-value of 0.011497067882821366, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19041.5 and a p-value of 0.011719442187673214, _we failed to reject the null hypothssis_
## Testing Results for UKR against SAUD 
UKR has a success rate of 0.981549815498155
SAUD has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and SAUD
$H_{A}$: There is a difference between UKR and SAUD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15827.0 and a p-value of 0.13703580603415147, _we failed to reject the null hypothssis_
## Testing Results for UKR against SING 
UKR has a success rate of 0.981549815498155
SING has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and SING
$H_{A}$: There is a difference between UKR and SING
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96824.0 and a p-value of 0.0002413284810951987, _we **reject** the null hypothssis_
## Testing Results for UKR against SKOR 
UKR has a success rate of 0.981549815498155
SKOR has a success rate of 0.9166666666666666
$H_{0}$: There is not a difference between UKR and SKOR
$H_{A}$: There is a difference between UKR and SKOR
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 2.677430885603257 and a p-value of 0.007790973667646479, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8657.5 and a p-value of 0.008043520670299292, _we failed to reject the null hypothssis_
## Testing Results for UKR against SPN 
UKR has a success rate of 0.981549815498155
SPN has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and SPN
$H_{A}$: There is a difference between UKR and SPN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89509.0 and a p-value of 0.0004152131450226073, _we **reject** the null hypothssis_
## Testing Results for UKR against SVN 
UKR has a success rate of 0.981549815498155
SVN has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between UKR and SVN
$H_{A}$: There is a difference between UKR and SVN
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 0.26528020703435673 and a p-value of 0.7909471530783628, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11842.0 and a p-value of 0.7924397543511812, _we failed to reject the null hypothssis_
## Testing Results for UKR against SWTZ 
UKR has a success rate of 0.981549815498155
SWTZ has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and SWTZ
$H_{A}$: There is a difference between UKR and SWTZ
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 51471.0 and a p-value of 0.007386318219190479, _we failed to reject the null hypothssis_
## Testing Results for UKR against TBD 
UKR has a success rate of 0.981549815498155
TBD has a success rate of 0.9898734177215189
$H_{0}$: There is not a difference between UKR and TBD
$H_{A}$: There is a difference between UKR and TBD
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.9131605415350165 and a p-value of 0.3614895508165433, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 53077.0 and a p-value of 0.3616373225477545, _we failed to reject the null hypothssis_
## Testing Results for UKR against THAI 
UKR has a success rate of 0.981549815498155
THAI has a success rate of 0.9880952380952381
$H_{0}$: There is not a difference between UKR and THAI
$H_{A}$: There is a difference between UKR and THAI
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.5310885178064343 and a p-value of 0.5956272556735086, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 22615.0 and a p-value of 0.5962917387466212, _we failed to reject the null hypothssis_
## Testing Results for UKR against TURK 
UKR has a success rate of 0.981549815498155
TURK has a success rate of 0.9962264150943396
$H_{0}$: There is not a difference between UKR and TURK
$H_{A}$: There is a difference between UKR and TURK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -1.6275898062000727 and a p-value of 0.10444218149774338, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35380.5 and a p-value of 0.10702730726931237, _we failed to reject the null hypothssis_
## Testing Results for UKR against UAE 
UKR has a success rate of 0.981549815498155
UAE has a success rate of 1.0
$H_{0}$: There is not a difference between UKR and UAE
$H_{A}$: There is a difference between UKR and UAE
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -2.2528177844479114 and a p-value of 0.02507368309357032, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 63707.0 and a p-value of 0.0028867963525398706, _we failed to reject the null hypothssis_
## Testing Results for UKR against UK 
UKR has a success rate of 0.981549815498155
UK has a success rate of 0.9881796690307328
$H_{0}$: There is not a difference between UKR and UK
$H_{A}$: There is a difference between UKR and UK
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of -0.8247212602857308 and a p-value of 0.40970625287575424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 113873.0 and a p-value of 0.40977093258472863, _we failed to reject the null hypothssis_
## Testing Results for UKR against US 
UKR has a success rate of 0.981549815498155
US has a success rate of 0.918885774351787
$H_{0}$: There is not a difference between UKR and US
$H_{A}$: There is a difference between UKR and US
Starting with an alpha of 0.05, it was corrected to 0.000925925925925926
__independent t-testing__: With a t-statistic of 3.7563022817733698 and a p-value of 0.00017408261930401588, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 821900.5 and a p-value of 0.00017532343361166078, _we **reject** the null hypothssis_
