# Testing Results For AFSK 
$H_{0}$: There is not a difference in collection success against AFSK 
$H_{A}$: There is a difference in collection success against AFSK
Out of 15 tests, there were 10 rejections from 15 independent-t test.
Out of 15 tests, there were 10 rejections from 15 Man Whitney u-tests.
## Testing Results for AFSK against DUV 
AFSK has a success rate of 0.9251012145748988
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between AFSK and DUV
$H_{A}$: There is a difference between AFSK and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.090690815152012 and a p-value of 6.785538856070922e-71, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1980576.0 and a p-value of 6.248213356720143e-18, _we **reject** the null hypothssis_
## Testing Results for AFSK against FSK AX.100 Mode 5 
AFSK has a success rate of 0.9251012145748988
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and FSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2897608.5 and a p-value of 3.80208416032545e-26, _we **reject** the null hypothssis_
## Testing Results for AFSK against GFSK Rktr 
AFSK has a success rate of 0.9251012145748988
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and GFSK Rktr
$H_{A}$: There is a difference between AFSK and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 491503.5 and a p-value of 1.1371813531695443e-05, _we **reject** the null hypothssis_
## Testing Results for AFSK against GMSK 
AFSK has a success rate of 0.9251012145748988
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between AFSK and GMSK
$H_{A}$: There is a difference between AFSK and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 11.287647364756824 and a p-value of 2.3256417265165762e-29, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11975485.5 and a p-value of 3.520443603521049e-29, _we **reject** the null hypothssis_
## Testing Results for AFSK against FSK AX.25 G3RUH 
AFSK has a success rate of 0.9251012145748988
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between AFSK and FSK AX.25 G3RUH
$H_{A}$: There is a difference between AFSK and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -6.38709200441965 and a p-value of 1.8323015224869618e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1999858.5 and a p-value of 1.970132336259534e-10, _we **reject** the null hypothssis_
## Testing Results for AFSK against AFSK SALSAT 
AFSK has a success rate of 0.9251012145748988
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and AFSK SALSAT
$H_{A}$: There is a difference between AFSK and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 555255.0 and a p-value of 3.0994312705752523e-06, _we **reject** the null hypothssis_
## Testing Results for AFSK against BPSK 
AFSK has a success rate of 0.9251012145748988
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between AFSK and BPSK
$H_{A}$: There is a difference between AFSK and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -1.9711469827900128 and a p-value of 0.0487403074371672, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8437482.0 and a p-value of 0.04874752292418598, _we failed to reject the null hypothssis_
## Testing Results for AFSK against MSK AX.100 Mode 5 
AFSK has a success rate of 0.9251012145748988
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between AFSK and MSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -16.448116523819657 and a p-value of 2.185802400186372e-59, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2301889.5 and a p-value of 4.547091622192063e-19, _we **reject** the null hypothssis_
## Testing Results for AFSK against PSK31 
AFSK has a success rate of 0.9251012145748988
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and PSK31
$H_{A}$: There is a difference between AFSK and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2056.5 and a p-value of 0.776678097368718, _we failed to reject the null hypothssis_
## Testing Results for AFSK against AFSK S-Net 
AFSK has a success rate of 0.9251012145748988
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and AFSK S-Net
$H_{A}$: There is a difference between AFSK and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 257062.5 and a p-value of 0.0014864807343278003, _we **reject** the null hypothssis_
## Testing Results for AFSK against BPSK PMT-A3 
AFSK has a success rate of 0.9251012145748988
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and BPSK PMT-A3
$H_{A}$: There is a difference between AFSK and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1725403.5 and a p-value of 2.643550393590077e-16, _we **reject** the null hypothssis_
## Testing Results for AFSK against FSK 
AFSK has a success rate of 0.9251012145748988
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between AFSK and FSK
$H_{A}$: There is a difference between AFSK and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.1674887588802758 and a p-value of 0.24304193913990807, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 11611341.0 and a p-value of 0.2430251074996499, _we failed to reject the null hypothssis_
## Testing Results for AFSK against MSK 
AFSK has a success rate of 0.9251012145748988
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and MSK
$H_{A}$: There is a difference between AFSK and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2056.5 and a p-value of 0.776678097368718, _we failed to reject the null hypothssis_
## Testing Results for AFSK against GFSK 
AFSK has a success rate of 0.9251012145748988
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between AFSK and GFSK
$H_{A}$: There is a difference between AFSK and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -1.4621348227037727 and a p-value of 0.14374987572110262, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5385879.0 and a p-value of 0.1437412231302876, _we failed to reject the null hypothssis_
## Testing Results for AFSK against MSK AX.100 Mode 6 
AFSK has a success rate of 0.9251012145748988
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK and MSK AX.100 Mode 6
$H_{A}$: There is a difference between AFSK and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -18.970494192049678 and a p-value of 3.1271957140059303e-77, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 639571.5 and a p-value of 5.612102584659889e-07, _we **reject** the null hypothssis_
