# Testing Results For AFSK SALSAT 
$H_{0}$: There is not a difference in collection success against AFSK SALSAT 
$H_{A}$: There is a difference in collection success against AFSK SALSAT
Out of 15 tests, there were 5 rejections from 15 independent-t test.
Out of 15 tests, there were 5 rejections from 15 Man Whitney u-tests.
## Testing Results for AFSK SALSAT against DUV 
AFSK SALSAT has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between AFSK SALSAT and DUV
$H_{A}$: There is a difference between AFSK SALSAT and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.5296236744487556 and a p-value of 0.596468454242656, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 130005.0 and a p-value of 0.5976267887244001, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against AFSK 
AFSK SALSAT has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between AFSK SALSAT and AFSK
$H_{A}$: There is a difference between AFSK SALSAT and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.674471701337521 and a p-value of 3.0293334821583863e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 645165.0 and a p-value of 3.0994312705752523e-06, _we **reject** the null hypothssis_
## Testing Results for AFSK SALSAT against FSK AX.100 Mode 5 
AFSK SALSAT has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and FSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK SALSAT and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against GFSK Rktr 
AFSK SALSAT has a success rate of 1.0
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and GFSK Rktr
$H_{A}$: There is a difference between AFSK SALSAT and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against GMSK 
AFSK SALSAT has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between AFSK SALSAT and GMSK
$H_{A}$: There is a difference between AFSK SALSAT and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 6.853590659559382 and a p-value of 8.02403537219696e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 778005.0 and a p-value of 8.856554949460112e-12, _we **reject** the null hypothssis_
## Testing Results for AFSK SALSAT against FSK AX.25 G3RUH 
AFSK SALSAT has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between AFSK SALSAT and FSK AX.25 G3RUH
$H_{A}$: There is a difference between AFSK SALSAT and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.2780168526828732 and a p-value of 0.02289775786441803, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 131085.0 and a p-value of 0.022986792207121555, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against BPSK 
AFSK SALSAT has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between AFSK SALSAT and BPSK
$H_{A}$: There is a difference between AFSK SALSAT and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.289736051027215 and a p-value of 1.830019244147838e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 551205.0 and a p-value of 1.8638000570603596e-05, _we **reject** the null hypothssis_
## Testing Results for AFSK SALSAT against MSK AX.100 Mode 5 
AFSK SALSAT has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between AFSK SALSAT and MSK AX.100 Mode 5
$H_{A}$: There is a difference between AFSK SALSAT and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.9852377678700905 and a p-value of 0.32467962146494034, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 151065.0 and a p-value of 0.3249503676114801, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against PSK31 
AFSK SALSAT has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and PSK31
$H_{A}$: There is a difference between AFSK SALSAT and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against AFSK S-Net 
AFSK SALSAT has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and AFSK S-Net
$H_{A}$: There is a difference between AFSK SALSAT and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against BPSK PMT-A3 
AFSK SALSAT has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and BPSK PMT-A3
$H_{A}$: There is a difference between AFSK SALSAT and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against FSK 
AFSK SALSAT has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between AFSK SALSAT and FSK
$H_{A}$: There is a difference between AFSK SALSAT and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.887541168063797 and a p-value of 1.0502461203030933e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 757620.0 and a p-value of 1.0755629379478212e-06, _we **reject** the null hypothssis_
## Testing Results for AFSK SALSAT against MSK 
AFSK SALSAT has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and MSK
$H_{A}$: There is a difference between AFSK SALSAT and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for AFSK SALSAT against GFSK 
AFSK SALSAT has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between AFSK SALSAT and GFSK
$H_{A}$: There is a difference between AFSK SALSAT and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.345540473747276 and a p-value of 1.4404010164504561e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 351810.0 and a p-value of 1.4829992434336054e-05, _we **reject** the null hypothssis_
## Testing Results for AFSK SALSAT against MSK AX.100 Mode 6 
AFSK SALSAT has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between AFSK SALSAT and MSK AX.100 Mode 6
$H_{A}$: There is a difference between AFSK SALSAT and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
