# Testing Results For FSK AX.25 G3RUH 
$H_{0}$: There is not a difference in collection success against FSK AX.25 G3RUH 
$H_{A}$: There is a difference in collection success against FSK AX.25 G3RUH
Out of 15 tests, there were 13 rejections from 15 independent-t test.
Out of 15 tests, there were 9 rejections from 15 Man Whitney u-tests.
## Testing Results for FSK AX.25 G3RUH against DUV 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and DUV
$H_{A}$: There is a difference between FSK AX.25 G3RUH and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -3.9376095033547487 and a p-value of 8.76850068063941e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 450211.5 and a p-value of 8.184846705808036e-05, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against AFSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and AFSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 6.38709200441965 and a p-value of 1.8323015224869618e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2237179.5 and a p-value of 1.970132336259534e-10, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against FSK AX.100 Mode 5 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and FSK AX.100 Mode 5
$H_{A}$: There is a difference between FSK AX.25 G3RUH and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 658707.5 and a p-value of 2.2520587778682425e-07, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against GFSK Rktr 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and GFSK Rktr
$H_{A}$: There is a difference between FSK AX.25 G3RUH and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 111732.5 and a p-value of 0.03239625979935051, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against GMSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and GMSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 11.082322890801095 and a p-value of 2.8794395014097857e-28, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2700898.5 and a p-value of 5.27111818467214e-28, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against AFSK SALSAT 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and AFSK SALSAT
$H_{A}$: There is a difference between FSK AX.25 G3RUH and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 126225.0 and a p-value of 0.022986792207121555, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against BPSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and BPSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 5.468251402153449 and a p-value of 4.7758609385314926e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1911007.5 and a p-value of 4.9863798909331814e-08, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against MSK AX.100 Mode 5 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and MSK AX.100 Mode 5
$H_{A}$: There is a difference between FSK AX.25 G3RUH and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -3.2131755826908903 and a p-value of 0.0013459380502760265, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 523168.5 and a p-value of 0.0007259693576385153, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against PSK31 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and PSK31
$H_{A}$: There is a difference between FSK AX.25 G3RUH and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 467.5 and a p-value of 0.8957983436029622, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against AFSK S-Net 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and AFSK S-Net
$H_{A}$: There is a difference between FSK AX.25 G3RUH and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 58437.5 and a p-value of 0.12159165392755054, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against BPSK PMT-A3 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and BPSK PMT-A3
$H_{A}$: There is a difference between FSK AX.25 G3RUH and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 392232.5 and a p-value of 6.345839945237064e-05, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against FSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and FSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 6.894248927298171 and a p-value of 5.956566660193578e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2627408.0 and a p-value of 6.498999210734891e-12, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against MSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and MSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 467.5 and a p-value of 0.8957983436029622, _we failed to reject the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against GFSK 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and GFSK
$H_{A}$: There is a difference between FSK AX.25 G3RUH and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 5.491927503163467 and a p-value of 4.2678892616510806e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1219745.0 and a p-value of 4.539570595917866e-08, _we **reject** the null hypothssis_
## Testing Results for FSK AX.25 G3RUH against MSK AX.100 Mode 6 
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between FSK AX.25 G3RUH and MSK AX.100 Mode 6
$H_{A}$: There is a difference between FSK AX.25 G3RUH and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -4.281036408076044 and a p-value of 2.0485935072467147e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 145392.5 and a p-value of 0.014699774818534454, _we failed to reject the null hypothssis_
