# Testing Results For GFSK Rktr 
$H_{0}$: There is not a difference in collection success against GFSK Rktr 
$H_{A}$: There is a difference in collection success against GFSK Rktr
Out of 15 tests, there were 5 rejections from 15 independent-t test.
Out of 15 tests, there were 5 rejections from 15 Man Whitney u-tests.
## Testing Results for GFSK Rktr against DUV 
GFSK Rktr has a success rate of 1.0
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between GFSK Rktr and DUV
$H_{A}$: There is a difference between GFSK Rktr and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.4982821669838685 and a p-value of 0.6183765613414187, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 115078.5 and a p-value of 0.6196455245902908, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against AFSK 
GFSK Rktr has a success rate of 1.0
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between GFSK Rktr and AFSK
$H_{A}$: There is a difference between GFSK Rktr and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.397936897789073 and a p-value of 1.1170895595505798e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 571090.5 and a p-value of 1.1371813531695443e-05, _we **reject** the null hypothssis_
## Testing Results for GFSK Rktr against FSK AX.100 Mode 5 
GFSK Rktr has a success rate of 1.0
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and FSK AX.100 Mode 5
$H_{A}$: There is a difference between GFSK Rktr and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against GMSK 
GFSK Rktr has a success rate of 1.0
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between GFSK Rktr and GMSK
$H_{A}$: There is a difference between GFSK Rktr and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 6.448144275161764 and a p-value of 1.2335922809281374e-10, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 688678.5 and a p-value of 1.3329451304029753e-10, _we **reject** the null hypothssis_
## Testing Results for GFSK Rktr against FSK AX.25 G3RUH 
GFSK Rktr has a success rate of 1.0
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between GFSK Rktr and FSK AX.25 G3RUH
$H_{A}$: There is a difference between GFSK Rktr and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.143210116488044 and a p-value of 0.03229851082879147, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 116034.5 and a p-value of 0.03239625979935051, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against AFSK SALSAT 
GFSK Rktr has a success rate of 1.0
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and AFSK SALSAT
$H_{A}$: There is a difference between GFSK Rktr and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against BPSK 
GFSK Rktr has a success rate of 1.0
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between GFSK Rktr and BPSK
$H_{A}$: There is a difference between GFSK Rktr and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.03595982834957 and a p-value of 5.537766285979772e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 487918.5 and a p-value of 5.6171383956678024e-05, _we **reject** the null hypothssis_
## Testing Results for GFSK Rktr against MSK AX.100 Mode 5 
GFSK Rktr has a success rate of 1.0
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between GFSK Rktr and MSK AX.100 Mode 5
$H_{A}$: There is a difference between GFSK Rktr and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 0.9269385203281226 and a p-value of 0.35412389240925424, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 133720.5 and a p-value of 0.3544370944682036, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against PSK31 
GFSK Rktr has a success rate of 1.0
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and PSK31
$H_{A}$: There is a difference between GFSK Rktr and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against AFSK S-Net 
GFSK Rktr has a success rate of 1.0
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and AFSK S-Net
$H_{A}$: There is a difference between GFSK Rktr and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against BPSK PMT-A3 
GFSK Rktr has a success rate of 1.0
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and BPSK PMT-A3
$H_{A}$: There is a difference between GFSK Rktr and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against FSK 
GFSK Rktr has a success rate of 1.0
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between GFSK Rktr and FSK
$H_{A}$: There is a difference between GFSK Rktr and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.598403135133063 and a p-value of 4.354097546402919e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 670634.0 and a p-value of 4.43568644837624e-06, _we **reject** the null hypothssis_
## Testing Results for GFSK Rktr against MSK 
GFSK Rktr has a success rate of 1.0
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and MSK
$H_{A}$: There is a difference between GFSK Rktr and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for GFSK Rktr against GFSK 
GFSK Rktr has a success rate of 1.0
GFSK has a success rate of 0.9345870809484873
$H_{0}$: There is not a difference between GFSK Rktr and GFSK
$H_{A}$: There is a difference between GFSK Rktr and GFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 4.088453099150531 and a p-value of 4.470239433684725e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 311417.0 and a p-value of 4.573253666422618e-05, _we **reject** the null hypothssis_
## Testing Results for GFSK Rktr against MSK AX.100 Mode 6 
GFSK Rktr has a success rate of 1.0
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK Rktr and MSK AX.100 Mode 6
$H_{A}$: There is a difference between GFSK Rktr and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
