# Testing Results For GFSK 
$H_{0}$: There is not a difference in collection success against GFSK 
$H_{A}$: There is a difference in collection success against GFSK
Out of 15 tests, there were 10 rejections from 15 independent-t test.
Out of 15 tests, there were 10 rejections from 15 Man Whitney u-tests.
## Testing Results for GFSK against DUV 
GFSK has a success rate of 0.9345870809484873
DUV has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between GFSK and DUV
$H_{A}$: There is a difference between GFSK and DUV
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -12.604255906539558 and a p-value of 2.0364486776327953e-35, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1100789.0 and a p-value of 1.5649467228577404e-15, _we **reject** the null hypothssis_
## Testing Results for GFSK against AFSK 
GFSK has a success rate of 0.9345870809484873
AFSK has a success rate of 0.9251012145748988
$H_{0}$: There is not a difference between GFSK and AFSK
$H_{A}$: There is a difference between GFSK and AFSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 1.4621348227037727 and a p-value of 0.14374987572110262, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 5489037.0 and a p-value of 0.1437412231302876, _we failed to reject the null hypothssis_
## Testing Results for GFSK against FSK AX.100 Mode 5 
GFSK has a success rate of 0.9345870809484873
FSK AX.100 Mode 5 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and FSK AX.100 Mode 5
$H_{A}$: There is a difference between GFSK and FSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1610487.0 and a p-value of 1.074740527625176e-22, _we **reject** the null hypothssis_
## Testing Results for GFSK against GFSK Rktr 
GFSK has a success rate of 0.9345870809484873
GFSK Rktr has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and GFSK Rktr
$H_{A}$: There is a difference between GFSK and GFSK Rktr
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 273177.0 and a p-value of 4.573253666422618e-05, _we **reject** the null hypothssis_
## Testing Results for GFSK against GMSK 
GFSK has a success rate of 0.9345870809484873
GMSK has a success rate of 0.8517632994620442
$H_{0}$: There is not a difference between GFSK and GMSK
$H_{A}$: There is a difference between GFSK and GMSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 10.367753168043798 and a p-value of 5.13652704095779e-25, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6646629.0 and a p-value of 7.4555173509628135e-25, _we **reject** the null hypothssis_
## Testing Results for GFSK against FSK AX.25 G3RUH 
GFSK has a success rate of 0.9345870809484873
FSK AX.25 G3RUH has a success rate of 0.9811122770199371
$H_{0}$: There is not a difference between GFSK and FSK AX.25 G3RUH
$H_{A}$: There is a difference between GFSK and FSK AX.25 G3RUH
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -5.491927503163467 and a p-value of 4.2678892616510806e-08, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1111293.0 and a p-value of 4.539570595917866e-08, _we **reject** the null hypothssis_
## Testing Results for GFSK against AFSK SALSAT 
GFSK has a success rate of 0.9345870809484873
AFSK SALSAT has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and AFSK SALSAT
$H_{A}$: There is a difference between GFSK and AFSK SALSAT
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 308610.0 and a p-value of 1.4829992434336054e-05, _we **reject** the null hypothssis_
## Testing Results for GFSK against BPSK 
GFSK has a success rate of 0.9345870809484873
BPSK has a success rate of 0.9361646690984888
$H_{0}$: There is not a difference between GFSK and BPSK
$H_{A}$: There is a difference between GFSK and BPSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -0.24828255282292946 and a p-value of 0.8039239127311515, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4686469.0 and a p-value of 0.8039144227871792, _we failed to reject the null hypothssis_
## Testing Results for GFSK against MSK AX.100 Mode 5 
GFSK has a success rate of 0.9345870809484873
MSK AX.100 Mode 5 has a success rate of 0.9964125560538116
$H_{0}$: There is not a difference between GFSK and MSK AX.100 Mode 5
$H_{A}$: There is a difference between GFSK and MSK AX.100 Mode 5
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -11.63983451006798 and a p-value of 1.1645159858151797e-30, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1279337.0 and a p-value of 3.300735487443892e-16, _we **reject** the null hypothssis_
## Testing Results for GFSK against PSK31 
GFSK has a success rate of 0.9345870809484873
PSK31 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and PSK31
$H_{A}$: There is a difference between GFSK and PSK31
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1143.0 and a p-value of 0.7926680293579293, _we failed to reject the null hypothssis_
## Testing Results for GFSK against AFSK S-Net 
GFSK has a success rate of 0.9345870809484873
AFSK S-Net has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and AFSK S-Net
$H_{A}$: There is a difference between GFSK and AFSK S-Net
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 142875.0 and a p-value of 0.003156071641294347, _we **reject** the null hypothssis_
## Testing Results for GFSK against BPSK PMT-A3 
GFSK has a success rate of 0.9345870809484873
BPSK PMT-A3 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and BPSK PMT-A3
$H_{A}$: There is a difference between GFSK and BPSK PMT-A3
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 958977.0 and a p-value of 3.095307305252921e-14, _we **reject** the null hypothssis_
## Testing Results for GFSK against FSK 
GFSK has a success rate of 0.9345870809484873
FSK has a success rate of 0.9186897880539499
$H_{0}$: There is not a difference between GFSK and FSK
$H_{A}$: There is a difference between GFSK and FSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of 2.443440112091683 and a p-value of 0.014570477166635704, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6448276.0 and a p-value of 0.014580553843219945, _we failed to reject the null hypothssis_
## Testing Results for GFSK against MSK 
GFSK has a success rate of 0.9345870809484873
MSK has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and MSK
$H_{A}$: There is a difference between GFSK and MSK
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1143.0 and a p-value of 0.7926680293579293, _we failed to reject the null hypothssis_
## Testing Results for GFSK against MSK AX.100 Mode 6 
GFSK has a success rate of 0.9345870809484873
MSK AX.100 Mode 6 has a success rate of 1.0
$H_{0}$: There is not a difference between GFSK and MSK AX.100 Mode 6
$H_{A}$: There is a difference between GFSK and MSK AX.100 Mode 6
Starting with an alpha of 0.05, it was corrected to 0.0033333333333333335
__independent t-testing__: With a t-statistic of -13.0816133914699 and a p-value of 7.587480635513643e-38, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 355473.0 and a p-value of 3.379481835285922e-06, _we **reject** the null hypothssis_
