# Testing Results For 12500 
$H_{0}$: There is not a difference in collection success against 12500 
$H_{A}$: There is a difference in collection success against 12500
Out of 17 tests, there were 5 rejections from 17 independent-t test.
Out of 17 tests, there were 5 rejections from 17 Man Whitney u-tests.
## Testing Results for 12500 against 2048 
12500 has a success rate of 0.9948320413436692
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 2048
$H_{A}$: There is a difference between 12500 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 385.0 and a p-value of 0.93914244968093, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 2400 
12500 has a success rate of 0.9948320413436692
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 12500 and 2400
$H_{A}$: There is a difference between 12500 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.177003967210446 and a p-value of 0.2395249603321808, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89903.5 and a p-value of 0.23963651878135472, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 9600 
12500 has a success rate of 0.9948320413436692
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 12500 and 9600
$H_{A}$: There is a difference between 12500 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 5.756872152846068 and a p-value of 8.746265269633647e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2887368.5 and a p-value of 8.906524380552604e-09, _we **reject** the null hypothssis_
## Testing Results for 12500 against 800 
12500 has a success rate of 0.9948320413436692
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 800
$H_{A}$: There is a difference between 12500 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 161507.5 and a p-value of 0.0373520111726612, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 128000 
12500 has a success rate of 0.9948320413436692
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 12500 and 128000
$H_{A}$: There is a difference between 12500 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 9.832653813734224 and a p-value of 8.985039222277322e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14066.5 and a p-value of 4.720855765423406e-19, _we **reject** the null hypothssis_
## Testing Results for 12500 against 4800 
12500 has a success rate of 0.9948320413436692
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 12500 and 4800
$H_{A}$: There is a difference between 12500 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.6621971584750204 and a p-value of 0.09656941847011857, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 562146.0 and a p-value of 0.09659098663665676, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 19200 
12500 has a success rate of 0.9948320413436692
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 12500 and 19200
$H_{A}$: There is a difference between 12500 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -0.4885645605997094 and a p-value of 0.6252331782784586, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 174408.0 and a p-value of 0.6255843978204247, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 40000 
12500 has a success rate of 0.9948320413436692
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 40000
$H_{A}$: There is a difference between 12500 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12705.0 and a p-value of 0.5617508642662004, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 200 
12500 has a success rate of 0.9948320413436692
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 12500 and 200
$H_{A}$: There is a difference between 12500 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.087949201588608 and a p-value of 0.2771999020492886, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 185378.5 and a p-value of 0.14581120331066005, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 9766 
12500 has a success rate of 0.9948320413436692
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 12500 and 9766
$H_{A}$: There is a difference between 12500 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.6431104083306876 and a p-value of 0.10102603779884425, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 17134.5 and a p-value of 0.1015401689047702, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 57600 
12500 has a success rate of 0.9948320413436692
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 57600
$H_{A}$: There is a difference between 12500 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8277.5 and a p-value of 0.6408812218243121, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 5000 
12500 has a success rate of 0.9948320413436692
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 5000
$H_{A}$: There is a difference between 12500 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 577.5 and a p-value of 0.917252069992689, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 400 
12500 has a success rate of 0.9948320413436692
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 400
$H_{A}$: There is a difference between 12500 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 192.5 and a p-value of 0.9712897046767986, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 1200 
12500 has a success rate of 0.9948320413436692
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 12500 and 1200
$H_{A}$: There is a difference between 12500 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 5.259723960584587 and a p-value of 1.4890747858660757e-07, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1259799.0 and a p-value of 1.530287119943405e-07, _we **reject** the null hypothssis_
## Testing Results for 12500 against 14832 
12500 has a success rate of 0.9948320413436692
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 12500 and 14832
$H_{A}$: There is a difference between 12500 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.4160490122855356 and a p-value of 0.15756756481253945, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2887.5 and a p-value of 0.787561505324817, _we failed to reject the null hypothssis_
## Testing Results for 12500 against 115200 
12500 has a success rate of 0.9948320413436692
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 12500 and 115200
$H_{A}$: There is a difference between 12500 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 31.00895848138396 and a p-value of 3.2153513786280492e-108, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4631.0 and a p-value of 2.6680729056488697e-63, _we **reject** the null hypothssis_
## Testing Results for 12500 against 38400 
12500 has a success rate of 0.9948320413436692
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 12500 and 38400
$H_{A}$: There is a difference between 12500 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 24.661888190055446 and a p-value of 4.29828776410171e-85, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 18132.0 and a p-value of 9.846957612519901e-58, _we **reject** the null hypothssis_
