# Testing Results For 14832 
$H_{0}$: There is not a difference in collection success against 14832 
$H_{A}$: There is a difference in collection success against 14832
Out of 17 tests, there were 2 rejections from 17 independent-t test.
Out of 17 tests, there were 2 rejections from 17 Man Whitney u-tests.
## Testing Results for 14832 against 2048 
14832 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 2048
$H_{A}$: There is a difference between 14832 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 2400 
14832 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 14832 and 2400
$H_{A}$: There is a difference between 14832 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.44381425859334417 and a p-value of 0.6573794041522893, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3502.5 and a p-value of 0.6604771787377852, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 9600 
14832 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 14832 and 9600
$H_{A}$: There is a difference between 14832 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.2049494229576285 and a p-value of 0.22824350517869393, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 112447.5 and a p-value of 0.22825595420177247, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 800 
14832 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 800
$H_{A}$: There is a difference between 14832 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 128000 
14832 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 14832 and 128000
$H_{A}$: There is a difference between 14832 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.130854415613733 and a p-value of 0.036516856062614046, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 547.5 and a p-value of 0.03835151526916987, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 4800 
14832 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 14832 and 4800
$H_{A}$: There is a difference between 14832 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.4937811011329436 and a p-value of 0.6214983442975055, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21900.0 and a p-value of 0.6219207063543988, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 19200 
14832 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 14832 and 19200
$H_{A}$: There is a difference between 14832 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.22336308454650025 and a p-value of 0.8233027346086468, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6795.0 and a p-value of 0.8270296713078364, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 40000 
14832 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 40000
$H_{A}$: There is a difference between 14832 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 200 
14832 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 14832 and 200
$H_{A}$: There is a difference between 14832 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.12480700504465603 and a p-value of 0.9007020684894065, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 7222.5 and a p-value of 0.9072203639272531, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 9766 
14832 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 14832 and 9766
$H_{A}$: There is a difference between 14832 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.5882352941176462 and a p-value of 0.557700567210156, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 667.5 and a p-value of 0.5683539578307868, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 57600 
14832 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 57600
$H_{A}$: There is a difference between 14832 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 5000 
14832 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 5000
$H_{A}$: There is a difference between 14832 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 400 
14832 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 14832 and 400
$H_{A}$: There is a difference between 14832 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 1200 
14832 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 14832 and 1200
$H_{A}$: There is a difference between 14832 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.1132613365915536 and a p-value of 0.2656401374088898, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 49065.0 and a p-value of 0.26567427887527195, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 115200 
14832 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 14832 and 115200
$H_{A}$: There is a difference between 14832 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 8.752550648647677 and a p-value of 3.1474074864540266e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 180.0 and a p-value of 8.097244007146645e-06, _we **reject** the null hypothssis_
## Testing Results for 14832 against 12500 
14832 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 14832 and 12500
$H_{A}$: There is a difference between 14832 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.27845000609196663 and a p-value of 0.7808108230585931, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2917.5 and a p-value of 0.787561505324817, _we failed to reject the null hypothssis_
## Testing Results for 14832 against 38400 
14832 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 14832 and 38400
$H_{A}$: There is a difference between 14832 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 5.194147347415808 and a p-value of 1.9314270224249063e-06, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 705.0 and a p-value of 9.151789130625427e-06, _we **reject** the null hypothssis_
