# Testing Results For 2048 
$H_{0}$: There is not a difference in collection success against 2048 
$H_{A}$: There is a difference in collection success against 2048
Out of 17 tests, there were 0 rejections from 17 independent-t test.
Out of 17 tests, there were 0 rejections from 17 Man Whitney u-tests.
## Testing Results for 2048 against 2400 
2048 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 2048 and 2400
$H_{A}$: There is a difference between 2048 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.16204845393180534 and a p-value of 0.8713386974421338, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 467.0 and a p-value of 0.8817894105360886, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 9600 
2048 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 2048 and 9600
$H_{A}$: There is a difference between 2048 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.439985289635524 and a p-value of 0.6599546636467524, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 14993.0 and a p-value of 0.6600694759419704, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 800 
2048 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 800
$H_{A}$: There is a difference between 2048 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 128000 
2048 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 2048 and 128000
$H_{A}$: There is a difference between 2048 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.7757715473158142 and a p-value of 0.44098250579827525, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 73.0 and a p-value of 0.45291747743571986, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 4800 
2048 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 2048 and 4800
$H_{A}$: There is a difference between 2048 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.18030308273953113 and a p-value of 0.8569273475956223, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2920.0 and a p-value of 0.85842983059776, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 19200 
2048 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 2048 and 19200
$H_{A}$: There is a difference between 2048 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.08155938757529722 and a p-value of 0.9350151711078335, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 906.0 and a p-value of 0.9457828250882301, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 40000 
2048 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 40000
$H_{A}$: There is a difference between 2048 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 200 
2048 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 2048 and 200
$H_{A}$: There is a difference between 2048 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.04557244432773732 and a p-value of 0.9636604906182858, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 963.0 and a p-value of 0.9818113733639215, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 9766 
2048 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 2048 and 9766
$H_{A}$: There is a difference between 2048 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.21447918751493183 and a p-value of 0.8306753157269626, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 89.0 and a p-value of 0.8715118051633676, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 57600 
2048 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 57600
$H_{A}$: There is a difference between 2048 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 5000 
2048 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 5000
$H_{A}$: There is a difference between 2048 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 400 
2048 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 400
$H_{A}$: There is a difference between 2048 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 1200 
2048 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 2048 and 1200
$H_{A}$: There is a difference between 2048 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.40650542160174347 and a p-value of 0.6843855865409683, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 6542.0 and a p-value of 0.684672608443605, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 14832 
2048 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 2048 and 14832
$H_{A}$: There is a difference between 2048 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 115200 
2048 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 2048 and 115200
$H_{A}$: There is a difference between 2048 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 3.0876096471758436 and a p-value of 0.008650638691889562, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 24.0 and a p-value of 0.02017309277621253, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 12500 
2048 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 2048 and 12500
$H_{A}$: There is a difference between 2048 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.10166707121586899 and a p-value of 0.9190735937655211, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 389.0 and a p-value of 0.93914244968093, _we failed to reject the null hypothssis_
## Testing Results for 2048 against 38400 
2048 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 2048 and 38400
$H_{A}$: There is a difference between 2048 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.8906549847040948 and a p-value of 0.06375734053363016, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 94.0 and a p-value of 0.06799509397544574, _we failed to reject the null hypothssis_
