# Testing Results For 40000 
$H_{0}$: There is not a difference in collection success against 40000 
$H_{A}$: There is a difference in collection success against 40000
Out of 17 tests, there were 3 rejections from 17 independent-t test.
Out of 17 tests, there were 3 rejections from 17 Man Whitney u-tests.
## Testing Results for 40000 against 2048 
40000 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 2048
$H_{A}$: There is a difference between 40000 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 2400 
40000 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 40000 and 2400
$H_{A}$: There is a difference between 40000 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.9311426912288939 and a p-value of 0.3522077328994164, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 15411.0 and a p-value of 0.35293638174660336, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 9600 
40000 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 40000 and 9600
$H_{A}$: There is a difference between 40000 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.527523908050593 and a p-value of 0.011498036483532138, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 494769.0 and a p-value of 0.011504130272986085, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 800 
40000 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 800
$H_{A}$: There is a difference between 40000 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 128000 
40000 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 40000 and 128000
$H_{A}$: There is a difference between 40000 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 4.494974972121648 and a p-value of 1.585106081202867e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2409.0 and a p-value of 2.938272424187105e-05, _we **reject** the null hypothssis_
## Testing Results for 40000 against 4800 
40000 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 40000 and 4800
$H_{A}$: There is a difference between 40000 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.0357701993672623 and a p-value of 0.3003946058657487, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 96360.0 and a p-value of 0.30047457898263996, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 19200 
40000 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 40000 and 19200
$H_{A}$: There is a difference between 40000 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.46855727892394744 and a p-value of 0.6394917219765324, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 29898.0 and a p-value of 0.6409443291652859, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 200 
40000 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 40000 and 200
$H_{A}$: There is a difference between 40000 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.2618107030981526 and a p-value of 0.7935199369458645, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 31779.0 and a p-value of 0.796437097482554, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 9766 
40000 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 40000 and 9766
$H_{A}$: There is a difference between 40000 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.237998906223603 and a p-value of 0.21763785598771956, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2937.0 and a p-value of 0.22002069562915927, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 57600 
40000 has a success rate of 1.0
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 57600
$H_{A}$: There is a difference between 40000 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 5000 
40000 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 5000
$H_{A}$: There is a difference between 40000 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 400 
40000 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 400
$H_{A}$: There is a difference between 40000 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 1200 
40000 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 40000 and 1200
$H_{A}$: There is a difference between 40000 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.335199862676906 and a p-value of 0.01956501855554749, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 215886.0 and a p-value of 0.0195811864439907, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 14832 
40000 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 40000 and 14832
$H_{A}$: There is a difference between 40000 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 115200 
40000 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 40000 and 115200
$H_{A}$: There is a difference between 40000 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 18.809841216296284 and a p-value of 1.6171103225780984e-30, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 792.0 and a p-value of 1.3206730119416272e-15, _we **reject** the null hypothssis_
## Testing Results for 40000 against 12500 
40000 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 40000 and 12500
$H_{A}$: There is a difference between 40000 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.5842460310409815 and a p-value of 0.5593469124381938, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 12837.0 and a p-value of 0.5617508642662004, _we failed to reject the null hypothssis_
## Testing Results for 40000 against 38400 
40000 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 40000 and 38400
$H_{A}$: There is a difference between 40000 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 10.959682210098133 and a p-value of 7.78869561234061e-20, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3102.0 and a p-value of 6.55898611078323e-15, _we **reject** the null hypothssis_
