# Testing Results For 4800 
$H_{0}$: There is not a difference in collection success against 4800 
$H_{A}$: There is a difference in collection success against 4800
Out of 17 tests, there were 13 rejections from 17 independent-t test.
Out of 17 tests, there were 7 rejections from 17 Man Whitney u-tests.
## Testing Results for 4800 against 2048 
4800 has a success rate of 0.9839944328462074
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 2048
$H_{A}$: There is a difference between 4800 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2828.0 and a p-value of 0.85842983059776, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 2400 
4800 has a success rate of 0.9839944328462074
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 4800 and 2400
$H_{A}$: There is a difference between 4800 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -0.4809680646983755 and a p-value of 0.6305707666772116, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 660476.0 and a p-value of 0.6305860732449757, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 9600 
4800 has a success rate of 0.9839944328462074
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 4800 and 9600
$H_{A}$: There is a difference between 4800 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 13.3840207115037 and a p-value of 1.2162617142077254e-40, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21228070.0 and a p-value of 1.9453724300587144e-40, _we **reject** the null hypothssis_
## Testing Results for 4800 against 800 
4800 has a success rate of 0.9839944328462074
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 800
$H_{A}$: There is a difference between 4800 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1186346.0 and a p-value of 0.00022705980476757186, _we **reject** the null hypothssis_
## Testing Results for 4800 against 128000 
4800 has a success rate of 0.9839944328462074
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 4800 and 128000
$H_{A}$: There is a difference between 4800 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 12.178690682827778 and a p-value of 2.5420146450569473e-33, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 103544.0 and a p-value of 1.4423870089048027e-32, _we **reject** the null hypothssis_
## Testing Results for 4800 against 19200 
4800 has a success rate of 0.9839944328462074
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 4800 and 19200
$H_{A}$: There is a difference between 4800 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -4.192321882848958 and a p-value of 2.833691288501862e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1281153.0 and a p-value of 0.0033080718150673813, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 40000 
4800 has a success rate of 0.9839944328462074
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 40000
$H_{A}$: There is a difference between 4800 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 93324.0 and a p-value of 0.30047457898263996, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 200 
4800 has a success rate of 0.9839944328462074
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 4800 and 200
$H_{A}$: There is a difference between 4800 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -5.842187736764512 and a p-value of 5.597931983014086e-09, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1361705.0 and a p-value of 0.0002604722049353837, _we **reject** the null hypothssis_
## Testing Results for 4800 against 9766 
4800 has a success rate of 0.9839944328462074
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 4800 and 9766
$H_{A}$: There is a difference between 4800 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.5079743556608318 and a p-value of 0.611509190680608, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 125892.0 and a p-value of 0.611630740571139, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 57600 
4800 has a success rate of 0.9839944328462074
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 57600
$H_{A}$: There is a difference between 4800 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 60802.0 and a p-value of 0.40334870233711406, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 5000 
4800 has a success rate of 0.9839944328462074
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 5000
$H_{A}$: There is a difference between 4800 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4242.0 and a p-value of 0.8264464422098103, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 400 
4800 has a success rate of 0.9839944328462074
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 400
$H_{A}$: There is a difference between 4800 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1414.0 and a p-value of 0.9007268004593589, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 1200 
4800 has a success rate of 0.9839944328462074
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 4800 and 1200
$H_{A}$: There is a difference between 4800 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 11.583248083374484 and a p-value of 8.305710202959042e-31, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 9261060.0 and a p-value of 1.349762752223752e-30, _we **reject** the null hypothssis_
## Testing Results for 4800 against 14832 
4800 has a success rate of 0.9839944328462074
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 4800 and 14832
$H_{A}$: There is a difference between 4800 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -6.8360782656248436 and a p-value of 9.901291640109575e-12, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 21210.0 and a p-value of 0.6219207063543988, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 115200 
4800 has a success rate of 0.9839944328462074
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 4800 and 115200
$H_{A}$: There is a difference between 4800 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 23.408547207477024 and a p-value of 4.2429281923257316e-111, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 34189.0 and a p-value of 3.5127987061069034e-102, _we **reject** the null hypothssis_
## Testing Results for 4800 against 12500 
4800 has a success rate of 0.9839944328462074
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 4800 and 12500
$H_{A}$: There is a difference between 4800 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.6621971584750204 and a p-value of 0.09656941847011857, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 550092.0 and a p-value of 0.09659098663665676, _we failed to reject the null hypothssis_
## Testing Results for 4800 against 38400 
4800 has a success rate of 0.9839944328462074
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 4800 and 38400
$H_{A}$: There is a difference between 4800 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 33.564712161161204 and a p-value of 2.895285460221212e-209, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 133767.0 and a p-value of 5.1283262941179836e-179, _we **reject** the null hypothssis_
