# Testing Results For 57600 
$H_{0}$: There is not a difference in collection success against 57600 
$H_{A}$: There is a difference in collection success against 57600
Out of 17 tests, there were 3 rejections from 17 independent-t test.
Out of 17 tests, there were 3 rejections from 17 Man Whitney u-tests.
## Testing Results for 57600 against 2048 
57600 has a success rate of 1.0
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 2048
$H_{A}$: There is a difference between 57600 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 2400 
57600 has a success rate of 1.0
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 57600 and 2400
$H_{A}$: There is a difference between 57600 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.7515203498318639 and a p-value of 0.45269173207361657, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 10040.5 and a p-value of 0.4538984605666937, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 9600 
57600 has a success rate of 1.0
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 57600 and 9600
$H_{A}$: There is a difference between 57600 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.0401282991725065 and a p-value of 0.041356522185258114, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 322349.5 and a p-value of 0.041364679126733285, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 800 
57600 has a success rate of 1.0
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 800
$H_{A}$: There is a difference between 57600 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 128000 
57600 has a success rate of 1.0
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 57600 and 128000
$H_{A}$: There is a difference between 57600 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 3.6215284631749154 and a p-value of 0.00046201240050631294, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1569.5 and a p-value of 0.000634533912642512, _we **reject** the null hypothssis_
## Testing Results for 57600 against 4800 
57600 has a success rate of 1.0
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 57600 and 4800
$H_{A}$: There is a difference between 57600 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.836035090113391 and a p-value of 0.40320368614706315, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 62780.0 and a p-value of 0.40334870233711406, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 19200 
57600 has a success rate of 1.0
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 57600 and 19200
$H_{A}$: There is a difference between 57600 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.378193473013886 and a p-value of 0.7053719007563994, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19479.0 and a p-value of 0.7073392033213256, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 40000 
57600 has a success rate of 1.0
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 40000
$H_{A}$: There is a difference between 57600 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 200 
57600 has a success rate of 1.0
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 57600 and 200
$H_{A}$: There is a difference between 57600 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.21131969227223843 and a p-value of 0.8326807455521513, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 20704.5 and a p-value of 0.8363975903030157, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 9766 
57600 has a success rate of 1.0
9766 has a success rate of 0.9770114942528736
$H_{0}$: There is not a difference between 57600 and 9766
$H_{A}$: There is a difference between 57600 and 9766
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.9980977382113544 and a p-value of 0.32011507834039676, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1913.5 and a p-value of 0.3238846349892679, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 5000 
57600 has a success rate of 1.0
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 5000
$H_{A}$: There is a difference between 57600 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 400 
57600 has a success rate of 1.0
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 400
$H_{A}$: There is a difference between 57600 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 1200 
57600 has a success rate of 1.0
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 57600 and 1200
$H_{A}$: There is a difference between 57600 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.8848901753799125 and a p-value of 0.05949201448913441, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 140653.0 and a p-value of 0.059510521061615695, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 14832 
57600 has a success rate of 1.0
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 57600 and 14832
$H_{A}$: There is a difference between 57600 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of Inconclusive and a p-value of 1, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 115200 
57600 has a success rate of 1.0
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 57600 and 115200
$H_{A}$: There is a difference between 57600 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 15.10144269361611 and a p-value of 4.940150528848591e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 516.0 and a p-value of 2.8428221012527854e-11, _we **reject** the null hypothssis_
## Testing Results for 57600 against 12500 
57600 has a success rate of 1.0
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 57600 and 12500
$H_{A}$: There is a difference between 57600 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 0.47152694762618425 and a p-value of 0.6375047512239123, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 8363.5 and a p-value of 0.640881221824312, _we failed to reject the null hypothssis_
## Testing Results for 57600 against 38400 
57600 has a success rate of 1.0
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 57600 and 38400
$H_{A}$: There is a difference between 57600 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 8.829439393302387 and a p-value of 4.18413466847327e-14, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2021.0 and a p-value of 3.6240006572689204e-11, _we **reject** the null hypothssis_
