# Testing Results For 9766 
$H_{0}$: There is not a difference in collection success against 9766 
$H_{A}$: There is a difference in collection success against 9766
Out of 17 tests, there were 3 rejections from 17 independent-t test.
Out of 17 tests, there were 5 rejections from 17 Man Whitney u-tests.
## Testing Results for 9766 against 2048 
9766 has a success rate of 0.9770114942528736
2048 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 2048
$H_{A}$: There is a difference between 9766 and 2048
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 85.0 and a p-value of 0.8715118051633676, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 2400 
9766 has a success rate of 0.9770114942528736
2400 has a success rate of 0.9869848156182213
$H_{0}$: There is not a difference between 9766 and 2400
$H_{A}$: There is a difference between 9766 and 2400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -0.7104032976878943 and a p-value of 0.4777573935700068, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 19853.5 and a p-value of 0.47835652901733783, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 9600 
9766 has a success rate of 0.9770114942528736
9600 has a success rate of 0.911736952892502
$H_{0}$: There is not a difference between 9766 and 9600
$H_{A}$: There is a difference between 9766 and 9600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 2.1442010680512107 and a p-value of 0.032034117313079584, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 638418.5 and a p-value of 0.032041261017087604, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 800 
9766 has a success rate of 0.9770114942528736
800 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 800
$H_{A}$: There is a difference between 9766 and 800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 35657.5 and a p-value of 1.1257420668306817e-05, _we **reject** the null hypothssis_
## Testing Results for 9766 against 128000 
9766 has a success rate of 0.9770114942528736
128000 has a success rate of 0.7627118644067796
$H_{0}$: There is not a difference between 9766 and 128000
$H_{A}$: There is a difference between 9766 and 128000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 4.290184803690716 and a p-value of 3.2572332293562166e-05, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 3116.5 and a p-value of 5.119851005059671e-05, _we **reject** the null hypothssis_
## Testing Results for 9766 against 4800 
9766 has a success rate of 0.9770114942528736
4800 has a success rate of 0.9839944328462074
$H_{0}$: There is not a difference between 9766 and 4800
$H_{A}$: There is a difference between 9766 and 4800
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -0.5079743556608318 and a p-value of 0.611509190680608, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 124146.0 and a p-value of 0.611630740571139, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 19200 
9766 has a success rate of 0.9770114942528736
19200 has a success rate of 0.9966777408637874
$H_{0}$: There is not a difference between 9766 and 19200
$H_{A}$: There is a difference between 9766 and 19200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.208466103563947 and a p-value of 0.23008953757753056, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 38508.0 and a p-value of 0.013566838882898499, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 40000 
9766 has a success rate of 0.9770114942528736
40000 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 40000
$H_{A}$: There is a difference between 9766 and 40000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 2805.0 and a p-value of 0.22002069562915927, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 200 
9766 has a success rate of 0.9770114942528736
200 has a success rate of 0.998960498960499
$H_{0}$: There is not a difference between 9766 and 200
$H_{A}$: There is a difference between 9766 and 200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.3553836931972834 and a p-value of 0.17881534007209862, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 40928.5 and a p-value of 0.0002448562216711936, _we **reject** the null hypothssis_
## Testing Results for 9766 against 57600 
9766 has a success rate of 0.9770114942528736
57600 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 57600
$H_{A}$: There is a difference between 9766 and 57600
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1827.5 and a p-value of 0.3238846349892679, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 5000 
9766 has a success rate of 0.9770114942528736
5000 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 5000
$H_{A}$: There is a difference between 9766 and 5000
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 127.5 and a p-value of 0.8258057554547166, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 400 
9766 has a success rate of 0.9770114942528736
400 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 400
$H_{A}$: There is a difference between 9766 and 400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of nan and a p-value of nan, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 42.5 and a p-value of 0.939220772891616, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 1200 
9766 has a success rate of 0.9770114942528736
1200 has a success rate of 0.9236590983876275
$H_{0}$: There is not a difference between 9766 and 1200
$H_{A}$: There is a difference between 9766 and 1200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 1.8694799184963997 and a p-value of 0.06160345861056654, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 278499.0 and a p-value of 0.061617884769788155, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 14832 
9766 has a success rate of 0.9770114942528736
14832 has a success rate of 1.0
$H_{0}$: There is not a difference between 9766 and 14832
$H_{A}$: There is a difference between 9766 and 14832
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.422508141194524 and a p-value of 0.1584958957457141, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 637.5 and a p-value of 0.5683539578307867, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 115200 
9766 has a success rate of 0.9770114942528736
115200 has a success rate of 0.15384615384615385
$H_{0}$: There is not a difference between 9766 and 115200
$H_{A}$: There is a difference between 9766 and 115200
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 14.351701420272233 and a p-value of 7.924431087611718e-26, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 1031.0 and a p-value of 2.8011273908634976e-16, _we **reject** the null hypothssis_
## Testing Results for 9766 against 12500 
9766 has a success rate of 0.9770114942528736
12500 has a success rate of 0.9948320413436692
$H_{0}$: There is not a difference between 9766 and 12500
$H_{A}$: There is a difference between 9766 and 12500
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of -1.0756319853465557 and a p-value of 0.2848177505617992, _we failed to reject the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 16534.5 and a p-value of 0.1015401689047702, _we failed to reject the null hypothssis_
## Testing Results for 9766 against 38400 
9766 has a success rate of 0.9770114942528736
38400 has a success rate of 0.3508771929824561
$H_{0}$: There is not a difference between 9766 and 38400
$H_{A}$: There is a difference between 9766 and 38400
Starting with an alpha of 0.05, it was corrected to 0.0029411764705882353
__independent t-testing__: With a t-statistic of 11.32930733711292 and a p-value of 1.3454027692882281e-21, _we **reject** the null hypothssis_
__Man-Whitney testing__: With a u-statistic of 4032.0 and a p-value of 1.7667602053423378e-16, _we **reject** the null hypothssis_
